Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

fix: show autonomous build timing on all notebook demos
  src/agilab/agent_runtime/forecast_showcase.py
  src/agilab/agent_runtime/text_showcase.py
  test/test_forecast_showcase.py
  test/test_text_showcase.py
Due: agilab

fix: share notebook demo build evidence and onboarding
  AGENTS.md
  src/agilab/agent_runtime/forecast_showcase.py
  src/agilab/agent_runtime/notebook_demo_evidence.py
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/agent_runtime/text_showcase.py
  test/test_notebook_showcase.py
Due: agilab

fix: include shared build header in standalone demo export
  tools/demos/hf_notebook_demo_export.py
Due: none

feat(demo): add agent-built free-threading scaling lab
  AGENTS.md
  README.md
  pyproject.toml
  src/agilab/agent_runtime/free_threading_showcase.py
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/free_threading_demo/LICENSE
  src/agilab/resources/free_threading_demo/README.md
  src/agilab/resources/free_threading_demo/agilab_pool.py
  src/agilab/resources/free_threading_demo/app.py
  src/agilab/resources/free_threading_demo/benchmark.py
  src/agilab/resources/free_threading_demo/free_threading_core.py
  src/agilab/resources/free_threading_demo/lab_stages.toml
  src/agilab/resources/free_threading_demo/pyproject.toml
  src/agilab/resources/free_threading_demo/requirements.txt
  src/agilab/resources/free_threading_demo/result.json
  src/agilab/resources/free_threading_demo/solution.ipynb
  src/agilab/resources/free_threading_demo/source/original.ipynb
  src/agilab/resources/free_threading_demo/tests.py
  test/test_free_threading_showcase.py
  test/test_hf_space_release_sync.py
  tools/demos/export_free_threading_demo.py
  tools/hf_space_release_sync.py
Due: agilab

test: register the standalone demo and stabilize completion evidence
  agilab-capabilities.json
  test/test_agent_tasks.py
  test/test_ui_pages.py
Due: none

feat(demo): add agent-built MILP Energy Lab
  agilab-capabilities.json
  pyproject.toml
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/milp_energy_demo/AGILAB_LICENSE
  src/agilab/resources/milp_energy_demo/LICENSE
  src/agilab/resources/milp_energy_demo/README.md
  src/agilab/resources/milp_energy_demo/agilab_pool.py
  src/agilab/resources/milp_energy_demo/app.py
  src/agilab/resources/milp_energy_demo/energy_core.py
  src/agilab/resources/milp_energy_demo/energy_runner.py
  src/agilab/resources/milp_energy_demo/lab_stages.toml
  src/agilab/resources/milp_energy_demo/pyproject.toml
  src/agilab/resources/milp_energy_demo/requirements.txt
  src/agilab/resources/milp_energy_demo/result.json
  src/agilab/resources/milp_energy_demo/solution.ipynb
  src/agilab/resources/milp_energy_demo/source/LICENSE
  src/agilab/resources/milp_energy_demo/source/original.ipynb
  src/agilab/resources/milp_energy_demo/tests.py
  test/test_hf_space_release_sync.py
  test/test_milp_energy_showcase.py
  test/test_pyproject_dependency_hygiene.py
  test/test_ui_pages.py
  tools/demos/export_milp_energy_demo.py
  tools/hf_space_release_sync.py
Due: agilab

docs(demo): describe the fifth lab at the gallery entry point
  README.md
Due: none

Cover MILP lab actions in the UI robot contract
  test/test_milp_energy_showcase.py
  tools/ui_robot_action_contract.py
Due: none

fix(demos): isolate runtime state and enforce verified bundle boundaries
  pyproject.toml
  src/agilab/agent_runtime/forecast_showcase.py
  src/agilab/agent_runtime/free_threading_showcase.py
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/agent_runtime/notebook_app_runtime.py
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/agent_runtime/text_showcase.py
  test/test_notebook_app_runtime.py
  test/test_notebook_demo_boundaries.py
  tools/demos/export_notebook_agent_demo.py
  tools/demos/hf_notebook_demo_export.py
Due: agilab

fix(demos): retain original MILP provenance in replay bundles
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/resources/milp_energy_demo/result.json
  src/agilab/resources/milp_energy_demo/source/provenance.json
  test/test_milp_energy_showcase.py
  tools/demos/export_milp_energy_demo.py
Due: agilab

chore(agents): refresh notebook receipt schema discovery
  agenticweb.md
  agilab-capabilities.json
Due: none

feat(demo): rebuild Iris with a verified local Qwen model
  src/agilab/resources/notebook_agent_demo/app.py
  src/agilab/resources/notebook_agent_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_demo/models.py
  src/agilab/resources/notebook_agent_demo/result.json
  src/agilab/resources/notebook_agent_demo/solution.ipynb
  test/test_notebook_showcase.py
Due: agilab

feat(notebooks): verify stateful imports and check build prerequisites
  README.md
  src/agilab/agent_runtime/notebook_agent.py
  src/agilab/agent_runtime/notebook_execution_verifier.py
  src/agilab/agent_runtime/notebook_verifier.py
  src/agilab/agent_runtime/notebook_workflow_verifier.py
  src/agilab/notebooks/notebook_execution_plan.py
  src/agilab/notebooks/notebook_export_support.py
  src/agilab/notebooks/notebook_pipeline_import.py
  src/agilab/notebooks/notebook_prerequisites.py
  test/test_notebook_execution_plan.py
  test/test_notebook_prerequisites.py
Due: agilab

feat(demo): preserve original Iris alongside the local Qwen build
  pyproject.toml
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/notebook_agent_demo/app.py
  src/agilab/resources/notebook_agent_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_demo/models.py
  src/agilab/resources/notebook_agent_demo/result.json
  src/agilab/resources/notebook_agent_demo/solution.ipynb
  src/agilab/resources/notebook_agent_local_demo/LICENSE
  src/agilab/resources/notebook_agent_local_demo/app.py
  src/agilab/resources/notebook_agent_local_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_local_demo/models.py
  src/agilab/resources/notebook_agent_local_demo/result.json
  src/agilab/resources/notebook_agent_local_demo/solution.ipynb
  test/test_hf_notebook_demo_export.py
  test/test_notebook_showcase.py
  tools/demos/hf_notebook_demo_export.py
Due: agilab

chore(demo): refresh capability manifest for local Iris
  agilab-capabilities.json
Due: none

fix(agents): register notebook import evidence schemas
  AGENT_LEARNINGS.md
  agilab-capabilities.json
Due: none

feat(demo): add local Qwen Iris alongside the original build (#1028)
  agilab-capabilities.json
  pyproject.toml
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/notebook_agent_local_demo/LICENSE
  src/agilab/resources/notebook_agent_local_demo/app.py
  src/agilab/resources/notebook_agent_local_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_local_demo/models.py
  src/agilab/resources/notebook_agent_local_demo/result.json
  src/agilab/resources/notebook_agent_local_demo/solution.ipynb
  test/test_hf_notebook_demo_export.py
  test/test_notebook_showcase.py
  tools/demos/hf_notebook_demo_export.py
Due: agilab

feat(demo): rebuild local Iris with Qwen 3.8 27B
  agilab-capabilities.json
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/notebook_agent_local_demo/app.py
  src/agilab/resources/notebook_agent_local_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_local_demo/models.py
  src/agilab/resources/notebook_agent_local_demo/result.json
  src/agilab/resources/notebook_agent_local_demo/solution.ipynb
  test/test_notebook_showcase.py
  tools/demos/hf_notebook_demo_export.py
Due: agilab

fix(demo): let bootstrap own local Iris page configuration
  src/agilab/resources/notebook_agent_local_demo/app.py
  src/agilab/resources/notebook_agent_local_demo/result.json
Due: agilab

feat(demo): rebuild local Iris with Qwen 3.8 27B (#1030)
  agilab-capabilities.json
  src/agilab/agent_runtime/notebook_showcase.py
  src/agilab/resources/notebook_agent_local_demo/app.py
  src/agilab/resources/notebook_agent_local_demo/lab_stages.toml
  src/agilab/resources/notebook_agent_local_demo/models.py
  src/agilab/resources/notebook_agent_local_demo/result.json
  src/agilab/resources/notebook_agent_local_demo/solution.ipynb
  test/test_notebook_showcase.py
  tools/demos/hf_notebook_demo_export.py
Due: agilab

feat(demo): rebuild Text Atlas with local Qwen 3.8
  AGENTS.md
  agilab-capabilities.json
  src/agilab/agent_runtime/text_showcase.py
  src/agilab/resources/text_notebook_demo/README.md
  src/agilab/resources/text_notebook_demo/app.py
  src/agilab/resources/text_notebook_demo/lab_stages.toml
  src/agilab/resources/text_notebook_demo/pyproject.toml
  src/agilab/resources/text_notebook_demo/requirements.txt
  src/agilab/resources/text_notebook_demo/result.json
  src/agilab/resources/text_notebook_demo/solution.ipynb
  src/agilab/resources/text_notebook_demo/text_core.py
  test/test_text_showcase.py
  tools/demos/export_text_notebook_demo.py
Due: agilab

feat(demo): rebuild Text Atlas with local Qwen 3.8 (#1031)
  AGENTS.md
  agilab-capabilities.json
  src/agilab/agent_runtime/text_showcase.py
  src/agilab/resources/text_notebook_demo/README.md
  src/agilab/resources/text_notebook_demo/app.py
  src/agilab/resources/text_notebook_demo/lab_stages.toml
  src/agilab/resources/text_notebook_demo/pyproject.toml
  src/agilab/resources/text_notebook_demo/requirements.txt
  src/agilab/resources/text_notebook_demo/result.json
  src/agilab/resources/text_notebook_demo/solution.ipynb
  src/agilab/resources/text_notebook_demo/text_core.py
  test/test_text_showcase.py
  tools/demos/export_text_notebook_demo.py
Due: agilab

Rebuild Demand Forecast with verified local Qwen 3.8
  agilab-capabilities.json
  src/agilab/agent_runtime/forecast_showcase.py
  src/agilab/resources/forecast_notebook_demo/README.md
  src/agilab/resources/forecast_notebook_demo/app.py
  src/agilab/resources/forecast_notebook_demo/forecast_core.py
  src/agilab/resources/forecast_notebook_demo/lab_stages.toml
  src/agilab/resources/forecast_notebook_demo/requirements.txt
  src/agilab/resources/forecast_notebook_demo/result.json
  src/agilab/resources/forecast_notebook_demo/solution.ipynb
  test/test_forecast_notebook_export.py
  test/test_forecast_showcase.py
  tools/demos/export_forecast_notebook_demo.py
Due: agilab

Rebuild Demand Forecast with verified local Qwen 3.8 (#1032)
  agilab-capabilities.json
  src/agilab/agent_runtime/forecast_showcase.py
  src/agilab/resources/forecast_notebook_demo/README.md
  src/agilab/resources/forecast_notebook_demo/app.py
  src/agilab/resources/forecast_notebook_demo/forecast_core.py
  src/agilab/resources/forecast_notebook_demo/lab_stages.toml
  src/agilab/resources/forecast_notebook_demo/requirements.txt
  src/agilab/resources/forecast_notebook_demo/result.json
  src/agilab/resources/forecast_notebook_demo/solution.ipynb
  test/test_forecast_notebook_export.py
  test/test_forecast_showcase.py
  tools/demos/export_forecast_notebook_demo.py
Due: agilab

Rebuild Free-threading with verified local Qwen 3.8
  src/agilab/agent_runtime/free_threading_showcase.py
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/resources/free_threading_demo/README.md
  src/agilab/resources/free_threading_demo/app.py
  src/agilab/resources/free_threading_demo/benchmark.py
  src/agilab/resources/free_threading_demo/free_threading_core.py
  src/agilab/resources/free_threading_demo/lab_stages.toml
  src/agilab/resources/free_threading_demo/pyproject.toml
  src/agilab/resources/free_threading_demo/requirements.txt
  src/agilab/resources/free_threading_demo/result.json
  src/agilab/resources/free_threading_demo/solution.ipynb
  src/agilab/resources/free_threading_demo/tests.py
  test/test_free_threading_showcase.py
  test/test_milp_energy_showcase.py
  tools/demos/export_free_threading_demo.py
  tools/demos/export_milp_energy_demo.py
Due: agilab

Refresh capability and robot contracts for Qwen benchmark
  agilab-capabilities.json
  test/test_free_threading_showcase.py
  tools/ui_robot_action_contract.py
Due: none

Rebuild Free-threading with verified local Qwen 3.8 (#1033)
  agilab-capabilities.json
  src/agilab/agent_runtime/free_threading_showcase.py
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/resources/free_threading_demo/README.md
  src/agilab/resources/free_threading_demo/app.py
  src/agilab/resources/free_threading_demo/benchmark.py
  src/agilab/resources/free_threading_demo/free_threading_core.py
  src/agilab/resources/free_threading_demo/lab_stages.toml
  src/agilab/resources/free_threading_demo/pyproject.toml
  src/agilab/resources/free_threading_demo/requirements.txt
  src/agilab/resources/free_threading_demo/result.json
  src/agilab/resources/free_threading_demo/solution.ipynb
  src/agilab/resources/free_threading_demo/tests.py
  test/test_free_threading_showcase.py
  test/test_milp_energy_showcase.py
  tools/demos/export_free_threading_demo.py
  tools/demos/export_milp_energy_demo.py
  tools/ui_robot_action_contract.py
Due: agilab

Rebuild MILP Energy Lab with verified local Qwen 3.8
  agilab-capabilities.json
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/resources/milp_energy_demo/README.md
  src/agilab/resources/milp_energy_demo/app.py
  src/agilab/resources/milp_energy_demo/energy_core.py
  src/agilab/resources/milp_energy_demo/energy_runner.py
  src/agilab/resources/milp_energy_demo/lab_stages.toml
  src/agilab/resources/milp_energy_demo/pyproject.toml
  src/agilab/resources/milp_energy_demo/requirements.txt
  src/agilab/resources/milp_energy_demo/result.json
  src/agilab/resources/milp_energy_demo/solution.ipynb
  src/agilab/resources/milp_energy_demo/tests.py
  test/test_milp_energy_showcase.py
  tools/ui_robot_action_contract.py
Due: agilab

Fix local Qwen MILP Python and Streamlit compatibility
  src/agilab/resources/milp_energy_demo/README.md
  src/agilab/resources/milp_energy_demo/app.py
  src/agilab/resources/milp_energy_demo/pyproject.toml
  src/agilab/resources/milp_energy_demo/result.json
Due: agilab

Rebuild MILP Energy Lab with verified local Qwen 3.8 (#1034)
  agilab-capabilities.json
  src/agilab/agent_runtime/milp_energy_showcase.py
  src/agilab/resources/milp_energy_demo/README.md
  src/agilab/resources/milp_energy_demo/app.py
  src/agilab/resources/milp_energy_demo/energy_core.py
  src/agilab/resources/milp_energy_demo/energy_runner.py
  src/agilab/resources/milp_energy_demo/lab_stages.toml
  src/agilab/resources/milp_energy_demo/pyproject.toml
  src/agilab/resources/milp_energy_demo/requirements.txt
  src/agilab/resources/milp_energy_demo/result.json
  src/agilab/resources/milp_energy_demo/solution.ipynb
  src/agilab/resources/milp_energy_demo/tests.py
  test/test_milp_energy_showcase.py
  tools/ui_robot_action_contract.py
Due: agilab

Recognize restored standalone Astra page configuration
  test/test_ui_pages.py
Due: none

Fix lazy module inspection during UI import cleanup
  AGENTS.md
  src/agilab/core/agi-env/src/agi_env/ui/sidecar_registry.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
Due: agilab, agi-env

Skip CFFI module proxies without accessing their class hooks
  src/agilab/core/agi-env/src/agi_env/ui/sidecar_registry.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
Due: agilab, agi-env

Fix lazy imports during hosted UI cleanup and expand regression coverage (#1038)
  AGENTS.md
  src/agilab/core/agi-env/src/agi_env/ui/sidecar_registry.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
Due: agilab, agi-env

Release packaged Agent Demo gallery as 2026.09.21
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Refresh agent discovery metadata for the release versions
  AGENT_LEARNINGS.md
  agenticweb.md
  agilab-capabilities.json
Due: none

docs(release): record recovery and protected-tag prerequisite
  AGENT_LEARNINGS.md
  CHANGELOG.md
Due: none
