Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Refine view inference analysis diagnostics
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  test/test_view_inference_analysis.py
Due: agilab

feat(notebook): ship built-in apps for wheel-first colab
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  pyproject.toml
  src/agilab/notebook_colab_support.py
  test/test_notebook_colab_support.py
Due: agilab

Add Guillaume Demets as a contributor
  CONTRIBUTING.md
Due: none

fix(notebook): scrub stale colab source imports
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
Due: none

fix(notebook): use github main for public colab path
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
Due: none

fix(notebook): inline public colab bootstrap
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
Due: none

docs(cluster): require per-user share roots
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-env.rst
  docs/source/distributed-workers.rst
  docs/source/environment.rst
  docs/source/troubleshooting.rst
Due: none

fix(notebook): install core packages in public colab
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
Due: none

docs(cluster): clarify share scope wording
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-env.rst
  docs/source/distributed-workers.rst
  docs/source/environment.rst
Due: none

fix(installer): avoid source editable dependency re-resolve
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

fix(installer): honor offline source installs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

docs(cluster): require explicit remote usernames
  docs/.docs_source_mirror_stamp.json
  docs/source/distributed-workers.rst
  docs/source/environment.rst
  docs/source/execution-playground.rst
  docs/source/key-generation.rst
Due: none

fix(release): stop staging generated docs html
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.4.20.post1
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(cluster): avoid ensurepip in local deploy
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

fix(cluster): resolve packaged local install specs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

feat(ai): add standalone qwen and deepseek providers
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_ai_controls.py
  src/agilab/pipeline_ai_support.py
  src/agilab/pipeline_ai_uoaic.py
  test/test_pipeline_ai.py
  test/test_pipeline_ai_support.py
Due: agilab

chore(ide): update runbook and app-page modules
  .idea/modules.xml
  .idea/modules/view_inference_analysis.iml
  .idea/modules/view_release_decision.iml
  AGENTS.md
Due: none

fix(cluster): resolve worker add specs for packaged installs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
Due: agilab, agi-cluster

fix(cluster): align local worker runtime python
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

docs(roadmap): add orchestration and connector items
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/agilab-future-work.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
