Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_configs/agilab/flight-get-distrib.sh
  tools/run_configs/agilab/flight-install.sh
  tools/run_configs/agilab/mycode-get-distrib.sh
  tools/run_configs/agilab/mycode-install.sh
Due: agilab, agi-cluster

update
  src/agilab/apps/mycode_project/wenv
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_configs/agilab/flight-get-distrib.sh
  tools/run_configs/agilab/flight-install.sh
  tools/run_configs/agilab/flight-trajectory-get-distrib.sh
  tools/run_configs/agilab/flight-trajectory-install.sh
  tools/run_configs/agilab/link-sim-get-distrib.sh
  tools/run_configs/agilab/link-sim-install.sh
  tools/run_configs/agilab/mycode-get-distrib.sh
  tools/run_configs/agilab/mycode-install.sh
  tools/run_configs/agilab/sat-trajectory-get-distrib.sh
  tools/run_configs/agilab/sat-trajectory-install.sh
  tools/run_configs/agilab/sb3-trainer-get-distrib.sh
  tools/run_configs/agilab/sb3-trainer-install.sh
Due: agilab, agi-cluster

update
  src/agilab/apps/templates/dag_app_template/src/app_settings.toml
  src/agilab/apps/templates/fireducks_app_template/src/app_settings.toml
  src/agilab/apps/templates/pandas_app_template/src/app_settings.toml
  src/agilab/apps/templates/polars_app_template/src/app_settings.toml
Due: agilab

update
  src/agilab/apps/flight_project/src/app_settings.toml
  src/agilab/apps/network_sim_project/src/app_settings.toml
  src/agilab/apps/templates/dag_app_template/src/app_settings.toml
  src/agilab/apps/templates/fireducks_app_template/src/app_settings.toml
  src/agilab/apps/templates/pandas_app_template/src/app_settings.toml
  src/agilab/apps/templates/polars_app_template/src/app_settings.toml
Due: agilab

feat(install): update install script (remove enduser)
  install.sh
  tools/install_enduser.sh
Due: none

update
  src/agilab/apps/mycode_project/src/mycode/mycode.py
  src/agilab/examples/sat_trajectory/AGI_install_sat_trajectory.py
  src/agilab/examples/sat_trajectory/AGI_run_sat_trajectory.py
  src/agilab/examples/satcom_sim/AGI_install_satcom_sim.py
Due: agilab

update
  src/agilab/examples/sat_trajectory/AGI_get_distrib_sat_trajectory.py
Due: agilab

feat(install enduser): add color to match other install script
  tools/install_enduser.sh
Due: none

update
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
