Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  .idea/shelf/Uncommitted_changes_before_Update_at_28_10_2025_09_09_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Update_at_28_10_2025_09_09__Changes_.xml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/examples/flight_trajectory/AGI_run_flight_trajectory.py
Due: agilab, agi-env, agi-cluster

update
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
Due: agilab, agi-env

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/apps/flight_project/src/app_settings.toml
  src/agilab/apps/mycode_project/src/app_settings.toml
  src/agilab/apps/network_sim_project/src/app_settings.toml
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/tools/test_dask.py
Due: agilab, agi-env

update
  .idea/modules/agi-node.iml
  .idea/modules/network_sim_project.iml
Due: none

update
  .idea/modules/agi-node.iml
Due: none

update
  .github/workflows/docs-publish.yaml
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_modules/index.html
  docs/html/_sources/agi-cluster-licenses.md.txt
  docs/html/_sources/agi-env-licenses.md.txt
  docs/html/_sources/agi-node-licenses.md.txt
  docs/html/_sources/experiment-help.rst.txt
  docs/html/_sources/flight-project-licenses.md.txt
  docs/html/agi-cluster-licenses.html
  docs/html/agi-core-licenses.html
  docs/html/agi-distributor.html
  docs/html/agi-env-licenses.html
  docs/html/agi-env.html
  docs/html/agi-node-licenses.html
  docs/html/agi-node.html
  docs/html/agilab.html
  docs/html/directory-structure.html
  docs/html/experiment-help.html
  docs/html/flight-project-licenses.html
  docs/html/flight-project.html
  docs/html/framework-api.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/license.html
  docs/html/mycode-project-licenses.html
  docs/html/mycode-project.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/search.html
  docs/html/searchindex.js
Due: none

update
  .github/workflows/docs-publish.yaml
Due: none

update
  docs/html/_modules/flight/flight.html
  docs/html/_modules/flight/flight_args.html
  docs/html/_modules/mycode/mycode.html
  docs/html/_modules/mycode_worker/mycode_worker.html
Due: none

update
  docs/html/_modules/flight/flight.html
  docs/html/_modules/flight/flight_args.html
  docs/html/_modules/flight_trajectory/flight_trajectory.html
  docs/html/_modules/flight_trajectory_worker/flight_trajectory_worker.html
  docs/html/_modules/link_sim/link_sim.html
  docs/html/_modules/mycode/mycode.html
  docs/html/_modules/mycode_worker/mycode_worker.html
  docs/html/_modules/sat_trajectory/sat_trajectory.html
  docs/html/_modules/sb3_trainer/sb3_trainer.html
Due: none

update
  docs/.publish-trigger
  docs/index.html
Due: none

update
  .github/workflows/docs-publish.yaml
  src/agilab/apps/satcom_sim_project
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
