Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Keep About sidebar hardware summary robust
  src/agilab/about_page/layout.py
  test/test_about_agilab_helpers.py
Due: agilab

Refine About page banner and docs access
  src/agilab/About_agilab.py
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/layout.py
  src/agilab/about_page/onboarding.py
  src/agilab/page_docs.py
  test/test_about_agilab_helpers.py
  test/test_page_docs.py
  test/test_ui_pages.py
Due: agilab

Use bearers for inference hop counts
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
Due: agilab

Improve cluster sidebar resource display
  src/agilab/About_agilab.py
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/layout.py
  src/agilab/cluster_lan_discovery.py
  src/agilab/lib/agi-gui/src/agi_gui/ux_widgets.py
  src/agilab/lib/agi-gui/test/test_ux_widgets.py
  src/agilab/orchestrate_cluster.py
  test/test_about_agilab_helpers.py
  test/test_cluster_lan_discovery.py
  test/test_orchestrate_cluster.py
  test/test_ui_pages.py
Due: agilab

Fix inference analysis hop count helpers
  badges/coverage-agi-gui.svg
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
Due: agilab

chore(release): bump version to 2026.04.28.post2
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Add tracker facade for pipeline MLflow logging
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/experiment-help.rst
  src/agilab/pipeline_run_controls.py
  src/agilab/pipeline_runtime.py
  src/agilab/pipeline_runtime_mlflow_support.py
  src/agilab/pipeline_runtime_support.py
  test/test_import_guard.py
  test/test_pipeline_runtime.py
Due: agilab

Add public tracking facade
  docs/.docs_source_mirror_stamp.json
  docs/source/experiment-help.rst
  src/agilab/tracking.py
  test/test_tracking.py
Due: agilab

Auto-track worker execution with MLflow
  badges/coverage-agi-node.svg
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/worker_tracking_support.py
  src/agilab/core/test/test_base_worker_execution_support.py
  src/agilab/core/test/test_worker_tracking_support.py
Due: agilab, agi-node

Move AI and visualization deps to optional extras
  pyproject.toml
  src/agilab/orchestrate_distribution.py
  src/agilab/orchestrate_execute.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_openai.py
  test/test_orchestrate_distribution.py
  test/test_pipeline_ai.py
  test/test_pipeline_openai.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab

refactor: derive pipeline page actions from state
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_page_state.py
  test/test_pipeline_page_state.py
Due: agilab

refactor: start pipeline runs through command result
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_page_state.py
  test/test_pipeline_page_state.py
Due: agilab

chore: refresh agi-node coverage badge
  badges/coverage-agi-node.svg
Due: none

chore: refresh agi-node coverage badge (#49)
  badges/coverage-agi-node.svg
Due: none

fix: handle canonical PyPI release versions
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

fix: handle canonical PyPI release versions (#50)
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

chore(release): bump version to 2026.04.28.post3
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core
