Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

chore: normalize setup pycharm run config
  .idea/runConfigurations/setup_pycharm.xml
Due: none

chore(release): bump version to 2026.05.11
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/src/global_dag_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

ci: align PyPI release matrix with supported Python
  .github/workflows/pypi-publish.yaml
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  test/test_pypi_publish_workflow.py
Due: none

fix: accept same-version release retry tags
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  test/test_security_hygiene_report.py
  tools/security_hygiene_report.py
Due: none

fix: harden release evidence artifact download
  .github/workflows/pypi-publish.yaml
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  src/agilab/ci_provider_artifacts.py
  test/test_ci_provider_artifacts.py
  test/test_pypi_publish_workflow.py
Due: agilab

chore(release): bump version to 2026.05.11
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(release): require coverage workflow before tagging
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

docs: clarify release version and disclosure policy
  README.md
  README.pypi.md
  SECURITY.md
  test/test_public_demo_links.py
  test/test_security_policy.py
Due: none

docs: address public audit governance gaps
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/pypi-publish.yaml
  CONTRIBUTING.md
  README.md
  README.pypi.md
  test/test_governance_supply_chain_contract.py
  test/test_public_demo_links.py
  test/test_pypi_publish_workflow.py
Due: none

fix(security): make private reporting check case-insensitive
  tools/security_hygiene_report.py
Due: none

Clarify first-proof dry-run onboarding
  README.md
  README.pypi.md
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  src/agilab/first_proof_cli.py
  src/agilab/lab_run.py
  test/test_first_proof_cli.py
  test/test_lab_run.py
Due: agilab

Fix coverage badges and robot startup diagnostics
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
Due: none

Fix UI robot source launch and app aliases
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
Due: none

Stream UI robot matrix progress
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot_matrix.py
Due: none

Stabilize UI robot widget combinations
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Clarify optional install profiles
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  pyproject.toml
  test/test_audit_response_docs.py
  test/test_generated_actions.py
  test/test_logging_utils.py
  test/test_profile_supply_chain_scan.py
  test/test_pyproject_dependency_hygiene.py
  test/test_revision_traceability_report.py
  test/test_runtime_diagnostics.py
  tools/profile_supply_chain_scan.py
Due: none

Align release docs and proof guardrails
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  test/test_action_execution.py
  test/test_app_template_registry.py
  test/test_audit_response_docs.py
  test/test_first_proof_cli.py
  test/test_governance_supply_chain_contract.py
  test/test_public_demo_links.py
  test/test_security_check.py
Due: none

Refresh docs source mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

Refresh agi-gui coverage badge
  badges/coverage-agi-gui.svg
Due: none
