Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(demo): prepare verified forecast replay patch 2026.09.21.1
  CHANGELOG.md
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/demos/resources/forecast_notebook_demo/README.md
  src/agilab/demos/resources/forecast_notebook_demo/requirements.txt
  src/agilab/demos/resources/forecast_notebook_demo/source/build-result.json
  test/test_forecast_notebook_export.py
  test/test_forecast_showcase.py
  tools/demos/export_forecast_notebook_demo.py
Due: agilab

docs(release): finalize replay patch publication evidence
  AGENT_LEARNINGS.md
  CHANGELOG.md
Due: none

Register standalone RTX artifacts with repository validation guards
  agilab-capabilities.json
  test/test_import_deprecation_hygiene.py
  test/test_pyproject_dependency_hygiene.py
  test/test_ui_pages.py
  tools/ui_robot_action_contract.py
Due: none

Regenerate discovery date from the updated capability manifest
  agenticweb.md
Due: none

Attribute RTX MILP timings to the generated process runner
  src/agilab/demos/milp_energy_showcase.py
  src/agilab/demos/resources/milp_energy_demo_rtx/result.json
  test/test_rtx_showcase_variants.py
Due: agilab

test(sidecars): synchronize disjoint launches at the launcher boundary
  src/agilab/core/agi-env/test/test_sidecar_registry.py
Due: agilab, agi-env

test(sidecars): remove startup race from disjoint-launch regression (#1045)
  src/agilab/core/agi-env/test/test_sidecar_registry.py
Due: agilab, agi-env

Include RTX demo resources in built distributions
  pyproject.toml
  test/test_demo_package_layout.py
Due: none

Preserve worker identity across sparse Dask and service plans
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service/service_lifecycle_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node, agi-cluster

Include RTX demo resources in built distributions (#1046)
  pyproject.toml
  test/test_demo_package_layout.py
Due: none

fix(connectors): enforce live probe validation boundaries
  src/agilab/data_connectors/data_connector_live_endpoint_smoke.py
  src/agilab/test/test_data_connector_live_smoke_ssrf.py
  test/test_data_connector_live_endpoint_smoke_report.py
Due: agilab

Preserve worker identity across sparse Dask and service plans (#1047)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service/service_lifecycle_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node, agi-cluster

fix(connectors): count socket attempts and protect error evidence
  src/agilab/data_connectors/data_connector_live_endpoint_smoke.py
  src/agilab/test/test_data_connector_live_smoke_ssrf.py
  test/test_data_connector_live_endpoint_smoke_report.py
Due: agilab

fix(connectors): bind safe destinations and gate probe execution (#1048)
  src/agilab/data_connectors/data_connector_live_endpoint_smoke.py
  src/agilab/test/test_data_connector_live_smoke_ssrf.py
  test/test_data_connector_live_endpoint_smoke_report.py
Due: agilab

Refresh coverage badges from audited main measurements
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Refresh coverage badges from audited main measurements (#1049)
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Prepare audit hotfix release 2026.09.21.2
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Refresh release discovery and guard its freshness before publication
  agenticweb.md
  agilab-capabilities.json
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

fix(ci): align Codecov v7 upgrade comments and validation
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
Due: none

test(ci): recognize Codecov v7 in action compatibility policy
  test/test_github_actions_node_runtime.py
Due: none

fix(ci): decouple coverage upload gates from action version comments
  test/test_security_hygiene_report.py
  tools/security_hygiene_report.py
Due: none

fix(coverage): include omitted suites and wait for complete reports
  .github/workflows/coverage.yml
  codecov.yml
  test/test_coverage_shard_plan.py
  test/test_coverage_workflow.py
  tools/coverage_shard_plan.py
Due: none

test(coverage): collect omitted suites and validate runtime evidence
  .coveragerc.agi-gui
  .coveragerc.demo-resources
  .github/workflows/coverage.yml
  codecov.yml
  src/agilab/core/test/test_worker_pool_support.py
  src/agilab/core/test/test_worker_target_lease_failures.py
  test/test_agent_experiment.py
  test/test_agent_tasks.py
  test/test_builtin_app_tests.py
  test/test_coverage_workflow.py
  test/test_packaged_benchmark_evidence_contract.py
  test/test_packaged_benchmark_process_contract.py
  test/test_packaged_energy_physics_contract.py
  test/test_packaged_forecast_core_contract.py
  test/test_root_test_runner.py
  tools/builtin_app_tests.py
  tools/coverage_shard_plan.py
  tools/testing/root_test_runner.py
Due: agilab

fix(coverage): use a versioned hash lock for free-threaded tooling
  .github/requirements/ci-free-threaded-coverage.in
  .github/requirements/ci-free-threaded-coverage.txt
  .github/workflows/ci-tool-lock-integrity.yml
  .github/workflows/coverage.yml
  test/test_ci_tool_lock_integrity.py
  test/test_ci_workflow_credential_boundaries.py
  test/test_coverage_workflow.py
Due: none

test(coverage): exercise optional evidence suites and provision clone data
  .github/workflows/coverage.yml
  src/agilab/core/test/test_worker_target_lease_failures.py
  test/test_coverage_workflow.py
Due: agilab

fix(coverage): isolate demo collection and include source security suites
  test/test_coverage_shard_plan.py
  test/test_pipeline_lab.py
  test/test_root_test_runner.py
  tools/coverage_shard_plan.py
  tools/testing/root_test_runner.py
Due: none

fix(coverage): isolate source suites and install all demo requirements
  .github/workflows/coverage.yml
  src/agilab/core/agi-env/test/test_sidecar_registry.py
  test/test_coverage_shard_plan.py
  test/test_coverage_workflow.py
  test/test_root_test_runner.py
  tools/coverage_shard_plan.py
  tools/testing/root_test_runner.py
Due: agilab, agi-env

fix(coverage): upload complete evidence before badge freshness checks
  .github/workflows/coverage.yml
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
  src/agilab/core/agi-env/test/test_import_layout_support.py
  test/test_coverage_workflow.py
Due: agilab, agi-env

test(coverage): extend ownership evidence and pipeline failure contracts
  src/agilab/core/agi-cluster/test/test_capacity_windows_security.py
  src/agilab/core/agi-cluster/test/test_cluster_lease_transport_failures.py
  src/agilab/core/agi-cluster/test/test_runtime_cleanup_ownership.py
  src/agilab/core/agi-cluster/test/test_service_cleanup_proof.py
  src/agilab/core/agi-env/test/test_destructive_path_support.py
  src/agilab/core/agi-env/test/test_sidecar_registry_recovery.py
  src/agilab/core/test/test_distribution_cache_input_contracts.py
  src/agilab/core/test/test_worker_cli_process_contracts.py
  src/agilab/core/test/test_worker_path_failure_contracts.py
  src/agilab/core/test/test_worker_target_lease_failures.py
  test/test_notebook_evidence_failure_contracts.py
  test/test_packaged_benchmark_evidence_contract.py
  test/test_packaged_energy_physics_contract.py
  test/test_packaged_energy_rtx_process_contract.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_pipeline_workflow_insights.py
  test/test_reuse_catalog.py
  test/test_view_maps_network.py
  test/test_view_maps_network_page_state.py
Due: agilab, agi-env, agi-cluster

test(coverage): validate demo failures and runtime ownership boundaries
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
  src/agilab/core/agi-cluster/test/test_owned_background_cleanup_failures.py
  src/agilab/core/agi-env/test/test_import_layout_failures.py
  src/agilab/core/agi-env/test/test_sidecar_ownership_observations.py
  src/agilab/core/test/test_worker_cli_command_dispatch.py
  test/test_agent_experiment.py
  test/test_apps_repository_policy_contracts.py
  test/test_dag_run_engine.py
  test/test_orchestrate_page_support.py
  test/test_packaged_demo_ui_failure_contracts.py
  test/test_packaged_energy_physics_contract.py
  test/test_packaged_mandelbrot_rtx_contract.py
  test/test_packaged_mandelbrot_worker_contract.py
  test/test_packaged_text_analysis_contract.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_pytorch_playground_app.py
Due: agilab, agi-env, agi-cluster

test(coverage): keep ownership fixtures portable on Windows
  src/agilab/core/agi-cluster/test/test_runtime_cleanup_ownership.py
  src/agilab/core/test/test_distribution_cache_input_contracts.py
Due: agilab, agi-cluster

test(coverage): exercise recovery evidence and shipped app contracts
  src/agilab/core/agi-cluster/test/test_capacity_and_cleanup_file_races.py
  src/agilab/core/agi-cluster/test/test_failed_service_start_ownership.py
  src/agilab/core/agi-cluster/test/test_lifecycle_release_retry_contracts.py
  src/agilab/core/agi-cluster/test/test_local_deployment_failure_contracts.py
  src/agilab/core/agi-cluster/test/test_manager_handoff_failure_contracts.py
  src/agilab/core/agi-cluster/test/test_service_orphan_recovery_contracts.py
  src/agilab/core/test/test_cython_preprocess_semantic_contracts.py
  src/agilab/core/test/test_worker_build_cache_contracts.py
  test/test_about_bootstrap_failure_contracts.py
  test/test_agent_run.py
  test/test_agent_trace.py
  test/test_data_quality_gate_project.py
  test/test_execution_pandas_numeric_contracts.py
  test/test_inter_project_dag_preview_contracts.py
  test/test_llm_endpoint_policy.py
  test/test_packaged_preview_execution_contracts.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_r_runtime_bridge_project.py
  test/test_sklearn_pipeline_project.py
  test/test_view_maps_network_page_state.py
  test/test_workflow_run_manifest.py
Due: agilab, agi-cluster

test(coverage): verify notebook evidence and application failure boundaries
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
  src/agilab/core/agi-cluster/test/test_remote_deployment_probe_boundaries.py
  src/agilab/core/agi-cluster/test/test_transport_interruption_boundaries.py
  src/agilab/core/agi-env/test/test_archive_metadata_boundary_contracts.py
  src/agilab/core/agi-env/test/test_settings_transaction_boundary_contracts.py
  test/test_agent_tasks.py
  test/test_agent_verification_boundary.py
  test/test_app_installer_packaging.py
  test/test_autoencoder_latentspace.py
  test/test_builtin_evidence_worker_runtime_contracts.py
  test/test_dag_distributed_submitter.py
  test/test_dag_execution_adapters.py
  test/test_global_pipeline_runner_state_report.py
  test/test_multi_app_dag_preview_runtime_contracts.py
  test/test_notebook_adoption.py
  test/test_notebook_agent.py
  test/test_notebook_verifier_contracts.py
  test/test_orchestrate_execute.py
  test/test_packaged_benchmark_budget_contracts.py
  test/test_packaged_benchmark_process_contract.py
  test/test_pipeline_stages.py
  test/test_pypi_app_packages.py
  test/test_skill_evaluation.py
  test/test_template_form_failure_contracts.py
  test/test_template_manager_runtime_contracts.py
  test/test_view_barycentric.py
  test/test_view_maps.py
  test/test_view_maps_3d.py
Due: agilab, agi-env, agi-cluster

test(coverage): verify runtime recovery and downloadable evidence contracts
  src/agilab/core/agi-cluster/test/test_cleanup_process_observation_boundaries.py
  src/agilab/core/agi-cluster/test/test_distribution_plan_and_cleanup_boundaries.py
  src/agilab/core/agi-cluster/test/test_service_stop_transaction_boundaries.py
  src/agilab/core/agi-cluster/test/test_workflow_data_path_boundary_contracts.py
  src/agilab/core/agi-env/test/test_import_discovery_observation_contracts.py
  src/agilab/core/agi-env/test/test_project_clone_failure_boundaries.py
  src/agilab/core/agi-env/test/test_runtime_refresh_transaction_boundaries.py
  src/agilab/core/agi-env/test/test_share_root_validation_boundaries.py
  src/agilab/core/agi-env/test/test_sidecar_start_transaction_boundaries.py
  src/agilab/core/test/test_worker_cython_binding_contracts.py
  src/agilab/core/test/test_worker_runtime_input_boundaries.py
  test/test_about_runtime_recovery_contracts.py
  test/test_agent_experiment.py
  test/test_agent_trace.py
  test/test_astra_energy_resource_contracts.py
  test/test_builtin_manager_dataset_contracts.py
  test/test_downloadable_pool_failure_contracts.py
  test/test_evidence_graph.py
  test/test_execution_polars_runtime_contracts.py
  test/test_global_pipeline_runner_state_report.py
  test/test_guided_lesson_resume_validation_contracts.py
  test/test_orchestrate_services.py
  test/test_orchestration_cluster_platform_contracts.py
  test/test_orchestration_dependency_metadata_contracts.py
  test/test_packaged_benchmark_evidence_contract.py
  test/test_packaged_energy_physics_contract.py
  test/test_packaged_energy_rtx_process_contract.py
  test/test_packaged_mandelbrot_rtx_contract.py
  test/test_pipeline_lab_recovery_contracts.py
  test/test_reuse_catalog.py
  test/test_runtime_ownership_final_contracts.py
  test/test_runtime_usage_cli_contracts.py
  test/test_skill_evaluation.py
  test/test_telemetry_feature_evidence.py
Due: agilab, agi-env, agi-cluster

test(windows): isolate directory sync failure boundaries
  src/agilab/core/test/test_worker_runtime_input_boundaries.py
Due: agilab

chore(coverage): refresh badges from complete CI reports
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
Due: none

docs: scope coverage status badge to main push validation
  README.md
Due: none

ci: detect stale coverage workflow badges automatically
  .github/workflows/ci.yml
  .github/workflows/coverage-badge-public-status.yml
  test/test_coverage_badge_guard.py
  tools/coverage_badge_guard.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
