Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

release: require broader local preflight
  test/test_pypi_publish.py
  test/test_workflow_parity.py
  tools/pypi_publish.py
  tools/workflow_parity.py
Due: none

docs: mirror outer dask execution boundary note
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture.rst
  docs/source/faq.rst
Due: none

docs: mirror runtime split and service queue semantics
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture.rst
  docs/source/faq.rst
  docs/source/service-mode.rst
Due: none

tooling: add aider and opencode repo workflows
  .aider.conf.yml
  .opencode/agents/agilab-build.md
  .opencode/agents/agilab-review.md
  AGENTS.md
  AGENT_CONVENTIONS.md
  README.md
  docs/CLI_FIRST_WORKFLOW.md
  opencode.json
  test/test_agent_workflows.py
  tools/agent_workflows.md
  tools/aider_workflow.md
  tools/aider_workflow.sh
  tools/opencode_workflow.md
  tools/opencode_workflow.sh
Due: none

docs: mirror agent workflow entry page
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/index.rst
  docs/source/quick-start.rst
Due: none

fix(installer): stage offline manager core sources
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  test/test_install_contract_check.py
  tools/install_contract_check.py
Due: agilab, agi-cluster

docs: add diagnostic challenge prompt pattern
  .claude/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  AGENTS.md
Due: none

fix(installer): cover source-env manager overlay
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

badges: refresh coverage snapshots
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

test(gui): disable keychain backend in app tests
  test/test_ui_pages.py
Due: none

test(gui): isolate app tests from cluster credentials
  test/test_ui_pages.py
Due: none

test(installer): ignore uv recursion depth for status
  test/test_install_contract_check.py
  tools/install_contract_check.py
Due: none

test(root): clear ambient secret env vars
  test/conftest.py
  test/test_root_env_isolation.py
Due: none

tooling: prefer DOCS_REPOSITORY env name
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

tooling: remove docs repo alias name
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

fix(gui): ignore commented env template defaults
  src/agilab/About_agilab.py
  test/test_ui_pages.py
Due: agilab

fix(release): generate docs from docs repo
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

fix(cluster): guard remote source wheel invariants
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
Due: agilab, agi-cluster

chore(release): bump version to 2026.4.23
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

perf(preflight): combine core coverage runs
  test/test_pypi_publish.py
  test/test_workflow_parity.py
  tools/pypi_publish.py
  tools/workflow_parity.py
Due: none

test(gui): increase inference analysis coverage
  test/test_view_inference_analysis.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
