Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

docs: separate features positioning and roadmap roles
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
Due: none

docs: compress introduction page
  docs/.docs_source_mirror_stamp.json
  docs/source/introduction.rst
Due: none

docs: trim agilab page intro
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab.rst
Due: none

docs: trim page help intros
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-help.rst
  docs/source/execute-help.rst
  docs/source/explore-help.rst
Due: none

docs(index): simplify top-level navigation
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
Due: none

docs: polish secondary reference pages
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  docs/source/framework-submodule-contract.rst
  docs/source/learning-workflows.rst
  docs/source/service-mode.rst
Due: none

test(gui): cover remaining orchestrate services branches
  test/test_orchestrate_services.py
Due: none

chore(release): bump version to 2026.4.18
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(cluster): tolerate pre-init export command lookup
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

chore(git): stop tracking generated uv lockfile
  src/agilab/apps-pages/view_inference_analysis/uv.lock
Due: agilab

chore(meta): classify contributors separately from author
  README.md
  docker/Dockerfile
  docker/Dockerfile-Ollama
  pyproject.toml
Due: none

feat(installer): make core test suites opt-in
  AGENTS.md
  install.sh
Due: none

feat(installer): add opt-in core tests to powershell install
  .claude/skills/agilab-installer/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-installer/SKILL.md
  install.ps1
Due: none

fix(release): harden publish flow against interruption
  .idea/runConfigurations/publish_dry_run.xml
  .idea/runConfigurations/pypi_publish.xml
  .idea/runConfigurations/test_pypi_publish.xml
  test/test_pypi_publish.py
  tools/pypi_publish.py
  tools/run_configs/agilab/publish-dry-run-testpypi.sh
  tools/run_configs/agilab/pypi-publish.sh
  tools/run_configs/agilab/test-pypi-publish.sh
Due: none

fix(release): reconcile 2026.4.19 and harden pypi sync
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

test: align worker-default service start test with current contract
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
Due: agilab

docs(notebook): add colab api quickstart
  README.md
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
Due: none

docs(notebook): add colab quickstart link
  docs/source/notebook-quickstart.rst
Due: none

docs(notebook): add colab benchmark example
  README.md
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
Due: none

docs(readme): rename docs badge to documentation
  README.md
Due: none

docs: add clone tutorials
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  docs/source/edit-help.rst
Due: none
