Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  .idea/modules/agi-cluster.iml
Due: none

update
  .idea/modules/agi-cluster.iml
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/install_apps.sh
Due: agilab

update
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
Due: none

update
  AGENTS.md
Due: none

chore(release): bump version to 2025.11.17
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  docs/html/_images/Agilab-Overview.svg
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_modules/index.html
  docs/html/_sources/agilab-mlops-positioning.rst.txt
  docs/html/agi-core-architecture.html
  docs/html/agi-distributor.html
  docs/html/agi-env.html
  docs/html/agi-node.html
  docs/html/agilab-github.html
  docs/html/agilab-mlops-positioning.html
  docs/html/agilab.html
  docs/html/apps-pages-help.html
  docs/html/apps-pages.html
  docs/html/architecture.html
  docs/html/cluster-help.html
  docs/html/cluster.html
  docs/html/directory-structure.html
  docs/html/edit-help.html
  docs/html/environment.html
  docs/html/execute-help.html
  docs/html/experiment-help.html
  docs/html/explore-help.html
  docs/html/faq.html
  docs/html/features.html
  docs/html/flight-project.html
  docs/html/framework-api.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/install-usecase.html
  docs/html/introduction.html
  docs/html/key-generation.html
  docs/html/license.html
  docs/html/mycode-project.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/quick-start.html
  docs/html/search.html
  docs/html/searchindex.js
  docs/html/troubleshooting.html
  tools/pypi_publish.py
Due: none

update
  tools/pypi_publish.py
Due: none
