Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Add UI robot environment preflight
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Harden orchestrate robot and share probes
  src/agilab/core/agi-env/src/agi_env/share_mount_support.py
  src/agilab/core/agi-env/test/test_share_mount_support.py
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_agilab_widget_robot.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  tools/agilab_widget_robot.py
Due: agilab, agi-env

Strengthen orchestrate robot artifact checks
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: none

Harden workflow robot artifact checks
  src/agilab/about_page/env_editor.py
  src/agilab/env_file_utils.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_env_file_utils.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Add opt-in UI robot matrix workflow
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ci_workflow.py
  test/test_github_actions_node_runtime.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/workflow_parity.py
Due: none

Add opt-in UI robot matrix workflow (#78)
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ci_workflow.py
  test/test_github_actions_node_runtime.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/workflow_parity.py
Due: none

Add UI robot release evidence
  .github/workflows/ci.yml
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/data/ui_robot_evidence.json
  docs/source/release-proof.rst
  test/test_ci_workflow.py
  test/test_release_proof_report.py
  test/test_ui_robot_evidence.py
  tools/agilab_widget_robot.py
  tools/release_proof_report.py
  tools/ui_robot_evidence.py
Due: none

Fix coverage workflow stage test paths
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
Due: none

chore(release): bump version to 2026.05.08
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/src/global_dag_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.05.08
  pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): refresh 2026.05.08 proof evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

split default install from UI extras
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/demos.rst
  docs/source/package-publishing-policy.rst
  docs/source/quick-start.rst
  pyproject.toml
  setup.py
  src/agilab/first_proof_cli.py
  src/agilab/lab_run.py
  src/agilab/supply_chain_attestation.py
  test/test_first_proof_cli.py
  test/test_lab_run.py
  test/test_package_wheel_sanitizer.py
  test/test_pyproject_dependency_hygiene.py
  tools/launch_gpt_oss.py
  tools/package_wheel_sanitizer.py
  tools/public_proof_scenarios.py
Due: agilab

run first-launch robot with UI extra
  .github/workflows/ci.yml
  test/test_ci_workflow.py
Due: none

narrow workflow policy coverage routing
  .github/workflows/coverage.yml
  .github/workflows/docs-source-guard.yaml
  test/test_ci_workflow.py
  test/test_coverage_badge_guard.py
  test/test_coverage_workflow.py
  test/test_impact_validate.py
  test/test_workflow_parity.py
  tools/coverage_badge_guard.py
  tools/impact_validate.py
  tools/workflow_parity.py
Due: none

speed up workflow validation routing
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/ensure-roadmap-label.yaml
  test/conftest.py
  test/test_ci_workflow.py
  test/test_coverage_badge_guard.py
  test/test_impact_validate.py
  tools/coverage_badge_guard.py
  tools/impact_validate.py
Due: none

avoid duplicate branch push validation
  .github/workflows/ci.yml
  .github/workflows/ensure-roadmap-label.yaml
  test/test_ci_workflow.py
Due: none

[codex] split default install from UI extras (#80)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/ensure-roadmap-label.yaml
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/demos.rst
  docs/source/package-publishing-policy.rst
  docs/source/quick-start.rst
  pyproject.toml
  setup.py
  src/agilab/first_proof_cli.py
  src/agilab/lab_run.py
  src/agilab/supply_chain_attestation.py
  test/conftest.py
  test/test_ci_workflow.py
  test/test_coverage_badge_guard.py
  test/test_coverage_workflow.py
  test/test_first_proof_cli.py
  test/test_impact_validate.py
  test/test_lab_run.py
  test/test_package_wheel_sanitizer.py
  test/test_pyproject_dependency_hygiene.py
  test/test_workflow_parity.py
  tools/coverage_badge_guard.py
  tools/impact_validate.py
  tools/launch_gpt_oss.py
  tools/package_wheel_sanitizer.py
  tools/public_proof_scenarios.py
  tools/workflow_parity.py
Due: agilab

fix coverage split guardrails
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  src/agilab/core/get_supported_python_versions.py
Due: agilab, agi-env

run gui coverage with ui extra
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

Speed regression selector and raise GUI coverage
  .github/workflows/coverage.yml
  badges/coverage-agi-gui.svg
  test/test_agilab_dev_shortcuts.py
  test/test_ga_regression_selector.py
  test/test_workflow_parity.py
  tools/agilab_dev.py
  tools/ga_regression_selector.py
  tools/workflow_parity.py
Due: none

Speed up report regression chunk
  src/agilab/repository_knowledge.py
  test/test_repository_knowledge_report.py
  test/test_supply_chain_attestation_report.py
  tools/security_hygiene_report.py
Due: agilab

Add advisory security check
  SECURITY.md
  badges/coverage-agi-gui.svg
  src/agilab/lab_run.py
  src/agilab/security_check.py
  test/test_audit_response_docs.py
  test/test_lab_run.py
  test/test_security_check.py
  test/test_security_hygiene_report.py
  tools/security_hygiene_report.py
Due: agilab
