Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  .idea/runConfigurations/flight_trajectory_run.xml
  AGENTS.md
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
Due: none

update
  AGENTS.md
Due: none

update
  src/agilab/apps/templates/fireducks_app_template/src/fireducks_app/fireducks_app_args.py
  src/agilab/apps/templates/pandas_app_template/src/pandas_app/pandas_app_args.py
  src/agilab/apps/templates/polars_app_template/src/polars_app/polars_app_args.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env, agi-cluster

update
  src/agilab/apps/templates/dag_app_template/src/dag_app_worker/dag_app_worker.py
  src/agilab/apps/templates/fireducks_app_template/src/fireducks_app/fireducks_app_args.py
  src/agilab/apps/templates/pandas_app_template/src/pandas_app/pandas_app_args.py
  src/agilab/apps/templates/polars_app_template/src/polars_app/polars_app_args.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env, agi-cluster

update
  export/sb3_trainer/AGI_run.py
  export/sb3_trainer/AGI_run_sb3_trainer.py
  src/agilab/apps/builtin/mycode_project/src/mycode/mycode_args.py
Due: agilab

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node, agi-cluster

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node, agi-cluster

fix agi_share_dir
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cli.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  src/agilab/AGILAB.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env, agi-node, agi-cluster
