Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

fix: import dag worker helper from workflow ui
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix: restore orchestrate resource summary
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix: make orchestrate resource summary visible
  src/agilab/pages/2_ORCHESTRATE.py
Due: agilab

fix: refresh orchestrate resource summary after cluster toggle
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix: remove redundant orchestrate share path label
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
  test/test_ui_pages.py
Due: agilab

fix: redact first proof json output
  src/agilab/first_proof_cli.py
  test/test_first_proof_cli.py
  test/test_newcomer_first_proof.py
  tools/newcomer_first_proof.py
Due: agilab

Simplify first proof install snippets
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  test/test_public_demo_links.py
Due: none

Clean README public proof guidance
  README.md
  test/test_audit_response_docs.py
  test/test_kpi_evidence_bundle.py
  test/test_public_demo_links.py
  tools/kpi_evidence_bundle.py
Due: none

add call facility for setup_pycharm.py in pycharm run/debug config
  .idea/runConfigurations/setup_pycharm.xml
Due: none

Align PyPI README with public README
  README.pypi.md
  test/test_public_demo_links.py
Due: none

Normalize legacy app settings run stages
  src/agilab/core/agi-env/src/agi_env/app_settings_support.py
  src/agilab/core/agi-env/test/test_app_settings_support.py
  test/test_orchestrate_support.py
Due: agilab, agi-env

Accept legacy run args in orchestrate snippets
  src/agilab/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Improve cluster discovery resource summary
  src/agilab/about_page/layout.py
  src/agilab/cluster_lan_discovery.py
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_cluster_lan_discovery.py
  test/test_orchestrate_cluster.py
  test/test_ui_pages.py
Due: agilab

Fix orchestrate run failure handling and add regression coverage
  src/agilab/orchestrate_execute.py
  test/test_orchestrate_execute.py
  test/test_security_check.py
Due: agilab

Add orchestrate execute helper coverage tests
  test/test_orchestrate_execute.py
Due: none

Increase orchestrate_execute helper coverage edge cases
  test/test_orchestrate_execute.py
Due: none

test: close remaining workflow_ui test coverage gaps
  test/test_workflow_ui.py
Due: none

Harden orchestrate data_in root resolution for shared mount contract
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  src/agilab/orchestrate_execute.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
