Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Improve clone rename coverage
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/▶️ EDIT.py
Due: agilab, agi-env

update
  codex-examples/codex-session-example.txt
  codex-examples/codex-session-hi-fix.txt
  src/agilab/apps/flight_project/test/test_df.ipynb
  src/agilab/examples/flight_clone/AGI_install_flight_clone.py
  src/agilab/examples/flight_clone/AGI_run_flight_clone.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  codex-examples/codex-session-example.txt
  codex-examples/codex-session-hi-fix.txt
  src/agilab/apps/flight_clone_project/MANIFEST.in
  src/agilab/apps/flight_clone_project/README.md
  src/agilab/apps/flight_clone_project/app_test.py
  src/agilab/apps/flight_clone_project/dataset_assets/beams.csv
  src/agilab/apps/flight_clone_project/dataset_assets/norad_3le.txt
  src/agilab/apps/flight_clone_project/dataset_assets/satellites.csv
  src/agilab/apps/flight_clone_project/distribution.json
  src/agilab/apps/flight_clone_project/pyproject.toml
  src/agilab/apps/flight_clone_project/run_test.sh
  src/agilab/apps/flight_clone_project/src/app_args_form.py
  src/agilab/apps/flight_clone_project/src/app_settings.toml
  src/agilab/apps/flight_clone_project/src/flight_clone/__init__.py
  src/agilab/apps/flight_clone_project/src/flight_clone/app_args.py
  src/agilab/apps/flight_clone_project/src/flight_clone/flight_clone.py
  src/agilab/apps/flight_clone_project/src/flight_clone/flight_clone_args.py
  src/agilab/apps/flight_clone_project/src/flight_clone_args_form.py
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/__init__.py
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/dataset.7z
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/flight_clone_worker.py
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/pyproject.toml
  src/agilab/apps/flight_clone_project/src/pre_prompt.json
  src/agilab/apps/flight_clone_project/test/__init__.py
  src/agilab/apps/flight_clone_project/test/_test_call_worker.py
  src/agilab/apps/flight_clone_project/test/_test_flight_clone_manager.py
  src/agilab/apps/flight_clone_project/test/_test_flight_clone_worker.py
  src/agilab/apps/flight_clone_project/test/test_df.ipynb
  src/agilab/apps/flight_clone_project/test/test_flight_clone_manager.py
  src/agilab/apps/flight_clone_project/test/test_flight_clone_worker.py
  src/agilab/apps/flight_clone_project/tools/example_waypoints.geojson
  src/agilab/apps/flight_clone_project/tools/generate_waypoints_basic.py
  src/agilab/apps/flight_clone_project/tools/generate_waypoints_complex.py
  src/agilab/apps/flight_clone_project/tools/synthetic_airports.geojson
  src/agilab/apps/flight_clone_project/uv_config.toml
  src/agilab/examples/flight_clone/AGI_install_flight_clone.py
  src/agilab/examples/flight_clone/AGI_run_flight_clone.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  .idea/modules/agilab.iml
Due: none

update
  src/agilab/examples/flight/AGI_install_flight.py
Due: agilab

update
  src/agilab/examples/flight_trajectory/AGI_install_flight_trajectory.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
