Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Raise coverage jobs above 60 percent
  .coveragerc.agi-env
  .github/workflows/coverage.yml
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_pagelib.py
  test/test_orchestrate_services.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
Due: agilab, agi-env

Move app settings into user workspace
  AGENTS.md
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  tools/preserve_app_configs.sh
Due: agilab, agi-env

Document app settings workspace model
  docs/source/apps-pages.rst
  docs/source/architecture.rst
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/explore-help.rst
  docs/source/quick-start.rst
Due: none

Stabilize coverage regressions on Linux
  src/agilab/core/agi-env/test/test_pagelib.py
  test/test_view_maps_network.py
Due: agilab, agi-env

Stabilize pagelib directory order tests
  src/agilab/core/agi-env/test/test_pagelib.py
Due: agilab, agi-env

Harden test isolation and deterministic helpers
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  test/conftest.py
  test/test_view_maps_network.py
Due: agilab, agi-env

Expand coverage for env and gui helpers
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_base_worker.py
  test/test_orchestrate_distribution.py
  test/test_pipeline_ai.py
Due: agilab, agi-env

Guard packaging against nested worker venvs
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_build_worker_venv_artifacts.py
Due: agilab, agi-node

Prevent UI tests from polluting user state
  test/conftest.py
  test/test_ui_pages.py
Due: none

Sync roadmap additions for analysis and knowledge views
  docs/ROADMAP.md
  docs/source/roadmap/agilab-future-work.md
Due: none

Prefer builtin app copies when install roots are stale
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Cover builtin fallback when apps root is explicit
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Stabilize agi-env cluster settings tests
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Refresh uvproject after builtin app fallback
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env
