Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

fix shared core typing for runtime commands
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
Due: agilab, agi-cluster

fix release preflight timing cleanup
  test/test_ga_regression_selector.py
  tools/ga_regression_selector.py
  tools/workflow_parity.py
Due: none

chore(release): bump version to 2026.05.07
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/src/global_dag_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): align hf space proof
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

fix hf space stale page validation
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  test/test_hf_space_smoke.py
  tools/hf_space_smoke.py
Due: none

harden hf space tree smoke
  test/test_hf_space_smoke.py
  tools/hf_space_smoke.py
Due: none

docs(release): align hf proof after main deploy
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

Clarify roadmap help stage wording
  src/agilab/resources/help/roadmap.html
Due: agilab

Align workflow skills with stage naming
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-product-reels/SKILL.md
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/notebook-to-agilab-project/SKILL.md
  .claude/skills/pipeline-concept-view/SKILL.md
  .claude/skills/pipeline-concept-view/references/lab_stages_review.md
  .claude/skills/scientific-svg-figures/SKILL.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-product-reels/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/notebook-to-agilab-project/SKILL.md
  .codex/skills/pipeline-concept-view/SKILL.md
  .codex/skills/pipeline-concept-view/references/lab_stages_review.md
  .codex/skills/scientific-svg-figures/SKILL.md
Due: none

Guard first-proof package install route
  AGENTS.md
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/data/release_proof.toml
  docs/source/demos.rst
  docs/source/quick-start.rst
  docs/source/release-proof.rst
  src/agilab/first_proof_cli.py
  test/test_audit_response_docs.py
  test/test_compatibility_report.py
  test/test_first_proof_cli.py
  test/test_public_proof_scenarios.py
  tools/compatibility_report.py
  tools/public_proof_scenarios.py
Due: agilab

Use release tag for docs version
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/custom.css
  docs/source/_templates/layout.html
  docs/source/conf.py
  test/test_docs_version_label.py
Due: none

chore: standardize apps repository env
  AGENTS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/newcomer-guide.rst
  install.ps1
  src/agilab/apps/README.md
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/notebook_export_support.py
  test/conftest.py
  test/test_pipeline_editor.py
  tools/pypi_publish.py
Due: agilab, agi-env

chore: standardize apps repository env (#73)
  AGENTS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/newcomer-guide.rst
  install.ps1
  src/agilab/apps/README.md
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/notebook_export_support.py
  test/conftest.py
  test/test_pipeline_editor.py
  tools/pypi_publish.py
Due: agilab, agi-env

chore: remove retired environment aliases
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-env.rst
  docs/source/cluster.rst
  docs/source/environment.rst
  docs/source/execute-help.rst
  docs/source/service-mode.rst
  docs/source/troubleshooting.rst
  install.ps1
  install.sh
  src/agilab/about_page/env_editor.py
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/runtime_bootstrap_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_runtime_bootstrap_support.py
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline_openai.py
  test/conftest.py
  test/test_about_agilab_helpers.py
  test/test_env_contract_aliases.py
  test/test_install_local_models.py
  test/test_ui_pages.py
  test/test_view_inference_analysis.py
  test/test_view_maps_network.py
  test/test_view_training_analysis.py
  tools/regression_fresh_install.py
  tools/service_health_check.py
Due: agilab, agi-env

chore: remove retired environment aliases (#74)
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-env.rst
  docs/source/cluster.rst
  docs/source/environment.rst
  docs/source/execute-help.rst
  docs/source/service-mode.rst
  docs/source/troubleshooting.rst
  install.ps1
  install.sh
  src/agilab/about_page/env_editor.py
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/runtime_bootstrap_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_runtime_bootstrap_support.py
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline_openai.py
  test/conftest.py
  test/test_about_agilab_helpers.py
  test/test_env_contract_aliases.py
  test/test_install_local_models.py
  test/test_ui_pages.py
  test/test_view_inference_analysis.py
  test/test_view_maps_network.py
  test/test_view_training_analysis.py
  tools/regression_fresh_install.py
  tools/service_health_check.py
Due: agilab, agi-env

Align local LLM install UX
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  docs/source/notebook-advanced.rst
  docs/source/quick-start.rst
  install.sh
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_ai_controls.py
  src/agilab/pipeline_ai_support.py
  src/agilab/pipeline_ai_uoaic.py
  test/test_install_local_models.py
  test/test_pipeline_ai.py
  test/test_pipeline_ai_support.py
  tools/install_enduser.sh
Due: agilab

Align Windows local LLM installer UX
  install.ps1
  test/test_install_local_models.py
  tools/install_enduser.ps1
Due: none

Fix agi-env test share isolation
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
Due: agilab, agi-env
