Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

test: expand coverage shard coverage
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/packaged-examples.rst
  test/__init__.py
  test/test_app_installer_packaging.py
  test/test_audience_bridges.py
  test/test_coverage_shard_plan.py
  test/test_coverage_workflow.py
  test/test_environment_health.py
  test/test_lightning_evidence.py
  test/test_notebook_demo.py
  test/test_pytorch_playground_app.py
  tools/coverage_shard_plan.py
Due: none

feat(ui): add evidence cockpit run review
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/features.rst
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_view_release_decision.py
Due: agilab

feat(tools): add robustness matrix guard
  AGENTS.md
  README.md
  test/test_agilab_dev_shortcuts.py
  test/test_robustness_matrix.py
  tools/agilab_dev.py
  tools/robustness_matrix.py
Due: none

feat(tools): add app contract matrix
  AGENTS.md
  README.md
  src/agilab/pypi_app_packages.py
  test/test_agilab_dev_shortcuts.py
  test/test_app_contract_matrix.py
  test/test_pypi_app_packages.py
  tools/agilab_dev.py
  tools/app_contract_matrix.py
Due: agilab

feat(tools): add app contract matrix (#227)
  AGENTS.md
  README.md
  src/agilab/pypi_app_packages.py
  test/test_agilab_dev_shortcuts.py
  test/test_app_contract_matrix.py
  test/test_pypi_app_packages.py
  tools/agilab_dev.py
  tools/app_contract_matrix.py
Due: agilab

chore(guards): gate app contracts in release paths
  .githooks/pre-push
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  pyproject.toml
  test/test_agilab_dev_shortcuts.py
  test/test_app_contract_matrix.py
  test/test_ci_workflow.py
  test/test_pre_push_changed_files.py
  tools/agilab_dev.py
  tools/app_contract_matrix.py
  tools/pre_push_changed_files.py
Due: none

chore(guards): gate app contracts in release paths (#228)
  .githooks/pre-push
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  pyproject.toml
  test/test_agilab_dev_shortcuts.py
  test/test_app_contract_matrix.py
  test/test_ci_workflow.py
  test/test_pre_push_changed_files.py
  tools/agilab_dev.py
  tools/app_contract_matrix.py
  tools/pre_push_changed_files.py
Due: none

chore(dev): provision ruff through dev shortcut
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  test/test_agilab_dev_shortcuts.py
  test/test_ci_workflow.py
  tools/agilab_dev.py
Due: none

chore(dev): provision ruff through dev shortcut (#229)
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  test/test_agilab_dev_shortcuts.py
  test/test_ci_workflow.py
  tools/agilab_dev.py
Due: none

ci(release): skip already published PyPI packages
  .github/workflows/pypi-publish.yaml
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_version_policy.py
  test/test_release_plan.py
  tools/pypi_release_version_policy.py
  tools/release_plan.py
Due: none

ci(release): skip already published PyPI packages (#230)
  .github/workflows/pypi-publish.yaml
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_version_policy.py
  test/test_release_plan.py
  tools/pypi_release_version_policy.py
  tools/release_plan.py
Due: none

docs(skills): update PyPI release guidance
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  llms-full.txt
Due: none

docs(skills): update PyPI release guidance (#231)
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  llms-full.txt
Due: none

Harden first proof robot validation
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/data_archive_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab, agi-env, agi-cluster

Harden first proof robot validation (#232)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/data_archive_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab, agi-env, agi-cluster

fix(installer): install UI extra for fresh install smoke
  tools/regression_fresh_install.py
Due: none

fix(installer): install UI extra for fresh install smoke (#233)
  tools/regression_fresh_install.py
Due: none

chore(release): add robustness audit tooling
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/ci.yml
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_release_robustness_tools.py
  tools/agilab_audit.py
  tools/agilab_dev.py
  tools/pypi_pending_trusted_publisher.py
  tools/pypi_project_preflight.py
  tools/release_handoff.py
  tools/release_handoff_guard.py
  tools/release_handoffs/v2026.05.23-2-other-machine.md
  tools/release_status.py
Due: none

Add release robustness audit tooling (#234)
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/ci.yml
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_release_robustness_tools.py
  tools/agilab_audit.py
  tools/agilab_dev.py
  tools/pypi_pending_trusted_publisher.py
  tools/pypi_project_preflight.py
  tools/release_handoff.py
  tools/release_handoff_guard.py
  tools/release_handoffs/v2026.05.23-2-other-machine.md
  tools/release_status.py
Due: none

Add AGILAB flight teaser media
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

feat(examples): add parallel stage planning
  AGENTS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/features.rst
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
  docs/source/packaged-examples.rst
  docs/source/parallel-stages.rst
  docs/source/release-proof.rst
  src/agilab/examples/README.md
  src/agilab/examples/parallel_stage/README.md
  src/agilab/examples/parallel_stage/parallel_stage.toml
  src/agilab/examples/parallel_stage/preview_parallel_stage.py
  src/agilab/lib/agi-apps/pyproject.toml
  test/test_agilab_dev_shortcuts.py
  test/test_app_installer_packaging.py
  test/test_parallel_stage_tool.py
  tools/agilab_dev.py
  tools/parallel_stage.py
Due: agilab

feat(examples): add parallel stage planning (#236)
  AGENTS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/features.rst
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
  docs/source/packaged-examples.rst
  docs/source/parallel-stages.rst
  docs/source/release-proof.rst
  src/agilab/examples/README.md
  src/agilab/examples/parallel_stage/README.md
  src/agilab/examples/parallel_stage/parallel_stage.toml
  src/agilab/examples/parallel_stage/preview_parallel_stage.py
  src/agilab/lib/agi-apps/pyproject.toml
  test/test_agilab_dev_shortcuts.py
  test/test_app_installer_packaging.py
  test/test_parallel_stage_tool.py
  tools/agilab_dev.py
  tools/parallel_stage.py
Due: agilab

docs: align public mirror with canonical source
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/features.rst
  docs/source/package-publishing-policy.rst
  docs/source/packaged-examples.rst
  docs/source/release-proof.rst
Due: none

docs: align public mirror with canonical source (#237)
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/features.rst
  docs/source/package-publishing-policy.rst
  docs/source/packaged-examples.rst
  docs/source/release-proof.rst
Due: none

Update AGILAB flight teaser audio link
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
