Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

chore(release): bump version to 2025.12.19.post1
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2025.12.19
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  docs/html/_modules/agi_cluster/agi_distributor/agi_distributor.html
  docs/html/_sources/agi-cluster-licenses.md.txt
  docs/html/_sources/agi-core-licenses.md.txt
  docs/html/_sources/agi-env-licenses.md.txt
  docs/html/_sources/agi-node-licenses.md.txt
  docs/html/agi-cluster-licenses.html
  docs/html/agi-core-licenses.html
  docs/html/agi-env-licenses.html
  docs/html/agi-node-licenses.html
  docs/html/architecture.html
  docs/html/directory-structure.html
  docs/html/searchindex.js
Due: none

Ignore .DS_Store everywhere
  .gitignore
Due: none

Add Codex Agent Skill: agilab-runbook
  .codex/skills/agilab-runbook/SKILL.md
Due: none

Codex skill: align metadata frontmatter
  .codex/skills/agilab-runbook/SKILL.md
Due: none

Add Codex skills catalog
  .codex/skills/README.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-local-llm/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  .codex/skills/template/SKILL.md
Due: none

feat(install): update
  install.sh
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/install_apps.sh
Due: agilab, agi-cluster

feat(share dir): forward shared dir to workers (wip)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

feat(network restricted): wip
  .gitignore
  install.sh
  src/agilab/apps-pages/view_autoencoder_latenspace/pyproject.toml
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/install_apps.sh
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-env, agi-cluster

update
  install.sh
  src/agilab/apps-pages/view_autoencoder_latenspace/pyproject.toml
  src/agilab/apps-pages/view_autoencoder_latenspace/src/view_autoencoder_latentspace/__init__.py
  src/agilab/apps-pages/view_barycentric/__init__.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/__init__.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/install.ps1
  src/agilab/install_apps.sh
  src/agilab/test/test_streamlit.sh
Due: agilab, agi-cluster

rollback
  install.ps1
  src/agilab/install_apps.ps1
Due: agilab

feat(windows): fix install issues
  src/agilab/AGILAB.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/install_apps.ps1
Due: agilab, agi-env, agi-cluster
