Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  codex/codex_shell_command_main_stats.tsv
  codex/codex_shell_command_stats.tsv
  codex/codex_shell_history.tsv
  codex/codex_shell_summary.md
  docs/html/.doctrees/environment.pickle
Due: none

update
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  AGENTS.md
  pycharm/setup_pycharm.py
Due: none

update
  .coverage-agi-env
  AGENTS.md
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  pycharm/setup_pycharm.py
Due: none

update
  .idea/modules/agi-node.iml
  tools/run_configs/agilab/zip-all.sh
  tools/run_configs/apps/apps-pages-smoke.sh
  tools/run_configs/apps/flight-get-distrib.sh
  tools/run_configs/apps/flight-install.sh
  tools/run_configs/apps/flight-run.sh
  tools/run_configs/apps/flight-test.sh
  tools/run_configs/apps/flight-tests.sh
  tools/run_configs/apps/mycode-call-worker.sh
  tools/run_configs/apps/mycode-egg-gen.sh
  tools/run_configs/apps/mycode-get-distrib.sh
  tools/run_configs/apps/mycode-install.sh
  tools/run_configs/apps/mycode-postinstall-test.sh
  tools/run_configs/apps/mycode-preinstall-test.sh
  tools/run_configs/apps/mycode-run.sh
  tools/run_configs/apps/mycode-test-manager.sh
  tools/run_configs/apps/mycode-test-worker.sh
  tools/run_configs/apps/mycode-test.sh
  tools/run_configs/components/mycode-lib-gen.sh
Due: none

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

update
  src/agilab/apps/flight_project/wenv
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

update
  src/agilab/apps/mycode_project/src/mycode/mycode.py
Due: agilab

update
  src/agilab/apps/mycode_project/src/mycode/mycode.py
  src/agilab/apps/mycode_project/src/mycode/mycode_args.py
Due: agilab

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_configs/agilab/flight-get-distrib.sh
  tools/run_configs/agilab/flight-install.sh
  tools/run_configs/agilab/mycode-get-distrib.sh
  tools/run_configs/agilab/mycode-install.sh
Due: agilab, agi-cluster

update
  src/agilab/apps/mycode_project/wenv
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_configs/agilab/flight-get-distrib.sh
  tools/run_configs/agilab/flight-install.sh
  tools/run_configs/agilab/flight-trajectory-get-distrib.sh
  tools/run_configs/agilab/flight-trajectory-install.sh
  tools/run_configs/agilab/link-sim-get-distrib.sh
  tools/run_configs/agilab/link-sim-install.sh
  tools/run_configs/agilab/mycode-get-distrib.sh
  tools/run_configs/agilab/mycode-install.sh
  tools/run_configs/agilab/sat-trajectory-get-distrib.sh
  tools/run_configs/agilab/sat-trajectory-install.sh
  tools/run_configs/agilab/sb3-trainer-get-distrib.sh
  tools/run_configs/agilab/sb3-trainer-install.sh
Due: agilab, agi-cluster

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
