Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

fix: reconcile sb3 view contracts after rebase
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
Due: agilab

docs: resync mirrored app page index
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
Due: none

fix: preserve standalone routing analysis contract
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_routing_model_comparison/README.md
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  src/agilab/resources/reuse_catalog.toml
  test/test_agi_pages_runtime.py
  test/test_app_contract_matrix.py
  test/test_app_ui.py
  test/test_view_routing_model_comparison.py
  tools/app_contract_matrix.py
Due: agilab

test: make agent redaction check path-safe
  test/test_agent_run.py
Due: none

Harden SB3 analysis-page runtime contracts (#841)
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/apps-pages/autoencoder_latentspace/src/autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/view_data_io_decision.py
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
  src/agilab/apps-pages/view_live_artifacts/src/view_live_artifacts/view_live_artifacts.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/notebook_inline.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps-pages/view_scenario_cockpit/src/view_scenario_cockpit/view_scenario_cockpit.py
  src/agilab/apps-pages/view_shap_explanation/src/view_shap_explanation/view_shap_explanation.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/lib/agi-pages/src/agi_pages/__init__.py
  src/agilab/lib/agi-pages/src/agi_pages/queue_resilience.py
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  test/test_agent_run.py
  test/test_agi_pages_runtime.py
  test/test_app_contract_matrix.py
  test/test_app_ui.py
  test/test_autoencoder_latentspace.py
  test/test_view_barycentric.py
  test/test_view_forecast_analysis.py
  test/test_view_live_artifacts.py
  test/test_view_maps.py
  test/test_view_maps_3d.py
  test/test_view_maps_network.py
  test/test_view_queue_resilience.py
  test/test_view_relay_resilience.py
  test/test_view_release_decision.py
  test/test_view_scenario_cockpit.py
  test/test_view_shap_explanation.py
  test/test_view_training_analysis.py
  tools/app_contract_matrix.py
Due: agilab

test: replace substring example gates with AST checks
  test/test_app_installer_packaging.py
Due: none

test: replace substring example gates with AST checks (#842)
  test/test_app_installer_packaging.py
Due: none

fix(cluster): make LinkSim worker deployment bootstrap-safe
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/transport_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/cli.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/core/test/test_agi_distributor_cli.py
  src/agilab/core/test/test_agi_distributor_transport_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/test/test_orchestrate_app_args_import_scope.py
Due: agilab, agi-node, agi-cluster

fix(cluster): make LinkSim worker deployment bootstrap-safe (#843)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/transport_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/cli.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/core/test/test_agi_distributor_cli.py
  src/agilab/core/test/test_agi_distributor_transport_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/test/test_orchestrate_app_args_import_scope.py
Due: agilab, agi-node, agi-cluster

fix: restore July runtime safety contracts
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  install.ps1
  install.sh
  src/agilab/apps-pages/autoencoder_latentspace/src/autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/environment/env_default_comments.py
  src/agilab/install_apps.sh
  src/agilab/lib/agi-pages/src/agi_pages/queue_resilience.py
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  test/test_agi_pages_runtime.py
  test/test_app_installer_packaging.py
  test/test_apps_pages_docs.py
  test/test_architecture_scorecard.py
  test/test_install_apps_discovery.py
  test/test_install_python_selection.py
  test/test_production_readiness_report.py
  test/test_robustness_matrix.py
  test/test_streamlit_156_adoption.py
  test/test_view_maps_network.py
  test/test_view_queue_resilience.py
  test/test_view_training_analysis.py
  tools/architecture_scorecard.py
  tools/install_enduser.sh
  tools/production_readiness_report.py
  tools/robustness_matrix.py
Due: agilab, agi-env, agi-cluster

test: normalize Windows cleanup path assertions
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
Due: agilab

fix: restore July runtime safety contracts (#844)
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  install.ps1
  install.sh
  src/agilab/apps-pages/autoencoder_latentspace/src/autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/environment/env_default_comments.py
  src/agilab/install_apps.sh
  src/agilab/lib/agi-pages/src/agi_pages/queue_resilience.py
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  test/test_agi_pages_runtime.py
  test/test_app_installer_packaging.py
  test/test_apps_pages_docs.py
  test/test_architecture_scorecard.py
  test/test_install_apps_discovery.py
  test/test_install_python_selection.py
  test/test_production_readiness_report.py
  test/test_robustness_matrix.py
  test/test_streamlit_156_adoption.py
  test/test_view_maps_network.py
  test/test_view_queue_resilience.py
  test/test_view_training_analysis.py
  tools/architecture_scorecard.py
  tools/install_enduser.sh
  tools/production_readiness_report.py
  tools/robustness_matrix.py
Due: agilab, agi-env, agi-cluster

test: tolerate transient Windows heartbeat locks
  src/agilab/core/test/test_base_worker_service_support.py
Due: agilab

test: tolerate transient Windows heartbeat locks (#845)
  src/agilab/core/test/test_base_worker_service_support.py
Due: agilab

feat: add routing decision timing export
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_view_routing_model_comparison.py
Due: agilab

fix: harden remote worker Python selection
  AGENTS.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_python_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_prepare_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

docs: generalize completion prevention contract
  AGENTS.md
Due: none

docs: enforce interruption completion checkpoints
  .claude/skills/plan-before-code/SKILL.md
  .codex/skills/plan-before-code/SKILL.md
  agenticweb.md
  agilab-capabilities.json
Due: none

fix(release): isolate built-in app test interpreter
  CHANGELOG.md
  test/test_builtin_app_tests.py
  tools/builtin_app_tests.py
Due: none

fix(release): ignore generated environments in policy gates
  test/test_coverage_badge_guard.py
  test/test_pyproject_dependency_hygiene.py
  tools/coverage_badge_guard.py
Due: none

Fix release gate environment isolation (#847)
  CHANGELOG.md
  test/test_builtin_app_tests.py
  test/test_coverage_badge_guard.py
  test/test_pyproject_dependency_hygiene.py
  tools/builtin_app_tests.py
  tools/coverage_badge_guard.py
Due: none

fix: harden runtime command paths from deep-audit findings
  pyproject.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_work_dispatcher.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-env, agi-node, agi-cluster

fix: harden runtime command paths from deep-audit findings (#848)
  pyproject.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_work_dispatcher.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-env, agi-node, agi-cluster

fix: non-destructive real-HOME test guard and shim classification
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/lifecycle_guard_support.py
  src/agilab/pipeline_workflow_insights.py
  test/conftest.py
Due: agilab, agi-cluster

fix: extend public-bind guard to non-loopback hosts and de-shell env prefixes
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-env/test/test_execution_support.py
  src/agilab/security/ui_public_bind_guard.py
  test/test_ui_pages.py
  test/test_ui_public_bind_guard.py
Due: agilab, agi-env

fix: non-destructive real-HOME test guard and shim classification (#849)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/lifecycle_guard_support.py
  src/agilab/pipeline_workflow_insights.py
  test/conftest.py
Due: agilab, agi-cluster

fix: extend public-bind guard to non-loopback hosts and de-shell env prefixes (#850)
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-env/test/test_execution_support.py
  src/agilab/security/ui_public_bind_guard.py
  test/test_ui_pages.py
  test/test_ui_public_bind_guard.py
Due: agilab, agi-env

refactor: replace ORCHESTRATE flight special-case with app args-codec hook
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/__init__.py
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/flight_args.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/__init__.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/flight_args.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_flight_telemetry_project_runtime_args.py
  test/test_orchestrate_page_helpers.py
Due: agilab

refactor: replace ORCHESTRATE flight special-case with app args-codec hook (#851)
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/__init__.py
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/flight_args.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/__init__.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/flight_args.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_flight_telemetry_project_runtime_args.py
  test/test_orchestrate_page_helpers.py
Due: agilab

refactor: align PROJECT page filenames with sidebar titles, bound URL aliases
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/UX_ROADMAP.md
  docs/source/data/release_proof.toml
  docs/source/directory-structure.txt
  docs/source/index.rst
  docs/source/release-proof.rst
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/main_page.py
  src/agilab/pages/PROJECT.py
  src/agilab/pages/PROJECT_EDITOR.py
  src/agilab/ui/page_project_selector.py
  test/test_agent_context_router.py
  test/test_deprecation_hygiene.py
  test/test_hf_space_smoke.py
  test/test_navigation_page_naming.py
  test/test_perf_smoke.py
  test/test_project_clone_policy.py
  test/test_source_clone_regression.py
  test/test_ui_pages.py
  test/test_ui_public_bind_guard.py
  tools/agilab_capabilities_manifest.py
  tools/hf_space_smoke.py
  tools/perf_smoke.py
Due: agilab

refactor: align PROJECT page filenames with sidebar titles, bound URL aliases (#852)
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/UX_ROADMAP.md
  docs/source/data/release_proof.toml
  docs/source/directory-structure.txt
  docs/source/index.rst
  docs/source/release-proof.rst
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/main_page.py
  src/agilab/pages/PROJECT.py
  src/agilab/pages/PROJECT_EDITOR.py
  src/agilab/ui/page_project_selector.py
  test/test_agent_context_router.py
  test/test_deprecation_hygiene.py
  test/test_hf_space_smoke.py
  test/test_navigation_page_naming.py
  test/test_perf_smoke.py
  test/test_project_clone_policy.py
  test/test_source_clone_regression.py
  test/test_ui_pages.py
  test/test_ui_public_bind_guard.py
  tools/agilab_capabilities_manifest.py
  tools/hf_space_smoke.py
  tools/perf_smoke.py
Due: agilab

refactor: share badge SVG renderer with escaping and proportional widths
  badges/agent-api.svg
  badges/agent-standard.svg
  badges/agent-works-with.svg
  badges/skills.svg
  tools/_badge_svg.py
  tools/generate_component_coverage_badges.py
  tools/generate_skill_badges.py
Due: none

docs: sync global-architecture diagram label-spacing fix from canonical
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/agilab_global_architecture.svg
Due: none

refactor: share badge SVG renderer with escaping and proportional widths (#853)
  badges/agent-api.svg
  badges/agent-standard.svg
  badges/agent-works-with.svg
  badges/skills.svg
  tools/_badge_svg.py
  tools/generate_component_coverage_badges.py
  tools/generate_skill_badges.py
Due: none

docs: sync global-architecture diagram label-spacing fix from canonical (#854)
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/agilab_global_architecture.svg
Due: none

docs: enforce interruption completion checkpoints
  .claude/skills/plan-before-code/SKILL.md
  .codex/skills/plan-before-code/SKILL.md
  agenticweb.md
Due: none

fix: harden remote worker Python selection (#855)
  .claude/skills/plan-before-code/SKILL.md
  .codex/skills/plan-before-code/SKILL.md
  AGENTS.md
  agenticweb.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_python_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_prepare_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster
