Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Update PyPI retention cleanup skill
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

test(release): align robot and deploy guards
  badges/coverage-agi-gui.svg
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_base_worker.py
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_action_contract.py
  tools/ui_robot_coverage_contract.py
Due: agilab

fix(release): pin vulnerable optional transitive dependencies
  pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: none

fix(release): refresh public metadata before HF proof
  .github/workflows/pypi-publish.yaml
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  test/test_pypi_publish_workflow.py
  tools/pypi_publish.py
  tools/release_plan.py
Due: none

docs(release): record successful publish run
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

ci(release): hard-fail PyPI retention cleanup
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  test/test_release_plan.py
  tools/release_plan.py
Due: none

fix(ci): keep src root out of pytest package collection
  src/__init__.py
  test/test_import_guard.py
Due: none

fix(ci): keep legacy package tests out of gui shards
  src/agilab/test/test_action_execution.py
  test/test_action_execution.py
  test/test_coverage_shard_plan.py
  test/test_python_versions.py
  tools/coverage_shard_plan.py
Due: agilab

ci: update coverage cache actions to node24
  .github/workflows/coverage.yml
  test/test_github_actions_node_runtime.py
Due: none

ci: update coverage cache actions to node24 (#189)
  .github/workflows/coverage.yml
  test/test_github_actions_node_runtime.py
Due: none

test: include evidence contract in gui coverage
  badges/coverage-agi-gui.svg
  test/test_coverage_shard_plan.py
  tools/coverage_shard_plan.py
Due: none

test: include evidence contract in gui coverage (#190)
  badges/coverage-agi-gui.svg
  test/test_coverage_shard_plan.py
  tools/coverage_shard_plan.py
Due: none

test: include pypi and chart tests in gui coverage
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_coverage_shard_plan.py
  tools/coverage_shard_plan.py
Due: none

test: include pypi and chart tests in gui coverage (#191)
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_coverage_shard_plan.py
  tools/coverage_shard_plan.py
Due: none

test: isolate barycentric fake dependencies
  test/test_view_barycentric.py
Due: none

test: isolate barycentric fake dependencies (#192)
  test/test_view_barycentric.py
Due: none

Normalize app argument forms
  src/agilab/apps/builtin/execution_pandas_project/src/app_args_form.py
  src/agilab/apps/builtin/execution_polars_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/apps/builtin/meteo_forecast_project/src/app_args_form.py
  src/agilab/apps/builtin/mission_decision_project/src/app_args_form.py
  src/agilab/apps/builtin/mycode_project/src/app_args_form.py
  src/agilab/apps/builtin/uav_queue_project/src/app_args_form.py
  src/agilab/apps/builtin/uav_relay_queue_project/src/app_args_form.py
  src/agilab/apps/builtin/weather_forecast_project/src/app_args_form.py
  src/agilab/apps/templates/dag_app_template/src/app_args_form.py
  src/agilab/apps/templates/fireducks_app_template/src/app_args_form.py
  src/agilab/apps/templates/pandas_app_template/src/app_args_form.py
  src/agilab/apps/templates/polars_app_template/src/app_args_form.py
  src/agilab/apps/templates/simple_app_template/src/app_args_form.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/app_args_form.py
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/app_args_form.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/app_args_form.py
  test/test_app_args_form_normalization.py
Due: agilab

Add built-in app args form smoke matrix
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/apps/builtin/global_dag_project/src/global_dag/__init__.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  test/test_app_args_form_normalization.py
Due: agilab

Fix main page UI performance fallback
  src/agilab/main_page.py
Due: agilab

Fix main page UI performance fallback (#195)
  src/agilab/main_page.py
Due: agilab

Add public app catalog docs
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  test/test_public_app_catalog.py
Due: none

Add public app catalog docs (#196)
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  test/test_public_app_catalog.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
