Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Test Data IO cue sheet steps (#40)
  test/test_product_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Refactor project clone action execution
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/workflow-maintainability-patterns.md
  src/agilab/action_execution.py
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_action_execution.py
  test/test_project_clone_policy.py
Due: agilab

Refactor PROJECT clone action execution
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/workflow-maintainability-patterns.md
  src/agilab/action_execution.py
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_action_execution.py
  test/test_project_clone_policy.py
Due: agilab

docs: add Data IO demo companion card
  docs/.docs_source_mirror_stamp.json
  docs/source/demo_capture_script.md
  docs/source/diagrams/agilab_data_io_2026_card.svg
  test/test_product_demo_reel.py
Due: none

chore(release): bump version to 2026.04.28.post1
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Quiet optional Pipeline startup notices
  src/agilab/pages/3_▶️ PIPELINE.py
  test/test_pipeline_page_helpers.py
Due: agilab

Refactor PROJECT rename action execution
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Filter invalid Pipeline LAB runtimes
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

Resolve Analysis builtin app selection
  src/agilab/about_page/layout.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  test/test_about_agilab_helpers.py
  test/test_analysis_page_helpers.py
Due: agilab

Refactor PROJECT delete action execution
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Refactor PROJECT export action execution
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Show benchmark delta percentage
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_support.py
Due: agilab

Refactor PROJECT import action execution
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Cover PROJECT import cleanup failure
  test/test_project_clone_policy.py
Due: none

Harden PROJECT import action execution
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Refactor PROJECT code editor actions
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Harden PROJECT clone action errors
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

Add beta readiness gate
  docs/.docs_source_mirror_stamp.json
  docs/source/beta-readiness.rst
  docs/source/index.rst
  test/test_beta_readiness.py
  tools/beta_readiness.py
Due: none

Add Data IO 2026 public demo
  .gitignore
  src/agilab/apps-pages/view_data_io_decision/README.md
  src/agilab/apps-pages/view_data_io_decision/pyproject.toml
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/__init__.py
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/view_data_io_decision.py
  src/agilab/apps/builtin/data_io_2026_project/README.md
  src/agilab/apps/builtin/data_io_2026_project/lab_steps.toml
  src/agilab/apps/builtin/data_io_2026_project/pipeline_view.dot
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/app_args_form.py
  src/agilab/apps/builtin/data_io_2026_project/src/app_settings.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/__init__.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/app_args.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/artifacts.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/data_io_2026.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/sample_data/mission_decision_demo.json
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/__init__.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/data_io_2026_worker.py
  src/agilab/apps/builtin/data_io_2026_project/src/pre_prompt.json
  test/test_data_io_2026_project.py
Due: agilab
