Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Retry MLflow setup after stale local schema reset
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pipeline_runtime.py
  test/test_pagelib.py
  test/test_pipeline_runtime.py
Due: agilab, agi-env

Fix imported pipeline snippet runtimes
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_runtime.py
  src/agilab/pipeline_steps.py
  test/test_pipeline_runtime.py
  test/test_pipeline_steps.py
Due: agilab

Fix DAG worker fallback and Linux cmake deps
  pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-node/src/agi_node/dag_worker/dag_worker.py
  src/agilab/core/test/test_dag_worker.py
Due: agilab, agi-node

Fix AGI cluster share path assumptions
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_steps.py
  test/test_pipeline_steps.py
Due: agilab

Use local core sources for builtin pages
  src/agilab/apps-pages/view_autoencoder_latenspace/pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
Due: agilab

Reset partially migrated MLflow local DBs
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pipeline_runtime.py
  test/test_pagelib.py
  test/test_pipeline_runtime.py
Due: agilab, agi-env

Add CI heartbeats for silent test steps
  .github/workflows/ci.yml
Due: none

Make GitHub CI local-policy only
  .github/workflows/ci.yml
Due: none

Remove CI concurrency for local-only policy
  .github/workflows/ci.yml
Due: none

Add dedicated coverage workflow
  .github/workflows/coverage.yml
  README.md
Due: none

Fix SB3 satellite pipeline path upgrades
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/pipeline_steps.py
  test/test_pipeline_steps.py
Due: agilab, agi-node

Make core coverage badges meaningful
  .github/workflows/coverage.yml
  codecov.yml
Due: none

Unblock stuck coverage workflow runs
  .github/workflows/coverage.yml
Due: none

Force explicit network sim mode in SB3 steps
  src/agilab/pipeline_steps.py
  test/test_pipeline_steps.py
Due: agilab
