Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Update AGILAB flight teaser audio link
  artifacts/demo_media/flight/agilab_flight.mp4
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Improve AGILAB flight teaser master quality
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Update AGILAB premium teaser YouTube URL
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Mark removed AGILAB teaser uploads
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

fix(typing): remove stale ty suppressions
  src/agilab/core/agi-env/src/agi_env/pagelib_navigation_support.py
Due: agilab, agi-env

fix(typing): remove stale ty suppressions (#244)
  src/agilab/core/agi-env/src/agi_env/pagelib_navigation_support.py
Due: agilab, agi-env

ci(release): allow asset repair after retention skip
  .github/workflows/pypi-publish.yaml
Due: none

ci(release): allow asset repair after retention skip (#245)
  .github/workflows/pypi-publish.yaml
Due: none

Clarify release proof badge scope
  README.md
  README.pypi.md
  test/test_public_demo_links.py
Due: none

docs: add parallel stage preview excerpt
  docs/.docs_source_mirror_stamp.json
  docs/source/parallel-stages.rst
  src/agilab/examples/parallel_stage/README.md
Due: agilab

test(release): cover PyPI repair retention skip
  test/test_pypi_publish_workflow.py
Due: none

test(release): cover PyPI repair retention skip (#249)
  test/test_pypi_publish_workflow.py
Due: none

chore(repo): remove checked-in demo media blobs (#247)
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

docs: backfill release feature changelog notes
  CHANGELOG.md
Due: none

perf(ui): cache PROJECT editor resources
  src/agilab/pages/1_PROJECT.py
  test/test_project_clone_policy.py
Due: agilab

fix(evidence): block export on comparison regressions
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
Due: agilab

Fix Scenario Cockpit app-scoped state
  src/agilab/apps-pages/view_scenario_cockpit/src/view_scenario_cockpit/view_scenario_cockpit.py
  test/test_view_scenario_cockpit.py
Due: agilab

Fix Queue Resilience app-scoped state
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  test/test_view_queue_resilience.py
Due: agilab

Fix Relay Resilience app-scoped state
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  test/test_view_relay_resilience.py
Due: agilab

Fix Maps Network app-scoped state
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps_network.py
Due: agilab

perf(ui): limit ORCHESTRATE log viewer rendering
  src/agilab/orchestrate_execute.py
  test/test_orchestrate_execute.py
Due: agilab

Fix View Maps app-scoped state
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_view_maps.py
Due: agilab

chore(media): keep only latest teaser upload pack
  .gitignore
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

test(apps-pages): harden page bundle contracts
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

test(apps-pages): harden page bundle contracts (#260)
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

Fix View Maps 3D app-scoped state
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

Add architecture scorecard hardening evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture-scorecard.rst
  docs/source/index.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  test/test_architecture_scorecard.py
  test/test_production_readiness_report.py
  tools/architecture_scorecard.py
  tools/production_readiness_report.py
Due: agilab, agi-cluster

Fix docs mirror stamp contents
  docs/source/diagrams/parallel_runtime_modes.svg
  docs/source/parallel-stages.rst
Due: none

Fix Barycentric app-scoped state
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  test/test_view_barycentric.py
Due: agilab
