Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Fix Windows dataset mapping stalls and record native qualification
  AGILAB_WINDOWS_NATIVE_CORE_QUALIFICATION_20261005.md
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-node

Fix Windows dataset mapping stalls and record native qualification (#1071)
  AGILAB_WINDOWS_NATIVE_CORE_QUALIFICATION_20261005.md
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-node

fix(hf): install declared demo dependencies and preserve storage rules
  test/test_hf_space_release_sync.py
  tools/hf_space_release_sync.py
Due: none

fix(hf): install declared demo dependencies and preserve storage rules (#1072)
  test/test_hf_space_release_sync.py
  tools/hf_space_release_sync.py
Due: none

docs: regenerate release manifests after final demo verification
  agenticweb.md
  agilab-capabilities.json
Due: none

docs(release): record signed 2026.10.05 native React evidence
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

docs: recommend Tokki and refresh native React snapshots
  docs/.docs_source_mirror_stamp.json
  docs/source/Agilab-Overview.svg
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-dag-inspector.png
  docs/source/_static/page-shots/workflow-dag-neighbor-groups.png
  docs/source/_static/page-shots/workflow-page.png
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/agi-core-architecture.rst
  docs/source/diagrams/agi-core-overview.svg
  docs/source/distributed-workers.rst
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/execution-playground.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
  docs/source/faq.rst
Due: none

docs: recommend Tokki and refresh native React snapshots (#1075)
  docs/.docs_source_mirror_stamp.json
  docs/source/Agilab-Overview.svg
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-dag-inspector.png
  docs/source/_static/page-shots/workflow-dag-neighbor-groups.png
  docs/source/_static/page-shots/workflow-page.png
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/agi-core-architecture.rst
  docs/source/diagrams/agi-core-overview.svg
  docs/source/distributed-workers.rst
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/execution-playground.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
  docs/source/faq.rst
Due: none

fix(ui): collapse Python tools behind the React header
  AGENTS.md
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/core-pages-overview.svg
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/data/release_proof.toml
  docs/source/edit-help.rst
  docs/source/experiment-help.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/frontend/agilab_react_contextual_tools.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.jsx
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.css
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/frontend/package.json
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.js
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.css
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  test/test_screenshot_manifest.py
Due: agilab

fix(metadata): refresh capability manifest for the UI hotfix
  agilab-capabilities.json
Due: none

fix(docs): regenerate agent discovery for the UI hotfix
  agenticweb.md
Due: none

fix(ui): open Python tools from the React header (#1076)
  AGENTS.md
  CHANGELOG.md
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/core-pages-overview.svg
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/data/release_proof.toml
  docs/source/edit-help.rst
  docs/source/experiment-help.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/frontend/agilab_react_contextual_tools.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.jsx
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.css
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/frontend/package.json
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.js
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.css
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  test/test_screenshot_manifest.py
Due: agilab

docs(release): record validated 2026.10.05.1 publication evidence
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

fix(release): require immutable tags and align verified React evaluation
  .github/workflows/pypi-publish.yaml
  CHANGELOG.md
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/strategic-potential.rst
  test/test_kpi_evidence_bundle.py
  test/test_pypi_publish_workflow.py
  test/test_release_tag_guard.py
  tools/kpi_evidence_bundle.py
  tools/release_tag_guard.py
Due: none

fix(release): group tag guard under existing release tools
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  test/test_release_tag_guard.py
  tools/release/release_tag_guard.py
Due: none

Protect connector evidence and repair GitHub coverage
  .github/actions/setup-locked-python-tools/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/root-test-suite.yml
  .github/workflows/ui-robot-matrix.yml
  .github/workflows/windows-core-tests.yml
  AGENTS.md
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/data_connectors/data_connector_facility.py
  test/test_ci_workflow.py
  test/test_controlled_pilot_readiness_report.py
  test/test_coverage_workflow.py
  test/test_data_connector_facility_report.py
  test/test_github_actions_node_runtime.py
  test/test_install_local_models.py
  tools/controlled_pilot_readiness_report.py
Due: agilab

Align offline self-extra with the root release version
  pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: none

Express installer URL checks as exact endpoint sets
  test/test_install_local_models.py
Due: none

Align generated root metadata and general coverage dependencies
  .github/workflows/coverage.yml
  agilab-capabilities.json
  test/test_ci_workflow_credential_boundaries.py
  test/test_coverage_workflow.py
Due: none

Synchronize agent discovery with the generated root6 manifest
  agenticweb.md
Due: none

docs: refresh measured coverage badges from verified CI reports
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Enforce 95 percent component coverage and test native web workflows
  .github/workflows/coverage.yml
  README.md
  badges/coverage-agi-web.svg
  codecov.yml
  src/agilab/lib/agi-web/test/test_native_http_host_lifecycle_and_request_validation.py
  src/agilab/lib/agi-web/test/test_native_public_bind_configuration_contracts.py
  src/agilab/lib/agi-web/test/test_native_view_testing_client_contracts.py
  src/agilab/lib/agi-web/test/test_notebook_python_view_lifecycle.py
  src/agilab/lib/agi-web/test/test_portable_python_host.py
  src/agilab/lib/agi-web/test/test_python_ui_rendering_and_input_contracts.py
  src/agilab/lib/agi-web/test/test_react_analysis_datetime_normalization.py
  src/agilab/lib/agi-web/test/test_react_main_interface.py
  src/agilab/lib/agi-web/test/test_session_control_validation_contracts.py
  test/test_coverage_workflow.py
  test/test_ui_pages.py
  test/test_view_barycentric.py
  test/test_view_maps_network.py
  test/test_view_release_decision.py
Due: agilab

fix(learning): reject malformed progress records before restore
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/assessment_session.py
  src/agilab/apps/builtin/learning_assessment_project/test/test_portable_assessment_installed_app.py
  test/test_learning_assessment_program_sessions.py
Due: agilab

Repair native view lifecycle and validate full install profiles
  .github/workflows/ci.yml
  src/agilab/lib/agi-web/frontend/agilab_react_native_controls_and_progress.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/frontend/package-lock.json
  src/agilab/lib/agi-web/frontend/package.json
  src/agilab/lib/agi-web/src/agi_web/python_ui.py
  src/agilab/lib/agi-web/src/agi_web/python_view_session.py
  src/agilab/lib/agi-web/src/agi_web/react_python_host.py
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  src/agilab/lib/agi-web/test/test_native_asset_generation_lifecycle.py
  src/agilab/lib/agi-web/test/test_python_script_import_context.py
  src/agilab/lib/agi-web/test/test_python_ui_rendering_and_input_contracts.py
  test/test_ci_workflow.py
  test/test_github_actions_node_runtime.py
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: agilab

Align notebook coverage profiles and materialize smoke-test data
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  test/test_ci_workflow.py
  test/test_coverage_workflow.py
  test/test_first_launch_robot.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

test: complete strict cluster coverage and align final CI evidence
  README.md
  badges/coverage-agi-gui.svg
  src/agilab/core/agi-cluster/test/test_scheduler_launch_failure_and_connection_boundaries.py
  src/agilab/core/agi-cluster/test/test_target_lease_publication_and_fsync_boundaries.py
  test/test_ci_workflow.py
Due: agilab, agi-cluster

Reduce React work for local controls and analysis selections
  README.md
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/agilab_react_analysis_components.jsx
  src/agilab/lib/agi-web/frontend/agilab_react_analysis_low_power.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_low_power_rendering.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/frontend/package.json
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis_notebook.js
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis_streamlit.js
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  tools/testing/agilab_react_main_interface_browser_smoke.py
Due: agilab

docs: align coverage badges with the complete CI dataset
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

test(settings): cover preservation of existing native credentials
  test/test_about_agilab_helpers.py
Due: none

docs(release): align published packages and builtin delivery evidence
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-native-react-ui-notebook-export.rst
  docs/source/public-app-catalog.rst
Due: none

Remove duplicate builtin R catalogue entry
  docs/.docs_source_mirror_stamp.json
  docs/source/public-app-catalog.rst
Due: none

fix(ui): preserve empty integer assessment score fields
  src/agilab/lib/agi-web/src/agi_web/python_ui.py
  src/agilab/lib/agi-web/test/test_python_ui_rendering_and_input_contracts.py
  test/test_learning_assessment_program_sessions.py
Due: agilab

Fix Plotly layout in native Jupyter widgets and prepare the same-day hotfix
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-web.rst
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  test/test_native_plotly_shadow_layout.py
  tools/workflow_parity.py
Due: agilab

Regenerate capabilities for the prepared notebook hotfix versions
  agilab-capabilities.json
Due: none

Synchronize agent discovery manifest with notebook hotfix version
  agenticweb.md
Due: none

perf(web): paginate shared web and notebook tables with low-power evidence
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-web.rst
  src/agilab/lib/agi-web/frontend/agilab_react_low_power_rendering.test.mjs
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.css
  src/agilab/lib/agi-web/frontend/agilab_react_python_host.jsx
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.css
  src/agilab/lib/agi-web/src/agi_web/react_python_host_assets/agilab_react_python_host.js
  tools/testing/agilab_native_web_low_power_benchmark.py
Due: agilab

fix(ci): sign release evidence and isolate dispatch concurrency
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/ensure-roadmap-label.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/root-test-suite.yml
  .github/workflows/windows-core-tests.yml
  CONTRIBUTING.md
  agenticweb.md
  agilab-capabilities.json
  test/test_ci_workflow.py
  test/test_create_signed_release_proof_commit.py
  test/test_pypi_publish_workflow.py
  tools/release_proof/create_signed_release_proof_commit.py
  tools/release_proof/validate_release_proof_signing.py
Due: none
