Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.4.27.post7
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix editable local core worker installs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

chore(release): bump version to 2026.4.27.post8
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix agi-gui runtime version metadata
  src/agilab/lib/agi-gui/src/agi_gui/__init__.py
  src/agilab/lib/agi-gui/test/test_agi_gui_package.py
Due: agilab

chore(release): bump version to 2026.4.27.post9
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor: add streamlit action execution pattern
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/index.md
  docs/source/roadmap/maintainability-design-patterns.md
  src/agilab/action_execution.py
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_action_execution.py
  test/test_project_clone_policy.py
Due: agilab

Refactor pipeline page state model
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_page_state.py
  test/test_pipeline_lab.py
  test/test_pipeline_page_state.py
Due: agilab

Refactor Pipeline page state model
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_page_state.py
  test/test_pipeline_lab.py
  test/test_pipeline_page_state.py
Due: agilab

Expand pipeline run controls coverage
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_pipeline_run_controls.py
Due: none

Restore coverage badges after targeted run
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Refresh aggregate coverage badge
  badges/coverage-agilab.svg
Due: none

Expand pipeline run controls coverage
  badges/coverage-agilab.svg
  test/test_pipeline_run_controls.py
Due: none

Fix Catalina validation path handling
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  src/agilab/core/test/test_base_worker_execution_support.py
  src/agilab/orchestrate_execute.py
Due: agilab, agi-env

Fix worker validation source paths
  docs/source/snippets/agi_core_mycode_minimal_run.py
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/src/agi_env/repository_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/agi-env/test/test_repository_support.py
Due: agilab, agi-env

Keep worker path fix scoped to agi-env
  docs/source/snippets/agi_core_mycode_minimal_run.py
Due: none

Fix worker validation source paths
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/src/agi_env/repository_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/agi-env/test/test_repository_support.py
Due: agilab, agi-env

Refactor Orchestrate run mode state
  .github/workflows/coverage.yml
  src/agilab/orchestrate_page_state.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_coverage_workflow.py
  test/test_orchestrate_page_state.py
  tools/workflow_parity.py
Due: agilab

Update Data IO demo reel guidance
  docs/.docs_source_mirror_stamp.json
  docs/source/demo_capture_script.md
  docs/source/roadmap/index.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  test/test_product_demo_reel.py
  tools/build_three_project_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Refactor Analysis view selection state
  .github/workflows/coverage.yml
  src/agilab/analysis_page_state.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_coverage_workflow.py
  tools/workflow_parity.py
Due: agilab

Update Data IO demo reel guidance (#38)
  docs/.docs_source_mirror_stamp.json
  docs/source/demo_capture_script.md
  docs/source/roadmap/index.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  test/test_product_demo_reel.py
  tools/build_three_project_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Sharpen Data IO demo proof points
  docs/.docs_source_mirror_stamp.json
  docs/source/demo_capture_script.md
  test/test_product_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Sharpen Data IO demo proof points (#39)
  docs/.docs_source_mirror_stamp.json
  docs/source/demo_capture_script.md
  test/test_product_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Test Data IO cue sheet steps
  test/test_product_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Test Data IO cue sheet steps (#40)
  test/test_product_demo_reel.py
  tools/capture_three_project_demo.sh
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
