Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Add optional numba tail for polars worker
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/execution_polars_worker.py
  src/agilab/apps/builtin/execution_polars_project/test/test_execution_polars_project.py
Due: agilab

perf(worker): reduce pandas typed-kernel allocations
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/execution_pandas_worker.py
  src/agilab/apps/builtin/execution_pandas_project/test/test_execution_pandas_project.py
Due: agilab

perf(worker): reduce pandas typed-kernel allocations (#290)
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/execution_pandas_worker.py
  src/agilab/apps/builtin/execution_pandas_project/test/test_execution_pandas_project.py
Due: agilab

fix(worker): provide build tools during worker builds
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Fix agi-gui coverage regressions
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  src/agilab/workflow_ui.py
  test/conftest.py
  test/test_ui_pages.py
  test/test_view_forecast_analysis.py
  test/test_view_inference_analysis.py
  test/test_view_live_artifacts.py
  test/test_view_maps_network_page_state.py
  test/test_view_release_decision.py
  test/test_view_training_analysis.py
Due: agilab

fix(worker): include source core overlays in worker builds
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
Due: agilab, agi-cluster

docs(skills): refresh AGILAB workflow guidance
  .claude/skills/agilab-example-maturity/SKILL.md
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-example-maturity/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  llms-full.txt
Due: none

docs(skills): capture worker build install regressions
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
Due: none

docs: refresh release proof CI evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

docs: add changelog accuracy guardrail
  AGENTS.md
  CHANGELOG.md
Due: none

docs(cluster): require discovery before worker recovery
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  test/test_env_contract_aliases.py
Due: none

docs(cluster): require discovery before worker recovery (#297)
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  test/test_env_contract_aliases.py
Due: none

Fix remote cluster deploy command handling
  src/agilab/cluster_flight_validation.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  test/test_cluster_flight_validation.py
Due: agilab, agi-cluster

Add hardened shared-use gate evidence
  ADOPTION.md
  README.md
  README.pypi.md
  SECURITY.md
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture-scorecard.rst
  docs/source/environment.rst
  docs/source/index.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/security-adoption.rst
  docs/source/trusted-shared-deployment.rst
  src/agilab/cluster_flight_validation.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/security_check.py
  src/agilab/ui_public_bind_guard.py
  test/test_audit_response_docs.py
  test/test_cluster_flight_validation.py
  test/test_governance_supply_chain_contract.py
  test/test_security_check.py
  test/test_shared_go_gate.py
  test/test_ui_public_bind_guard.py
  tools/architecture_scorecard.py
  tools/security_hygiene_report.py
  tools/shared_go_gate.py
  tools/workflow_parity.py
Due: agilab, agi-cluster

Add hardened shared-use gate evidence (#299)
  ADOPTION.md
  README.md
  README.pypi.md
  SECURITY.md
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture-scorecard.rst
  docs/source/environment.rst
  docs/source/index.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/security-adoption.rst
  docs/source/trusted-shared-deployment.rst
  src/agilab/cluster_flight_validation.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/security_check.py
  src/agilab/ui_public_bind_guard.py
  test/test_audit_response_docs.py
  test/test_cluster_flight_validation.py
  test/test_governance_supply_chain_contract.py
  test/test_security_check.py
  test/test_shared_go_gate.py
  test/test_ui_public_bind_guard.py
  tools/architecture_scorecard.py
  tools/security_hygiene_report.py
  tools/shared_go_gate.py
  tools/workflow_parity.py
Due: agilab, agi-cluster

Improve flight teaser reel
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
  test/test_product_demo_reel.py
  tools/build_product_demo_reel.py
Due: none

Fix dispatcher audit findings
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Fix dispatcher audit findings (#301)
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Guard AgiEnv singleton reinitialization
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/bootstrap_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Guard AgiEnv singleton reinitialization (#302)
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/bootstrap_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Add teaser voiceover sidecars
  test/test_product_demo_reel.py
  tools/build_product_demo_reel.py
Due: none

[codex] Improve flight teaser reel (#300)
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
  test/test_product_demo_reel.py
  tools/build_product_demo_reel.py
Due: none

Isolate root tests from real home
  test/conftest.py
  test/test_root_test_environment_isolation.py
Due: none

Isolate root tests from real home (#303)
  test/conftest.py
  test/test_root_test_environment_isolation.py
Due: none

Make subprocess venv paths target-platform aware
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
Due: agilab, agi-env

Make subprocess venv paths target-platform aware (#304)
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
Due: agilab, agi-env

Centralize virtualenv executable path helpers
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/agi-env/src/agi_env/execution_support.py
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-env, agi-cluster

Centralize virtualenv executable path helpers (#305)
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/agi-env/src/agi_env/execution_support.py
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-env, agi-cluster

Add local artifact clean shortcut
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_clean_local_artifacts.py
  tools/agilab_dev.py
  tools/clean_local_artifacts.py
Due: none

Add local artifact clean shortcut (#306)
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_clean_local_artifacts.py
  tools/agilab_dev.py
  tools/clean_local_artifacts.py
Due: none

Refresh page shots with workflow wording
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
Due: none

Extract deployment virtualenv helpers
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_venv_support.py
  src/agilab/core/test/test_agi_distributor_deployment_venv_support.py
Due: agilab, agi-cluster

Extract deployment virtualenv helpers (#308)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_venv_support.py
  src/agilab/core/test/test_agi_distributor_deployment_venv_support.py
Due: agilab, agi-cluster

Refresh page shots with workflow wording (#307)
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
Due: none

Optimize dispatcher optimal chunk search
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Optimize dispatcher optimal chunk search (#309)
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Centralize dispatcher bootstrap paths
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/bootstrap_source_paths.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node
