Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix MLflow server startup
  pyproject.toml
  src/agilab/core/agi-env/src/agi_env/pagelib_runtime_support.py
  src/agilab/core/agi-env/test/test_pagelib_runtime_support.py
Due: agilab, agi-env

Document public wrapper regression testing
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Forward MLflow subproc launch options
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/test/test_pagelib.py
Due: agilab, agi-env

Increase MLflow subproc wrapper coverage
  src/agilab/core/agi-env/test/test_pagelib.py
Due: agilab, agi-env

Cover strict MLflow wrapper launch options
  src/agilab/core/agi-env/test/test_pagelib.py
Due: agilab, agi-env

Add reusable Safe Action selector
  src/agilab/generated_actions.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Add reusable Safe Action selector (#459)
  src/agilab/generated_actions.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Increase UI robot command coverage
  test/test_agilab_widget_robot_matrix.py
Due: none

Populate Safe Action reuse list
  src/agilab/generated_actions.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Populate Safe Action reuse list (#461)
  src/agilab/generated_actions.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Expose PROJECT actions in sidebar
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT_STATUS.py
  test/test_page_project_selector.py
  test/test_ui_pages.py
Due: agilab

Reuse PROJECT sidebar on status page
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  test/test_page_project_selector.py
  test/test_ui_pages.py
Due: agilab

Initialize PROJECT status sidebar state
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
Due: agilab

Default PROJECT status sidebar to overview
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
Due: agilab

Move project operations to status page
  src/agilab/about_page/onboarding.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  test/test_about_agilab_helpers.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_pages.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Make PROJECT dashboard route own project operations
  src/agilab/about_page/onboarding.py
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_pages.py
  test/test_workflow_ui.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Keep PROJECT_STATUS compatibility route
  src/agilab/main_page.py
Due: agilab

Hydrate Safe Action editor templates
  src/agilab/generated_actions.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Hydrate Safe Action editor templates (#464)
  src/agilab/generated_actions.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Increase PROJECT sidebar coverage
  src/agilab/about_page/onboarding.py
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/project_sidebar_support.py
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_first_launch_robot.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  test/test_workflow_ui.py
  tools/agilab_widget_robot.py
  tools/first_launch_robot.py
Due: agilab

Increase PROJECT sidebar coverage (#465)
  src/agilab/about_page/onboarding.py
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/project_sidebar_support.py
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_first_launch_robot.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  test/test_workflow_ui.py
  tools/agilab_widget_robot.py
  tools/first_launch_robot.py
Due: agilab

Clarify project editor route
  src/agilab/about_page/onboarding.py
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/project_sidebar_support.py
  test/test_about_agilab_helpers.py
  test/test_first_launch_robot.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
  tools/first_launch_robot.py
Due: agilab

Keep project editor edit-only
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  test/test_agilab_widget_robot.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
Due: agilab

Initialize PROJECT status sidebar state (#463)
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/project_sidebar_support.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_first_launch_robot.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
  tools/first_launch_robot.py
Due: agilab

Cover project editor in UI robot matrix
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Cover PROJECT_EDITOR in UI robot matrix
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Polish PROJECT UI and bootstrap recovery
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
  docs/source/quick-start.rst
  docs/source/release-proof.rst
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/onboarding.py
  src/agilab/environment_health.py
  src/agilab/main_page.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/project_sidebar_support.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_environment_health.py
  test/test_first_launch_robot.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/first_launch_robot.py
Due: agilab

Sync docs mirror after PROJECT docs update
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
Due: none

Polish PROJECT UI and bootstrap recovery (#467)
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  docs/source/quick-start.rst
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/onboarding.py
  src/agilab/environment_health.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_environment_health.py
  test/test_first_launch_robot.py
  test/test_ui_pages.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Polish PROJECT agi-app controls and analysis labels
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline_editor.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_pipeline_lab.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
Due: agilab

Polish PROJECT agi-app controls and analysis labels (#468)
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline_editor.py
  test/test_about_agilab_helpers.py
  test/test_agilab_widget_robot.py
  test/test_pipeline_lab.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
Due: agilab

Polish project and analysis UI labels
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/project_sidebar_support.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_analysis_page_helpers.py
  test/test_page_project_selector.py
  test/test_project_sidebar_support.py
  test/test_ui_pages.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_action_contract.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Batch installed agi-app actions
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-ui-robot-validation/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-ui-robot-validation/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
  test/test_ui_robot_action_contract.py
  tools/ui_robot_action_contract.py
Due: agilab

Guard against recursive SSHFS cluster shares
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Polish PROJECT sidebar and repair Flight args
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  src/agilab/pages/1_PROJECT.py
  test/test_app_args_form_normalization.py
  test/test_ui_pages.py
Due: agilab

Refresh PROJECT docs screenshot
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
Due: none

Polish PROJECT sidebar and repair Flight args
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  src/agilab/pages/1_PROJECT.py
  test/test_app_args_form_normalization.py
  test/test_ui_pages.py
Due: agilab

Reset polluted Flight args strictly
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  test/test_app_args_form_normalization.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
