Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

docs: satisfy agent instruction contract markers
  docs/source/agent-workflows.rst
Due: none

docs: add required compact-validation and tokki markers to agent workflow
  docs/source/agent-workflows.rst
Due: none

chore(release): refresh docs mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

docs: fix apps-pages gallery and module naming contract
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/apps-pages-gallery/app_ui.svg
  docs/source/_static/apps-pages-gallery/autoencoder_latentspace.svg
  docs/source/_static/apps-pages-gallery/view_barycentric.svg
  docs/source/_static/apps-pages-gallery/view_data_io_decision.svg
  docs/source/_static/apps-pages-gallery/view_forecast_analysis.svg
  docs/source/_static/apps-pages-gallery/view_inference_analysis.svg
  docs/source/_static/apps-pages-gallery/view_live_artifacts.svg
  docs/source/_static/apps-pages-gallery/view_maps.svg
  docs/source/_static/apps-pages-gallery/view_maps_3d.svg
  docs/source/_static/apps-pages-gallery/view_maps_network.svg
  docs/source/_static/apps-pages-gallery/view_queue_resilience.svg
  docs/source/_static/apps-pages-gallery/view_relay_resilience.svg
  docs/source/_static/apps-pages-gallery/view_release_decision.svg
  docs/source/_static/apps-pages-gallery/view_routing_model_comparison.svg
  docs/source/_static/apps-pages-gallery/view_scenario_cockpit.svg
  docs/source/_static/apps-pages-gallery/view_shap_explanation.svg
  docs/source/_static/apps-pages-gallery/view_training_analysis.svg
  docs/source/apps-pages-gallery.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/app_ui/README.md
  src/agilab/apps-pages/autoencoder_latentspace/README.md
  src/agilab/apps-pages/view_barycentric/README.md
  src/agilab/apps-pages/view_data_io_decision/README.md
  src/agilab/apps-pages/view_forecast_analysis/README.md
  src/agilab/apps-pages/view_inference_analysis/README.md
  src/agilab/apps-pages/view_live_artifacts/README.md
  src/agilab/apps-pages/view_maps/README.md
  src/agilab/apps-pages/view_maps_3d/README.md
  src/agilab/apps-pages/view_maps_network/README.md
  src/agilab/apps-pages/view_queue_resilience/README.md
  src/agilab/apps-pages/view_relay_resilience/README.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_routing_model_comparison/README.md
  src/agilab/apps-pages/view_scenario_cockpit/README.md
  src/agilab/apps-pages/view_shap_explanation/README.md
  src/agilab/apps-pages/view_training_analysis/README.md
Due: agilab

chore(docs): sync docs source mirror with thales
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/core-pages-overview.svg
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/agent-workflows.rst
  docs/source/agi-distributor.rst
  docs/source/agi-page-app-ui-licenses.md
  docs/source/agilab-help.rst
  docs/source/apps-pages-help.rst
  docs/source/apps-pages.rst
  docs/source/cluster.rst
  docs/source/data/release_proof.toml
  docs/source/distributed-workers.rst
  docs/source/edit-help.rst
  docs/source/environment.rst
  docs/source/examples/flight_telemetry/AGI.install-flight-telemetry.py
  docs/source/examples/flight_telemetry/AGI.run-flight-telemetry.py
  docs/source/execute-help.rst
  docs/source/execution-playground.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/newcomer-troubleshooting.rst
  docs/source/notebook-advanced.rst
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  docs/source/quick-start.rst
  docs/source/release-proof.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  docs/source/troubleshooting.rst
Due: none

docs: align release proof for 2026.06.20
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

docs: refresh mirror stamp after release-proof update
  docs/.docs_source_mirror_stamp.json
Due: none

core: bump ui optional agi-gui pin to 2026.06.20
  pyproject.toml
Due: none

release: align optional pins with release tag 2026.06.20
  pyproject.toml
Due: none

Harden MCP reads and notebook sidecar
  src/agilab/pages/4_ANALYSIS.py
  src/agilab_mcp/manifest_tools.py
  test/test_analysis_page_helpers.py
  test/test_audience_bridges.py
Due: agilab

Fix worker cluster share root mounting
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Separate workflow data root from cluster share root
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_path_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
  src/agilab/core/test/test_base_worker_path_support.py
  src/agilab/pages/2_ORCHESTRATE.py
Due: agilab, agi-node, agi-cluster

Route share paths through workflow data root
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-env, agi-cluster

Fix worker cluster share root mounting (#671)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_path_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
  src/agilab/core/test/test_base_worker_path_support.py
  src/agilab/pages/2_ORCHESTRATE.py
Due: agilab, agi-env, agi-node, agi-cluster

Sync public docs quality cleanup
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages-gallery.rst
  docs/source/compatibility-matrix.rst
  docs/source/experiment-help.rst
Due: none

Sync public docs quality cleanup (#672)
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages-gallery.rst
  docs/source/compatibility-matrix.rst
  docs/source/experiment-help.rst
Due: none

Sync docs autodoc Polars mock
  docs/.docs_source_mirror_stamp.json
  docs/source/conf.py
Due: none

Sync docs autodoc Polars mock (#673)
  docs/.docs_source_mirror_stamp.json
  docs/source/conf.py
Due: none

Guard page-shot manifest portability
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/screenshot_manifest.json
  test/test_screenshot_manifest.py
Due: none

Guard public docs contribution path wording
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
  test/test_audit_response_docs.py
Due: none

Guard Hugging Face runtime URL docs
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  test/test_audit_response_docs.py
Due: none

Repair apps-pages docs contract tests
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages-gallery.rst
  test/test_apps_pages_docs.py
Due: none

Centralize API key placeholder detection
  src/agilab/about_page/layout.py
  src/agilab/environment/environment_health.py
  src/agilab/pipeline/pipeline_openai.py
  src/agilab/security/api_keys.py
  test/test_about_agilab_helpers.py
  test/test_environment_health.py
  test/test_pipeline_openai.py
Due: agilab

Prepare AGILAB 2026.06.23 release
  CHANGELOG.md
  pyproject.toml
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_data_io_decision/pyproject.toml
  src/agilab/apps-pages/view_forecast_analysis/pyproject.toml
  src/agilab/apps-pages/view_inference_analysis/pyproject.toml
  src/agilab/apps-pages/view_live_artifacts/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/pyproject.toml
  src/agilab/apps-pages/view_relay_resilience/pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/apps-pages/view_scenario_cockpit/pyproject.toml
  src/agilab/apps-pages/view_shap_explanation/pyproject.toml
  src/agilab/apps-pages/view_training_analysis/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-data-quality-gate/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-multi-dag/pyproject.toml
  src/agilab/lib/agi-app-pandas-execution/pyproject.toml
  src/agilab/lib/agi-app-polars-execution/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-sklearn-pipeline/pyproject.toml
  src/agilab/lib/agi-app-tescia-diagnostic/pyproject.toml
  src/agilab/lib/agi-app-uav-queue/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Add numeric UI robot coverage gate
  test/test_ui_robot_coverage_contract.py
  tools/ui_robot_coverage_contract.py
Due: none

Add numeric UI robot coverage gate (#680)
  test/test_ui_robot_coverage_contract.py
  tools/ui_robot_coverage_contract.py
Due: none

Improve UI robot layout coverage
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/ui/app_surface.py
  src/agilab/orchestrate/orchestrate_execute.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Improve UI robot layout coverage (#681)
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/ui/app_surface.py
  src/agilab/orchestrate/orchestrate_execute.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: agilab

Harden CI provider and MCP read boundaries
  src/agilab/ci/ci_provider_artifacts.py
  src/agilab_mcp/manifest_tools.py
  test/test_audience_bridges.py
  test/test_ci_provider_artifacts.py
  tools/ci_provider_artifact_index.py
Due: agilab

Expand AGILAB deep audit review axes
  .claude/skills/agilab-deep-audit/SKILL.md
  .claude/skills/agilab-deep-audit/templates/CODE_REVIEW_TEMPLATE.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-deep-audit/SKILL.md
  .codex/skills/agilab-deep-audit/templates/CODE_REVIEW_TEMPLATE.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Guard agent commit provenance
  .githooks/pre-commit
  .githooks/pre-push
  AGENTS.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  docs/source/agent-workflows.rst
  test/test_agent_commit_provenance_guard.py
  tools/agent_commit_provenance_guard.py
  tools/agent_instruction_contract.py
  tools/agent_workflows.md
  tools/agilab_capabilities_manifest.py
  tools/pre_push_changed_files.py
Due: none

Refresh docs mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

Add agent provenance guard docs diagram
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/diagrams/agent_commit_provenance_guard.svg
Due: none

Improve built-in app example quality plans
  src/agilab/apps/builtin/data_quality_gate_project/README.md
  src/agilab/apps/builtin/execution_pandas_project/README.md
  src/agilab/apps/builtin/execution_polars_project/README.md
  src/agilab/apps/builtin/flight_telemetry_project/README.md
  src/agilab/apps/builtin/minimal_app_project/README.md
  src/agilab/apps/builtin/mission_decision_project/README.md
  src/agilab/apps/builtin/multi_app_dag_project/README.md
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/apps/builtin/r_runtime_bridge_project/README.md
  src/agilab/apps/builtin/sklearn_pipeline_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/uav_queue_project/README.md
  src/agilab/apps/builtin/uav_relay_queue_project/README.md
  src/agilab/apps/builtin/weather_forecast_legacy_project/README.md
  src/agilab/apps/builtin/weather_forecast_project/README.md
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/README.md
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/README.md
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/README.md
  test/test_app_installer_packaging.py
Due: agilab

Fix data quality example artifact reference
  src/agilab/apps/builtin/data_quality_gate_project/README.md
  test/test_app_installer_packaging.py
Due: agilab

Harden AGILAB audit readiness surfaces
  CHANGELOG.md
  README.md
  README.pypi.md
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate_worker/data_quality_gate_worker.py
  src/agilab/apps/builtin/mission_decision_project/src/mission_decision_worker/mission_decision_worker.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground_worker/pytorch_playground_worker.py
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge_worker/r_runtime_bridge_worker.py
  src/agilab/apps/builtin/sklearn_pipeline_project/src/sklearn_pipeline_worker/sklearn_pipeline_worker.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/tescia_diagnostic_worker.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/uav_queue_worker.py
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/uav_relay_queue_worker.py
  src/agilab/apps/builtin/weather_forecast_legacy_project/src/weather_forecast_legacy_worker/weather_forecast_legacy_worker.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/weather_forecast_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_path_support.py
  src/agilab/core/test/test_base_worker_path_support.py
  src/agilab/data_connectors/data_connector_live_endpoint_smoke.py
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision_worker/mission_decision_worker.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pytorch_playground_worker.py
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue_worker/uav_relay_queue_worker.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/weather_forecast_worker.py
  test/test_data_connector_live_endpoint_smoke_report.py
  test/test_notebook_export_docs.py
  test/test_public_demo_links.py
Due: agilab, agi-node

Update AGILAB deep audit production prompt
  .claude/skills/agilab-deep-audit/SKILL.md
  .codex/skills/agilab-deep-audit/SKILL.md
Due: none

Capture session learning rules
  .claude/skills/agilab-deep-audit/SKILL.md
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-example-maturity/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-deep-audit/SKILL.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-example-maturity/SKILL.md
  .tokki/rules
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
