Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Add strict audit to release shortcut
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

Document audit-first release validation
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
  docs/source/roadmap/agilab-future-work.md
Due: none

Pin dataset release workflow actions
  .github/workflows/pypi-publish.yaml
Due: none

Update analysis page label regression
  test/test_ui_pages.py
Due: none

Harden Streamlit dependency bound regression
  src/agilab/core/agi-env/test/test_optional_ui_split.py
Due: agilab, agi-env

Align Streamlit runtime policy tests
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  test/test_analysis_page_helpers.py
  test/test_page_bundle_registry.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-env

Align local release cadence policy with workflow
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

Align local release cadence policy with workflow (#437)
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

Fix AGI-GUI coverage regressions
  src/agilab/pages/4_ANALYSIS.py
  test/test_about_agilab_helpers.py
  test/test_analysis_page_helpers.py
  test/test_ui_pages.py
Due: agilab

Remove wheel badge from README
  README.md
Due: none

Remove wheel badge from README (#439)
  README.md
Due: none

Fix remaining AGI-GUI coverage regressions
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  test/test_pytorch_playground_app.py
  test/test_ui_pages.py
Due: agilab

Add agi-web coverage badge
  .github/workflows/coverage.yml
  README.md
  badges/coverage-agi-web.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
  test/test_coverage_badge_guard.py
  test/test_coverage_workflow.py
  test/test_generate_component_coverage_badges.py
  tools/coverage_badge_guard.py
  tools/generate_component_coverage_badges.py
Due: none

docs: describe agi-web React-ready UI contracts
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-web.rst
  docs/source/features.rst
  docs/source/framework-api.rst
  docs/source/index.rst
  docs/source/package-publishing-policy.rst
Due: none

Relax brittle AGI-GUI coverage assertions
  test/test_pytorch_playground_app.py
  test/test_ui_pages.py
Due: none

docs: trim public README badges
  README.md
  README.pypi.md
  badges/agent-api.svg
Due: none

Increase agi-web coverage
  badges/coverage-agi-web.svg
  src/agilab/lib/agi-web/test/test_agi_web_component.py
Due: agilab

Relax PyTorch app surface load-count assertion
  test/test_pytorch_playground_app.py
Due: none

docs: hide extra badges in expander
  README.md
  README.pypi.md
  badges/agent-api.svg
Due: none

docs: hide extra README badges in expander
  README.md
  README.pypi.md
  badges/agent-api.svg
Due: none

docs: record badge hiding guidance for agents
  .claude/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-docs/SKILL.md
  AGENT_LEARNINGS.md
Due: none

Sync PyTorch app surface package payload
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
Due: agilab

Refresh coverage badges
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

chore(release): prepare 2026.06.01
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(release): cap root Python support before 3.14
  CHANGELOG.md
  pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: none

fix(release): recover nested LFS proof payloads
  test/test_source_clone_regression.py
Due: none

fix(release): allow CI tag audit checkout
  test/test_agilab_audit.py
  tools/agilab_audit.py
Due: none

fix(release): harden retention cleanup and env reset
  .github/workflows/pypi-publish.yaml
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: agilab, agi-env

fix(release): harden retention cleanup and env reset (#451)
  .github/workflows/pypi-publish.yaml
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: agilab, agi-env

docs(readme): group guardrail and coverage badges
  README.md
Due: none

docs(readme): group guardrail and coverage badges (#452)
  README.md
Due: none

chore(release): prepare 2026.06.02
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Refresh documentation page screenshots
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  test/test_agilab_widget_robot.py
  test/test_ui_visual_baseline_report.py
  tools/agilab_widget_robot.py
  tools/ui_visual_baseline_report.py
Due: none

Refresh documentation page screenshots (#454)
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.png
  docs/source/_static/page-shots/core-pages-overview.png
  docs/source/_static/page-shots/orchestrate-page.png
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.png
  test/test_agilab_widget_robot.py
  test/test_ui_visual_baseline_report.py
  tools/agilab_widget_robot.py
  tools/ui_visual_baseline_report.py
Due: none

Add pinned Safe Action workflow support
  src/agilab/generated_actions.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Increase Safe Action pin coverage
  test/test_pipeline_lab.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
