Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Update slides skill for inspection-only requests
  .claude/skills/slides/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/slides/SKILL.md
  AGENT_SKILLS.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  llms.txt
Due: none

Update slides skill for inspection-only requests (#742)
  .claude/skills/slides/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/slides/SKILL.md
  AGENT_SKILLS.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  llms.txt
Due: none

Fix UI log windows and project selector state
  src/agilab/orchestrate/orchestrate_page_helpers.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/ui/page_project_selector.py
  test/test_page_project_selector.py
  test/test_pipeline_run_controls.py
Due: agilab

Keep migrated app UI launchers visible
  src/agilab/pages/4_ANALYSIS.py
Due: agilab

[codex] Fix UI log windows and project selector state (#743)
  src/agilab/orchestrate/orchestrate_page_helpers.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/ui/page_project_selector.py
  test/test_page_project_selector.py
  test/test_pipeline_run_controls.py
Due: agilab

Fail deploy workers on unreachable nodes
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
Due: agilab

Preinstall manager before remote worker deploy
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

[codex] Fail Deploy workers on unreachable nodes (#744)
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix AGILAB marker repair and app_ui plotly dependency
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Harden Dask error handling payloads and recoverability
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service/service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_run_api.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
Due: agilab, agi-cluster

Align log window defaults to twenty lines
  src/agilab/orchestrate/orchestrate_page_helpers.py
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
Due: agilab

Rename deploy workers action label
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  src/agilab/diagnostics/runtime_failure_diagnostics.py
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/orchestrate/orchestrate_page_state.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/workflow/workflow_ui.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
  test/test_runtime_diagnostics.py
  test/test_ui_pages.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_canary.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_ui.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_canary.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Document visible action rename skill sweep
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Classify AGILAB path discovery fallback
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
Due: agilab, agi-env

[codex] Rename deploy workers action label (#746)
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/diagnostics/runtime_failure_diagnostics.py
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/orchestrate/orchestrate_page_state.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/workflow/workflow_ui.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
  test/test_runtime_diagnostics.py
  test/test_ui_pages.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_canary.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_ui.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_canary.py
  tools/ui_robot_coverage_contract.py
Due: agilab, agi-env

Standardize log widget height
  src/agilab/apps-pages/autoencoder_latentspace/src/autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_live_artifacts/src/view_live_artifacts/view_live_artifacts.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/orchestrate/orchestrate_page_helpers.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline/pipeline_lab.py
  test/test_orchestrate_execute.py
  test/test_pipeline_lab.py
Due: agilab

Document app args field consistency checks
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
Due: none

Accept code widget kwargs in test fakes
  test/test_orchestrate_execute.py
  test/test_pipeline_lab.py
Due: none

Document app args field consistency checks (#748)
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
Due: none

Standardize log widget height (#747)
  src/agilab/apps-pages/autoencoder_latentspace/src/autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_live_artifacts/src/view_live_artifacts/view_live_artifacts.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/orchestrate/orchestrate_page_helpers.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pipeline/pipeline_lab.py
  test/test_orchestrate_execute.py
  test/test_pipeline_lab.py
Due: agilab

fix workflow snippet and analysis contracts
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/pipeline/pipeline_runtime_mlflow_support.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_pipeline_runtime.py
  test/test_view_inference_analysis.py
Due: agilab

rename orchestrate workflow action
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Add workflow automation evidence manifest
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/experiment-help.rst
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/pipeline/pipeline_stages.py
  test/test_pipeline_automation.py
Due: agilab

Add workflow automation evidence manifest (#751)
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/experiment-help.rst
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/pipeline/pipeline_stages.py
  test/test_pipeline_automation.py
Due: agilab

chore(release): bump version to 2026.07.04
  pyproject.toml
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_inference_analysis/pyproject.toml
  src/agilab/apps-pages/view_live_artifacts/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): refresh 2026.07.04 proof runs
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
Due: none

Align agi-gui Streamlit contract test
  src/agilab/core/agi-env/test/test_optional_ui_split.py
Due: agilab, agi-env

Add workflow autopilot preflight
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_workflow_insights.py
  test/test_pipeline_workflow_insights.py
Due: agilab

Add workflow autopilot preflight (#754)
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_workflow_insights.py
  test/test_pipeline_workflow_insights.py
Due: agilab

Update workflow cockpit skill guidance
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Update workflow cockpit skill guidance (#755)
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Clarify dependency-aware workflow execution
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_run_controls.py
Due: agilab

docs: add external app install recipe
  README.md
Due: none

[codex] Clarify dependency-aware workflow execution (#756)
  README.md
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_run_controls.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
