Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Add stronger Tescia data scientist interview cases (#531)
  docs/.docs_source_mirror_stamp.json
  docs/source/public-app-catalog.rst
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/sample_data/tescia_diagnostic_cases.json
  src/agilab/lib/agi-app-tescia-diagnostic/README.md
  test/test_tescia_diagnostic_project.py
Due: agilab

Fix PyTorch playground audit cleanups
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  test/test_pytorch_playground_app.py
Due: agilab

Fix PyTorch playground audit cleanups (#532)
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  test/test_pytorch_playground_app.py
Due: agilab

Speed up TeSciA classroom report and worker artifact writes
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/classroom.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/tescia_diagnostic_worker.py
Due: agilab

Use core PyTorch playground config validation
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  test/test_pytorch_playground_app.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Use core PyTorch playground config validation (#533)
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/ui/playground_ui.py
  test/test_pytorch_playground_app.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Fix orchestrate dependency readiness probes
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix orchestrate dependency readiness probes (#534)
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Clarify agent bug triage runbook
  AGENTS.md
Due: none

Clarify agent bug triage runbook (#535)
  AGENTS.md
Due: none

Prepare AGILAB 2026.06.05 release readiness
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-tescia-diagnostic/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  test/test_agent_workflows.py
  tools/agent_workflows.md
  tools/demo_agentic_agilab_workflow.sh
Due: agilab, agi-cluster, agi-core

Add Tokki compact context profile
  agent-context-rules.json
  test/test_agent_context_router.py
  tools/agent_context_router.py
  tools/agent_workflows.md
Due: none

Sync analysis notebooks with project files
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/notebooks/notebook_export_support.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_pipeline_editor.py
Due: agilab

Reuse trained PyTorch playground model for landscapes
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground_worker/pytorch_playground_worker.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/domain/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pytorch_playground_worker.py
  test/test_pytorch_playground_app.py
Due: agilab

Harden agi-env audit findings
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/src/agi_env/compat/module_shim.py
  src/agilab/core/agi-env/src/agi_env/project/app_args.py
  src/agilab/core/agi-env/src/agi_env/project/app_settings_support.py
  src/agilab/core/agi-env/src/agi_env/project/data_archive_support.py
  src/agilab/core/agi-env/src/agi_env/project/worker_source_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env_execution_methods.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env_instance_initialization.py
  src/agilab/core/agi-env/src/agi_env/runtime/bootstrap_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/env_runtime_initialization_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/hook_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/installation_support.py
  src/agilab/core/agi-env/src/agi_env/source/snippet_contract.py
  src/agilab/core/agi-env/src/agi_env/ui/pagelib.py
  src/agilab/core/agi-env/src/agi_env/ui/pagelib_navigation_support.py
  src/agilab/core/agi-env/src/agi_env/ui/streamlit_args.py
  src/agilab/core/agi-env/src/agi_env/ui/ui_docs_support.py
  src/agilab/core/agi-env/test/test_agi_env_surface_contract.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
  src/agilab/core/agi-env/test/test_streamlit_args.py
Due: agilab, agi-env

Harden cluster command execution cleanup
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-node, agi-cluster

Polish AGILAB front door and cap shim debt
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/workflow-maintainability-patterns.md
  test/test_compat_shim_inventory.py
  tools/compat_shim_inventory.py
Due: none

Polish AGILAB front door and cap shim debt (#542)
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/workflow-maintainability-patterns.md
  test/test_compat_shim_inventory.py
  tools/compat_shim_inventory.py
Due: none

agilab_mcp: add agent_quickstart curated front door
  src/agilab_mcp/manifest_tools.py
  src/agilab_mcp/server.py
  test/test_audience_bridges.py
Due: agilab

Sync docs source mirror stamp
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/workflow-maintainability-patterns.md
Due: none

Document agent quickstart MCP entrypoint
  AGENTS.md
  agenticweb.md
  test/test_agenticweb_manifest.py
  test/test_audience_bridges.py
  tools/agenticweb_manifest.py
Due: none

Tighten agent quickstart docs
  AGENTS.md
  README.md
  agenticweb.md
  src/agilab_mcp/server.py
  test/test_agenticweb_manifest.py
  test/test_audience_bridges.py
  tools/agenticweb_manifest.py
Due: agilab

Increase MCP bridge coverage
  test/test_audience_bridges.py
Due: none

Ignore local generated reports
  .gitignore
Due: none

Compact dev shortcut output
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

Update testing skill for compact dev output
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Teach agents to combine execution and next move
  .claude/skills/agilab-intent-router/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-intent-router/SKILL.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Propose agent rules from session history
  .claude/skills/codex-session-learning/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/codex-session-learning/SKILL.md
  agilab-capabilities.json
  llms-full.txt
  test/test_session_intent_synthesis.py
  tools/session_intent_synthesis.py
Due: none

Compact dev shortcut output
  .claude/skills/agilab-intent-router/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .claude/skills/codex-session-learning/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-intent-router/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  .codex/skills/codex-session-learning/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  test/test_agilab_dev_shortcuts.py
  test/test_session_intent_synthesis.py
  tools/agilab_dev.py
  tools/session_intent_synthesis.py
Due: none

Generalize command chaining rule for merge requests
  .claude/skills/agilab-intent-router/SKILL.md
  .codex/skills/agilab-intent-router/SKILL.md
  AGENT_LEARNINGS.md
  test/test_session_intent_synthesis.py
  tools/session_intent_synthesis.py
Due: none

Add guarded release publish CLI shortcuts
  src/agilab/lab_run.py
  test/test_lab_run.py
Due: agilab

Add AGILAB performance validation accelerators
  test/test_agilab_dev_shortcuts.py
  test/test_performance_cache.py
  test/test_release_robustness_tools.py
  test/test_worker_env_reuse.py
  test/test_workflow_parity.py
  tools/agilab_dev.py
  tools/performance_cache.py
  tools/pypi_project_preflight.py
  tools/worker_env_reuse.py
  tools/workflow_parity.py
Due: none

Harden UI robot coverage contracts
  .github/workflows/ui-robot-matrix.yml
  AGENTS.md
  AGENT_CONVENTIONS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/core-pages-overview.svg
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/agent-workflows.rst
  docs/source/agilab-help.rst
  docs/source/distributed-workers.rst
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/execution-playground.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/agent_workflows.md
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_action_contract.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Add token-saving follow-through rule
  AGENT_LEARNINGS.md
Due: none

Harden UI robot coverage contracts (#549)
  .github/workflows/ui-robot-matrix.yml
  AGENTS.md
  AGENT_CONVENTIONS.md
  AGENT_LEARNINGS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/analysis-page.svg
  docs/source/_static/page-shots/core-pages-overview.svg
  docs/source/_static/page-shots/orchestrate-page.svg
  docs/source/_static/page-shots/project-create-page.svg
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/_static/page-shots/workflow-page.svg
  docs/source/agent-workflows.rst
  docs/source/agilab-help.rst
  docs/source/distributed-workers.rst
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/execution-playground.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/agent_workflows.md
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_action_contract.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Fix worker build argv path serialization
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node
