Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

fix(badges): show component name in coverage badge
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  test/test_generate_component_coverage_badges.py
  tools/generate_component_coverage_badges.py
Due: none

refactor(agi-env): split pagelib selection support
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/src/agi_env/pagelib_selection_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_pagelib_selection_support.py
Due: agilab, agi-env

fix(badges): rename aggregate coverage label
  README.md
  badges/coverage-agilab.svg
  test/test_generate_component_coverage_badges.py
  tools/generate_component_coverage_badges.py
Due: none

fix(node): stop swallowing worker stop hook failures
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker_service_support.py
Due: agilab, agi-node, agi-cluster

docs: tighten newcomer first-proof path
  GITHUB_REPO_POSITIONING.md
  README.md
  docs/source/index.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
Due: none

feat(tools): add shared-core strict typing gate
  AGENTS.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_misc_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/scheduler_io_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_state_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  test/test_shared_core_strict_typing.py
  test/test_workflow_parity.py
  tools/shared_core_strict_typing.py
  tools/workflow_parity.py
Due: agilab, agi-node, agi-cluster

refactor(core): expand shared strict typing slice
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  test/test_shared_core_strict_typing.py
  tools/shared_core_strict_typing.py
Due: agilab, agi-cluster

refactor(core): widen shared strict typing support slice
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/background_jobs_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/transport_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/uv_source_support.py
  test/test_shared_core_strict_typing.py
  tools/shared_core_strict_typing.py
Due: agilab, agi-cluster

refactor(core): extend strict typing to capacity support
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
  test/test_shared_core_strict_typing.py
  tools/shared_core_strict_typing.py
Due: agilab, agi-cluster

test(env,gui): raise agi-env and agi-gui coverage to 100
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_agi_env_helper_branch_sweep.py
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
  src/agilab/core/agi-env/test/test_agi_logger.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
  src/agilab/core/agi-env/test/test_installation_support.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
  src/agilab/core/agi-env/test/test_package_layout_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_pagelib_navigation_support.py
  src/agilab/core/agi-env/test/test_pagelib_runtime_support.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
  src/agilab/core/agi-env/test/test_share_mount_support.py
  src/agilab/core/agi-env/test/test_share_runtime_support.py
  src/agilab/core/agi-env/test/test_worker_runtime_support.py
  src/agilab/env_file_utils.py
  src/agilab/orchestrate_support.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_steps.py
  test/test_orchestrate_distribution.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_services.py
  test/test_orchestrate_support.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_runtime.py
  test/test_pipeline_steps.py
  test/test_view_forecast_analysis.py
  test/test_view_maps_3d.py
  test/test_view_maps_network_edge_selection.py
  test/test_view_training_analysis.py
  test/test_view_uav_queue_analysis.py
  test/test_view_uav_relay_queue_analysis.py
Due: agilab, agi-env

Improve training analysis run selection labels
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  test/test_view_training_analysis.py
Due: agilab

fix(core): make shared-core file selection deterministic
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/src/agi_env/pagelib_data_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_pagelib_data_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-env, agi-cluster

fix(review): continue determinism and service constants cleanup
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cleanup_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_state_support.py
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/src/agi_env/runtime_bootstrap_support.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
  src/agilab/core/agi-env/test/test_runtime_bootstrap_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/orchestrate_services.py
  test/test_orchestrate_services.py
Due: agilab, agi-env, agi-cluster

refactor(gui): centralize service health session keys
  src/agilab/orchestrate_services.py
  test/test_orchestrate_services.py
Due: agilab

refactor(gui): narrow helper fallback catches in analysis pages
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
  src/agilab/apps-pages/view_uav_queue_analysis/src/view_uav_queue_analysis/view_uav_queue_analysis.py
  src/agilab/apps-pages/view_uav_relay_queue_analysis/src/view_uav_relay_queue_analysis/view_uav_relay_queue_analysis.py
Due: agilab

refactor(gui): narrow edge selection path fallback
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/edge_selection.py
Due: agilab

refactor(gui): narrow training analysis settings fallbacks
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  test/test_view_training_analysis.py
Due: agilab

refactor(gui): narrow view maps helper fallbacks
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_view_maps.py
Due: agilab

feat(gui): add newcomer first-proof checklist
  NEWCOMER_ADOPTION_PLAN.md
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

refactor(gui): narrow view maps network settings fallbacks
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps_network.py
Due: agilab
