Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(gui): clarify about page navigation
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

fix(gui): drop pipeline from about first path
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

fix(gui): separate about intro from first steps
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

Allow empty selections in view_inference_analysis
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  test/test_view_inference_analysis.py
Due: agilab

docs(env): document worker python overrides
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
Due: agilab, agi-env

fix(gui): expose worker python overrides in env editor
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

refactor(gui): make start-here the only intro expander
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

fix(gui): narrow flight first-proof contract
  src/agilab/About_agilab.py
  src/agilab/apps/builtin/flight_project/README.md
  test/test_about_agilab_helpers.py
Due: agilab

feat(gui): auto-open flight default analysis view
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/pages/4_▶️ ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_ui_pages.py
Due: agilab

refactor(gui): remove start-here docs line
  src/agilab/About_agilab.py
Due: agilab

refactor(gui): remove start-here page map
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
Due: agilab

chore(skills): guard private skills and update model default
  .claude/skills/README.md
  .claude/skills/repo-skill-maintenance/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/repo-skill-maintenance/SKILL.md
  AGENTS.md
  src/agilab/core/agi-env/src/agi_env/defaults.py
  src/agilab/core/agi-env/test/test_defaults.py
Due: agilab, agi-env

refactor(gui): label worker python overrides clearly
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

Refine inference analysis heatmap layout
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  test/test_view_inference_analysis.py
Due: agilab

fix(gui): show agilab version on landing page
  src/agilab/About_agilab.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

refactor(gui): move landing version to sidebar
  src/agilab/About_agilab.py
  test/test_ui_pages.py
Due: agilab

refactor(gui): remove about docs caption
  src/agilab/About_agilab.py
Due: agilab

refactor(gui): clarify openai setup warning
  src/agilab/About_agilab.py
  test/test_ui_pages.py
Due: agilab

docs(newcomer): tighten first proof path
  docs/.docs_source_mirror_stamp.json
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
Due: none

docs(index): point directly to first proof
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
