Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Fix release commit staging for ignored builtin app paths
  tools/pypi_publish.py
Due: none

chore(release): bump version to 2026.02.18
  README.md
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Add Codex skills validator and index generator
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  tools/codex_skills.py
Due: none

Fix codex_skills robustness and generation defaults
  tools/codex_skills.py
Due: none

Apply pending updates across run configs, docs, and skills
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  tools/codex_skills.py
  tools/generate_runconfig_scripts.py
  tools/run_configs/components/builtin-flight-lib-gen.sh
  tools/run_configs/components/builtin-mycode-lib-gen.sh
Due: none

docs: regenerate html after execute/experiment help updates
  docs/html/_modules/agi_cluster/agi_distributor/agi_distributor.html
  docs/html/_modules/agi_node/agi_dispatcher/base_worker.html
  docs/html/_modules/index.html
  docs/html/_sources/execute-help.rst.txt
  docs/html/_sources/experiment-help.rst.txt
  docs/html/execute-help.html
  docs/html/experiment-help.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/module-agi-node.html
  docs/html/modules.html
  docs/html/py-modindex.html
  docs/html/search.html
  docs/html/searchindex.js
Due: none

fix zombi step after removing
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

chore(release): bump version to 2026.02.20
  README.md
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Merge latest downloaded AGENTS/SKILL and maps pages updates
  .codex/skills/agilab-docs/SKILL.md
  AGENTS.md
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

chore: apply workspace updates (secret removed)
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  pyproject.toml
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/apps/builtin/mycode_project/src/app_settings.toml
  src/agilab/install_apps.sh
Due: agilab

fix: restore valid flight args form and settings
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
Due: agilab

chore: drop IDE module churn and remove install sleeps
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  src/agilab/install_apps.sh
Due: agilab

chore: align install_apps.sh with main
  src/agilab/install_apps.sh
Due: agilab

fix: sync edit toggle state and clear stale app args form keys
  src/agilab/core/agi-env/src/agi_env/pagelib.py
Due: agilab, agi-env

fix: add agi-node dependency to maps pages
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
Due: agilab
