Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Fix agi-env test share isolation
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
Due: agilab, agi-env

Rename landing docs to main page
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-help.rst
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/newcomer-troubleshooting.rst
  docs/source/quick-start.rst
  src/agilab/about_page/__init__.py
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/env_editor.py
  src/agilab/about_page/layout.py
  src/agilab/about_page/onboarding.py
  src/agilab/first_proof_cli.py
  src/agilab/main_page.py
  src/agilab/page_bootstrap.py
  src/agilab/pages/3_WORKFLOW.py
  test/test_first_launch_robot.py
  test/test_ui_pages.py
  tools/first_launch_robot.py
  tools/newcomer_first_proof.py
Due: agilab

Guard orchestrate runtime environments
  src/agilab/about_page/layout.py
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/main_page.py
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
  test/test_pyproject_dependency_hygiene.py
  test/test_ui_pages.py
  test/test_workflow_ui.py
Due: agilab

Avoid slow orchestrate venv probes
  src/agilab/orchestrate_page_support.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
  test/test_ui_pages.py
Due: agilab

Use direct MLflow sidebar link
  src/agilab/pages/3_WORKFLOW.py
  test/test_ui_pages.py
Due: agilab

Fix orchestrate output loading UX
  src/agilab/orchestrate_execute.py
  src/agilab/pinned_expander.py
  src/agilab/pipeline_lab.py
  test/test_orchestrate_execute.py
  test/test_pinned_expander.py
  test/test_pipeline_lab.py
Due: agilab

Add flight output load regression
  test/test_orchestrate_execute.py
Due: none

detect visible UI errors in widget robot
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_full.py
  tools/agilab_widget_robot.py
Due: none

Harden widget robot selected actions
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_full.py
  tools/agilab_widget_robot.py
Due: none

harden orchestrate cluster UI checks
  src/agilab/orchestrate_cluster.py
  src/agilab/orchestrate_page_state.py
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_full.py
  test/test_orchestrate_cluster.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
  test/test_orchestrate_page_support.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
Due: agilab

document local cluster share behavior
  docs/.docs_source_mirror_stamp.json
  docs/source/cluster.rst
  docs/source/distributed-workers.rst
Due: none

catch hidden orchestrate robot failures
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_full.py
  tools/agilab_widget_robot.py
Due: none

Harden selected action UI robot failures
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Treat noisy distribution stderr as non-fatal
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Update UI action testing skills
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
Due: none

Trust distribution process result over stderr logs
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Extend widget robot error detection
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Use matching upload fixtures in widget robot
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Add UI robot matrix profile
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/workflow_parity.py
Due: none

Extend UI robot journey coverage
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: none

Add UI robot environment preflight
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none
