Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

ci: declare pinned action majors for runtime policy
  .github/workflows/coverage-badge-public-status.yml
Due: none

Add Xcode project generation for canonical AGILAB workflows
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  test/test_generate_agilab_xcode_project.py
  tools/agent_workflows.md
  tools/generate_agilab_xcode_project.py
Due: none

Account for the Xcode generator in the tools surface budget
  test/test_tools_surface_contract.py
Due: none

Add Xcode workflows from canonical AGILAB run configurations (#1055)
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  test/test_generate_agilab_xcode_project.py
  test/test_tools_surface_contract.py
  tools/agent_workflows.md
  tools/generate_agilab_xcode_project.py
Due: none

Add traced engineering assessments and Extra modules
  src/agilab/apps/builtin/learning_assessment_project/README.md
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/curriculum/engineering_course_assessments_fr_sources.json
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/classroom.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/diagnostic.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/education.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/exports.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/learning.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/sample_data/tescia_diagnostic_cases.json
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/ui/app_surface.py
  src/agilab/apps/builtin/learning_assessment_project/tools/generate_engineering_course_assessments_fr.py
  test/test_learning_assessment_education_traceability.py
  test/test_learning_assessment_project.py
Due: agilab

Preserve assessment export names and refresh capability inventory
  agilab-capabilities.json
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/sample_data/tescia_diagnostic_cases.json
  src/agilab/apps/builtin/learning_assessment_project/tools/generate_engineering_course_assessments_fr.py
Due: agilab

Regenerate capability discovery index after assessment additions
  agenticweb.md
Due: none

fix: isolate app imports and harden CLI run configurations
  AGENTS.md
  src/agilab/demos/notebook_app_runtime.py
  src/agilab/lab_run.py
  test/test_generate_runconfig_scripts.py
  test/test_lab_run.py
  test/test_notebook_app_runtime.py
  tools/generate_runconfig_scripts.py
  tools/run_configs/agilab/agilab-run-dev.sh
  tools/run_configs/agilab/agilab-run-enduser.sh
  tools/run_configs/agilab/builtin-flight-telemetry-get-distrib.sh
  tools/run_configs/agilab/builtin-flight-telemetry-install.sh
  tools/run_configs/agilab/builtin-minimal-app-get-distrib.sh
  tools/run_configs/agilab/builtin-minimal-app-install.sh
  tools/run_configs/agilab/lab-run-test.sh
  tools/run_configs/agilab/publish-dry-run-testpypi.sh
  tools/run_configs/agilab/pypi-publish.sh
  tools/run_configs/agilab/run-ssh-cmd.sh
  tools/run_configs/agilab/setup-pycharm.sh
  tools/run_configs/agilab/show-depencencies.sh
  tools/run_configs/agilab/test-pypi-publish.sh
  tools/run_configs/agilab/zip-all.sh
  tools/run_configs/apps/app-install-local.sh
  tools/run_configs/apps/app-script-gen.sh
  tools/run_configs/apps/app-test.sh
  tools/run_configs/apps/apps-pages-launcher.sh
  tools/run_configs/apps/apps-pages-smoke.sh
  tools/run_configs/apps/builtin-flight-telemetry-egg-gen.sh
  tools/run_configs/apps/builtin-flight-telemetry-postinstall-test.sh
  tools/run_configs/apps/builtin-flight-telemetry-preinstall-test.sh
  tools/run_configs/apps/builtin-flight-telemetry-run.sh
  tools/run_configs/apps/builtin-minimal-app-egg-gen.sh
  tools/run_configs/apps/builtin-minimal-app-postinstall-test.sh
  tools/run_configs/apps/builtin-minimal-app-preinstall-test.sh
  tools/run_configs/apps/builtin-minimal-app-run.sh
  tools/run_configs/components/builtin-flight-telemetry-lib-gen.sh
  tools/run_configs/components/builtin-minimal-app-lib-gen.sh
Due: agilab

fix(learning-assessment): align external programmes and grading evidence
  src/agilab/apps/builtin/learning_assessment_project/README.md
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/assessment_session.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/classroom.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/diagnostic.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/exports.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/question_assessment.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/runtime/reduction.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/ui/app_surface.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/ui/program_learning.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment_worker/learning_assessment_worker.py
  src/agilab/apps/builtin/learning_assessment_project/test/test_portable_assessment_installed_app.py
  test/test_learning_assessment_ml_landscape.py
  test/test_learning_assessment_program_sessions.py
  test/test_learning_assessment_project.py
  test/test_tescia_regression_flags.py
Due: agilab

Refresh assessment evidence schemas in the capability manifest
  agilab-capabilities.json
  src/agilab/apps/builtin/learning_assessment_project/README.md
Due: agilab

Refresh the discovery index derived from assessment capabilities
  agenticweb.md
  src/agilab/apps/builtin/learning_assessment_project/README.md
Due: agilab

Fix external programme learning and assessment evidence (#1058)
  agenticweb.md
  agilab-capabilities.json
  src/agilab/apps/builtin/learning_assessment_project/README.md
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/assessment_session.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/classroom.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/diagnostic.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/exports.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/domain/question_assessment.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/runtime/reduction.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/ui/app_surface.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment/ui/program_learning.py
  src/agilab/apps/builtin/learning_assessment_project/src/learning_assessment_worker/learning_assessment_worker.py
  src/agilab/apps/builtin/learning_assessment_project/test/test_portable_assessment_installed_app.py
  test/test_learning_assessment_ml_landscape.py
  test/test_learning_assessment_program_sessions.py
  test/test_learning_assessment_project.py
  test/test_tescia_regression_flags.py
Due: agilab

fix(notebooks): render common analysis views inline
  README.md
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/notebook_inline.py
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/notebook_inline.py
  src/agilab/apps-pages/view_maps/src/view_maps/notebook_inline.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/notebook_inline.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/notebook_inline.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/notebook_inline.py
  src/agilab/apps-pages/view_scenario_cockpit/src/view_scenario_cockpit/notebook_inline.py
  src/agilab/lib/agi-pages/src/agi_pages/queue_resilience.py
  test/test_analysis_views_notebook_inline.py
Due: agilab

test(notebooks): align export and form assertions with supported hosts
  test/test_forecast_showcase.py
  test/test_pipeline_editor.py
  test/test_text_showcase.py
  test/test_ui_pages.py
Due: none

feat(ui): share React map and analysis curves with notebooks
  AGENTS.md
  README.md
  pyproject.toml
  src/agilab/apps-pages/view_forecast_analysis/pyproject.toml
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/notebook_inline.py
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps/src/view_maps/notebook_inline.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/.gitignore
  src/agilab/lib/agi-web/frontend/agilab_react_analysis.css
  src/agilab/lib/agi-web/frontend/agilab_react_analysis_components.jsx
  src/agilab/lib/agi-web/frontend/agilab_react_analysis_notebook.jsx
  src/agilab/lib/agi-web/frontend/agilab_react_analysis_streamlit.jsx
  src/agilab/lib/agi-web/frontend/build_agilab_react_analysis.mjs
  src/agilab/lib/agi-web/frontend/package-lock.json
  src/agilab/lib/agi-web/frontend/package.json
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/lib/agi-web/src/agi_web/__init__.py
  src/agilab/lib/agi-web/src/agi_web/component.py
  src/agilab/lib/agi-web/src/agi_web/react_analysis.py
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis.LICENSE.txt
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis.css
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis_notebook.js
  src/agilab/lib/agi-web/src/agi_web/react_analysis_assets/agilab_react_analysis_streamlit.js
  src/agilab/lib/agi-web/test/test_react_analysis_components.py
  test/test_analysis_views_notebook_inline.py
  test/test_view_maps.py
  tools/agilab_react_analysis_browser_smoke.py
Due: agilab

fix(ui): align React pilot with repository guardrails
  AGENTS.md
  agenticweb.md
  agilab-capabilities.json
  src/agilab/lib/agi-web/README.md
  tools/testing/agilab_react_analysis_browser_smoke.py
Due: agilab

feat(ui): add React workspace navigation and home
  AGENTS.md
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.css
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.jsx
  src/agilab/lib/agi-web/frontend/build_agilab_react_analysis.mjs
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/lib/agi-web/src/agi_web/react_main_interface.py
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.LICENSE.txt
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.css
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.js
  src/agilab/main_page.py
  src/agilab/ui/page_project_selector.py
  src/agilab/ui/react_main_interface.py
  test/test_agilab_react_main_interface.py
  test/test_first_launch_robot.py
  test/test_ui_pages.py
  tools/first_launch_robot.py
  tools/testing/agilab_react_main_interface_browser_smoke.py
Due: agilab

Add React project overview with existing Python diagnostics and guarded navigation
  AGENTS.md
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.css
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.jsx
  src/agilab/lib/agi-web/src/agi_web/react_main_interface.py
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.css
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.js
  src/agilab/main_page.py
  src/agilab/pages/PROJECT_EDITOR.py
  src/agilab/ui/react_main_interface.py
  src/agilab/ui/react_project_workspace.py
  test/test_agilab_react_project_workspace.py
  test/test_ui_pages.py
  tools/testing/agilab_react_main_interface_browser_smoke.py
Due: agilab

feat(ui): add React analysis selection and notebook export entry
  AGENTS.md
  src/agilab/lib/agi-web/README.md
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.css
  src/agilab/lib/agi-web/frontend/agilab_react_main_interface.jsx
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.css
  src/agilab/lib/agi-web/src/agi_web/react_main_interface_assets/agilab_react_main_interface.js
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/ui/react_analysis_workspace.py
  src/agilab/ui/react_main_interface.py
  test/test_agilab_react_analysis_workspace.py
  test/test_agilab_react_main_interface.py
  test/test_ui_pages.py
  tools/testing/agilab_react_main_interface_browser_smoke.py
Due: agilab

fix(ci): declare native UI test and map dependencies
  .github/requirements/ci-lock-audit.txt
  .github/requirements/ci-publish.txt
  .github/requirements/ci-pypi-web.txt
  .github/workflows/root-test-suite.yml
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
  pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  src/agilab/test/test_pipeline_ai_sandbox_modes.py
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: agilab, agi-env

fix(hooks): use the available project interpreter for guards
  .githooks/guard_python.sh
  test/test_pre_push_changed_files.py
Due: none

fix(notebook): isolate active-loop Python views and generate full app catalog
  CHANGELOG.md
  src/agilab/lib/agi-app-minimal/README.md
  src/agilab/lib/agi-app-r-runtime-bridge/README.md
  src/agilab/lib/agi-web/src/agi_web/notebook_python_view.py
  src/agilab/lib/agi-web/src/agi_web/python_view_session.py
  src/agilab/lib/agi-web/src/agi_web/testing.py
  src/agilab/lib/agi-web/test/test_python_view_host.py
  src/agilab/lib/app_project_build_support.py
  test/test_app_installer_packaging.py
  test/test_native_python_notebook_view.py
Due: agilab

test: align fresh-clone proof with native UI integrity label
  test/test_source_clone_regression.py
Due: none

Fix notebook host context and native hosted demo payload resolution
  CHANGELOG.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-app-minimal-licenses.md
  docs/source/agi-app-r-runtime-bridge-licenses.md
  docs/source/conf.py
  docs/source/license.rst
  src/agilab/lib/agi-web/src/agi_web/notebook_python_view.py
  src/agilab/notebooks/notebook_helper_cell.py
  test/test_agilab_capabilities_manifest.py
  test/test_docs_license_inventory.py
  test/test_docs_version_label.py
  test/test_hf_space_release_sync.py
  test/test_native_python_notebook_view.py
  tools/generate_docs_license_inventories.py
  tools/hf_space_release_sync.py
Due: agilab

Refresh generated release discovery after capability update
  agenticweb.md
  test/test_agenticweb_manifest.py
  tools/agenticweb_manifest.py
Due: none

Reevaluate README ratings against native migration evidence
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/strategic-potential.rst
  test/test_kpi_evidence_bundle.py
  test/test_reduce_contract_adoption.py
  tools/kpi_evidence_bundle.py
Due: none

Resolve unpublished release dependencies from registered sources
  test/test_profile_supply_chain_scan.py
  tools/profile_supply_chain_scan.py
Due: none

Separate mandatory source regression from optional SBOM tooling
  test/test_profile_supply_chain_scan.py
Due: none

Unblock native release audits and reevaluate README ratings (#1066)
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/strategic-potential.rst
  test/test_kpi_evidence_bundle.py
  test/test_profile_supply_chain_scan.py
  test/test_reduce_contract_adoption.py
  tools/kpi_evidence_bundle.py
  tools/profile_supply_chain_scan.py
Due: none

Deliver versioned workflows, durable branch replay and notebook source roundtrips
  CHANGELOG.md
  agilab-capabilities.json
  badges/coverage-agi-gui.svg
  badges/coverage-agi-web.svg
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/native-ui/agilab_full_workflow_partial_rerun_controls_20261004.png
  docs/source/_static/native-ui/agilab_full_workflow_versioned_template_editor_20261004.png
  docs/source/agilab-native-react-ui-notebook-export.rst
  docs/source/notebook-advanced.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/roadmap/versioned-pipeline-stages.md
  src/agilab/dag/dag_operator_replay.py
  src/agilab/dag/dag_operator_ui.py
  src/agilab/dag/dag_run_engine.py
  src/agilab/main_page.py
  src/agilab/notebooks/notebook_export_support.py
  src/agilab/notebooks/notebook_import_doctor.py
  src/agilab/notebooks/notebook_pipeline_import.py
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_editor.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/pipeline/pipeline_runtime_execution_support.py
  src/agilab/pipeline/pipeline_stage_templates.py
  src/agilab/pipeline/pipeline_stages.py
  src/agilab/pipeline/pipeline_template_controls.py
  src/agilab/workflow/lab_stages_contract.py
  src/agilab/workflow/workflow_validation.py
  test/test_dag_operator_replay.py
  test/test_dag_run_engine.py
  test/test_notebook_import_preflight.py
  test/test_notebook_pipeline_import_report.py
  test/test_notebook_prerequisites.py
  test/test_notebook_source_roundtrip.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_page_helpers.py
  test/test_versioned_pipeline_stage_lifecycle.py
  tools/ui_robot_action_contract.py
Due: agilab

Deliver versioned workflows, durable branch replay and notebook source roundtrips (#1068)
  CHANGELOG.md
  agilab-capabilities.json
  badges/coverage-agi-gui.svg
  badges/coverage-agi-web.svg
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/native-ui/agilab_full_workflow_partial_rerun_controls_20261004.png
  docs/source/_static/native-ui/agilab_full_workflow_versioned_template_editor_20261004.png
  docs/source/agilab-native-react-ui-notebook-export.rst
  docs/source/notebook-advanced.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/roadmap/versioned-pipeline-stages.md
  src/agilab/dag/dag_operator_replay.py
  src/agilab/dag/dag_operator_ui.py
  src/agilab/dag/dag_run_engine.py
  src/agilab/main_page.py
  src/agilab/notebooks/notebook_export_support.py
  src/agilab/notebooks/notebook_import_doctor.py
  src/agilab/notebooks/notebook_pipeline_import.py
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_editor.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  src/agilab/pipeline/pipeline_runtime_execution_support.py
  src/agilab/pipeline/pipeline_stage_templates.py
  src/agilab/pipeline/pipeline_stages.py
  src/agilab/pipeline/pipeline_template_controls.py
  src/agilab/workflow/lab_stages_contract.py
  src/agilab/workflow/workflow_validation.py
  test/test_dag_operator_replay.py
  test/test_dag_run_engine.py
  test/test_notebook_import_preflight.py
  test/test_notebook_pipeline_import_report.py
  test/test_notebook_prerequisites.py
  test/test_notebook_source_roundtrip.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_page_helpers.py
  test/test_versioned_pipeline_stage_lifecycle.py
  tools/ui_robot_action_contract.py
Due: agilab

Align native frontend hydration checks with guided home
  .github/workflows/ci.yml
  test/test_agilab_web_robot.py
  tools/agilab_web_robot.py
Due: none

Align CI contract with native React smoke label
  test/test_ci_workflow.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
