Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Add browser page-load regression gate
  test/test_browser_page_load_trend.py
  tools/browser_page_load_trend.py
Due: none

docs: sync simplified docs quality heading
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
Due: none

Add browser page-load regression gate (#715)
  test/test_browser_page_load_trend.py
  tools/browser_page_load_trend.py
Due: none

Defer ANALYSIS reuse catalog loading
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/pages/4_ANALYSIS.py
  test/test_ui_pages.py
Due: agilab

docs: sync simplified choose lane heading
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
Due: none

Refresh ANALYSIS maintenance memory hash
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
Due: none

Refresh ANALYSIS maintenance memory hash (#719)
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
Due: none

docs: sync simplified contributor setup heading
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
Due: none

Fix page-load trend total semantics
  test/test_browser_page_load_trend.py
  test/test_ui_pages.py
  tools/browser_page_load_trend.py
Due: none

Fix pre-push spec handling and capability manifest
  .githooks/pre-push
  agilab-capabilities.json
  test/test_pre_push_changed_files.py
  tools/pre_push_changed_files.py
Due: none

Fix page-load trend total semantics
  .githooks/pre-push
  agilab-capabilities.json
  test/test_browser_page_load_trend.py
  test/test_pre_push_changed_files.py
  test/test_ui_pages.py
  tools/browser_page_load_trend.py
  tools/pre_push_changed_files.py
Due: none

Clarify macOS SSH benchmark boundary
  docs/.docs_source_mirror_stamp.json
  docs/source/execution-playground.rst
  test/test_benchmark_execution_tools.py
  tools/benchmark_execution_mode_matrix.py
Due: none

Teach merge intent router existing PR flow
  .claude/skills/agilab-intent-router/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-intent-router/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Clarify macOS SSH benchmark boundary (#722)
  docs/.docs_source_mirror_stamp.json
  docs/source/execution-playground.rst
  test/test_benchmark_execution_tools.py
  tools/benchmark_execution_mode_matrix.py
Due: none

Update deep audit benchmark boundary guidance
  .claude/skills/agilab-deep-audit/SKILL.md
  .codex/skills/agilab-deep-audit/SKILL.md
  agenticweb.md
Due: none

Update deep audit benchmark boundary guidance (#724)
  .claude/skills/agilab-deep-audit/SKILL.md
  .codex/skills/agilab-deep-audit/SKILL.md
  agenticweb.md
Due: none

Enable clean-only Tokki launch updates
  .tokki/profile
Due: none

Cache AGILAB Streamlit page runners
  src/agilab/main_page.py
  test/test_ui_pages.py
Due: agilab

Cache Streamlit page runners
  src/agilab/main_page.py
  test/test_ui_pages.py
Due: agilab

test: isolate main page navigation cache
  test/test_ui_pages.py
Due: none

Isolate main page navigation cache test
  test/test_ui_pages.py
Due: none

package: promote data quality gate app package
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/minimal-app-project.rst
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  src/agilab/app_management/pypi_app_packages.py
  src/agilab/lib/agi-apps/README.md
  src/agilab/lib/agi-apps/pyproject.toml
  tools/package_split_contract.py
Due: agilab

release: allow selected first PyPI publish audit
  .github/workflows/pypi-publish.yaml
  test/test_agilab_audit.py
  test/test_pypi_publish_workflow.py
  tools/agilab_audit.py
Due: none

Harden PyPI first-publish release flow
  .github/workflows/pypi-pending-trusted-publisher.yaml
  .github/workflows/pypi-publish.yaml
  test/test_pypi_pending_trusted_publisher.py
  test/test_pypi_publish_workflow.py
  test/test_release_robustness_tools.py
  tools/pypi_pending_trusted_publisher.py
  tools/release_handoff.py
Due: none

Fix invalid ANALYSIS app UI deep links
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Fix invalid ANALYSIS app UI deep links (#736)
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Suppress bundled capacity model version warning
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
Due: agilab, agi-cluster

Fix runtime warning cleanups
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
Due: agilab, agi-env, agi-cluster

[codex] Suppress bundled capacity model version warning (#737)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
Due: agilab, agi-env, agi-cluster

Remove stale ANALYSIS app UI links
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Remove stale ANALYSIS app UI links (#738)
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Allow WORKFLOW runs without MLflow CLI
  src/agilab/pipeline/pipeline_run_controls.py
  test/test_pipeline_run_controls.py
Due: agilab

Allow WORKFLOW runs without MLflow CLI (#739)
  src/agilab/pipeline/pipeline_run_controls.py
  test/test_pipeline_run_controls.py
Due: agilab

Filter stale ANALYSIS app UI session links
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Filter stale ANALYSIS app UI session links (#740)
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Add network sim analysis UI robot guard
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot_matrix.py
Due: none

Add network sim analysis UI robot guard (#741)
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot_matrix.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
