Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix view_maps dict-valued columns
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_view_maps.py
Due: agilab

Fix view_maps dict-valued columns (#618)
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_view_maps.py
Due: agilab

Add generic coordinate overlay example
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps/builtin/flight_telemetry_project/README.md
  src/agilab/apps/builtin/flight_telemetry_project/src/app_settings.toml
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry_worker/flight_telemetry_worker.py
  test/test_flight_telemetry_coordinate_overlay.py
  test/test_view_maps.py
Due: agilab

Refresh flight telemetry app payload
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/README.md
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_settings.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/flight_telemetry_worker.py
Due: agilab

Add generic coordinate overlay example (#619)
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps/builtin/flight_telemetry_project/README.md
  src/agilab/apps/builtin/flight_telemetry_project/src/app_settings.toml
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry_worker/flight_telemetry_worker.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/README.md
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_settings.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/flight_telemetry_worker.py
  test/test_flight_telemetry_coordinate_overlay.py
  test/test_view_maps.py
Due: agilab

Fix hosted view maps dependencies and robot coverage
  pyproject.toml
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_agilab_widget_robot_matrix.py
  test/test_package_split_contract.py
  test/test_pyproject_dependency_hygiene.py
  test/test_ui_robot_coverage_contract.py
  test/test_view_maps.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: agilab

Fix hosted view maps dependencies and robot coverage (#620)
  pyproject.toml
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  test/test_agilab_widget_robot_matrix.py
  test/test_package_split_contract.py
  test/test_pyproject_dependency_hygiene.py
  test/test_ui_robot_coverage_contract.py
  test/test_view_maps.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: agilab

Add reuse catalog suggestions
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-page-app-ui-licenses.md
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  docs/source/release-proof.rst
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/lab_run.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/resources/reuse_catalog.toml
  src/agilab/reuse_catalog.py
  test/test_analysis_page_helpers.py
  test/test_app_contract_matrix.py
  test/test_notebook_import_preflight.py
  test/test_project_clone_policy.py
  test/test_reuse_catalog.py
  tools/app_contract_matrix.py
  tools/notebook_import_preflight.py
Due: agilab

Add reuse catalog suggestions (#621)
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-page-app-ui-licenses.md
  docs/source/apps-pages.rst
  docs/source/data/release_proof.toml
  docs/source/package-publishing-policy.rst
  docs/source/public-app-catalog.rst
  docs/source/release-proof.rst
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/lab_run.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/resources/reuse_catalog.toml
  src/agilab/reuse_catalog.py
  test/test_analysis_page_helpers.py
  test/test_app_contract_matrix.py
  test/test_notebook_import_preflight.py
  test/test_project_clone_policy.py
  test/test_reuse_catalog.py
  tools/app_contract_matrix.py
  tools/notebook_import_preflight.py
Due: agilab

fix: use underscore hotfix release tags
  .github/workflows/pypi-publish.yaml
  test/test_audit_response_docs.py
  test/test_pypi_publish.py
  test/test_pypi_release_version_policy.py
  test/test_release_robustness_tools.py
  test/test_security_hygiene_report.py
  tools/pypi_publish.py
  tools/pypi_release_version_policy.py
  tools/release_handoff_guard.py
  tools/release_status.py
  tools/security_hygiene_report.py
Due: none

test: raise routing comparison coverage (#613)
  badges/coverage-agi-gui.svg
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_view_routing_model_comparison.py
Due: agilab

support root beams in view_maps_3d
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

support root beams in view_maps_3d (#622)
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

chore(release): bump version to 2026.06.16
  pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
Due: agilab

test: allow validated streamlit cap window
  test/test_pyproject_dependency_hygiene.py
Due: none

fix(release): harden supply-chain dependency floors
  pyproject.toml
  test/test_pyproject_dependency_hygiene.py
  tools/profile_supply_chain_scan.py
Due: none

Refresh agi-gui coverage badge
  badges/coverage-agi-gui.svg
Due: none

Replace broken GitHub activity badges
  README.md
  badges/commit-activity.svg
  badges/github-stars.svg
Due: none

fix(release): retry PyPI login after confirmation
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

feat(execution-pandas): expose pool executor in ORCHESTRATE
  .github/workflows/ui-robot-matrix.yml
  src/agilab/apps/builtin/execution_pandas_project/README.md
  src/agilab/apps/builtin/execution_pandas_project/src/app_args_form.py
  src/agilab/apps/builtin/execution_pandas_project/src/app_settings.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas/app_args.py
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/execution_pandas_worker.py
  src/agilab/apps/builtin/execution_pandas_project/test/test_execution_pandas_project.py
  test/test_agilab_widget_robot_matrix.py
  test/test_execution_playground_forms.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: agilab

fix(ci): clean validation warnings
  .github/workflows/coverage.yml
  test/test_builtin_app_tests.py
  test/test_coverage_workflow.py
  tools/builtin_app_tests.py
Due: none

feat(dev): add validation warning report
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_validation_warning_report.py
  tools/agilab_dev.py
  tools/validation_warning_report.py
Due: none

fix(ci): gate validation warnings
  .github/workflows/ci.yml
  .github/workflows/windows-core-tests.yml
  AGENTS.md
  pyproject.toml
  test/test_ci_workflow.py
  test/test_first_launch_robot.py
  test/test_validation_warning_report.py
  tools/first_launch_robot.py
  tools/validation_warning_report.py
Due: none

fix(ci): gate validation warnings
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/windows-core-tests.yml
  AGENTS.md
  pyproject.toml
  test/test_agilab_dev_shortcuts.py
  test/test_builtin_app_tests.py
  test/test_ci_workflow.py
  test/test_coverage_workflow.py
  test/test_first_launch_robot.py
  test/test_validation_warning_report.py
  tools/agilab_dev.py
  tools/builtin_app_tests.py
  tools/first_launch_robot.py
  tools/validation_warning_report.py
Due: none

Fix remote cluster share mode propagation
  src/agilab/cluster/cluster_flight_validation.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  test/test_cluster_flight_validation.py
Due: agilab, agi-cluster

Use local share when cluster share is unavailable
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

Add cluster workflow session paths
  docs/source/cluster.rst
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

Refresh docs mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

Increase cluster workflow session coverage
  test/test_orchestrate_cluster.py
Due: none

Stabilize coverage validation paths
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Fix Tokki model-free shortcut allowlist
  .tokki/model-free-commands
Due: none

Fix workflow session auto-selection
  docs/source/cluster.rst
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

docs: clarify coverage truth in FAQ
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
Due: none

Sync docs source mirror
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/introduction.rst
Due: none

Refresh coverage badges from current XML
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
Due: none

Update docs mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

Clarify coverage badge skill validation
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Fix warning allowlist source scoping
  test/test_validation_warning_report.py
  tools/validation_warning_report.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
