Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Repair app contract for renamed pages
  tools/app_contract_matrix.py
Due: none

Refresh docs source mirror stamp
  docs/.docs_source_mirror_stamp.json
  tools/app_contract_matrix.py
Due: none

Unblock PyPI retention on hosted runners (#598)
  .github/workflows/pypi-publish.yaml
  docs/.docs_source_mirror_stamp.json
  test/test_pypi_publish_workflow.py
  test/test_release_plan.py
  tools/app_contract_matrix.py
  tools/release_plan.py
Due: none

feat(cython): statically fold range() bounds and block values beyond Py_ssize_t
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/cython_type_preprocess.py
  src/agilab/core/test/test_cython_type_preprocess_compile.py
  test/test_cython_type_preprocess_preview.py
Due: agilab, agi-node

feat(pool): executor backend selector + forkserver process start method
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/run_request_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/worker_pool_support.py
  src/agilab/core/agi-node/src/agi_node/pandas_worker/pandas_worker.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_run_request_support.py
  src/agilab/core/test/test_worker_pool_support.py
  src/agilab/orchestrate/orchestrate_cluster.py
  src/agilab/orchestrate/orchestrate_page_state.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_cluster.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-node, agi-cluster

Add Tokki model-free dev shortcuts
  .tokki/model-free-commands
  .tokki/profile
Due: none

chore(pages): align app_ui and autoencoder page bundle naming
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-pages/src/agi_pages/__init__.py
  tools/app_contract_matrix.py
  tools/package_split_contract.py
Due: agilab

chore(pages): align app_ui and autoencoder page bundle naming
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  src/agilab/lib/agi-pages/pyproject.toml
  tools/app_contract_matrix.py
Due: agilab

test: tolerate streamlit sidebar link rendering variants
  test/test_ui_pages.py
Due: none

test: guard restricted analysis view selection
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  test/test_analysis_page_helpers.py
Due: none

release: finish 2026.06.13 preflight sweep
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-node.svg
  pyproject.toml
  src/agilab/apps-pages/templates/analysis_page_template/pyproject.toml
  src/agilab/apps/builtin/data_quality_gate_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/builtin/minimal_app_project/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/pyproject.toml
  src/agilab/apps/builtin/multi_app_dag_project/pyproject.toml
  src/agilab/apps/builtin/pytorch_playground_project/pyproject.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/pyproject.toml
  src/agilab/apps/builtin/sklearn_pipeline_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/apps/templates/simple_app_template/pyproject.toml
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_analysis_page_helpers.py
  test/test_page_bundle_registry.py
  test/test_pyproject_dependency_hygiene.py
  test/test_view_live_artifacts.py
Due: agilab, agi-env

release: bump 2026.06.13.1 hotfix versions
  pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_live_artifacts/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/apps-pages/view_training_analysis/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

release: pin agi-env preflight streamlit
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

test: tolerate active sidebar page labels
  badges/coverage-agi-node.svg
  test/test_ui_pages.py
Due: none

Clarify PyPI trusted publishing token provenance
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_pypi_trusted_publisher_contract.py
  tools/pypi_trusted_publisher_contract.py
Due: none

Clarify PyPI trusted publishing token provenance (#605)
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_pypi_trusted_publisher_contract.py
  tools/pypi_trusted_publisher_contract.py
Due: none

Add release evidence to UI robot matrix
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Improve benchmark result summary UX
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix example packaging pollution guards
  src/agilab/lib/app_project_build_support.py
  test/test_app_installer_packaging.py
Due: agilab

Add release evidence to UI robot matrix (#606)
  .github/workflows/ui-robot-matrix.yml
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Improve benchmark result summary UX (#607)
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix example packaging pollution guards (#608)
  src/agilab/lib/app_project_build_support.py
  test/test_app_installer_packaging.py
Due: agilab

Fix agi-env subprocess output capture
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
  src/agilab/core/agi-env/test/test_execution_support.py
Due: agilab, agi-env

Fix agi-env subprocess output capture (#609)
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/execution_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
  src/agilab/core/agi-env/test/test_execution_support.py
Due: agilab, agi-env

Clarify AGILAB golden ML loop
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/introduction.rst
Due: none

docs: restore mirrored pypi policy text
  docs/source/package-publishing-policy.rst
Due: none

release: offload real pypi uploads
  docs/source/package-publishing-policy.rst
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

Offload real PyPI uploads to trusted workflow
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

Fix service health skill validation command
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
Due: none

Fix service health skill validation command (#612)
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
Due: none

chore(release): bump version to 2026.06.14.1
  CHANGELOG.md
  agenticweb.md
  agilab-capabilities.json
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_live_artifacts/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/apps-pages/view_training_analysis/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix: allow pypi retention runner override
  .github/workflows/pypi-release-retention.yaml
Due: none

fix: support local pypi retention cleanup credentials
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

fix: harden pypi release retention cleanup
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .github/workflows/pypi-release-retention.yaml
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

test: raise routing comparison coverage
  badges/coverage-agi-gui.svg
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_view_routing_model_comparison.py
Due: agilab

fix: expose orchestrate pool parameters
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

fix: expose orchestrate pool parameters (#616)
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

test: cover orchestrate pool controls in UI robots
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_pages.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
Due: none

test: cover orchestrate pool controls in UI robots (#617)
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_pages.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
Due: none
