Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix FireducksWorker work_done
  src/agilab/core/agi-node/src/agi_node/fireducks_worker/fireducks_worker.py
Due: agilab, agi-node

AgiEnv: de-duplicate cluster share warning
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

Test: dedupe cluster share warning
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

EXPERIMENT: rename Ollama engine and improve defaults
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

Docs: update offline assistant wording
  .gitignore
Due: none

Docs: update offline assistant wording
  .gitignore
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_sources/introduction.rst.txt
  docs/html/architecture.html
  docs/html/directory-structure.html
  docs/html/introduction.html
  docs/html/searchindex.js
Due: none

Fix installer and packaging for repo root
  MANIFEST.in
  install.sh
  pyproject.toml
Due: none

Ignore generated builtin app configs
  .gitignore
Due: none

Fail fast when app worker is missing
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
Due: agilab, agi-cluster

Improve app install error when pyproject missing
  src/agilab/apps/install.py
Due: agilab

Avoid copytree self-copy warning
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

Default app picker selection
  src/agilab/install_apps.ps1
  src/agilab/install_apps.sh
Due: agilab

Fix dataset seeding for link_sim
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/install_apps.sh
Due: agilab, agi-env, agi-node, agi-cluster

Prefer sat_trajectory data for link_sim
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
Due: agilab, agi-node, agi-cluster

Link link_sim sat folder to avoid duplicates
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
Due: agilab, agi-node

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
