Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

chore: align agi-node coverage badge with CI
  badges/coverage-agi-node.svg
Due: none

fix(packaging): harden packaged first proof release
  MANIFEST.in
  pyproject.toml
  setup.py
  src/agilab/apps/install.py
  test/test_app_installer_packaging.py
  test/test_first_proof_cli.py
  test/test_package_wheel_sanitizer.py
  test/test_pypi_publish.py
  tools/package_wheel_sanitizer.py
  tools/pypi_publish.py
Due: agilab

chore(release): bump version to 2026.04.28.post4
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore: refresh agi-node coverage badge
  badges/coverage-agi-node.svg
Due: none

ci: guard badge-only coverage updates
  badges/coverage-agi-node.svg
  test/test_coverage_badge_guard.py
  tools/coverage_badge_guard.py
Due: none

test: tighten HF Space and reduce guards
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/__init__.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/reduction.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/data_io_2026_worker.py
  test/test_data_io_2026_project.py
  test/test_hf_space_smoke.py
  test/test_kpi_evidence_bundle.py
  test/test_reduce_contract_adoption.py
  tools/hf_space_smoke.py
  tools/kpi_evidence_bundle.py
Due: agilab

chore(release): bump version to 2026.04.28.post5
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs: add first-proof adoption maintenance path
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
  docs/source/roadmap/workflow-maintainability-patterns.md
Due: none

Increase first-proof CLI coverage
  .github/workflows/coverage.yml
  badges/coverage-agi-node.svg
  test/test_first_proof_cli.py
  tools/workflow_parity.py
Due: none

docs: align README and quick-start package guidance
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/quick-start.rst
Due: none

Record pipeline run completion through command state
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_page_state.py
  test/test_pipeline_lab.py
  test/test_pipeline_page_state.py
Due: agilab

Validate packaged AGI example scripts
  src/agilab/examples/flight/AGI_install_flight.py
  test/test_app_installer_packaging.py
Due: agilab

Add packaged examples for public demo apps
  src/agilab/examples/data_io_2026/AGI_install_data_io_2026.py
  src/agilab/examples/data_io_2026/AGI_run_data_io_2026.py
  src/agilab/examples/meteo_forecast/AGI_install_meteo_forecast.py
  src/agilab/examples/meteo_forecast/AGI_run_meteo_forecast.py
Due: agilab

Streamline pipelined skill validation
  .claude/skills/agilab-testing/SKILL.md
  .claude/skills/repo-skill-maintenance/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  .codex/skills/repo-skill-maintenance/SKILL.md
Due: none

Harden PyPI release publication guard
  badges/coverage-agi-node.svg
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

docs(skills): document PyPI release cleanup option
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-runbook/SKILL.md
Due: none

chore(release): bump version to 2026.04.29.post1
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Document packaged public examples
  src/agilab/examples/README.md
  src/agilab/examples/data_io_2026/README.md
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/flight/README.md
  src/agilab/examples/meteo_forecast/README.md
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/examples/mycode/README.md
  test/test_app_installer_packaging.py
Due: agilab

Harden pipeline and sidebar runtime flows
  src/agilab/about_page/layout.py
  src/agilab/orchestrate_execute.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_openai.py
  src/agilab/pipeline_page_state.py
  test/test_about_agilab_helpers.py
  test/test_orchestrate_execute.py
  test/test_pipeline_openai.py
  test/test_pipeline_page_state.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
