Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Add data artifact lane contract
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/capability-map.rst
  docs/source/data-connectors.rst
  test/test_agilab_capabilities_manifest.py
  test/test_data_artifact_lane_contract.py
  tools/agilab_capabilities_manifest.py
  tools/data_artifact_lane_contract.py
Due: none

Add agent instruction evidence snapshot
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  test/test_agent_instruction_contract.py
  tools/agent_instruction_contract.py
  tools/agent_workflows.md
Due: none

Add regulatory readiness report
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/capability-map.rst
  docs/source/index.rst
  docs/source/regulatory-readiness.rst
  test/test_agilab_capabilities_manifest.py
  test/test_capability_map_docs.py
  test/test_regulatory_readiness_report.py
  tools/agilab_capabilities_manifest.py
  tools/regulatory_readiness_report.py
Due: none

Add agent correction ledger
  AGENTS.md
  AGENT_CONVENTIONS.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  test/test_agilab_capabilities_manifest.py
  tools/agent_instruction_contract.py
  tools/agent_workflows.md
  tools/agilab_capabilities_manifest.py
  tools/workflow_parity.py
Due: none

chore(release): prepare 2026.05.31.post1
  CHANGELOG.md
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
  src/agilab/supply_chain_attestation.py
  test/test_release_robustness_tools.py
  test/test_supply_chain_attestation_report.py
  tools/pypi_project_preflight.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

ci(release): fetch tags for impact release plan
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
Due: none

fix(release): support package-scoped status checks
  test/test_release_robustness_tools.py
  tools/release_status.py
Due: none

docs(skills): record package-scoped release verification
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-release-verification/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Allow Streamlit 1.58 across AGILAB manifests
  .github/dependabot.yml
  pyproject.toml
  src/agilab/apps-pages/templates/analysis_page_template/pyproject.toml
  src/agilab/apps/builtin/data_quality_gate_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/builtin/minimal_app_project/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/pyproject.toml
  src/agilab/apps/builtin/multi_app_dag_project/pyproject.toml
  src/agilab/apps/builtin/pytorch_playground_project/pyproject.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/pyproject.toml
  src/agilab/apps/builtin/sklearn_pipeline_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/apps/templates/simple_app_template/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_analysis_page_helpers.py
  test/test_page_bundle_registry.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab

Ignore stale local app debris in revision traceability
  src/agilab/revision_traceability.py
  test/test_revision_traceability_report.py
Due: agilab

Allow Streamlit 1.58 runtime validation
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/src/fireducks_app/fireducks_app.py
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/src/pandas_app/pandas_app.py
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/src/polars_app/polars_app.py
  src/agilab/code_editor_component.py
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-env/src/agi_env/data_archive_support.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/orchestrate_execute.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_lab.py
  test/test_ui_pages.py
Due: agilab, agi-env, agi-node

Cover ORCHESTRATE install-to-run gating
  test/test_orchestrate_page_helpers.py
Due: none

docs(runbook): require root-cause regression fixes
  AGENTS.md
Due: none

docs(runbook): add factorization guardrail
  AGENTS.md
Due: none

docs(runbook): strengthen fix validation rules
  AGENTS.md
Due: none

docs(runbook): clarify change reporting coverage
  AGENTS.md
Due: none

Fix ORCHESTRATE direct run readiness
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  test/test_ui_pages.py
Due: agilab

Add UI robot coverage for direct run readiness
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
Due: none

Raise agi-gui coverage to 99 percent
  .coveragerc.agi-gui
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  src/agilab/lib/agi-web/test/test_agi_web_component.py
  test/test_code_editor_support.py
  test/test_coverage_shard_plan.py
  test/test_lightning_evidence.py
  test/test_pytorch_playground_app.py
  test/test_run_markdown_evidence.py
  test/test_run_storyboard.py
  test/test_ui_pages.py
  test/test_ui_public_bind_guard.py
  test/test_untrusted_content_boundary.py
  test/test_workflow_validation.py
  tools/coverage_shard_plan.py
Due: agilab

Refine project and analysis cockpit UX
  README.md
  README.pypi.md
  agilab-capabilities.json
  src/agilab/apps/builtin/pytorch_playground_project/src/app_args_form.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_args.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/environment_health.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/app_args_form.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/__init__.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_args.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/main_page.py
  src/agilab/page_bootstrap.py
  src/agilab/page_project_selector.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_analysis_page_helpers.py
  test/test_environment_health.py
  test/test_hf_space_smoke.py
  test/test_pytorch_playground_app.py
  test/test_ui_pages.py
  test/test_workflow_ui.py
  tools/agilab_capabilities_manifest.py
  tools/hf_space_smoke.py
Due: agilab

Ignore local workspace dirs in app contracts
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

Update agent runbook and skill guardrails
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Fix analysis view selection sync
  src/agilab/main_page.py
  src/agilab/page_bootstrap.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_about_agilab_helpers.py
  test/test_analysis_page_helpers.py
  test/test_ui_pages.py
Due: agilab

Hide internal AgiEnv switch errors
  src/agilab/about_page/bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

Allow latest Streamlit 1.x
  pyproject.toml
  src/agilab/apps-pages/templates/analysis_page_template/pyproject.toml
  src/agilab/apps/builtin/data_quality_gate_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/builtin/minimal_app_project/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/pyproject.toml
  src/agilab/apps/builtin/multi_app_dag_project/pyproject.toml
  src/agilab/apps/builtin/pytorch_playground_project/pyproject.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/pyproject.toml
  src/agilab/apps/builtin/sklearn_pipeline_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/apps/templates/simple_app_template/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab

Move PyTorch Playground controls to sidebar
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
Due: agilab

Split dataset release assets from code release
  .github/workflows/pypi-publish.yaml
  test/test_dataset_release_assets.py
  test/test_pypi_publish_workflow.py
  tools/dataset_release_assets.py
  tools/release_plan.py
Due: none

Split dataset release assets from code release (#429)
  .github/workflows/pypi-publish.yaml
  test/test_dataset_release_assets.py
  test/test_pypi_publish_workflow.py
  tools/dataset_release_assets.py
  tools/release_plan.py
Due: none

Fix PyTorch Playground sidebar rendering
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
Due: agilab

Render PyTorch Playground analysis inline
  src/agilab/apps/builtin/pytorch_playground_project/src/app_settings.toml
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/app_settings.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/pages/4_ANALYSIS.py
Due: agilab

Isolate PyTorch analysis sidebar surface
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  AGENTS.md
  src/agilab/apps/builtin/pytorch_playground_project/src/app_settings.toml
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/app_settings.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_pytorch_playground_app.py
  test/test_ui_pages.py
Due: agilab

Fix analysis sidebar app surface labels
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  agilab-capabilities.json
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/page_bootstrap.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/workflow_ui.py
  test/test_ui_pages.py
  test/test_view_maps.py
  test/test_workflow_ui.py
Due: agilab

Increase UI robot analysis coverage
  src/agilab/lib/agi-gui/src/agi_gui/file_picker.py
  src/agilab/lib/agi-gui/test/test_file_picker.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_ui.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Tighten analysis sidebar robot coverage
  src/agilab/pages/4_ANALYSIS.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Update release skills for dataset assets
  .claude/skills/agilab-evidence-contracts/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-evidence-contracts/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Document screenshot refresh in docs workflow
  .claude/skills/agilab-docs/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-docs/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
