Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

fix(cluster): accept proven shutdown after retirement delay (#912)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

fix(cluster): isolate manager MLflow handoffs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/manager_mlflow_support.py
  src/agilab/core/agi-cluster/test/test_manager_mlflow_support.py
Due: agilab, agi-cluster

fix(installer): enforce declared dependency installation
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/import_layout_support.py
  src/agilab/core/agi-env/test/test_import_layout_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-env, agi-cluster

fix(installer): enforce declared dependency installation (#915)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/import_layout_support.py
  src/agilab/core/agi-env/test/test_import_layout_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-env, agi-cluster

fix(orchestrate): expose safe manager editable imports
  src/agilab/app_management/app_surface.py
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/src/agi_env/runtime/import_layout_support.py
  src/agilab/core/agi-env/src/agi_env/ui/sidecar_registry.py
  src/agilab/core/agi-env/test/test_import_layout_support.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_app_surface.py
  test/test_app_ui.py
  test/test_ui_pages.py
Due: agilab, agi-env

docs(maintenance): reverify analysis import isolation
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
Due: none

fix(agi-env): preserve upper-layer independence
  src/agilab/core/agi-env/src/agi_env/runtime/import_layout_support.py
  src/agilab/core/agi-env/test/test_import_layout_support.py
Due: agilab, agi-env

fix(orchestrate): load safe editable manager dependencies (#916)
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/app_management/app_surface.py
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/src/agi_env/runtime/import_layout_support.py
  src/agilab/core/agi-env/src/agi_env/ui/sidecar_registry.py
  src/agilab/core/agi-env/test/test_import_layout_support.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_app_surface.py
  test/test_app_ui.py
  test/test_ui_pages.py
Due: agilab, agi-env

docs(svg): sync top-quality diagram pass from canonical
  docs/.docs_source_mirror_stamp.json
  docs/source/AI-Problematic.svg
  docs/source/Agilab-Overview.svg
  docs/source/diagrams/agent_commit_provenance_guard.svg
  docs/source/diagrams/agilab_mission_decision_card.svg
  docs/source/diagrams/agilab_pages.svg
  docs/source/diagrams/agilab_readme_tour.svg
  docs/source/diagrams/agilab_social_card.svg
  docs/source/diagrams/app_manager_worker.svg
  docs/source/diagrams/dag_dual_concept.svg
  docs/source/diagrams/execution_mode_families.svg
  docs/source/diagrams/parallel_runtime_modes.svg
  docs/source/diagrams/pipeline_mlflow_tracking.svg
  docs/source/diagrams/repo_split.svg
  docs/source/diagrams/same_api_local_vs_distributed.svg
  docs/source/needs-algos-set.svg
Due: none

docs(svg): sync top-quality diagram pass from canonical (#917)
  docs/.docs_source_mirror_stamp.json
  docs/source/AI-Problematic.svg
  docs/source/Agilab-Overview.svg
  docs/source/diagrams/agent_commit_provenance_guard.svg
  docs/source/diagrams/agilab_mission_decision_card.svg
  docs/source/diagrams/agilab_pages.svg
  docs/source/diagrams/agilab_readme_tour.svg
  docs/source/diagrams/agilab_social_card.svg
  docs/source/diagrams/app_manager_worker.svg
  docs/source/diagrams/dag_dual_concept.svg
  docs/source/diagrams/execution_mode_families.svg
  docs/source/diagrams/parallel_runtime_modes.svg
  docs/source/diagrams/pipeline_mlflow_tracking.svg
  docs/source/diagrams/repo_split.svg
  docs/source/diagrams/same_api_local_vs_distributed.svg
  docs/source/needs-algos-set.svg
Due: none

feat(project): add development KPI summary
  src/agilab/pages/PROJECT_EDITOR.py
  test/test_agilab_widget_robot_matrix.py
  test/test_project_clone_policy.py
  test/test_ui_pages.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_coverage_contract.py
Due: agilab

docs: mirror project development KPI evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-page.png
  docs/source/_static/page-shots/project-page.svg
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/edit-help.rst
Due: none

chore(tokki): route the read-only validation surface model-free
  .tokki/model-free-commands
  AGENTS.md
Due: none

fix(ui): recover stale runtime symbols without restart
  src/agilab/app_management/app_surface.py
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/src/agi_env/runtime/hot_source_support.py
  src/agilab/core/agi-env/test/test_hot_source_support.py
  src/agilab/security/import_guard.py
  test/test_app_surface.py
  test/test_app_ui.py
  test/test_import_guard.py
Due: agilab, agi-env

docs(diagrams): replace broken pyreverse package views with curated maps
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/packages_agi_distributor.svg
  docs/source/diagrams/packages_agi_env.svg
  docs/source/diagrams/packages_flight_telemetry.svg
  docs/source/diagrams/packages_flight_telemetry_worker.svg
  docs/source/diagrams/packages_minimal_app.svg
  docs/source/diagrams/packages_minimal_app_worker.svg
  test/test_render_package_maps.py
  tools/render_package_maps.py
Due: none

chore(tokki): route the read-only validation surface model-free (#919)
  .tokki/model-free-commands
  AGENTS.md
Due: none

fix(ui): recover stale runtime symbols without restart (#918)
  src/agilab/app_management/app_surface.py
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/src/agi_env/runtime/hot_source_support.py
  src/agilab/core/agi-env/test/test_hot_source_support.py
  src/agilab/security/import_guard.py
  test/test_app_surface.py
  test/test_app_ui.py
  test/test_import_guard.py
Due: agilab, agi-env

docs(diagrams): replace broken pyreverse package views with curated maps (#920)
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/packages_agi_distributor.svg
  docs/source/diagrams/packages_agi_env.svg
  docs/source/diagrams/packages_flight_telemetry.svg
  docs/source/diagrams/packages_flight_telemetry_worker.svg
  docs/source/diagrams/packages_minimal_app.svg
  docs/source/diagrams/packages_minimal_app_worker.svg
  test/test_render_package_maps.py
  tools/render_package_maps.py
Due: none

docs(diagrams): refresh agi-env map for the new hot-source module
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/packages_agi_env.svg
Due: none

docs(diagrams): refresh agi-env map for the new hot-source module (#921)
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/packages_agi_env.svg
Due: none

test(dag): pin the invariants that make the multi-app DAG demo multi-app
  test/test_dag_multi_app_invariants.py
Due: none

test(dag): pin the invariants that make the multi-app DAG demo multi-app (#922)
  test/test_dag_multi_app_invariants.py
Due: none

docs(svg): mirror diagram bounds and typography fixes
  docs/source/Agilab-Overview.svg
  docs/source/diagrams/agilab_global_architecture.svg
  docs/source/diagrams/agilab_readme_tour.svg
  docs/source/diagrams/agilab_social_card.svg
  docs/source/diagrams/codex_skills/agilab_case.svg
  docs/source/diagrams/codex_skills/compare_tools.svg
  docs/source/diagrams/codex_skills/flow.svg
  docs/source/diagrams/codex_skills/folders.svg
  docs/source/diagrams/codex_skills/governance.svg
  docs/source/diagrams/codex_skills/layers.svg
  docs/source/diagrams/codex_skills/multi_provider.svg
  docs/source/diagrams/codex_skills/productivity_gain.svg
  docs/source/diagrams/codex_skills/story.svg
  docs/source/diagrams/codex_skills/when_to_use.svg
  docs/source/diagrams/parallel_runtime_modes.svg
  docs/source/diagrams/pipeline_example.svg
  docs/source/diagrams/same_api_local_vs_distributed.svg
  docs/source/logo/agi_logo.svg
Due: none

docs(diagrams): harden generators and refresh outputs [skip ci]
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/classes_agi_distributor.svg
  docs/source/diagrams/classes_agi_env.svg
  docs/source/diagrams/classes_agi_node.svg
  docs/source/diagrams/classes_dag_worker.svg
  docs/source/diagrams/classes_flight_telemetry.svg
  docs/source/diagrams/classes_flight_telemetry_args.svg
  docs/source/diagrams/classes_flight_telemetry_worker.svg
  docs/source/diagrams/classes_minimal_app.svg
  docs/source/diagrams/classes_minimal_app_args.svg
  docs/source/diagrams/classes_minimal_app_worker.svg
  docs/source/diagrams/classes_pandas_worker.svg
  docs/source/diagrams/classes_polars_worker.svg
  docs/source/diagrams/packages_agi_distributor.svg
  docs/source/diagrams/packages_agi_env.svg
  docs/source/diagrams/packages_agi_node.svg
  docs/source/diagrams/packages_flight_telemetry.svg
  docs/source/diagrams/packages_flight_telemetry_worker.svg
  docs/source/diagrams/packages_minimal_app.svg
  docs/source/diagrams/packages_minimal_app_worker.svg
  docs/source/examples/flight_telemetry/classes_flight_telemetry.svg
  docs/source/examples/flight_telemetry/classes_flight_telemetry_args.svg
  docs/source/examples/flight_telemetry/classes_flight_telemetry_worker.svg
  docs/source/examples/minimal_app/classes_minimal_app.svg
  docs/source/examples/minimal_app/classes_minimal_app_args.svg
  docs/source/examples/minimal_app/classes_minimal_app_worker.svg
  test/test_render_package_maps.py
  tools/render_package_maps.py
Due: none

fix(badges): refresh the stale coverage, stars, and activity badges
  badges/commit-activity.svg
  badges/coverage-agi-env.svg
  badges/github-stars.svg
Due: none

fix(badges): refresh the stale coverage, stars, and activity badges (#924)
  badges/commit-activity.svg
  badges/coverage-agi-env.svg
  badges/github-stars.svg
Due: none

fix(ci): ignore descriptive compatibility text
  test/test_compat_shim_inventory.py
  tools/compat_shim_inventory.py
Due: none

fix(guards): stop counting prose about shims as a compat shim
  test/test_compat_shim_inventory.py
  tools/compat_shim_inventory.py
Due: none

fix(ci): ignore descriptive compatibility text (#927)
  test/test_compat_shim_inventory.py
  tools/compat_shim_inventory.py
Due: none

feat(badges): generate the GitHub stat badges instead of hand-editing them
  test/test_refresh_repo_stat_badges.py
  tools/maintenance_dashboard.py
  tools/refresh_repo_stat_badges.py
Due: none

feat(guards): refuse skip-ci directives on commits that change code
  .githooks/pre-push
  test/test_skip_ci_scope_guard.py
  tools/skip_ci_scope_guard.py
Due: none

feat(badges): generate the GitHub stat badges instead of hand-editing them (#926)
  test/test_refresh_repo_stat_badges.py
  tools/maintenance_dashboard.py
  tools/refresh_repo_stat_badges.py
Due: none

feat(guards): refuse skip-ci directives on commits that change code (#929)
  .githooks/pre-push
  test/test_skip_ci_scope_guard.py
  tools/skip_ci_scope_guard.py
Due: none

chore(release): prepare 2026.07.31
  CHANGELOG.md
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/apps-pages/view_data_io_decision/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/pyproject.toml
  src/agilab/apps-pages/view_relay_resilience/pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-data-quality-gate/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pandas-execution/pyproject.toml
  src/agilab/lib/agi-app-polars-execution/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-sklearn-pipeline/pyproject.toml
  src/agilab/lib/agi-app-tescia-diagnostic/pyproject.toml
  src/agilab/lib/agi-app-uav-queue/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): prepare 2026.07.31 (Guillaume-Demets) (#925)
  CHANGELOG.md
  agenticweb.md
  agilab-capabilities.json
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/apps-pages/view_data_io_decision/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/pyproject.toml
  src/agilab/apps-pages/view_relay_resilience/pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-data-quality-gate/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pandas-execution/pyproject.toml
  src/agilab/lib/agi-app-polars-execution/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-sklearn-pipeline/pyproject.toml
  src/agilab/lib/agi-app-tescia-diagnostic/pyproject.toml
  src/agilab/lib/agi-app-uav-queue/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core
