Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Reset polluted Flight args strictly
  src/agilab/apps/builtin/flight_telemetry_project/src/app_args_form.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/app_args_form.py
  test/test_app_args_form_normalization.py
Due: agilab

Propagate Windows app test install flag
  install.ps1
  test/test_install_local_models.py
Due: none

Propagate Windows app test install flag (#474)
  install.ps1
  test/test_install_local_models.py
Due: none

Add pinned Safe Action workflow support (#455)
  src/agilab/generated_actions.py
  src/agilab/pipeline_lab.py
  test/test_generated_actions.py
  test/test_pipeline_lab.py
Due: agilab

Document public wrapper regression testing (#456)
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-testing/SKILL.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Guard against recursive SSHFS cluster shares (#471)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Resolve module layout merge conflicts
  src/agilab/workflow/generated_actions.py
  test/test_agilab_module_layout.py
Due: agilab

Clarify agi-app install versus worker deployment
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/orchestrate/orchestrate_page_state.py
  src/agilab/orchestrate/orchestrate_page_support.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/workflow/workflow_ui.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_agilab_widget_robot_matrix.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
  test/test_ui_pages.py
  test/test_ui_robot_canary.py
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_ui.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/agilab_widget_robot_matrix.py
  tools/ui_robot_canary.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Classify agi-gui modules into subpackages
  src/agilab/lib/agi-gui/src/agi_gui/_compat.py
  src/agilab/lib/agi-gui/src/agi_gui/compat/__init__.py
  src/agilab/lib/agi-gui/src/agi_gui/compat/module_alias.py
  src/agilab/lib/agi-gui/src/agi_gui/file_picker.py
  src/agilab/lib/agi-gui/src/agi_gui/ux_widgets.py
  src/agilab/lib/agi-gui/src/agi_gui/widget_registry.py
  src/agilab/lib/agi-gui/src/agi_gui/widgets/__init__.py
  src/agilab/lib/agi-gui/src/agi_gui/widgets/file_picker.py
  src/agilab/lib/agi-gui/src/agi_gui/widgets/ux_widgets.py
  src/agilab/lib/agi-gui/src/agi_gui/widgets/widget_registry.py
  src/agilab/lib/agi-gui/test/test_agi_gui_package.py
Due: agilab

Fix app contract matrix plain Python module loading
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

Fix classified core guardrail paths
  src/agilab/core/test/test_agi_distributor_service_runtime_support.py
  tools/security_hygiene_report.py
Due: agilab

Isolate service runtime shim regression cache
  src/agilab/core/test/test_agi_distributor_service_runtime_support.py
Due: agilab

Classify Tescia diagnostic modules
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_surface.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/classroom.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/compat/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/compat/module_shim.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/curriculum.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/classroom.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/curriculum.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/exports.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/domain/generator.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/exports.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/generator.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/runtime/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/runtime/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/runtime/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/runtime/tescia_diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/ui/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/ui/app_surface.py
  test/test_tescia_diagnostic_project.py
Due: agilab

Fix core compat shim identity
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/compat/module_shim.py
  src/agilab/core/agi-env/src/agi_env/compat/module_shim.py
  src/agilab/diagnostics/runtime_failure_diagnostics.py
  test/test_agilab_module_layout.py
  test/test_agilab_widget_robot.py
  test/test_orchestrate_page_helpers.py
  test/test_runtime_diagnostics.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/architecture_scorecard.py
  tools/security_hygiene_report.py
  tools/ui_robot_action_contract.py
Due: agilab, agi-env, agi-cluster

Fix core compat shim identity and deploy wording
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/compat/module_shim.py
  src/agilab/core/agi-env/src/agi_env/compat/module_shim.py
  src/agilab/diagnostics/runtime_failure_diagnostics.py
  test/test_agilab_module_layout.py
  test/test_agilab_widget_robot.py
  test/test_orchestrate_page_helpers.py
  test/test_runtime_diagnostics.py
  test/test_ui_robot_action_contract.py
  test/test_ui_robot_coverage_contract.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/architecture_scorecard.py
  tools/ui_robot_action_contract.py
Due: agilab, agi-env, agi-cluster

Fix Windows core compatibility shim paths
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-env

Refresh core coverage badges
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
Due: none

feat(windows): align and fix install
  install.ps1
  src/agilab/install_apps.ps1
  tools/install_enduser.ps1
Due: agilab

Use official demo badges in README and quick start
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
Due: none

Use larger Hugging Face Spaces badge
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
Due: none

Align post-merge guardrail expectations
  src/agilab/lib/agi-gui/test/test_agi_gui_package.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Align Kaggle launch badge size
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
Due: none

Add built-in app test runner shortcut
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  test/test_builtin_app_tests.py
  test/test_workflow_parity.py
  tools/agilab_dev.py
  tools/builtin_app_tests.py
  tools/workflow_parity.py
Due: none

Add large Kaggle launch badge
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/badges/open-in-kaggle-xl.svg
  docs/source/quick-start.rst
Due: none
