Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

tools: add frequent developer command shortcuts
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

tools: shorten developer shortcut commands
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  dev
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

tools: prefer readable developer shortcuts
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

ui: clarify orchestrate workflow layout
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_execute.py
Due: agilab

docs: guard process ownership
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
Due: none

refactor workflow maintainability state
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/versioned-pipeline-steps.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  src/agilab/orchestrate_execute.py
  src/agilab/orchestrate_page_state.py
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_step_templates.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_state.py
  test/test_pipeline_editor.py
  test/test_pipeline_step_templates.py
Due: agilab

add Mistral provider and refresh local model defaults
  .aider.conf.yml
  README.md
  docker/README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/environment.rst
  docs/source/notebook-advanced.rst
  docs/source/quick-start.rst
  install.ps1
  install.sh
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_ai_controls.py
  src/agilab/pipeline_ai_support.py
  src/agilab/pipeline_mistral.py
  test/test_agent_workflows.py
  test/test_install_local_models.py
  test/test_pipeline_ai.py
  test/test_pipeline_ai_support.py
  test/test_pipeline_mistral.py
  tools/aider_workflow.md
  tools/install_enduser.sh
Due: agilab

docs: harden cli session ownership guardrail
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
Due: none

add self-hosted llm provider support
  .aider.conf.yml
  README.md
  docker/README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/environment.rst
  docs/source/features.rst
  docs/source/notebook-advanced.rst
  docs/source/quick-start.rst
  install.ps1
  install.sh
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_ai_controls.py
  src/agilab/pipeline_ai_support.py
  src/agilab/pipeline_ai_uoaic.py
  src/agilab/pipeline_openai_compatible.py
  test/test_agent_workflows.py
  test/test_install_local_models.py
  test/test_pipeline_ai.py
  test/test_pipeline_ai_support.py
  test/test_pipeline_openai_compatible.py
  tools/aider_workflow.md
  tools/install_enduser.sh
  tools/opencode_workflow.md
Due: agilab

[codex] harden workflow maintainability and assistant defaults (#54)
  .aider.conf.yml
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  README.md
  docker/README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/environment.rst
  docs/source/features.rst
  docs/source/notebook-advanced.rst
  docs/source/quick-start.rst
  docs/source/roadmap/versioned-pipeline-steps.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  install.ps1
  install.sh
  src/agilab/orchestrate_execute.py
  src/agilab/orchestrate_page_state.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_ai_controls.py
  src/agilab/pipeline_ai_support.py
  src/agilab/pipeline_ai_uoaic.py
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_mistral.py
  src/agilab/pipeline_openai_compatible.py
  src/agilab/pipeline_step_templates.py
  test/test_agent_workflows.py
  test/test_install_local_models.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_page_state.py
  test/test_pipeline_ai.py
  test/test_pipeline_ai_support.py
  test/test_pipeline_editor.py
  test/test_pipeline_mistral.py
  test/test_pipeline_openai_compatible.py
  test/test_pipeline_step_templates.py
  tools/aider_workflow.md
  tools/install_enduser.sh
  tools/opencode_workflow.md
Due: agilab

docs: refresh source mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

add pipeline recipe memory
  badges/coverage-agi-gui.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  docs/source/experiment-help.rst
  docs/source/features.rst
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_recipe_memory.py
  test/test_pipeline_ai.py
  test/test_pipeline_recipe_memory.py
Due: agilab

Improve widget robot combination coverage
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Enable flight demo full UI journey
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-demo.rst
  docs/source/demos.rst
  docs/source/environment.rst
  docs/source/experiment-help.rst
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/versioned-pipeline-steps.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  src/agilab/apps/builtin/flight_project/README.md
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/pages/4_▶️ ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

Deepen widget robot safe action coverage
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

add notebook to dask migration example
  pyproject.toml
  src/agilab/examples/README.md
  src/agilab/examples/notebook_to_dask/README.md
  src/agilab/examples/notebook_to_dask/lab_steps.toml
  src/agilab/examples/notebook_to_dask/notebook_to_dask_sample.ipynb
  src/agilab/examples/notebook_to_dask/pipeline_view.json
  src/agilab/examples/notebook_to_dask/preview_notebook_to_dask.py
  test/test_app_installer_packaging.py
Due: agilab

Clean public docs wording
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-demo.rst
  docs/source/data/data_connectors_sample.toml
  docs/source/demos.rst
  docs/source/diagrams/classes_flight.svg
  docs/source/examples/flight/classes_flight.svg
  docs/source/execute-help.rst
  docs/source/experiment-help.rst
  docs/source/features.rst
  docs/source/flight-project.rst
  docs/source/index.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/roadmap/versioned-pipeline-steps.md
  docs/source/roadmap/workflow-maintainability-patterns.md
  src/agilab/apps/builtin/flight_project/README.md
Due: agilab

add notebook import doctor
  src/agilab/notebook_import_doctor.py
  test/test_notebook_import_doctor.py
  tools/notebook_import_doctor_report.py
Due: agilab

Harden widget robot robustness
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Add generic notebook import preflight
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  src/agilab/examples/README.md
  src/agilab/notebook_pipeline_import.py
  src/agilab/pipeline_editor.py
  test/test_notebook_import_preflight.py
  test/test_pipeline_editor.py
  tools/data_connector_facility_report.py
  tools/notebook_import_preflight.py
Due: agilab

Add notebook import preview confirmation
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_editor.py
  test/test_pipeline_editor.py
Due: agilab

Add notebook import pipeline view sidecar
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  src/agilab/notebook_pipeline_import.py
  src/agilab/pipeline_editor.py
  test/test_notebook_import_preflight.py
  test/test_pipeline_editor.py
  tools/notebook_import_preflight.py
Due: agilab

Add notebook import app view plans
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  pyproject.toml
  src/agilab/apps/builtin/flight_project/README.md
  src/agilab/apps/builtin/flight_project/notebook_import_views.toml
  src/agilab/examples/README.md
  src/agilab/notebook_pipeline_import.py
  src/agilab/pipeline_editor.py
  test/test_notebook_import_preflight.py
  test/test_pipeline_editor.py
  tools/notebook_import_preflight.py
Due: agilab

Add compatible venv linking
  docs/.docs_source_mirror_stamp.json
  docs/source/service_mode_and_paths.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  src/agilab/venv_linker.py
  test/test_venv_linker.py
  tools/workflow_parity.py
Due: agilab, agi-cluster

chore(release): bump version to 2026.04.30.post4
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs: publish two-project HF demo contract
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-demo.rst
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/demos.rst
  test/test_hf_space_smoke.py
  test/test_public_demo_links.py
  tools/hf_space_smoke.py
Due: none

Add pinned workflow UI
  badges/coverage-agi-gui.svg
  src/agilab/About_agilab.py
  src/agilab/about_page/onboarding.py
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/view_data_io_decision.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/lib/agi-gui/src/agi_gui/file_picker.py
  src/agilab/orchestrate_execute.py
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  src/agilab/pinned_expander.py
  src/agilab/pipeline_lab.py
  src/agilab/workflow_ui.py
  test/test_orchestrate_execute.py
  test/test_pinned_expander.py
  test/test_pipeline_lab.py
  test/test_project_clone_policy.py
  test/test_streamlit_156_adoption.py
  test/test_view_release_decision.py
  test/test_workflow_ui.py
Due: agilab

Align audit evidence and UI guardrails
  .github/workflows/ci.yml
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture-five-minutes.rst
  docs/source/architecture.rst
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/demos.rst
  docs/source/features.rst
  docs/source/index.rst
  src/agilab/first_proof_wizard.py
  src/agilab/orchestrate_execute.py
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pipeline_lab.py
  src/agilab/supply_chain_attestation.py
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_audit_response_docs.py
  test/test_ci_workflow.py
  test/test_compatibility_report.py
  test/test_first_proof_wizard.py
  test/test_kpi_evidence_bundle.py
  test/test_project_clone_policy.py
  test/test_public_certification_profile_report.py
  test/test_pypi_publish.py
  test/test_supply_chain_attestation_report.py
  test/test_workflow_parity.py
  test/test_workflow_ui.py
  tools/compatibility_report.py
  tools/kpi_evidence_bundle.py
  tools/production_readiness_report.py
  tools/public_certification_profile_report.py
  tools/pypi_publish.py
  tools/supply_chain_attestation_report.py
  tools/workflow_parity.py
Due: agilab

chore(release): bump version to 2026.05.01
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): refresh PyPI version badge
  badges/pypi-version-agilab.svg
Due: none
