Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Classify beta readiness as root coverage
  tools/coverage_badge_guard.py
Due: none

Fix coverage badge guard for release tests
  test/test_coverage_badge_guard.py
Due: none

docs: point latest release to post3 validation tag
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
Due: none

Add code statistics skill
  .claude/skills/README.md
  .claude/skills/agilab-code-statistics/SKILL.md
  .claude/skills/agilab-code-statistics/agents/openai.yaml
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/agilab-code-statistics/SKILL.md
  .codex/skills/agilab-code-statistics/agents/openai.yaml
  badges/skills-claude.svg
  badges/skills-codex.svg
Due: none

Harden packaged example coverage
  src/agilab/examples/data_io_2026/AGI_install_data_io_2026.py
  src/agilab/examples/data_io_2026/AGI_run_data_io_2026.py
  src/agilab/examples/flight/AGI_command_flight.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/flight/README.md
  src/agilab/examples/meteo_forecast/AGI_install_meteo_forecast.py
  src/agilab/examples/meteo_forecast/AGI_run_meteo_forecast.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  test/test_app_installer_packaging.py
Due: agilab

Refresh README KPI summary from evidence bundle
  README.md
  test/test_kpi_evidence_bundle.py
  tools/kpi_evidence_bundle.py
Due: none

docs: add strategic scorecard guardrails
  CHANGELOG.md
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-distributor.rst
  docs/source/agilab-mlops-positioning.rst
  docs/source/directory-structure.txt
  docs/source/distributed-workers.rst
  docs/source/examples/flight/AGI.get_distrib-flight.py
  docs/source/examples/flight/AGI.install-flight.py
  docs/source/examples/flight/AGI.run-flight.py
  docs/source/examples/mycode/AGI.get_distrib-mycode.py
  docs/source/examples/mycode/AGI.install-mycode.py
  docs/source/examples/mycode/AGI.run-mycode.py
  docs/source/execute-help.rst
  docs/source/index.rst
  docs/source/notebook-advanced.rst
  docs/source/snippets/AgiEnv.instanciation.py
  docs/source/snippets/agi_core_mycode_minimal_run.py
  docs/source/strategic-potential.rst
  test/test_kpi_evidence_bundle.py
  test/test_production_readiness_report.py
  test/test_public_demo_links.py
  test/test_view_barycentric.py
Due: none

docs: capture reusable skill guardrails
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
Due: none

docs: record reusable skill maintenance lessons
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
Due: none

Add normalized AGILAB action widgets
  src/agilab/lib/agi-gui/src/agi_gui/__init__.py
  src/agilab/lib/agi-gui/src/agi_gui/ux_widgets.py
  src/agilab/lib/agi-gui/test/test_agi_gui_package.py
  src/agilab/lib/agi-gui/test/test_ux_widgets.py
  src/agilab/pipeline_lab.py
Due: agilab

fix: clarify single-node About cluster summary
  src/agilab/about_page/layout.py
  test/test_about_agilab_helpers.py
Due: agilab

Harden Streamlit UI page tests
  test/test_ui_pages.py
Due: none

Stabilize maps network AppTest timeout
  test/test_view_maps_network.py
Due: none

Use normalized action buttons for service controls
  src/agilab/orchestrate_services.py
Due: agilab

Balance dispatcher chunks by worker capacity
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Stabilize maps network load failure AppTest
  test/test_view_maps_network_page_state.py
Due: none

Balance work chunks by worker capacity
  docs/.docs_source_mirror_stamp.json
  docs/source/architecture.rst
  docs/source/distributed-workers.rst
  docs/source/features.rst
Due: none

test: stabilize UI AppTest hydration
  test/test_ui_pages.py
  test/test_view_forecast_analysis.py
Due: none

Add optional FRED context to Data IO demo
  src/agilab/apps-pages/view_data_io_decision/README.md
  src/agilab/apps/builtin/data_io_2026_project/README.md
  src/agilab/apps/builtin/data_io_2026_project/lab_steps.toml
  src/agilab/apps/builtin/data_io_2026_project/pipeline_view.dot
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/__init__.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/artifacts.py
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026/fred_support.py
  src/agilab/apps/builtin/data_io_2026_project/src/pre_prompt.json
  test/test_data_io_2026_project.py
Due: agilab

chore: promote release classifiers to beta
  docs/.docs_source_mirror_stamp.json
  docs/source/beta-readiness.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Version lab steps artifact metadata
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_steps.py
  test/test_pipeline_editor.py
  test/test_pipeline_steps.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
