Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

view_maps_network: restore plane markers and detect routing_edges
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: parse example_app topology edges and fix plane icons
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: render plane icons in 2D
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: faster edges file discovery
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

EXPERIMENT: preserve step code on reload
  src/agilab/AGILAB.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

docs: simplify AGI.run mode docstring
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

docs: rebuild site output
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node

apps: restore builtin flight/mycode sources
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight/__init__.py
  src/agilab/apps/builtin/flight_project/src/flight/flight.py
  src/agilab/apps/builtin/flight_project/src/flight/flight_args.py
  src/agilab/apps/builtin/flight_project/src/flight_worker/__init__.py
  src/agilab/apps/builtin/flight_project/src/flight_worker/flight_worker.py
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode/__init__.py
  src/agilab/apps/builtin/mycode_project/src/mycode/app_args.py
  src/agilab/apps/builtin/mycode_project/src/mycode/mycode.py
  src/agilab/apps/builtin/mycode_project/src/mycode/mycode_args.py
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/__init__.py
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/mycode_worker.py
Due: agilab

docs: fix math rendering
  docs/html/_sources/flight-project.rst.txt
  docs/html/_sources/learning-workflows.rst.txt
  docs/html/_sources/mycode-project.rst.txt
  docs/html/flight-project.html
  docs/html/learning-workflows.html
  docs/html/mycode-project.html
Due: none

EXPERIMENT: add Ollama settings and auto-fix
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab
