Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

docs: preserve active venv in quick-start example
  .codex/skills/agilab-docs/SKILL.md
  docs/source/quick-start.rst
Due: none

chore(release): bump version to 2026.04.08.post1
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs: clarify distributed workflow from orchestrate to pipeline
  docs/source/agilab-help.rst
  docs/source/cluster.rst
  docs/source/diagrams/distributed_orchestrate_pipeline_handoff.svg
  docs/source/distributed-workers.rst
  docs/source/execute-help.rst
  docs/source/experiment-help.rst
  docs/source/index.rst
Due: none

docs: add screenshots to distributed workers guide
  docs/source/distributed-workers.rst
Due: none

docs: clarify airflow dynamic orchestration positioning
  docs/source/agilab-mlops-positioning.rst
Due: none

docs: refine positioning claims and skill guardrails
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  docs/source/agilab-mlops-positioning.rst
Due: none

docs: remove duplicate agi-core overview png
  docs/source/diagrams/agi-core-overview.png
Due: none

tools: add repo footprint maintenance helper
  AGENTS.md
  tools/repo_footprint.py
Due: none

docs: add consistent 3-minute demo talk track
  docs/source/demo_capture_script.md
Due: none

feat: add built-in uav queue demo
  .gitignore
  docs/source/apps-pages.rst
  docs/source/architecture.rst
  docs/source/explore-help.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_uav_queue_analysis/README.md
  src/agilab/apps-pages/view_uav_queue_analysis/pyproject.toml
  src/agilab/apps-pages/view_uav_queue_analysis/src/view_uav_queue_analysis/__init__.py
  src/agilab/apps-pages/view_uav_queue_analysis/src/view_uav_queue_analysis/view_uav_queue_analysis.py
  src/agilab/apps/builtin/uav_queue_project/.gitignore
  src/agilab/apps/builtin/uav_queue_project/README.md
  src/agilab/apps/builtin/uav_queue_project/lab_steps.toml
  src/agilab/apps/builtin/uav_queue_project/pipeline_view.dot
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/app_args_form.py
  src/agilab/apps/builtin/uav_queue_project/src/app_settings.toml
  src/agilab/apps/builtin/uav_queue_project/src/pre_prompt.json
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/__init__.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/app_args.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/sample_data/uav_queue_hotspot.json
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_queue.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_queue_args.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/__init__.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/uav_queue_worker.py
  src/agilab/apps/builtin/uav_queue_project/test/test_uav_queue_project.py
  src/agilab/install_apps.ps1
  src/agilab/install_apps.sh
Due: agilab

chore(release): bump version to 2026.4.9
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(cli): support --version in agilab entrypoint
  src/agilab/lab_run.py
  test/test_lab_run.py
Due: agilab

fix(release): restore pypi publish test setup
  .github/workflows/pypi-publish.yaml
  src/agilab/core/agi-env/src/agi_env/pagelib.py
Due: agilab, agi-env

chore(release): bump version to 2026.4.10
  badges/pypi-version-agilab.svg
  pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(view_maps_network): recover from stale topology paths
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/edge_selection.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps_network_edge_selection.py
Due: agilab

test(view_maps_network): cover stale custom topology recovery
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/edge_selection.py
  test/test_view_maps_network_edge_selection.py
Due: agilab

docs: add public demos landing page
  README.md
  docs/source/agilab-help.rst
  docs/source/demos.rst
  docs/source/index.rst
Due: none

ci(core): validate python 3.14 support
  .github/workflows/pypi-publish.yaml
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

feat(demos): add product reel tooling and page tests
  .codex/skills/agilab-product-reels/SKILL.md
  .gitignore
  docs/source/demo_capture_script.md
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps.py
  test/test_view_uav_queue_analysis.py
  tools/build_demo_explainer.py
  tools/build_demo_slides.py
  tools/build_product_demo_reel.py
Due: agilab

test(apps-pages): extend page coverage and refresh badges
  .github/workflows/coverage.yml
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_view_maps_3d.py
  test/test_view_uav_queue_analysis.py
Due: none

fix(installer): restore fresh builtin install with app tests
  install.sh
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/uav_queue_worker.py
  src/agilab/apps/builtin/uav_queue_project/test/test_uav_queue_project.py
  src/agilab/core/agi-env/src/agi_env/agi_logger.py
Due: agilab, agi-env
