Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Fix cluster share for Orchestrate args
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_cluster.py
  test/test_orchestrate_page_helpers.py
Due: agilab

fix jdktable growing
  pycharm/setup_pycharm.py
Due: none

fix jdktable growing
  .idea/modules.xml
Due: none

Guard PyCharm source root switching
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  docs/.docs_source_mirror_stamp.json
  docs/source/faq.rst
  docs/source/quick-start.rst
  docs/source/troubleshooting.rst
  pycharm/setup_pycharm.py
  src/agilab/About_agilab.py
  src/agilab/import_guard.py
  test/test_import_guard.py
  test/test_setup_pycharm.py
Due: agilab

fix: preserve builtin app roots in snippets
  README.md
  pycharm/setup_pycharm.py
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/examples/data_io_2026/AGI_install_data_io_2026.py
  src/agilab/examples/data_io_2026/AGI_run_data_io_2026.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/meteo_forecast/AGI_install_meteo_forecast.py
  src/agilab/examples/meteo_forecast/AGI_run_meteo_forecast.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/orchestrate_page_support.py
  src/agilab/orchestrate_services.py
  src/agilab/pipeline_runtime_execution_support.py
  test/test_app_installer_packaging.py
  test/test_orchestrate_page_support.py
  test/test_orchestrate_services.py
  test/test_pipeline_runtime.py
  test/test_setup_pycharm.py
Due: agilab, agi-cluster

fix: avoid passive LAN cache workers
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

fix: prune stale LAN workers
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

docs: restore coverage badge row
  README.md
Due: none

docs: align documentation button wording
  docs/.docs_source_mirror_stamp.json
  docs/source/edit-help.rst
  docs/source/execute-help.rst
  docs/source/experiment-help.rst
  docs/source/explore-help.rst
Due: none

docs: restore GitHub stars badge
  README.md
Due: none

docs: restore project metadata badges
  README.md
Due: none

docs: stabilize GitHub stars badge
  README.md
Due: none

docs: clarify shipped RL example status
  README.md
Due: none

docs: correct Dask maturity status
  README.md
Due: none

fix: normalize install scheduler and raise gui coverage
  .github/workflows/coverage.yml
  README.md
  badges/coverage-agi-gui.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  src/agilab/lib/agi-gui/test/test_ux_widgets.py
  src/agilab/orchestrate_page_support.py
  test/test_audit_response_docs.py
  test/test_orchestrate_page_support.py
  test/test_pipeline_mistral.py
  test/test_shared_core_strict_typing.py
  test/test_workflow_parity.py
  tools/shared_core_strict_typing.py
  tools/workflow_parity.py
Due: agilab

Add GA regression selector and SSHFS share setup
  .github/workflows/coverage.yml
  AGENTS.md
  badges/coverage-agi-cluster.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/cluster.rst
  docs/source/distributed-workers.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/orchestrate_page_state.py
  test/test_agilab_dev_shortcuts.py
  test/test_ga_regression_selector.py
  test/test_orchestrate_page_state.py
  test/test_workflow_parity.py
  tools/agilab_dev.py
  tools/ga_regression_selector.py
  tools/workflow_parity.py
Due: agilab, agi-cluster

Harden SSHFS cluster share setup
  docs/.docs_source_mirror_stamp.json
  docs/source/cluster.rst
  docs/source/distributed-workers.rst
  docs/source/environment.rst
  docs/source/troubleshooting.rst
  src/agilab/cluster_flight_validation.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/orchestrate_cluster.py
  test/test_cluster_flight_validation.py
  test/test_orchestrate_cluster.py
Due: agilab, agi-cluster

fix: bind pipeline dataframe callback
  src/agilab/pages/3_▶️ PIPELINE.py
  test/test_pipeline_page_helpers.py
Due: agilab

fix: harden cluster discovery and pipeline dataframe state
  src/agilab/cluster_lan_discovery.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/3_▶️ PIPELINE.py
  test/test_cluster_lan_discovery.py
  test/test_orchestrate_cluster.py
  test/test_pipeline_page_helpers.py
Due: agilab, agi-cluster
