Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Add security adoption workflow
  docs/.docs_source_mirror_stamp.json
  docs/source/beta-readiness.rst
  docs/source/faq.rst
  docs/source/quick-start.rst
  docs/source/troubleshooting.rst
  test/test_audit_response_docs.py
  test/test_security_adoption_check.py
  test/test_workflow_parity.py
  tools/security_adoption_check.py
  tools/workflow_parity.py
Due: none

Fix agi-env UI test collection without Streamlit
  src/agilab/core/agi-env/test/conftest.py
Due: agilab, agi-env

Fix agi-env UI test collection without Streamlit (#84)
  src/agilab/core/agi-env/test/conftest.py
Due: agilab, agi-env

Avoid parquet engine dependency in agi-env tests
  src/agilab/core/agi-env/test/test_pagelib_data_support.py
Due: agilab, agi-env

Avoid parquet engine dependency in agi-env tests (#85)
  src/agilab/core/agi-env/test/test_pagelib_data_support.py
Due: agilab, agi-env

Avoid parquet engine dependency in worker tests
  src/agilab/core/test/conftest.py
  src/agilab/core/test/test_fireducks_worker.py
  src/agilab/core/test/test_pandas_worker.py
Due: agilab

Avoid parquet engine dependency in worker tests (#86)
  src/agilab/core/test/conftest.py
  src/agilab/core/test/test_fireducks_worker.py
  src/agilab/core/test/test_pandas_worker.py
Due: agilab

Use project SDK for dev run config
  .idea/runConfigurations/agilab_run__dev_.xml
  AGENTS.md
  test/test_setup_pycharm.py
  tools/refresh_launch_matrix.py
Due: none

Use project SDK for dev run config (#87)
  .idea/runConfigurations/agilab_run__dev_.xml
  AGENTS.md
  test/test_setup_pycharm.py
  tools/refresh_launch_matrix.py
Due: none

Fix clone run config SDK rebinding
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Fix clone run config SDK rebinding (#88)
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Ensure source UI extra during PyCharm setup
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Ensure source UI extra during PyCharm setup (#89)
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Ensure MLflow extra for source dev UI
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Ensure MLflow extra for source dev UI (#90)
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Add worker import preflight to UI robot
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Add worker import preflight to UI robot (#91)
  test/test_agilab_widget_robot.py
  tools/agilab_widget_robot.py
Due: none

Fix first-launch install readiness warning
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Fix first-launch install readiness warning (#92)
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Fix active app source path persistence
  src/agilab/about_page/bootstrap.py
  src/agilab/main_page.py
  test/test_about_agilab_helpers.py
Due: agilab

Fix active app source path persistence (#93)
  src/agilab/about_page/bootstrap.py
  src/agilab/main_page.py
  test/test_about_agilab_helpers.py
Due: agilab

Fix stale active app root on source launch
  src/agilab/about_page/bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

Fix stale active app root on source launch (#94)
  src/agilab/about_page/bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

Realign stale page env roots
  src/agilab/page_bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

Realign stale page env roots (#95)
  src/agilab/page_bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

Fix stale agi-space page env realignment
  src/agilab/page_bootstrap.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab
