Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Move connector change request into roadmap
  docs/source/roadmap/agilab-future-work.md
  export/change_requests/connector_integration_change_request.md
Due: none

Clarify roadmap voting paths
  docs/source/roadmap/agilab-future-work.md
Due: none

Harden AGILab for audit readiness
  .github/workflows/ci.yml
  docs/source/agi-node.rst
  docs/source/environment.rst
  docs/source/flight-project.rst
  docs/source/license.txt
  docs/source/troubleshooting.html
  install.sh
  pyproject.toml
  src/agilab/About_agilab.py
  src/agilab/apps/builtin/flight_project/src/flight/flight_args.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/streamlit_args.py
  src/agilab/lab_run.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_views.py
  src/agilab/resources/help/experiment_help.html
  src/agilab/test/test_model_returns_code.py
  test/conftest.py
  test/test_ui_pages.py
Due: agilab, agi-env

Split ORCHESTRATE helpers and harden fresh-install regression
  AGENTS.md
  docker/Dockerfile
  docker/install.sh
  install.sh
  pyproject.toml
  src/agilab/About_agilab.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/lab_run.py
  src/agilab/orchestrate_support.py
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_openai.py
  tools/install_enduser.sh
  tools/regression_fresh_install.py
  tools/run_configs/agilab/agilab-run-dev.sh
  tools/run_configs/agilab/agilab-run-enduser.sh
  tools/run_configs/agilab/lab-run-test.sh
  tools/run_enduser.sh
Due: agilab, agi-env

Split pipeline helpers and cover extracted modules
  pyproject.toml
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_steps.py
  test/test_orchestrate_support.py
  test/test_pipeline_openai.py
  test/test_pipeline_steps.py
  test/test_pipeline_views.py
Due: agilab

Split PIPELINE page into focused modules
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_runtime.py
  src/agilab/pipeline_sidebar.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_runtime.py
  test/test_pipeline_service_guard.py
  test/test_pipeline_sidebar.py
Due: agilab

Split ORCHESTRATE execute flow
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pipeline_lab.py
  test/test_orchestrate_execute.py
Due: agilab

Split ORCHESTRATE distribution helpers
  src/agilab/orchestrate_distribution.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_distribution.py
Due: agilab

Split ORCHESTRATE service panel
  src/agilab/orchestrate_services.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_services.py
  test/test_ui_pages.py
Due: agilab

Split ORCHESTRATE cluster settings
  src/agilab/orchestrate_cluster.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_cluster.py
Due: agilab

Fix ORCHESTRATE split regressions
  src/agilab/pages/2_▶️ ORCHESTRATE.py
Due: agilab

Gate ORCHESTRATE run on worker install readiness
  src/agilab/orchestrate_execute.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Fix ORCHESTRATE execute button fragment trigger
  src/agilab/orchestrate_execute.py
  test/test_orchestrate_execute.py
Due: agilab

Add shared input-folder fallback resolver
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-node

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
