Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

ci: improve PyPI publisher diagnostics
  tools/pypi_pending_trusted_publisher.py
Due: none

ci: accept visible PyPI pending publisher
  test/test_pypi_pending_trusted_publisher.py
  tools/pypi_pending_trusted_publisher.py
Due: none

ci: add confirmable PyPI retention retry
  .github/workflows/pypi-release-retention.yaml
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

ci: rotate PyPI cleanup TOTP codes
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

ci: expand static coverage shard globs
  test/test_coverage_shard_plan.py
  tools/coverage_shard_plan.py
Due: none

Optimize PyPI release publishing
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .github/workflows/pypi-publish.yaml
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/package-publishing-policy.rst
  docs/source/release-proof.rst
  docs/source/roadmap/agilab-future-work.md
  test/test_pypi_distribution_state.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/pypi_distribution_state.py
  tools/pypi_release_retention.py
  tools/release_plan.py
Due: none

Harden PyPI retention version checks
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
Due: none

fix analysis button style and streamlit cap
  pyproject.toml
  src/agilab/about_page/onboarding.py
  src/agilab/apps-pages/templates/analysis_page_template/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_about_agilab_helpers.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab

Fix UI robot trend report glob override
  tools/ui_robot_trend_report.py
Due: none

Add frontend smoke guard for Streamlit blank pages
  .claude/skills/agilab-ui-robot-validation/SKILL.md
  .codex/skills/agilab-ui-robot-validation/SKILL.md
  .github/workflows/ci.yml
  test/test_agilab_web_robot.py
  test/test_ci_workflow.py
  test/test_workflow_parity.py
  tools/agilab_web_robot.py
  tools/workflow_parity.py
Due: none

fix project clone environment strategy
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
Due: agilab, agi-env

Harden release regression contracts
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  test/test_release_plan.py
  tools/release_plan.py
Due: none

Use analysis page template for scaffolds
  src/agilab/apps-pages/templates/analysis_page_template/README.md
  src/agilab/apps-pages/templates/analysis_page_template/agilab.template.toml
  src/agilab/apps-pages/templates/analysis_page_template/pyproject.toml
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_page_bundle_registry.py
Due: agilab

Increase Streamlit support coverage
  test/test_screenshot_manifest.py
  test/test_streamlit_156_adoption.py
Due: none

Add env footprint to GUI coverage
  test/test_coverage_shard_plan.py
  test/test_env_footprint.py
  test/test_workflow_parity.py
  tools/coverage_shard_plan.py
Due: none

Cover notebook import sample helper
  test/test_coverage_shard_plan.py
  test/test_notebook_import_sample.py
  test/test_workflow_parity.py
  tools/coverage_shard_plan.py
Due: none

Optimize GUI tests and add PyTorch playground view
  src/agilab/about_page/layout.py
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/settings_support.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_pytorch_playground/README.md
  src/agilab/apps-pages/view_pytorch_playground/pyproject.toml
  src/agilab/apps-pages/view_pytorch_playground/src/view_pytorch_playground/__init__.py
  src/agilab/apps-pages/view_pytorch_playground/src/view_pytorch_playground/view_pytorch_playground.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/repository_knowledge.py
  test/test_agilab_widget_robot.py
  test/test_pipeline_ai.py
  test/test_project_clone_policy.py
  test/test_repository_knowledge_report.py
  test/test_ui_pages.py
  test/test_view_maps_network.py
  test/test_view_pytorch_playground.py
Due: agilab

Version repository knowledge record cache
  src/agilab/repository_knowledge.py
  test/test_repository_knowledge_report.py
Due: agilab

Improve repository statistics report
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  test/test_kpi_evidence_bundle.py
  test/test_repository_knowledge_report.py
  tools/kpi_evidence_bundle.py
  tools/repository_knowledge_report.py
Due: none

Lazy load Matplotlib in orchestrate UI
  src/agilab/orchestrate_distribution.py
  src/agilab/orchestrate_execute.py
  test/test_orchestrate_distribution.py
  test/test_orchestrate_execute.py
  test/test_ui_pages.py
  tools/agilab_widget_robot.py
Due: agilab

Align PyTorch playground page packaging
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-page-pytorch-playground-licenses.md
  docs/source/apps-pages.rst
  docs/source/license.rst
  docs/source/package-publishing-policy.rst
  pyproject.toml
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_pytorch_playground/README.md
  src/agilab/apps-pages/view_pytorch_playground/pyproject.toml
  test/test_view_pytorch_playground.py
  tools/package_split_contract.py
  tools/package_wheel_sanitizer.py
Due: agilab

Add evidence contract CLI coverage
  src/agilab/evidence_contract.py
  src/agilab/lab_run.py
  test/test_evidence_contract.py
  test/test_lab_run.py
Due: agilab

Document AGILAB three-plane architecture
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-github.rst
  docs/source/architecture.rst
Due: none

Add PyPI app install action
  docs/source/package-publishing-policy.rst
  docs/source/quick-start.rst
  src/agilab/pages/1_PROJECT.py
  test/test_project_clone_policy.py
  tools/agilab_widget_robot.py
  tools/ui_robot_action_contract.py
Due: agilab

Expand PyTorch playground coverage
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_pytorch_playground/README.md
  src/agilab/apps-pages/view_pytorch_playground/src/view_pytorch_playground/view_pytorch_playground.py
  test/test_view_pytorch_playground.py
Due: agilab

Clarify AGILAB teaser value proposition
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/introduction.rst
  src/agilab/about_page/layout.py
  test/test_about_agilab_helpers.py
  test/test_notebook_export_docs.py
  test/test_public_demo_links.py
Due: agilab

Add advisory cluster planning
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

Fix PR guard evidence
  docs/.docs_source_mirror_stamp.json
  tools/first_launch_robot.py
  tools/ui_robot_action_contract.py
Due: none

Expand maps network coverage
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps_network.py
  test/test_view_maps_network_edge_selection.py
Due: agilab

Add PyPI app management and proof-pack updates
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/introduction.rst
  docs/source/package-publishing-policy.rst
  docs/source/proof-capsule.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/lab_run.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pypi_app_packages.py
  test/test_analysis_page_helpers.py
  test/test_lab_run.py
  test/test_orchestrate_page_helpers.py
  test/test_project_clone_policy.py
  test/test_pypi_app_packages.py
  test/test_repository_knowledge_report.py
  test/test_ui_robot_action_contract.py
  tools/ui_robot_action_contract.py
Due: agilab, agi-env, agi-node

Harden Windows link fallback contracts
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-env, agi-node

Add PyPI app management and proof-pack updates
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/introduction.rst
  docs/source/package-publishing-policy.rst
  docs/source/proof-capsule.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_optional_ui_split.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/lab_run.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/pypi_app_packages.py
  test/test_analysis_page_helpers.py
  test/test_lab_run.py
  test/test_orchestrate_page_helpers.py
  test/test_project_clone_policy.py
  test/test_pypi_app_packages.py
  test/test_repository_knowledge_report.py
  test/test_ui_robot_action_contract.py
  test/test_view_maps_network.py
  test/test_view_maps_network_edge_selection.py
  tools/ui_robot_action_contract.py
Due: agilab, agi-env, agi-node

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
