Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.05.05.post2
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
Due: agilab

ci: install release-proof package in guardrails
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  .github/workflows/ci.yml
  test/test_ci_workflow.py
  test/test_install_release_proof_package.py
  tools/install_release_proof_package.py
Due: none

chore: trim flight worker manifest
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
Due: agilab

docs: sync portable checkout guidance
  docs/.docs_source_mirror_stamp.json
  docs/source/experiment-help.rst
  docs/source/faq.rst
  docs/source/key-generation.rst
  docs/source/notebook-advanced.rst
  docs/source/quick-start.rst
Due: none

chore: refresh skill count badges
  badges/skills-claude.svg
  badges/skills-codex.svg
Due: none

docs: sync industrial optimization examples
  docs/.docs_source_mirror_stamp.json
  docs/source/advanced-proof-pack.rst
  docs/source/demos.rst
  docs/source/index.rst
  docs/source/industrial-optimization-examples.rst
  docs/source/roadmap/agilab-future-work.md
  docs/source/strategic-potential.rst
Due: none

chore: update repo skill guidance
  .claude/skills/agilab-huggingface-spaces/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/plan-before-code/SKILL.md
  .claude/skills/repo-skill-maintenance/SKILL.md
  .claude/skills/scientific-svg-figures/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-huggingface-spaces/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/plan-before-code/SKILL.md
  .codex/skills/repo-skill-maintenance/SKILL.md
  .codex/skills/scientific-svg-figures/SKILL.md
  badges/skills-claude.svg
  badges/skills-codex.svg
Due: none

chore: keep public examples under package tree
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/notebook-advanced.rst
  docs/source/notebook-migration-skforecast-meteo.rst
  docs/source/notebook-quickstart.rst
  examples/notebook_migrations/skforecast_meteo_fr/README.md
  examples/notebook_migrations/skforecast_meteo_fr/analysis_artifacts/forecast_metrics.json
  examples/notebook_migrations/skforecast_meteo_fr/analysis_artifacts/forecast_predictions.csv
  examples/notebook_migrations/skforecast_meteo_fr/data/meteo_fr_daily_sample.csv
  examples/notebook_migrations/skforecast_meteo_fr/migrated_project/lab_steps.toml
  examples/notebook_migrations/skforecast_meteo_fr/migrated_project/pipeline_view.dot
  examples/notebook_migrations/skforecast_meteo_fr/notebooks/01_prepare_meteo_series.ipynb
  examples/notebook_migrations/skforecast_meteo_fr/notebooks/02_backtest_temperature_forecast.ipynb
  examples/notebook_migrations/skforecast_meteo_fr/notebooks/03_compare_predictions.ipynb
  pyproject.toml
  src/agilab/examples/notebook_migrations/skforecast_meteo_fr/migrated_project/lab_steps.toml
  src/agilab/examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_first_run.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_kaggle_first_run.ipynb
  src/agilab/examples/notebook_quickstart/agi_core_kaggle_first_run_source.ipynb
  test/test_app_installer_packaging.py
  test/test_first_proof_cli.py
  test/test_public_demo_links.py
Due: agilab

fix(cluster): remount worker share before dask run
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

chore: add mlflow auto-tracking example
  docs/.docs_source_mirror_stamp.json
  docs/source/advanced-proof-pack.rst
  docs/source/demos.rst
  pyproject.toml
  src/agilab/examples/README.md
  src/agilab/examples/mlflow_auto_tracking/README.md
  src/agilab/examples/mlflow_auto_tracking/preview_mlflow_auto_tracking.py
  src/agilab/examples/mlflow_auto_tracking/sample_run_config.json
  test/test_app_installer_packaging.py
Due: agilab

chore: add resilience failure injection example
  docs/.docs_source_mirror_stamp.json
  docs/source/advanced-proof-pack.rst
  docs/source/demos.rst
  docs/source/industrial-optimization-examples.rst
  pyproject.toml
  src/agilab/examples/README.md
  src/agilab/examples/resilience_failure_injection/README.md
  src/agilab/examples/resilience_failure_injection/preview_resilience_failure_injection.py
  src/agilab/examples/resilience_failure_injection/sample_scenario.json
  test/test_app_installer_packaging.py
Due: agilab

docs: add benchmark result table guidance
  docs/.docs_source_mirror_stamp.json
  docs/source/data/execution_pandas_benchmark_results_snapshot.csv
  docs/source/data/execution_polars_benchmark_results_snapshot.csv
  docs/source/execution-playground.rst
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_support.py
Due: agilab

fix: show benchmark mode legend
  src/agilab/pages/2_▶️ ORCHESTRATE.py
Due: agilab

fix: improve benchmark mode help
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_support.py
Due: agilab

feat(benchmark): add best-node dask comparison
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cleanup_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/run_request_support.py
  src/agilab/core/test/test_agi_distributor_capacity_support.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/core/test/test_agi_distributor_run_request_support.py
  src/agilab/orchestrate_page_state.py
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-cluster

test(cluster): cover best-node benchmark metadata
  src/agilab/core/test/test_agi_distributor_capacity_support.py
Due: agilab

fix(benchmark): align context columns
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
  src/agilab/orchestrate_page_support.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-cluster

fix: clarify benchmark pool mode
  src/agilab/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

docs: sync benchmark pool wording
  docs/.docs_source_mirror_stamp.json
  docs/source/execution-playground.rst
Due: none

docs: sync worker pool backend wording
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-distributor.rst
  docs/source/distributed-workers.rst
  docs/source/execute-help.rst
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
