Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Use HuggingFace launch badge wording
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/badges/open-in-huggingface-xl.svg
  docs/source/quick-start.rst
Due: none

Classify data quality gate package modules
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/app_args.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/compat/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/compat/module_shim.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/core.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/data_quality_gate.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/domain/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/domain/core.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/reduction.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/app_args.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/data_quality_gate.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/reduction.py
  test/test_agilab_module_layout.py
Due: agilab

Classify data quality gate package modules (#493)
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/app_args.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/compat/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/compat/module_shim.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/core.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/data_quality_gate.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/domain/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/domain/core.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/reduction.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/__init__.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/app_args.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/data_quality_gate.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/runtime/reduction.py
  test/test_agilab_module_layout.py
Due: agilab

Update agent skill cleanup guidance
  .claude/skills/agilab-release-verification/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Update agent skill cleanup guidance (#494)
  .claude/skills/agilab-release-verification/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Refresh AGILAB capability manifest
  agilab-capabilities.json
Due: none

Refresh AGILAB capability manifest (#495)
  agilab-capabilities.json
Due: none

Document external AGILAB core pointer merge rule
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
Due: none

Align project and orchestrate expander order
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

Align PROJECT and ORCHESTRATE expander order
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/1_PROJECT_STATUS.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix audit guardrail regressions
  src/agilab/compat/module_shim.py
  src/agilab/core/agi-env/src/agi_env/ui/pagelib.py
  src/agilab/core/agi-env/src/agi_env/ui/pagelib_selection_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_pagelib_selection_support.py
  test/test_agilab_audit.py
  test/test_agilab_dev_shortcuts.py
  test/test_agilab_module_layout.py
  tools/agilab_audit.py
  tools/agilab_dev.py
Due: agilab, agi-env

Harden src tree reorg contracts
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/compat/module_shim.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/notebook_export.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pipeline_view.dot
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/app_settings.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/lib/app_project_build_support.py
  src/agilab/pipeline/pipeline_lab.py
  test/test_agilab_module_layout.py
  test/test_app_contract_matrix.py
  test/test_clean_local_artifacts.py
  test/test_pytorch_playground_app.py
  test/test_tescia_diagnostic_project.py
  tools/app_contract_matrix.py
  tools/clean_local_artifacts.py
Due: agilab

Harden src tree reorg contracts (#498)
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
  agilab-capabilities.json
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/compat/module_shim.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/compat/module_shim.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/notebook_export.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pipeline_view.dot
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/app_settings.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/lib/app_project_build_support.py
  src/agilab/pipeline/pipeline_lab.py
  test/test_agilab_module_layout.py
  test/test_app_contract_matrix.py
  test/test_clean_local_artifacts.py
  test/test_pytorch_playground_app.py
  test/test_tescia_diagnostic_project.py
  tools/app_contract_matrix.py
  tools/clean_local_artifacts.py
Due: agilab

Prepare AGILAB 2026.06.02.post1 release
  pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Prepare AGILAB 2026.06.02.post1 release (#499)
  pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix release preflight ty gate
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  tools/pypi_publish.py
Due: none

Fix release preflight ty gate (#500)
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  tools/pypi_publish.py
Due: none

Fix worker cluster CLI dependencies
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/apps/builtin/minimal_app_project/src/minimal_app_worker/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/apps/builtin/multi_app_dag_project/src/multi_app_dag_worker/pyproject.toml
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge_worker/pyproject.toml
  src/agilab/apps/builtin/sklearn_pipeline_project/src/sklearn_pipeline_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/src/weather_forecast_legacy_worker/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  test/test_app_contract_matrix.py
Due: agilab

Fix staged worker core source installs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

Run local cleanup CLI from worker environment
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
Due: agilab, agi-cluster

Fix fresh-clone worker runtime release proof (#501)
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/apps/builtin/minimal_app_project/src/minimal_app_worker/pyproject.toml
  src/agilab/apps/builtin/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/apps/builtin/multi_app_dag_project/src/multi_app_dag_worker/pyproject.toml
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge_worker/pyproject.toml
  src/agilab/apps/builtin/sklearn_pipeline_project/src/sklearn_pipeline_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/src/weather_forecast_legacy_worker/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/test/test_agi_distributor_cleanup_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision_worker/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground_worker/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  test/test_app_contract_matrix.py
Due: agilab, agi-cluster

Fix Starlette supply-chain floor
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: agilab

Fix Starlette supply-chain floor (#502)
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: agilab

Tighten PyPI confirmation skill guidance
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  agenticweb.md
  agilab-capabilities.json
Due: none

Tighten PyPI confirmation skill guidance (#503)
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  agenticweb.md
  agilab-capabilities.json
Due: none

Forbid public PyPI post releases
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .github/workflows/pypi-publish.yaml
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_audit_response_docs.py
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_version_policy.py
  tools/pypi_publish.py
  tools/pypi_release_version_policy.py
  tools/release_plan.py
Due: none

Fix ORCHESTRATE dependency import health checks
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix ORCHESTRATE dependency marker health checks
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix ORCHESTRATE dependency import health checks (#505)
  src/agilab/orchestrate/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab

Fix dataset release archive mtimes
  test/test_dataset_release_assets.py
  tools/dataset_release_assets.py
Due: none

Add agi-core owner guard
  .githooks/pre-push
  .github/workflows/ci.yml
  AGENTS.md
  test/test_agi_core_change_guard.py
  test/test_ci_workflow.py
  test/test_pre_push_changed_files.py
  tools/agi_core_change_guard.py
  tools/pre_push_changed_files.py
Due: none

Keep agi-node independent from agi-cluster
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/cli.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/api/worker_cli_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cli.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/cleanup_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/package_layout_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/bootstrap_source_paths.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/cli.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
  src/agilab/core/test/test_agi_distributor_worker_cli_support.py
  src/agilab/core/test/test_work_dispatcher.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-env, agi-node, agi-cluster

Keep agi-env independent from upper packages
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_env_runtime.py
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-core/src/agi_core/agi_env_runtime.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env_instance_initialization.py
  src/agilab/core/agi-env/src/agi_env/runtime/hook_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/package_layout_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/repository_support.py
  src/agilab/core/agi-env/src/agi_env/runtime/worker_runtime_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_agi_env_helper_branch_sweep.py
  src/agilab/core/agi-env/test/test_hook_support.py
  src/agilab/core/agi-env/test/test_package_layout_support.py
  src/agilab/core/agi-env/test/test_repository_support.py
  src/agilab/core/agi-env/test/test_worker_runtime_support.py
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/core/agi-node/src/agi_node/agi_env_runtime.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix worker post-install environment resolution
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

Fix worker post-install environment resolution (#508)
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node
