Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

feat(tools): add impact validation gate
  test/test_impact_validate.py
  tools/impact_validate.py
Due: none

test(gui): raise agi-gui coverage above 99
  badges/coverage-agi-gui.svg
  src/agilab/apps-pages/view_autoencoder_latenspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/orchestrate_execute.py
  src/agilab/orchestrate_support.py
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_sidebar.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_support.py
  test/test_pipeline_lab.py
  test/test_pipeline_runtime.py
  test/test_pipeline_sidebar.py
  test/test_view_autoencoder_latentspace.py
  test/test_view_barycentric.py
  test/test_view_maps.py
  test/test_view_maps_network.py
  test/test_view_maps_network_page_state.py
Due: agilab

docs(skills): wire impact validation into workflow
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .claude/skills/codex-session-learning/SKILL.md
  .claude/skills/plan-before-code/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  .codex/skills/codex-session-learning/SKILL.md
  .codex/skills/plan-before-code/SKILL.md
  AGENTS.md
Due: none

fix(cluster): support sync scheduler info shutdown
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

feat(tools): add perf smoke benchmark harness
  test/test_perf_smoke.py
  tools/perf_smoke.py
Due: none

fix(cluster): support sync dask shutdown calls
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

docs: add agilab ux roadmap
  docs/ROADMAP.md
  docs/UX_ROADMAP.md
Due: none

docs: add cli-first developer workflow
  README.md
  docs/CLI_FIRST_WORKFLOW.md
  tools/codex_workflow.md
Due: none

feat(tooling): generate vscode tasks and launches
  AGENTS.md
  README.md
  test/test_generate_vscode_tasks.py
  tools/generate_vscode_tasks.py
Due: none

docs(plan): update star growth execution status
  LAUNCH_EXECUTION_CHECKLIST.md
  WEEKLY_GROWTH_TRACKER.md
Due: none

docs(launch): align landing copy and demo asset workflow
  LAUNCH_EXECUTION_CHECKLIST.md
  LAUNCH_POST_DRAFTS.md
  WEEKLY_GROWTH_TRACKER.md
  docs/source/index.rst
  docs/source/quick-start.rst
Due: none

feat(tools): add installer contract checker
  .claude/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
  AGENTS.md
  test/test_impact_validate.py
  test/test_install_contract_check.py
  tools/impact_validate.py
  tools/install_contract_check.py
Due: none

docs(launch): point to published flight demo video
  GITHUB_REPO_POSITIONING.md
  LAUNCH_EXECUTION_CHECKLIST.md
  LAUNCH_POST_DRAFTS.md
  README.md
  WEEKLY_GROWTH_TRACKER.md
  docs/source/demos.rst
Due: none

feat(tools): add workflow parity runner
  AGENTS.md
  test/test_impact_validate.py
  test/test_workflow_parity.py
  tools/impact_validate.py
  tools/workflow_parity.py
Due: none

docs: sharpen positioning and first-run path
  GITHUB_REPO_POSITIONING.md
  README.md
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
Due: none

docs: add codex session bug taxonomy
  docs/CODEX_BUG_TAXONOMY.md
  docs/CODEX_NEXT_PROMPT_TEMPLATE.md
Due: none

refactor(agi-env): extract worker runtime bootstrap support
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/worker_runtime_support.py
  src/agilab/core/agi-env/test/test_worker_runtime_support.py
Due: agilab, agi-env

docs: reduce above-the-fold README noise
  GITHUB_REPO_POSITIONING.md
  README.md
Due: none

docs: clarify component coverage badge labels
  README.md
Due: none
