Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  src/agilab/pages/▶️ EDIT.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab

update
  src/agilab/core/agi-env/src/agi_env/pagelib.py
Due: agilab, agi-env

Improve Experiment layout grouping
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

chore(release): bump version to 2025.10.31.post1
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Clarify step ordering caption
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

Allow hiding steps via ordering control
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
