Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Adopt reducer contract in flight project
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps/builtin/flight_project/README.md
  src/agilab/apps/builtin/flight_project/src/flight/__init__.py
  src/agilab/apps/builtin/flight_project/src/flight/reduction.py
  src/agilab/apps/builtin/flight_project/src/flight_worker/flight_worker.py
  test/test_flight_project_runtime_args.py
  test/test_view_release_decision.py
Due: agilab

Guard reducer contract adoption
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/features.rst
  docs/source/mycode-project.rst
  docs/source/roadmap/agilab-future-work.md
  test/test_reduce_contract_adoption.py
Due: none

Report reducer guardrail in KPI bundle
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  test/test_kpi_evidence_bundle.py
  test/test_reduce_contract_adoption.py
  tools/kpi_evidence_bundle.py
Due: none

Add workflow compatibility report
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  test/test_compatibility_report.py
  test/test_kpi_evidence_bundle.py
  test/test_public_demo_links.py
  tools/compatibility_report.py
  tools/kpi_evidence_bundle.py
Due: none

Guide first proof with compatibility status
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/About_agilab.py
  src/agilab/first_proof_wizard.py
  test/test_about_agilab_helpers.py
  test/test_first_proof_wizard.py
  test/test_kpi_evidence_bundle.py
  tools/kpi_evidence_bundle.py
Due: agilab

Add first-proof run manifest evidence
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/About_agilab.py
  src/agilab/first_proof_wizard.py
  src/agilab/run_manifest.py
  test/test_about_agilab_helpers.py
  test/test_compatibility_report.py
  test/test_first_proof_wizard.py
  test/test_kpi_evidence_bundle.py
  test/test_newcomer_first_proof.py
  test/test_run_manifest.py
  tools/compatibility_report.py
  tools/kpi_evidence_bundle.py
  tools/newcomer_first_proof.py
Due: agilab

Gate release decisions on run manifests
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Ingest run manifests in compatibility report
  docs/.docs_source_mirror_stamp.json
  docs/source/compatibility-matrix.rst
  docs/source/data/compatibility_matrix.toml
  docs/source/roadmap/agilab-future-work.md
  test/test_compatibility_report.py
  test/test_kpi_evidence_bundle.py
  tools/compatibility_report.py
  tools/kpi_evidence_bundle.py
Due: none

Clarify validation gap
  README.md
  README.pypi.md
Due: none

Add first-proof remediation guidance
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/About_agilab.py
  src/agilab/first_proof_wizard.py
  test/test_about_agilab_helpers.py
  test/test_first_proof_wizard.py
  test/test_kpi_evidence_bundle.py
  tools/kpi_evidence_bundle.py
Due: agilab

Import run manifests in release decisions
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Index release manifest evidence
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Compare release manifest evidence
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Compare release evidence bundles
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Tag release manifest attachments
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab

Harden connector path registry
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/apps-pages/view_release_decision/README.md
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/core/agi-env/src/agi_env/__init__.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/connector_registry.py
  test/test_connector_registry.py
  test/test_view_release_decision.py
  tools/production_readiness_report.py
Due: agilab, agi-env

Add hosted validation coverage
  README.md
  README.pypi.md
Due: none

Add multi-app DAG contract
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/data/multi_app_dag_sample.json
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/multi_app_dag.py
  test/test_kpi_evidence_bundle.py
  test/test_multi_app_dag_report.py
  tools/kpi_evidence_bundle.py
  tools/multi_app_dag_report.py
Due: agilab

Add global pipeline DAG report
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/global_pipeline_dag.py
  test/test_global_pipeline_dag_report.py
  test/test_kpi_evidence_bundle.py
  tools/global_pipeline_dag_report.py
  tools/kpi_evidence_bundle.py
Due: agilab

Add global pipeline execution plan
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/global_pipeline_execution_plan.py
  test/test_global_pipeline_execution_plan_report.py
  test/test_kpi_evidence_bundle.py
  tools/global_pipeline_execution_plan_report.py
  tools/kpi_evidence_bundle.py
Due: agilab

Add global pipeline runner state
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/compatibility-matrix.rst
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/global_pipeline_runner_state.py
  test/test_global_pipeline_runner_state_report.py
  test/test_kpi_evidence_bundle.py
  tools/global_pipeline_runner_state_report.py
  tools/kpi_evidence_bundle.py
Due: agilab
