Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  .github/workflows/docs-publish.yaml
  .idea/modules/agi-node.iml
  install.sh
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/test/test_model_returns_code.py
Due: agilab, agi-env

update
  .idea/modules.xml
  pycharm/setup_pycharm.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-env, agi-cluster

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  .idea/modules.xml
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  pycharm/setup_pycharm.py
  src/agilab/apps/flight_project/pyproject.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/flight_trajectory/AGI_run_flight_trajectory.py
  src/agilab/examples/ilp/AGI_install_ilp.py
  src/agilab/examples/ilp/AGI_run_ilp.py
  src/agilab/examples/link_sim/AGI_install_link_sim.py
  src/agilab/examples/link_sim/AGI_run_link_sim.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/examples/network_sim/AGI_install_network_sim.py
  src/agilab/examples/network_sim/AGI_run_network_sim.py
  src/agilab/examples/sat_trajectory/AGI_install_sat_trajectory.py
  src/agilab/examples/sat_trajectory/AGI_run_sat_trajectory.py
  src/agilab/examples/satcom_sim/AGI_install_satcom_sim.py
  src/agilab/examples/sb3_trainer/AGI_install_sb3_trainer.py
  src/agilab/examples/sb3_trainer/AGI_run_sb3_trainer.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-env, agi-cluster

update
  AGENTS.md
  src/agilab/apps/templates/dag_app_template/src/app_settings.toml
  src/agilab/apps/templates/dag_app_template/src/dag_app/dag_app.py
  src/agilab/apps/templates/dag_app_template/src/dag_app/dag_app_args.py
  src/agilab/apps/templates/fireducks_app_template/src/app_settings.toml
  src/agilab/apps/templates/fireducks_app_template/src/fireducks_app/fireducks_app.py
  src/agilab/apps/templates/fireducks_app_template/src/fireducks_app/fireducks_app_args.py
  src/agilab/apps/templates/pandas_app_template/src/app_settings.toml
  src/agilab/apps/templates/pandas_app_template/src/pandas_app/pandas_app.py
  src/agilab/apps/templates/pandas_app_template/src/pandas_app/pandas_app_args.py
  src/agilab/apps/templates/polars_app_template/src/app_settings.toml
  src/agilab/apps/templates/polars_app_template/src/polars_app/polars_app.py
  src/agilab/apps/templates/polars_app_template/src/polars_app/polars_app_args.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  .idea/modules/satcom_sim_project.iml
Due: none

update
  src/agilab/apps/network_sim_project/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/apps/network_sim_project/agilab/core/agi-env/src/agi_env/resources/.agilab/balancer_df.csv
  src/agilab/apps/network_sim_project/agilab/core/agi-env/src/agi_env/resources/.agilab/balancer_model.pkl
Due: agilab

update
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node

update
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/examples/flight_trajectory/AGI_run_flight_trajectory.py
Due: agilab, agi-node

update
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps/flight_project/src/app_settings.toml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/flight_trajectory/AGI_install_flight_trajectory.py
  src/agilab/examples/flight_trajectory/AGI_run_flight_trajectory.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env, agi-cluster

update
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env, agi-cluster

update
  src/agilab/examples/link_sim/AGI_install_link_sim.py
Due: agilab

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
Due: none
