Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor(env): share mlflow artifact uri resolution
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

fix(view-uav-queue-analysis): use current dataframe width API
  src/agilab/apps-pages/view_uav_queue_analysis/src/view_uav_queue_analysis/view_uav_queue_analysis.py
Due: agilab

test(uav-pages): isolate helper coverage from streamlit startup
  test/test_view_uav_queue_analysis.py
  test/test_view_uav_relay_queue_analysis.py
Due: none

refactor(env): isolate mlflow activation attempt
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

refactor(env): isolate mlflow activation context dispatch
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

fix(view-forecast-analysis): use current dataframe width API
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
Due: agilab

refactor(env): isolate mlflow backend preparation
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

fix(view-maps-3d): materialize row-limited dataframe
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
Due: agilab

refactor(env): isolate mlflow experiment selection prep
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

test(pytest): silence harmless coverage import warnings
  pyproject.toml
Due: none

refactor(env): isolate mlflow default experiment lookup
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

test(view-maps-network): expand fallback branch coverage
  test/test_view_maps_network.py
Due: none

refactor(env): isolate mlflow object create dispatch
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

test(view-maps-3d): cover settings fallback branches
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

test(gui): harden page helper coverage
  badges/coverage-agi-gui.svg
  test/test_view_forecast_analysis.py
  test/test_view_maps_network_edge_selection.py
Due: none

refactor(distributor): extract run dispatch helpers
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
Due: agilab, agi-cluster

refactor(env): isolate mlflow schema upgrade preflight
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

test(gui): raise maps page coverage
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  test/test_view_maps_3d.py
  test/test_view_maps_network.py
  test/test_view_maps_network_page_state.py
Due: agilab

docs(skills): resync codex skill mirror
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/svg-diagrams/SKILL.md
Due: none

docs(skills): add codex session learning skill
  .claude/skills/README.md
  .claude/skills/codex-session-learning/SKILL.md
  .claude/skills/codex-session-learning/agents/openai.yaml
  .claude/skills/codex-session-learning/references/schema.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/codex-session-learning/SKILL.md
  .codex/skills/codex-session-learning/agents/openai.yaml
  .codex/skills/codex-session-learning/references/schema.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
