Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Improve PyTorch playground live launch (#385)
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  src/agilab/lab_run.py
  src/agilab/lib/agi-app-pytorch-playground/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  test/test_lab_run.py
  test/test_pytorch_playground_app.py
Due: agilab

Fix AGI-GUI coverage shard regressions
  src/agilab/global_pipeline_app_dispatch_smoke.py
  test/test_analysis_page_helpers.py
  test/test_global_pipeline_app_dispatch_smoke_report.py
  test/test_ui_robot_action_contract.py
  tools/ui_robot_action_contract.py
Due: agilab

Fix AGI-GUI coverage shard regressions (#387)
  src/agilab/global_pipeline_app_dispatch_smoke.py
  test/test_analysis_page_helpers.py
  test/test_global_pipeline_app_dispatch_smoke_report.py
  test/test_ui_robot_action_contract.py
  tools/ui_robot_action_contract.py
Due: agilab

Align HF robot profiles with PyTorch first proof
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

Align HF robot profiles with PyTorch first proof (#389)
  test/test_ui_robot_coverage_contract.py
  test/test_workflow_parity.py
  tools/ui_robot_coverage_contract.py
  tools/workflow_parity.py
Due: none

test: avoid duplicate conftest package imports
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/test/__init__.py
Due: agilab, agi-env

test: restore full regression guards
  .github/workflows/windows-core-tests.yml
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_ci_workflow.py
  test/test_product_demo_reel.py
  test/test_reduce_contract_adoption.py
Due: agilab

test: isolate agi-env regression state
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/data_quality_gate.py
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas/execution_pandas.py
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars/execution_polars.py
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/flight_telemetry.py
  src/agilab/apps/builtin/minimal_app_project/src/minimal_app/minimal_app.py
  src/agilab/apps/builtin/mission_decision_project/src/mission_decision/mission_decision.py
  src/agilab/apps/builtin/multi_app_dag_project/src/multi_app_dag/multi_app_dag.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/pytorch_playground.py
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge/r_runtime_bridge.py
  src/agilab/apps/builtin/sklearn_pipeline_project/src/sklearn_pipeline/sklearn_pipeline.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_queue.py
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue/uav_relay_queue.py
  src/agilab/apps/builtin/weather_forecast_legacy_project/src/weather_forecast_legacy/weather_forecast_legacy.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/weather_forecast.py
  src/agilab/core/agi-env/src/agi_env/agi_env_execution_methods.py
  src/agilab/core/agi-env/test/conftest.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/flight_telemetry.py
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision/mission_decision.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/pytorch_playground.py
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue/uav_relay_queue.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/weather_forecast.py
Due: agilab, agi-env

test: align HF robot first-proof contracts
  src/agilab/apps/builtin/mission_decision_project/README.md
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/README.md
  test/test_tools_surface_contract.py
Due: agilab

[codex] sync public docs source mirror (#383)
  .github/workflows/windows-core-tests.yml
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  src/agilab/apps/builtin/data_quality_gate_project/src/data_quality_gate/data_quality_gate.py
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas/execution_pandas.py
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars/execution_polars.py
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry/flight_telemetry.py
  src/agilab/apps/builtin/minimal_app_project/src/minimal_app/minimal_app.py
  src/agilab/apps/builtin/mission_decision_project/README.md
  src/agilab/apps/builtin/mission_decision_project/src/mission_decision/mission_decision.py
  src/agilab/apps/builtin/multi_app_dag_project/src/multi_app_dag/multi_app_dag.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/pytorch_playground.py
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge/r_runtime_bridge.py
  src/agilab/apps/builtin/sklearn_pipeline_project/src/sklearn_pipeline/sklearn_pipeline.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_queue.py
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue/uav_relay_queue.py
  src/agilab/apps/builtin/weather_forecast_legacy_project/src/weather_forecast_legacy/weather_forecast_legacy.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/weather_forecast.py
  src/agilab/core/agi-env/src/agi_env/agi_env_execution_methods.py
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/agi-env/test/conftest.py
  src/agilab/core/test/__init__.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry/flight_telemetry.py
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/README.md
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/src/mission_decision/mission_decision.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/pytorch_playground.py
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/src/uav_relay_queue/uav_relay_queue.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/weather_forecast.py
  test/test_ci_workflow.py
  test/test_product_demo_reel.py
  test/test_reduce_contract_adoption.py
  test/test_tools_surface_contract.py
Due: agilab, agi-env

Add generic app surface launcher
  README.md
  README.pypi.md
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  docs/source/public-app-catalog.rst
  src/agilab/app_surface.py
  src/agilab/apps/builtin/pytorch_playground_project/src/app_settings.toml
  src/agilab/lab_run.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/app_settings.toml
  test/test_app_surface.py
  test/test_lab_run.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Fix agi-core coverage import mode
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
Due: none

Add generic app surface launcher (#391)
  README.md
  README.pypi.md
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages.rst
  docs/source/public-app-catalog.rst
  src/agilab/app_surface.py
  src/agilab/apps/builtin/pytorch_playground_project/src/app_settings.toml
  src/agilab/lab_run.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/app_settings.toml
  test/test_app_surface.py
  test/test_lab_run.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Polish app surface docs and core parity
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/index.rst
  docs/source/quick-start.rst
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/examples/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Polish app surface docs and core parity (#392)
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/index.rst
  docs/source/quick-start.rst
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/examples/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: agilab

Refresh coverage badges
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
Due: none

Refresh coverage badges after core split
  badges/coverage-agi-gui.svg
  test/test_pytorch_playground_app.py
Due: none

Refresh coverage badges (#393)
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
Due: none

Refresh coverage badges after core split (#394)
  test/test_pytorch_playground_app.py
Due: none

Add PyTorch playground reuse scripts
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  test/test_pytorch_playground_app.py
Due: agilab

Add PyTorch playground reuse scripts (#395)
  src/agilab/apps/builtin/pytorch_playground_project/README.md
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/README.md
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/playground_ui.py
  test/test_pytorch_playground_app.py
Due: agilab

Raise agi-env coverage margin
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
Due: agilab, agi-env

Fix PyTorch playground reuse script paths
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  test/test_pytorch_playground_app.py
Due: agilab

Fix PyTorch playground reuse script paths (#397)
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/core.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/core.py
  test/test_pytorch_playground_app.py
Due: agilab

Fix release ty typing gate
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/env_config_support.py
  src/agilab/core/agi-env/src/agi_env/windows_link_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
Due: agilab, agi-env, agi-node

Restore Streamlit runtime cap
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab

Restore Streamlit cap for UI installs
  .github/dependabot.yml
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_governance_supply_chain_contract.py
Due: agilab

Restore Streamlit runtime cap (#398)
  pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab

Restore Streamlit cap for UI installs (#400)
  .github/dependabot.yml
  test/test_governance_supply_chain_contract.py
Due: none

Make pending PyPI publisher helper idempotent
  test/test_pypi_pending_trusted_publisher.py
  tools/pypi_pending_trusted_publisher.py
Due: none

Add remaining UI edge coverage
  test/test_orchestrate_cluster.py
  test/test_orchestrate_execute.py
  test/test_pytorch_playground_app.py
  test/test_view_maps_network.py
  test/test_workflow_ui.py
Due: none
