Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  .idea/prettier.xml
Due: none

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

update
  AGENTS.md
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/app_args.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/install_apps.sh
Due: agilab, agi-env, agi-node, agi-cluster

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_agi_core_smoke.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  docs/html/_images/classes_agi_env.svg
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_sources/agi-core-licenses.md.txt
  docs/html/_sources/flight-project-licenses.md.txt
  docs/html/_sources/mycode-project-licenses.md.txt
  docs/html/agi-core-licenses.html
  docs/html/agi-env.html
  docs/html/agilab-github.html
  docs/html/agilab-mlops-positioning.html
  docs/html/apps-pages-help.html
  docs/html/apps-pages.html
  docs/html/architecture.html
  docs/html/cluster-help.html
  docs/html/cluster.html
  docs/html/directory-structure.html
  docs/html/edit-help.html
  docs/html/environment.html
  docs/html/execute-help.html
  docs/html/experiment-help.html
  docs/html/explore-help.html
  docs/html/faq.html
  docs/html/features.html
  docs/html/flight-project-licenses.html
  docs/html/install-usecase.html
  docs/html/introduction.html
  docs/html/key-generation.html
  docs/html/module-agi-env.html
  docs/html/mycode-project-licenses.html
  docs/html/quick-start.html
  docs/html/searchindex.js
  docs/html/service_mode_and_paths.html
Due: none

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
Due: agilab, agi-cluster

update
  src/agilab/AGILAB.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/install_apps.sh
Due: agilab, agi-env

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-node, agi-cluster

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/src/agi_env/streamlit_args.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env

update
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node

update
  AGENTS.md
Due: none

update
  install.ps1
  install.sh
Due: none
