Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  src/agilab/apps/flight_project/test/test_flight_manager.py
Due: agilab

update
  src/agilab/apps/flight_project/test/_test_flight_manager.py
  src/agilab/apps/network_sim_project/src/app_settings.toml
Due: agilab

update
  src/agilab/apps/flight_project/src/flight/flight_args.py
  src/agilab/apps/network_sim_project/src/network_sim/network_sim_args.py
  src/agilab/apps/network_sim_project/src/network_sim_worker/network_sim_worker.py
Due: agilab

update
  .gitignore
Due: none

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/apps/flight_project/distribution.json
  src/agilab/apps/flight_project/output.json
  src/agilab/apps/flight_project/test/output.json
Due: agilab

update
  pycharm/setup_pycharm.py
Due: none

update
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
Due: agilab, agi-env, agi-node

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
