Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Simplify step numbering display
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
Due: agilab

Fix lab overlay runtime handling and clean buttons
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  src/agilab/pages/▶️ EXPERIMENT.py
  src/agilab/resources/custom_buttons.json
Due: agilab

Wire run logs placeholder for overlay
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env

update
  docs/html/_images/classes_agi_distributor.svg
  docs/html/_images/classes_agi_env.svg
  docs/html/_images/classes_dag_worker.svg
  docs/html/_images/classes_flight.svg
  docs/html/_images/classes_flight_args.svg
  docs/html/_images/classes_flight_worker.svg
  docs/html/_images/classes_mycode.svg
  docs/html/_images/classes_mycode_args.svg
  docs/html/_images/classes_mycode_worker.svg
  docs/html/_images/classes_pandas_worker.svg
  docs/html/_images/classes_polars_worker.svg
  docs/html/_images/packages_agi_distributor.svg
  docs/html/_images/packages_agi_env.svg
  docs/html/_images/packages_flight.svg
  docs/html/_images/packages_flight_worker.svg
  docs/html/_images/packages_mycode.svg
  docs/html/_images/packages_mycode_worker.svg
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_sources/agi-env.rst.txt
  docs/html/agi-env.html
  docs/html/architecture.html
  docs/html/directory-structure.html
  docs/html/module-agi-env.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/searchindex.js
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env

update
  docs/html/.doctrees/agi-env.doctree
  docs/html/.doctrees/architecture.doctree
  docs/html/.doctrees/directory-structure.doctree
  docs/html/.doctrees/environment.pickle
  docs/html/_images/classes_agi_distributor.svg
  docs/html/_images/classes_agi_env.svg
  docs/html/_images/classes_dag_worker.svg
  docs/html/_images/classes_flight.svg
  docs/html/_images/classes_flight_args.svg
  docs/html/_images/classes_flight_worker.svg
  docs/html/_images/classes_mycode.svg
  docs/html/_images/classes_mycode_args.svg
  docs/html/_images/classes_mycode_worker.svg
  docs/html/_images/classes_pandas_worker.svg
  docs/html/_images/classes_polars_worker.svg
  docs/html/_images/packages_agi_distributor.svg
  docs/html/_images/packages_agi_env.svg
  docs/html/_images/packages_flight.svg
  docs/html/_images/packages_flight_worker.svg
  docs/html/_images/packages_mycode.svg
  docs/html/_images/packages_mycode_worker.svg
  docs/html/_modules/agi_env/agi_env.html
  docs/html/_sources/agi-env.rst.txt
  docs/html/agi-env.html
  docs/html/architecture.html
  docs/html/directory-structure.html
  docs/html/module-agi-env.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/searchindex.js
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env

update
  pycharm/app-scripts/_template_app_test_worker.xml
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-env, agi-node

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env, agi-cluster

update
  log/execute/sb3_trainer/AGI_command_sb3_trainer.py
  log/execute/sb3_trainer/AGI_run_sb3_trainer.py
  log/lab_snippet.py
Due: none

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  pycharm/app-scripts/_template_app_test_manager.xml
  pycharm/app-scripts/_template_app_test_worker.xml
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

Fix per-worker plan chunk submission
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-node, agi-cluster

update
  AGENTS.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
