Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

test(cluster): extend local deployment helper coverage
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab

refactor(cluster): tighten distributor shutdown boundaries
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

refactor(cluster): propagate unexpected transport setup bugs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/transport_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_transport_support.py
Due: agilab, agi-cluster

refactor(cluster): tighten cli helper error boundaries
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cli.py
  src/agilab/core/test/test_agi_distributor_cli.py
Due: agilab, agi-cluster

refactor(node): tighten base worker path helper boundaries
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_path_support.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/core/test/test_base_worker_path_support.py
Due: agilab, agi-node

refactor(cluster): split distributor entrypoint run phases
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
Due: agilab, agi-cluster

refactor(env): tighten process helper error boundaries
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
Due: agilab, agi-env

refactor(env): tighten app settings helper fallbacks
  src/agilab/core/agi-env/src/agi_env/app_settings_support.py
  src/agilab/core/agi-env/test/test_app_settings_support.py
Due: agilab, agi-env

refactor(env): tighten env config helper fallback
  src/agilab/core/agi-env/src/agi_env/env_config_support.py
  src/agilab/core/agi-env/test/test_env_config_support.py
Due: agilab, agi-env

refactor(env): tighten installation marker error handling
  src/agilab/core/agi-env/src/agi_env/installation_support.py
  src/agilab/core/agi-env/test/test_installation_support.py
Due: agilab, agi-env

refactor(env): tighten share mount helper fallbacks
  src/agilab/core/agi-env/src/agi_env/share_mount_support.py
  src/agilab/core/agi-env/test/test_share_mount_support.py
Due: agilab, agi-env

refactor(env): tighten project clone helper fallbacks
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
Due: agilab, agi-env

fix(agi-env): drop quiet build logs without blank lines
  src/agilab/core/agi-env/src/agi_env/agi_logger.py
  src/agilab/core/agi-env/test/test_agi_logger.py
Due: agilab, agi-env

refactor(env): tighten share runtime probe handling
  src/agilab/core/agi-env/src/agi_env/share_runtime_support.py
  src/agilab/core/agi-env/test/test_share_runtime_support.py
Due: agilab, agi-env

refactor(env): tighten worker hook resolution fallback
  src/agilab/core/agi-env/src/agi_env/hook_support.py
  src/agilab/core/agi-env/test/test_hook_support.py
Due: agilab, agi-env

refactor(env): tighten data archive helper fallbacks
  src/agilab/core/agi-env/src/agi_env/data_archive_support.py
  src/agilab/core/agi-env/test/test_data_archive_support.py
Due: agilab, agi-env

fix(agi-env): harden path fallbacks and sync IDE configs
  .idea/modules.xml
  .idea/modules/execution_pandas_project.iml
  .idea/modules/execution_polars_project.iml
  .idea/modules/meteo_forecast_project.iml
  .idea/modules/routing_training_project.iml
  .idea/modules/uav_graph_routing_project.iml
  .idea/modules/uav_queue_project.iml
  .idea/modules/uav_relay_queue_project.iml
  .idea/runConfigurations/folders.xml
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/src/agi_env/project_clone_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/agi-env/test/test_project_clone_support.py
Due: agilab, agi-env

refactor(env): tighten execution helper subprocess fallbacks
  src/agilab/core/agi-env/src/agi_env/execution_support.py
  src/agilab/core/agi-env/test/test_execution_support.py
Due: agilab, agi-env

refactor(env): tighten source analysis read fallback
  src/agilab/core/agi-env/src/agi_env/source_analysis_support.py
  src/agilab/core/agi-env/test/test_source_analysis_support.py
Due: agilab, agi-env

refactor(env): tighten app args writer import fallbacks
  src/agilab/core/agi-env/src/agi_env/app_args.py
  src/agilab/core/agi-env/test/test_app_args.py
Due: agilab, agi-env
