Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(mcp): disclose the effective read boundary without widening it
  src/agilab_mcp/manifest_tools.py
  src/agilab_mcp/server.py
  test/test_agilab_mcp_boundary.py
Due: agilab

fix(mcp): disclose the effective read boundary without widening it (#891)
  src/agilab_mcp/manifest_tools.py
  src/agilab_mcp/server.py
  test/test_agilab_mcp_boundary.py
Due: agilab

fix: refresh naming capability manifest
  agilab-capabilities.json
Due: none

fix: refresh AgenticWeb discovery
  agenticweb.md
Due: none

fix(ui): recover locally from unavailable cluster share
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/env_editor.py
  src/agilab/main_page.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

fix(ui): tolerate concurrent page import renders
  src/agilab/main_page.py
  test/test_ui_pages.py
Due: agilab

test(ui): cover long concurrent page renders
  test/test_ui_pages.py
Due: none

fix(ui): report a busy inline render lease as recoverable startup
  src/agilab/about_page/bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

fix(ui): tolerate concurrent app ui imports
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
  test/test_app_ui_concurrency.py
Due: agilab, agi-env

fix(ui): report a busy inline render lease as recoverable startup (#898)
  src/agilab/about_page/bootstrap.py
  test/test_about_agilab_helpers.py
Due: agilab

fix(ui): tolerate concurrent app ui imports (#899)
  src/agilab/apps-pages/app_ui/src/app_ui/app_ui.py
  src/agilab/core/agi-env/test/test_sidecar_registry.py
  test/test_app_ui_concurrency.py
Due: agilab, agi-env

fix(analysis): pin notebook sidecar Python runtime
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

docs(maintenance): refresh ANALYSIS sidecar invariant
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
Due: none

fix(analysis): recover notebook sidecars from stale Python ABIs (#900)
  maintenance/memory/by-path/src%2Fagilab%2Fpages%2F4_ANALYSIS.py.md
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab

docs(agi-core): sync the meta-package rewrite into the public mirror
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-core-architecture.rst
  docs/source/diagrams/agi-core-overview.svg
Due: none

docs(agi-core): sync the meta-package rewrite into the public mirror (#901)
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-core-architecture.rst
  docs/source/diagrams/agi-core-overview.svg
Due: none

docs(agi-node): sync the path-handling rewrite into the public mirror
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-node.rst
Due: none

fix(cache): allow apps to replace inferred distribution inputs
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/distribution_cache_support.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

fix(cache): allow apps to replace inferred distribution inputs (#903)
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/distribution_cache_support.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

docs(agi-node): sync the path-handling rewrite into the public mirror (#902)
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-node.rst
Due: none

fix(workflow): key multi_app_dag stages so its WORKFLOW page renders
  src/agilab/apps/builtin/multi_app_dag_project/lab_stages.toml
  test/test_builtin_lab_stages_contract.py
Due: agilab

fix(workflow): key multi_app_dag stages so its WORKFLOW page renders (#904)
  src/agilab/apps/builtin/multi_app_dag_project/lab_stages.toml
  test/test_builtin_lab_stages_contract.py
Due: agilab

fix(contract): check lab_stages renderability, not parseability
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

fix(contract): check lab_stages renderability, not parseability (#905)
  test/test_app_contract_matrix.py
  tools/app_contract_matrix.py
Due: none

fix(workflow): enforce renderable built-in contracts
  .gitignore
  src/agilab/apps/builtin/data_quality_gate_project/lab_stages.toml
  src/agilab/apps/builtin/mission_decision_project/lab_stages.toml
  src/agilab/apps/builtin/multi_app_dag_project/lab_stages.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/lab_stages.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/pipeline_view.dot
  src/agilab/apps/builtin/r_runtime_bridge_project/scripts/summarize.R
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge/r_runtime_adapter.py
  src/agilab/apps/builtin/sklearn_pipeline_project/lab_stages.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/lab_stages.toml
  src/agilab/apps/builtin/uav_queue_project/lab_stages.toml
  src/agilab/apps/builtin/uav_relay_queue_project/lab_stages.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/lab_stages.toml
  src/agilab/apps/builtin/weather_forecast_project/lab_stages.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/lab_stages.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/lab_stages.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/lab_stages.toml
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_stages.py
  src/agilab/workflow/lab_stages_contract.py
  src/agilab/workflow/workflow_validation.py
  test/test_app_contract_matrix.py
  test/test_builtin_lab_stages_contract.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_pipeline_stages.py
  test/test_r_runtime_bridge_project.py
  test/test_tescia_diagnostic_project.py
  test/test_workflow_validation.py
  tools/app_contract_matrix.py
Due: agilab

chore(capabilities): refresh workflow schema catalog
  agilab-capabilities.json
Due: none

docs(agent): refresh capability discovery
  agenticweb.md
Due: none

fix(workflow): unify built-in stage rendering contract (#906)
  .gitignore
  agenticweb.md
  agilab-capabilities.json
  src/agilab/apps/builtin/data_quality_gate_project/lab_stages.toml
  src/agilab/apps/builtin/mission_decision_project/lab_stages.toml
  src/agilab/apps/builtin/multi_app_dag_project/lab_stages.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/lab_stages.toml
  src/agilab/apps/builtin/r_runtime_bridge_project/pipeline_view.dot
  src/agilab/apps/builtin/r_runtime_bridge_project/scripts/summarize.R
  src/agilab/apps/builtin/r_runtime_bridge_project/src/r_runtime_bridge/r_runtime_adapter.py
  src/agilab/apps/builtin/sklearn_pipeline_project/lab_stages.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/lab_stages.toml
  src/agilab/apps/builtin/uav_queue_project/lab_stages.toml
  src/agilab/apps/builtin/uav_relay_queue_project/lab_stages.toml
  src/agilab/apps/builtin/weather_forecast_legacy_project/lab_stages.toml
  src/agilab/apps/builtin/weather_forecast_project/lab_stages.toml
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/lab_stages.toml
  src/agilab/lib/agi-app-uav-relay-queue/src/agi_app_uav_relay_queue/project/uav_relay_queue_project/lab_stages.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/lab_stages.toml
  src/agilab/pages/3_WORKFLOW.py
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_stages.py
  src/agilab/workflow/lab_stages_contract.py
  src/agilab/workflow/workflow_validation.py
  test/test_app_contract_matrix.py
  test/test_builtin_lab_stages_contract.py
  test/test_pipeline_lab.py
  test/test_pipeline_run_controls.py
  test/test_pipeline_stages.py
  test/test_r_runtime_bridge_project.py
  test/test_tescia_diagnostic_project.py
  test/test_workflow_validation.py
  tools/app_contract_matrix.py
Due: agilab

fix(docs): enforce mirror evidence ownership
  .claude/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-docs/SKILL.md
  .githooks/pre-push
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/pypi-publish.yaml
  AGENTS.md
  agent-context-rules.json
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
  docs/source/data/release_proof.toml
  docs/source/faq.rst
  docs/source/release-proof.rst
  src/agilab/resources/help/troubleshooting.html
  test/test_agent_context_router.py
  test/test_agilab_audit.py
  test/test_ci_workflow.py
  test/test_deprecation_hygiene.py
  test/test_kpi_evidence_bundle.py
  test/test_maintenance_dashboard.py
  test/test_pre_push_changed_files.py
  test/test_production_readiness_report.py
  test/test_pypi_publish.py
  test/test_sync_docs_source.py
  tools/agilab_audit.py
  tools/kpi_evidence_bundle.py
  tools/maintenance_dashboard.py
  tools/pre_push_changed_files.py
  tools/production_readiness_report.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: agilab

fix(docs): enforce mirror evidence ownership (#907)
  .claude/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-docs/SKILL.md
  .githooks/pre-push
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/pypi-publish.yaml
  AGENTS.md
  agent-context-rules.json
  docs/.docs_source_mirror_stamp.json
  docs/source/contributor-guide.rst
  docs/source/data/release_proof.toml
  docs/source/faq.rst
  docs/source/release-proof.rst
  src/agilab/resources/help/troubleshooting.html
  test/test_agent_context_router.py
  test/test_agilab_audit.py
  test/test_ci_workflow.py
  test/test_deprecation_hygiene.py
  test/test_kpi_evidence_bundle.py
  test/test_maintenance_dashboard.py
  test/test_pre_push_changed_files.py
  test/test_production_readiness_report.py
  test/test_pypi_publish.py
  test/test_sync_docs_source.py
  tools/agilab_audit.py
  tools/kpi_evidence_bundle.py
  tools/maintenance_dashboard.py
  tools/pre_push_changed_files.py
  tools/production_readiness_report.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: agilab

fix(docs): keep mirror evidence consistent
  .github/workflows/pypi-publish.yaml
  test/test_ci_workflow.py
  test/test_pypi_publish.py
  test/test_sync_docs_source.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: none

fix(docs): keep mirror evidence consistent (#908)
  .github/workflows/pypi-publish.yaml
  test/test_ci_workflow.py
  test/test_pypi_publish.py
  test/test_sync_docs_source.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: none

fix(docs): harden mirror evidence ownership
  .github/workflows/pypi-publish.yaml
  agent-context-rules.json
  docs/.docs_source_mirror_stamp.json
  test/test_agent_context_router.py
  test/test_agilab_audit.py
  test/test_ci_workflow.py
  test/test_kpi_evidence_bundle.py
  test/test_maintenance_dashboard.py
  test/test_production_readiness_report.py
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  test/test_sync_docs_source.py
  tools/agent_context_router.py
  tools/agilab_audit.py
  tools/kpi_evidence_bundle.py
  tools/maintenance_dashboard.py
  tools/production_readiness_report.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: none

fix(docs): harden mirror evidence ownership (#909)
  .github/workflows/pypi-publish.yaml
  agent-context-rules.json
  docs/.docs_source_mirror_stamp.json
  test/test_agent_context_router.py
  test/test_agilab_audit.py
  test/test_ci_workflow.py
  test/test_kpi_evidence_bundle.py
  test/test_maintenance_dashboard.py
  test/test_production_readiness_report.py
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  test/test_sync_docs_source.py
  tools/agent_context_router.py
  tools/agilab_audit.py
  tools/kpi_evidence_bundle.py
  tools/maintenance_dashboard.py
  tools/production_readiness_report.py
  tools/pypi_publish.py
  tools/sync_docs_source.py
Due: none

fix(notebooks): lead notebook export with the app-owned related-page contract
  src/agilab/notebooks/notebook_export_support.py
  test/test_pipeline_editor.py
Due: agilab

fix(notebooks): lead notebook export with the app-owned related-page contract (#910)
  src/agilab/notebooks/notebook_export_support.py
  test/test_pipeline_editor.py
Due: agilab

docs(diagrams): sync arrow-collision and overflow fixes from canonical
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/agi-core-overview.svg
  docs/source/diagrams/distributed_orchestrate_pipeline_handoff.svg
  docs/source/public-app-catalog.rst
Due: none

fix(cluster): accept proven shutdown after retirement delay
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

docs(diagrams): sync arrow-collision and overflow fixes from canonical (#911)
  docs/.docs_source_mirror_stamp.json
  docs/source/diagrams/agi-core-overview.svg
  docs/source/diagrams/distributed_orchestrate_pipeline_handoff.svg
  docs/source/public-app-catalog.rst
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
