Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Increase agi-node coverage and sync runbook docs
  .idea/modules/agi-node.iml
  AGENTS.md
  README.md
  src/agilab/core/test/test_dag_worker.py
  src/agilab/core/test/test_pandas_worker.py
Due: agilab

test(agi_cluster): raise AGI distributor coverage with orchestration and deploy flows
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_cli.py
Due: agilab

fix install apps-test builtin resolution and failure signaling
  install.sh
  src/agilab/apps/install.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Harden pipeline service start and add run-lock regression tests
  src/agilab/About_agilab.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/3_▶️ PIPELINE.py
  test/test_pipeline_service_guard.py
Due: agilab, agi-env

orchestrate: add run/submit mode switch and exclusive action rendering
  src/agilab/pages/2_▶️ ORCHESTRATE.py
Due: agilab

orchestrate: rename execution mode label from Submit to Serve
  src/agilab/pages/2_▶️ ORCHESTRATE.py
Due: agilab

remove comment for app pages install
  src/agilab/install_apps.sh
Due: agilab

chore(release): bump version to 2026.02.27
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.03.06
  README.md
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Refresh docs consistency and add visible docs version
  docs/source/_static/custom.css
  docs/source/_templates/layout.html
  docs/source/agi-node.rst
  docs/source/agilab-github.rst
  docs/source/agilab-help.rst
  docs/source/agilab.rst
  docs/source/apps-pages.rst
  docs/source/conf.py
  docs/source/directory-structure.rst
  docs/source/faq.rst
  docs/source/framework-api.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/key-generation.rst
  docs/source/module-agi-cluster.rst
  docs/source/module-agi-env.rst
  docs/source/module-agi-node.rst
  docs/source/module-agilab.rst
  docs/source/modules.rst
  docs/source/quick-start.rst
  docs/source/troubleshooting.rst
Due: none

Fix docs version badge resolution
  docs/source/conf.py
Due: none

Add FCAS presentation workflow skill
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/fcas-presentations/SKILL.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
