Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore: externalize mistral offline data
  src/agilab/core/agi-env/src/agi_env/resources/mistral_offline/README.md
Due: agilab, agi-env

chore: externalize mistral offline data
  src/agilab/core/agi-env/src/agi_env/resources/mistral_offline/data/.gitignore
  src/agilab/core/agi-env/src/agi_env/resources/mistral_offline/data/.gitkeep
Due: agilab, agi-env

update
  docs/source/Agilab-Overview.svg
  docs/source/agilab-mlops-positioning.rst
Due: none

update
  docs/html/_images/agi-core-overview.svg
  docs/html/_sources/agi-core-architecture.rst.txt
  docs/html/_sources/agilab-mlops-positioning.rst.txt
  docs/html/_sources/architecture.rst.txt
  docs/html/agi-core-architecture.html
  docs/html/agilab-mlops-positioning.html
  docs/html/architecture.html
Due: none

update
  docs/html/.doctrees/agi-core-architecture.doctree
  docs/html/.doctrees/agilab-mlops-positioning.doctree
  docs/html/.doctrees/architecture.doctree
  docs/html/_images/agi-core-overview.svg
  docs/html/_sources/agi-core-architecture.rst.txt
  docs/html/_sources/agilab-mlops-positioning.rst.txt
  docs/html/_sources/architecture.rst.txt
  docs/html/agi-core-architecture.html
  docs/html/agilab-mlops-positioning.html
  docs/html/architecture.html
Due: none

update
  docs/html/.doctrees/environment.pickle
Due: none

update
  docs/html/_images/Agilab-Overview.svg
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
