Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Stage worker uv source dependencies
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
Due: agilab, agi-cluster

Fail fast on stale worker uv sources
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
Due: agilab, agi-cluster

Expose staged worker uv sources on sys.path
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
Due: agilab, agi-cluster

Add project names to pipeline execution sequence labels
  src/agilab/pipeline_lab.py
  src/agilab/pipeline_steps.py
  test/test_pipeline_steps.py
Due: agilab

Restore coverage jobs for core badges
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/test/test_agi_distributor.py
Due: agilab, agi-env, agi-cluster

Treat blank AGILAB path env vars as unset
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Treat blank dotenv values as unset
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Avoid Streamlit cache imports in app args
  src/agilab/core/agi-env/src/agi_env/app_args.py
  src/agilab/core/agi-env/src/agi_env/streamlit_args.py
Due: agilab, agi-env

Require bearer lists in allocation views
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Expand agi-gui coverage test set
  .github/workflows/coverage.yml
Due: none

Add agi-gui helper coverage tests
  test/test_orchestrate_execute.py
  test/test_pipeline_lab.py
Due: none

Expand agi-gui helper coverage set
  .github/workflows/coverage.yml
Due: none

Add counted agi-env pagelib coverage tests
  src/agilab/core/agi-env/test/test_pagelib.py
Due: agilab, agi-env

chore(release): bump version to 2026.04.01.post1
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
