Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Refine settings navigation and notebook onboarding
  src/agilab/about_page/onboarding.py
  src/agilab/main_page.py
  src/agilab/pages/0_SETTINGS.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

Expose settings from system menu
  src/agilab/main_page.py
  src/agilab/page_docs.py
  test/test_about_agilab_helpers.py
  test/test_page_docs.py
  test/test_ui_pages.py
Due: agilab

Revert "Expose settings from system menu"
  src/agilab/main_page.py
  src/agilab/page_docs.py
  test/test_about_agilab_helpers.py
  test/test_page_docs.py
  test/test_ui_pages.py
Due: agilab

Align flight-telemetry project naming
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/compatibility_matrix.toml
  docs/source/data/multi_app_dag_flight_sample.json
  docs/source/flight-telemetry-project-licenses.md
  docs/source/flight-telemetry-project.rst
  docs/source/newcomer-troubleshooting.rst
  docs/source/quick-start.rst
  src/agilab/about_page/onboarding.py
  src/agilab/apps/builtin/flight_telemetry_project/README.md
  src/agilab/apps/builtin/flight_telemetry_project/notebook_import_views.toml
  src/agilab/apps/builtin/flight_telemetry_project/pipeline_view.dot
  src/agilab/apps/builtin/flight_telemetry_project/pyproject.toml
  src/agilab/apps/builtin/flight_telemetry_project/src/flight/flight_args.py
  src/agilab/apps/builtin/flight_telemetry_project/src/flight/reduction.py
  src/agilab/cluster_flight_validation.py
  src/agilab/first_proof_cli.py
  src/agilab/first_proof_wizard.py
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/README.md
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/notebook_import_views.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pipeline_view.dot
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight/flight_args.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight/reduction.py
  src/agilab/main_page.py
  test/test_about_agilab_helpers.py
  test/test_first_proof_wizard.py
  test/test_kpi_evidence_bundle.py
  tools/build_demo_explainer.py
  tools/build_product_demo_reel.py
  tools/first_launch_robot.py
  tools/hf_space_smoke.py
  tools/kpi_evidence_bundle.py
Due: agilab

Align hidden settings navigation docs
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-help.rst
  docs/source/demo_capture_script.md
  docs/source/environment.rst
  src/agilab/main_page.py
  test/test_about_agilab_helpers.py
  test/test_ui_pages.py
Due: agilab

Align recent project rename labels
  src/agilab/apps/builtin/execution_pandas_project/README.md
  src/agilab/apps/builtin/execution_pandas_project/src/app_args_form.py
  src/agilab/apps/builtin/execution_pandas_project/src/connectors/data_connectors.toml
  src/agilab/apps/builtin/execution_polars_project/README.md
  src/agilab/apps/builtin/execution_polars_project/src/app_args_form.py
  src/agilab/apps/builtin/execution_polars_project/src/connectors/data_connectors.toml
  src/agilab/apps/builtin/mission_decision_project/README.md
  src/agilab/apps/builtin/uav_queue_project/README.md
  src/agilab/apps/builtin/uav_queue_project/lab_stages.toml
  src/agilab/apps/builtin/uav_queue_project/pipeline_view.dot
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/app_args_form.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/app_args.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_queue.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_relay_queue.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue/uav_relay_queue_args.py
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/uav_queue_worker.py
  src/agilab/lib/agi-app-mission-decision/src/agi_app_mission_decision/project/mission_decision_project/README.md
  tools/build_product_demo_reel.py
Due: agilab

Fix notebook import upload routing
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
Due: agilab

Fix first-proof notebook upload flow
  src/agilab/about_page/onboarding.py
  src/agilab/first_proof_wizard.py
  src/agilab/main_page.py
  src/agilab/orchestrate_execute.py
  src/agilab/orchestrate_pending_actions.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_agilab_web_robot.py
  test/test_first_proof_wizard.py
  test/test_orchestrate_execute.py
  test/test_ui_pages.py
  tools/agilab_web_robot.py
  tools/first_launch_robot.py
Due: agilab

Align first-proof docs with onboarding wizard
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
Due: none

chore(release): bump version to 2026.05.15
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
Due: none

Clarify security adoption guidance
  ADOPTION.md
  README.md
  README.pypi.md
  SECURITY.md
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  docs/source/quick-start.rst
  docs/source/security-adoption.rst
  test/test_audit_response_docs.py
  test/test_governance_supply_chain_contract.py
  test/test_public_demo_links.py
  test/test_security_hygiene_report.py
  test/test_security_policy.py
  tools/security_hygiene_report.py
Due: none

Harden PyPI provenance verification
  .github/workflows/pypi-publish.yaml
  test/test_pypi_provenance_check.py
  tools/pypi_provenance_check.py
Due: none

chore(release): bump version to 2026.05.15.post1
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
Due: none

docs(release): record 2026.05.15.post1 evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

Fix Hugging Face Space smoke settings page contract
  test/test_hf_space_smoke.py
  tools/hf_space_smoke.py
Due: none

docs(release): record Hugging Face Space sync
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

Update agent skills after release sync
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-huggingface-spaces/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-docs/SKILL.md
  .codex/skills/agilab-huggingface-spaces/SKILL.md
Due: none

Trim unused UI and worker dependencies
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_worker/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/pages/1_PROJECT.py
  test/test_pyproject_dependency_hygiene.py
Due: agilab, agi-cluster

Fix agi-gui coverage parity extras
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none
