Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  install.ps1
  install.sh
Due: none

update
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab, agi-env

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

update
  install.sh
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/install.sh
  src/agilab/pages/▶️ EXPERIMENT.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env

update
  install.sh
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/install.sh
Due: agilab, agi-env

Persist view settings and add commit badge
  README.md
  src/agilab/apps-pages/view_autoencoder_latenspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
Due: agilab

Add PRs welcome badge
  README.md
Due: none

Add PyPI format badge
  README.md
Due: none

Add PyPI size badge
  README.md
Due: none

Replace PyPI size badge with repo size
  README.md
Due: none

Add open issues badge
  README.md
Due: none

Align README badges across submodules
  codex/README.md
  docker/README.md
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
