Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Add shared input-folder fallback resolver
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
Due: agilab, agi-node

Harden clean install regression flow
  install.sh
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/install_apps.sh
Due: agilab, agi-env, agi-cluster

docs: document persisted streamlit form state
  AGENTS.md
Due: none

chore: update runbook and streamlit form helpers
  AGENTS.md
  src/agilab/apps/builtin/flight_project/src/app_settings.toml
  src/agilab/core/agi-env/src/agi_env/streamlit_args.py
  src/agilab/core/agi-env/test/test_streamlit_args.py
Due: agilab, agi-env

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
Due: none

agi_distributor: remove IPython background jobs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/pages/4_▶️ ANALYSIS.py
Due: agilab, agi-cluster

docs: add dependency removal audit rule
  AGENTS.md
Due: none

Skip empty built-in app pytest suites
  src/agilab/install_apps.sh
Due: agilab

Add streamlit args edge-case regression tests
  src/agilab/core/agi-env/test/test_streamlit_args.py
Due: agilab, agi-env

Add Windows prepare_local_env regression tests
  src/agilab/core/test/test_agi_distributor.py
Due: agilab

Add cluster env regression coverage
  src/agilab/core/test/test_agi_distributor.py
Due: agilab

Clean up stale built-in test run configs
  .idea/runConfigurations/builtin_flight_call_worker.xml
  .idea/runConfigurations/builtin_flight_test_manager.xml
  .idea/runConfigurations/builtin_flight_test_worker.xml
  .idea/runConfigurations/builtin_mycode_call_worker.xml
  .idea/runConfigurations/builtin_mycode_test_manager.xml
  .idea/runConfigurations/builtin_mycode_test_worker.xml
  AGENTS.md
  tools/generate_runconfig_scripts.py
  tools/run_configs/agilab/agilab-run-dev.sh
  tools/run_configs/agilab/agilab-run-enduser.sh
  tools/run_configs/agilab/lab-run-test.sh
  tools/run_configs/apps/builtin-flight-call-worker.sh
  tools/run_configs/apps/builtin-flight-test-manager.sh
  tools/run_configs/apps/builtin-flight-test-worker.sh
  tools/run_configs/apps/builtin-mycode-call-worker.sh
  tools/run_configs/apps/builtin-mycode-test-manager.sh
  tools/run_configs/apps/builtin-mycode-test-worker.sh
Due: none

Add clean-home install smoke workflow
  .github/workflows/ci.yml
Due: none

Add deploy path distributor regression tests
  src/agilab/core/test/test_agi_distributor.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
