Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  export/sb3_trainer/AGI_run.py
  export/sb3_trainer/AGI_run_sb3_trainer.py
  sb3_trainer/AGI_run.py
  sb3_trainer/AGI_run_sb3_trainer.py
  src/agilab/AGILAB.py
  src/agilab/apps/builtin/flight_project/src/flight/flight.py
  src/agilab/apps/builtin/mycode_project/src/mycode/mycode.py
  src/agilab/apps/install.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  src/agilab/AGILAB.py
  src/agilab/apps/install.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_autoencoder_latenspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/tools/test_kill.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/install_apps.sh
  src/agilab/lab_run.py
  src/agilab/pages/▶️ EDIT.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env, agi-node

update
  install.sh
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/install_apps.sh
Due: agilab, agi-env

update
  .coverage-agi-env
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  export/sb3_trainer/AGI_run.py
  export/sb3_trainer/AGI_run_sb3_trainer.py
  export/sb3_trainer/lab_export_out.csv
  install.sh
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/examples/flight_clone/AGI_install_flight_clone.py
  src/agilab/examples/flight_clone/AGI_run_flight_clone.py
  src/agilab/examples/flight_legacy/AGI_install_flight_legacy.py
  src/agilab/examples/flight_legacy/AGI_run_flight_legacy.py
  src/agilab/examples/flight_trajectory/AGI_install_flight_trajectory.py
  src/agilab/examples/flight_trajectory/AGI_run_flight_trajectory.py
  src/agilab/examples/ilp/AGI_install_ilp.py
  src/agilab/examples/ilp/AGI_run_ilp.py
  src/agilab/examples/link_sim/AGI_install_link_sim.py
  src/agilab/examples/link_sim/AGI_run_link_sim.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/examples/network_sim/AGI_install_network_sim.py
  src/agilab/examples/network_sim/AGI_run_network_sim.py
  src/agilab/examples/sat_trajectory/AGI_get_distrib_sat_trajectory.py
  src/agilab/examples/sat_trajectory/AGI_install_sat_trajectory.py
  src/agilab/examples/sat_trajectory/AGI_run_sat_trajectory.py
  src/agilab/examples/satcom_sim/AGI_install_satcom_sim.py
  src/agilab/examples/sb3_trainer/AGI_install_sb3_trainer.py
  src/agilab/examples/sb3_trainer/AGI_run_sb3_trainer.py
  src/agilab/install_apps.sh
Due: agilab, agi-env

update
  src/agilab/AGILAB.py
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/pages/▶️ EDIT.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  src/agilab/AGILAB.py
  src/agilab/apps/install.py
  src/agilab/pages/▶️ EDIT.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/▶️ EDIT.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPERIMENT.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env

update
  src/agilab/AGILAB.py
  src/agilab/apps/README.md
  src/agilab/apps/install.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/examples/mycode/AGI_install_mycode.py
  src/agilab/examples/mycode/AGI_run_mycode.py
  src/agilab/pages/▶️ EXECUTE.py
  test/test_agi_env.py
Due: agilab, agi-env, agi-node

update
  AGENTS.md
  README.md
  install.sh
  pycharm/fix_pycharm_project.py
  pycharm/setup_pycharm.py
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/pages/▶️ EXPLORE.py
  test/test_agi_env.py
  tools/install_enduser.ps1
  tools/install_enduser.sh
Due: agilab, agi-env

update
  .idea/modules/agi-cluster.iml
Due: none

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
