Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix notebook import doctor merge compatibility
  src/agilab/notebook_import_doctor.py
  test/test_notebook_import_doctor.py
Due: agilab

Ignore generated root project workspaces
  .gitignore
Due: none

docs: add release synchronization contract
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_audit_response_docs.py
Due: none

Guard docs against generated root projects
  docs/.docs_source_mirror_stamp.json
  docs/source/conf.py
  test/test_docs_version_label.py
Due: none

Add fresh source clone regression
  test/test_source_clone_regression.py
Due: none

Add source clone first-proof regression
  test/test_source_clone_regression.py
  tools/newcomer_first_proof.py
Due: none

Gate fresh-clone proof in release preflight
  .github/workflows/pypi-publish.yaml
  pyproject.toml
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  test/test_source_clone_regression.py
  test/test_workflow_parity.py
  tools/pypi_publish.py
  tools/workflow_parity.py
Due: none

Add agent run trace evidence
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  src/agilab/agent_run.py
  src/agilab/lab_run.py
  test/test_agent_run.py
  test/test_agent_workflows.py
  test/test_lab_run.py
  tools/agent_workflows.md
Due: agilab

Add workflow run evidence ledger
  src/agilab/dag_run_engine.py
  src/agilab/workflow_run_manifest.py
  test/test_workflow_run_manifest.py
Due: agilab

Show workflow run evidence in WORKFLOW
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

chore(release): bump version to 2026.05.12
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/pyproject.toml
  src/agilab/apps/builtin/global_dag_project/src/global_dag_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Link WORKFLOW evidence to existing run logs
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

Cover WORKFLOW evidence UI regressions
  test/test_ui_pages.py
Due: none

Improve LAN discovery interface detection
  src/agilab/cluster_lan_discovery.py
  test/test_cluster_lan_discovery.py
Due: agilab

docs: show explicit wheel badge
  README.md
  test/test_public_demo_links.py
Due: none

fix: harden supply-chain release audit
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_profile_supply_chain_scan.py
  tools/profile_supply_chain_scan.py
Due: agilab, agi-cluster

Add agent secret and tool safety helpers
  src/agilab/agent_tool_safety.py
  src/agilab/data_connector_facility.py
  src/agilab/data_connector_live_endpoint_smoke.py
  src/agilab/data_connector_runtime_adapters.py
  src/agilab/data_connector_ui_preview.py
  src/agilab/secret_uri.py
  test/test_agent_tool_safety.py
  test/test_data_connector_facility_report.py
  test/test_data_connector_live_endpoint_smoke_report.py
  test/test_data_connector_runtime_adapters_report.py
  test/test_secret_uri.py
Due: agilab

Add WORKFLOW runtime evidence graph
  src/agilab/evidence_graph.py
  src/agilab/pipeline_lab.py
  src/agilab/workflow_run_manifest.py
  src/agilab/workflow_runtime_contract.py
  test/test_evidence_graph.py
  test/test_pipeline_lab.py
  test/test_workflow_run_manifest.py
  test/test_workflow_runtime_contract.py
Due: agilab

Harden agi-gui coverage parity combine
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
