Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2025.11.24
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  README.md
Due: none

update
  pycharm/app-scripts/_template_app_test_worker.xml
Due: none

update
  pycharm/app-scripts/_template_app_test_worker.xml
  src/agilab/apps/sb3_trainer_worker/src/app_args_form.py
  src/agilab/apps/sb3_trainer_worker/src/app_settings.toml
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/__init__.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/envs/__init__.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/envs/time_routing_env.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/pyproject.toml
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/run-all-test.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/sb3_trainer_worker.py
Due: agilab

update
  .idea/runConfigurations/folders.xml
  AGENTS.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_regression.sh
Due: agilab, agi-cluster

update
  .coverage-agilab
  .idea/runConfigurations/folders.xml
  AGENTS.md
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  tools/run_regression.sh
Due: agilab, agi-cluster

update
  AGENTS.md
  pycharm/app-scripts/_template_app_test_manager.xml
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  tools/run_regression.sh
Due: agilab, agi-env

update
  AGENTS.md
  pycharm/app-scripts/_template_app_test_manager.xml
  src/agilab/apps/sb3_trainer_worker/src/app_args_form.py
  src/agilab/apps/sb3_trainer_worker/src/app_settings.toml
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/__init__.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/envs/__init__.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/envs/time_routing_env.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/pyproject.toml
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/run-all-test.py
  src/agilab/apps/sb3_trainer_worker/src/sb3_trainer_worker/sb3_trainer_worker.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  tools/run_regression.sh
Due: agilab, agi-env

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env, agi-cluster

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env, agi-cluster

update
  .idea/modules/agi-env.iml
  AGENTS.md
  install.sh
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

update
  .idea/modules/agi-env.iml
  AGENTS.md
  install.sh
  src/agilab/apps/builtin/flight_project/lab_steps.ipynb
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

update
  src/agilab/AGILAB.py
  src/agilab/apps/install.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  src/agilab/AGILAB.py
  src/agilab/apps/builtin/flight_project/lab_steps.toml
  src/agilab/apps/install.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

Persist last active app selection
  src/agilab/AGILAB.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
