Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Expand agi-env helper coverage
  src/agilab/core/agi-env/test/test_agi_logger.py
  src/agilab/core/agi-env/test/test_app_args.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_streamlit_args.py
Due: agilab, agi-env

Add LAN cluster scheduler regression harness
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_lan_cluster.py
Due: agilab, agi-cluster

Harden LAN cluster regression harness
  src/agilab/core/test/test_agi_distributor_lan_cluster.py
Due: agilab

Fix multi-worker cluster task assignment
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

Fail fast on invalid cluster share config
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
Due: agilab, agi-env

Add approval gate for shared core changes
  .codex/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  AGENTS.md
Due: none

Normalize PyCharm run config macros
  .idea/runConfigurations/agilab_run__dev_.xml
  .idea/runConfigurations/agilab_run__enduser_.xml
  .idea/runConfigurations/app_install__local_.xml
  .idea/runConfigurations/app_script_gen.xml
  .idea/runConfigurations/app_test.xml
  .idea/runConfigurations/apps_pages_launcher.xml
  .idea/runConfigurations/builtin_flight_egg_gen.xml
  .idea/runConfigurations/builtin_flight_install.xml
  .idea/runConfigurations/builtin_flight_postinstall_test.xml
  .idea/runConfigurations/builtin_flight_preinstall_test.xml
  .idea/runConfigurations/builtin_flight_run.xml
  .idea/runConfigurations/builtin_mycode_egg_gen.xml
  .idea/runConfigurations/builtin_mycode_install.xml
  .idea/runConfigurations/builtin_mycode_postinstall_test.xml
  .idea/runConfigurations/builtin_mycode_preinstall_test.xml
  .idea/runConfigurations/builtin_mycode_run.xml
  .idea/runConfigurations/publish_dry_run.xml
  .idea/runConfigurations/pypi_publish.xml
  .idea/runConfigurations/run_ssh_cmd.xml
  .idea/runConfigurations/show_depencencies.xml
  .idea/runConfigurations/smoke_apps_pages.xml
  .idea/runConfigurations/test_agi_env.xml
  .idea/runConfigurations/test_pypi_publish.xml
  .idea/runConfigurations/zip_all.xml
  AGENTS.md
Due: none

Document cluster SSH recovery after reinstall
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
Due: none

Sync cluster share and SSH recovery docs
  docs/source/agi-env.rst
  docs/source/environment.rst
  docs/source/key-generation.rst
  docs/source/troubleshooting.rst
Due: none

chore(release): bump version to 2026.04.02.post1
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Stabilize agi-gui coverage job
  .github/workflows/coverage.yml
  test/test_ui_pages.py
Due: none

Increase agi-gui pipeline AI coverage
  test/test_pipeline_ai.py
Due: none

Raise coverage jobs above 50 percent
  .coveragerc.agi-gui
  .github/workflows/coverage.yml
  src/agilab/core/agi-env/test/test_pagelib.py
  test/test_pipeline_openai.py
  test/test_pipeline_runtime.py
Due: agilab, agi-env

Raise coverage jobs above 60 percent
  .coveragerc.agi-env
  .github/workflows/coverage.yml
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_pagelib.py
  test/test_orchestrate_services.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
Due: agilab, agi-env
