Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  codex-examples/flight_clone_prompt_runtime.md
  codex-examples/flight_clone_ukraine_satellite_beams.md
Due: none

fix clone filtering with .gitignore
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

feat(docker): update docker files and sparate ollama in different contaienr
  docker/.dockerignore
  docker/Dockerfile
  docker/Dockerfile-Ollama
  docker/README.md
  docker/docker-compose.yml
  docker/install.sh
Due: none

fix clone filtering with .gitignore
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/examples/flight/AGI_command_flight.py
Due: agilab, agi-env

fix clone filtering with .gitignore
  src/agilab/apps/flight_project/lab_steps.toml
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/examples/flight/AGI_command_flight.py
Due: agilab, agi-env

fix clone filtering with .gitignore
  src/agilab/apps/flight_project/lab_steps.ipynb
  src/agilab/apps/flight_project/lab_steps.toml
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/▶️ EDIT.py
Due: agilab, agi-env

fix clone filtering with .gitignore
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/▶️ EDIT.py
Due: agilab, agi-env

fix clone filtering with .gitignore
  src/agilab/apps/flight_project/lab_steps.ipynb
  src/agilab/apps/flight_project/lab_steps.toml
  src/agilab/examples/flight/AGI_command_flight.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

fix clone filtering with .gitignore
  src/agilab/examples/flight/AGI_command_flight.py
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab
