Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Align core README badges
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-node/README.md
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

update
  docs/html/_images/Agilab-Overview.png
  docs/html/_images/agi-core-overview.png
  docs/html/_images/baseworker_tree.dot
  docs/html/_images/baseworker_tree.png
  docs/html/_images/classes_agi_distributor.png
  docs/html/_images/classes_agi_env.png
  docs/html/_images/classes_dag_worker.png
  docs/html/_images/classes_flight_args.png
  docs/html/_images/classes_pandas_worker.png
  docs/html/_images/packages_agi_distributor.png
  docs/html/_images/packages_agi_env.png
  src/agilab/core/agi-node/src/agi_node/fireducks_worker/fireducks_worker.py
Due: agilab, agi-node

update
  src/agilab/core/agi-node/src/agi_node/fireducks_worker/fireducks_worker.py
Due: agilab, agi-node

Update versions and fix EXPERIMENT reload
  README.md
  codex/README.md
  docker/README.md
  pyproject.toml
  src/agilab/agi_codex.py
  src/agilab/apps-pages/view_autoencoder_latenspace/pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-env/src/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/pages/▶️ EXPERIMENT.py
  src/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

view_maps_network: regex-select dataframe files
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Avoid repeated ~/.agilab mkdir/touch on rerun
  src/agilab/AGILAB.py
Due: agilab

Fix Streamlit df_files session_state mutation
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Silence Streamlit default/session_state warnings
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Fix view_maps_network Streamlit state defaults
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Use selected_time key for time slider
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Fix view_maps_network color map NaN crash
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Fix view_maps_network time controls and allocations defaults
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: plane icon markers
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: restore plane markers and detect routing_edges
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
