Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

fix: gate free-threaded launcher flags on runtime support
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/test/test_deployment_build_support.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/share_runtime_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_share_runtime_support.py
Due: agilab, agi-env, agi-cluster

test: mock free-threading support in build tests
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
Due: agilab

fix: restore capacity predictor import in entrypoint
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
Due: agilab, agi-cluster

refactor(cluster): split distributor runtime distribution tests
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_misc_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_lifecycle_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_state_support.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_service_state_support.py
Due: agilab, agi-cluster

fix(installer): collapse repeated blank log lines
  install.sh
Due: none

test(cluster): split distributor support coverage
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_background_jobs_support.py
  src/agilab/core/test/test_agi_distributor_capacity_support.py
  src/agilab/core/test/test_agi_distributor_cli.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_run_api.py
  src/agilab/core/test/test_agi_distributor_transport_support.py
  src/agilab/core/test/test_agi_distributor_uv_source_support.py
Due: agilab

refactor(cluster): harden derived worker installs
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_misc_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_lifecycle_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/uv_source_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_run_api.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_uv_source_support.py
Due: agilab, agi-node, agi-cluster

refactor(cluster): share distributor runtime setup
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_misc_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
Due: agilab, agi-cluster

refactor(cluster): share service worker startup flow
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
Due: agilab, agi-cluster

add .claude
  .claude/skills/README.md
  .claude/skills/agilab-docs/SKILL.md
  .claude/skills/agilab-installer/SKILL.md
  .claude/skills/agilab-local-llm/SKILL.md
  .claude/skills/agilab-product-reels/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .claude/skills/notebook-to-agilab-project/SKILL.md
  .claude/skills/notebook-to-agilab-project/references/migration-checklist.md
  .claude/skills/notebook-to-agilab-project/references/skforecast-meteo-fr.md
  .claude/skills/pipeline-concept-view/SKILL.md
  .claude/skills/pipeline-concept-view/agents/openai.yaml
  .claude/skills/pipeline-concept-view/references/lab_steps_review.md
  .claude/skills/pipeline-concept-view/references/schema.md
  .claude/skills/svg-diagrams/SKILL.md
Due: none

refactor(cluster): tighten startup exception contracts
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/test/test_agi_distributor_entrypoint_support.py
Due: agilab, agi-cluster

refactor(cluster): tighten service recovery boundaries
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_lifecycle_support.py
  src/agilab/core/test/test_agi_distributor_service_lifecycle_support.py
Due: agilab, agi-cluster

fix(installer): restore live log streaming
  install.sh
Due: none

refactor(cluster): narrow scheduler and background job catches
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/background_jobs_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/scheduler_io_support.py
  src/agilab/core/test/test_agi_distributor_background_jobs_support.py
Due: agilab, agi-cluster

test(cluster): cover unexpected scheduler stderr failures
  src/agilab/core/test/test_agi_distributor_scheduler_io_support.py
Due: agilab

refactor(cluster): tighten remote startup exception paths
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-cluster

fix(cluster): harden service state atomic writes
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/service_state_support.py
  src/agilab/core/test/test_agi_distributor_service_state_support.py
Due: agilab, agi-cluster

refactor(cluster): tighten local deployment parse fallbacks
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

test(cluster): extend distributor helper edge coverage
  src/agilab/core/test/test_agi_distributor_background_jobs_support.py
  src/agilab/core/test/test_agi_distributor_scheduler_io_support.py
Due: agilab

refactor(cluster): tighten uv source helper boundaries
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/uv_source_support.py
  src/agilab/core/test/test_agi_distributor_uv_source_support.py
Due: agilab, agi-cluster

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
