Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

test: cover pinned expander UI helper
  .github/workflows/coverage.yml
  badges/coverage-agilab.svg
  test/test_pinned_expander.py
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

Restore missing project env manifests for PROJECT page
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/uv_config.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/uv_config.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/uv_config.toml
  src/agilab/pages/1_▶️ PROJECT.py
Due: agilab

Fix project editor toolbar test for dict payload
  test/test_project_clone_policy.py
Due: none

Normalize toolbar button test assertions via payload extractor
  test/test_project_clone_policy.py
Due: none

Add toolbar button payload contract test for project editor
  test/test_project_clone_policy.py
Due: none

chore(release): bump version to 2026.05.01.post3
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore(release): bump version to 2026.05.01.post3
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): refresh hf_space commit for v2026.05.01-4
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

chore(release): bump version to 2026.05.01.post4
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  README.md
  README.pypi.md
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/architecture.rst
  docs/source/demos.rst
  docs/source/diagrams/pipeline_example.dot
  docs/source/diagrams/pipeline_example.svg
  docs/source/diagrams/repo_split.dot
  docs/source/experiment-help.rst
  docs/source/index.rst
  docs/source/needs-algos-set.svg
  pyproject.toml
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-env/src/agi_env/pagelib_session_support.py
  src/agilab/core/agi-env/src/agi_env/worker_runtime_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/pages/1_▶️ PROJECT.py
  test/test_agilab_web_robot.py
  test/test_agilab_widget_robot.py
  test/test_project_clone_policy.py
  test/test_view_maps.py
  test/test_view_maps_3d.py
  tools/agilab_web_robot.py
  tools/agilab_widget_robot.py
  tools/apps_pages_launcher.py
Due: agilab, agi-env

update
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/agilab-mlops-positioning.rst
  docs/source/apps-pages.rst
  docs/source/architecture.rst
  docs/source/demos.rst
  docs/source/diagrams/pipeline_example.dot
  docs/source/diagrams/pipeline_example.svg
  docs/source/diagrams/repo_split.dot
  docs/source/experiment-help.rst
  docs/source/index.rst
  docs/source/needs-algos-set.svg
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

allow_untyped_defs
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/folders.xml
  pyproject.toml
  src/agilab/apps/templates/dag_app_template/pyproject.toml
  src/agilab/apps/templates/fireducks_app_template/pyproject.toml
  src/agilab/apps/templates/pandas_app_template/pyproject.toml
  src/agilab/apps/templates/polars_app_template/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster

Install cleanup
  .claude/skills/agilab-installer/SKILL.md
  .codex/skills/agilab-installer/SKILL.md
Due: none

docs: sync source validation workspace guidance
  docs/.docs_source_mirror_stamp.json
  docs/source/quick-start.rst
Due: none

fix jdktable growing
  pycharm/setup_pycharm.py
Due: none

Restore missing uv config manifests
  .gitignore
  src/agilab/apps/builtin/execution_pandas_project/uv_config.toml
  src/agilab/apps/builtin/execution_polars_project/uv_config.toml
  src/agilab/apps/builtin/flight_project/uv_config.toml
  src/agilab/apps/builtin/meteo_forecast_project/uv_config.toml
  src/agilab/apps/builtin/mycode_project/uv_config.toml
  src/agilab/core/agi-core/uv_config.toml
Due: agilab, agi-core

Fix pinned code editor button payload
  src/agilab/pinned_expander.py
  test/test_orchestrate_execute.py
  test/test_pinned_expander.py
  test/test_pipeline_lab.py
Due: agilab

Fix Orchestrate distribution plan lookup
  src/agilab/orchestrate_page_state.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_state.py
Due: agilab
