Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

ci: gate public pypi post releases
  .github/workflows/pypi-publish.yaml
  .github/workflows/test-pypi-publish.yaml
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/package-publishing-policy.rst
  test/test_agilab_dev_shortcuts.py
  test/test_audit_response_docs.py
  test/test_pypi_publish.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_version_policy.py
  tools/agilab_dev.py
  tools/pypi_publish.py
  tools/pypi_release_version_policy.py
  tools/release_plan.py
Due: none

docs(skills): add pypi release maintenance
  .claude/skills/README.md
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  badges/skills-claude.svg
  badges/skills-codex.svg
Due: none

Polish public docs and preserve Streamlit dark theme
  .idea/runConfigurations/agilab_run__dev_.xml
  .idea/runConfigurations/agilab_run__enduser_.xml
  .streamlit/config.toml
  MANIFEST.in
  README.md
  README.pypi.md
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/custom.css
  docs/source/agilab-github.rst
  docs/source/architecture.rst
  docs/source/diagrams/agi-core-overview.svg
  docs/source/diagrams/agilab_pages.svg
  docs/source/diagrams/repo_split.svg
  docs/source/faq.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/newcomer-guide.rst
  docs/source/quick-start.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/lab_run.py
  src/agilab/main_page.py
  src/agilab/orchestrate_page_support.py
  src/agilab/streamlit_theme_env.py
  test/test_agilab_web_robot.py
  test/test_lab_run.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
  test/test_streamlit_156_adoption.py
  tools/agilab_web_robot.py
  tools/run_configs/agilab/agilab-run-dev.sh
  tools/run_configs/agilab/agilab-run-enduser.sh
Due: agilab

Clean deprecated example aliases
  src/agilab/examples/mission_decision/README.md
  src/agilab/examples/mycode/README.md
  test/test_app_installer_packaging.py
Due: agilab

Refresh docs license inventories
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-app-flight-telemetry-licenses.md
  docs/source/agi-app-global-dag-licenses.md
  docs/source/agi-app-mission-decision-licenses.md
  docs/source/agi-app-pandas-execution-licenses.md
  docs/source/agi-app-polars-execution-licenses.md
  docs/source/agi-app-tescia-diagnostic-project-licenses.md
  docs/source/agi-app-uav-queue-project-licenses.md
  docs/source/agi-app-uav-relay-queue-licenses.md
  docs/source/agi-app-weather-forecast-licenses.md
  docs/source/agi-apps-licenses.md
  docs/source/agi-cluster-licenses.md
  docs/source/agi-env-licenses.md
  docs/source/agi-gui-licenses.md
  docs/source/agi-node-licenses.md
  docs/source/agi-page-decision-evidence-licenses.md
  docs/source/agi-page-feature-attribution-licenses.md
  docs/source/agi-page-geospatial-3d-licenses.md
  docs/source/agi-page-geospatial-map-licenses.md
  docs/source/agi-page-inference-report-licenses.md
  docs/source/agi-page-network-map-licenses.md
  docs/source/agi-page-promotion-gate-licenses.md
  docs/source/agi-page-queue-health-licenses.md
  docs/source/agi-page-relay-health-licenses.md
  docs/source/agi-page-simplex-map-licenses.md
  docs/source/agi-page-timeseries-forecast-licenses.md
  docs/source/agi-page-training-report-licenses.md
  docs/source/agi-pages-licenses.md
  docs/source/agilab-licenses.md
  docs/source/flight-telemetry-project-licenses.md
  docs/source/license.rst
  docs/source/mycode-project-licenses.md
  test/test_docs_license_inventory.py
  tools/generate_docs_license_inventories.py
Due: none

Fix autoencoder latent-space page name
  docs/source/directory-structure.txt
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_autoencoder_latentspace/pyproject.toml
  src/agilab/apps-pages/view_autoencoder_latentspace/src/view_autoencoder_latentspace/__init__.py
  src/agilab/apps-pages/view_autoencoder_latentspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_autoencoder_latentspace/src/view_autoencoder_latentspace/view_autoencoder_latentspace.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_pyproject_dependency_hygiene.py
  test/test_view_autoencoder_latentspace.py
  tools/apps_pages_launcher.py
Due: agilab

Open first-proof wizard actions in new tabs
  src/agilab/about_page/onboarding.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_orchestrate_page_helpers.py
  test/test_project_clone_policy.py
Due: agilab

Increase helper branch coverage
  test/test_notebook_import_preflight.py
  test/test_public_certification_profile_report.py
  test/test_runtime_diagnostics.py
  test/test_streamlit_156_adoption.py
Due: none

Increase data connector helper coverage
  test/test_data_connector_health_report.py
  test/test_data_connector_ui_preview_report.py
Due: none

Normalize weather forecast app naming
  docs/.docs_source_mirror_stamp.json
  docs/source/agi-app-weather-forecast-licenses.md
  src/agilab/apps/builtin/weather_forecast_project/lab_stages.toml
  src/agilab/apps/builtin/weather_forecast_project/notebook_import_views.toml
  src/agilab/apps/builtin/weather_forecast_project/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/src/app_args_form.py
  src/agilab/apps/builtin/weather_forecast_project/src/app_settings.toml
  src/agilab/apps/builtin/weather_forecast_project/src/connectors/data_connectors.toml
  src/agilab/apps/builtin/weather_forecast_project/src/meteo_forecast_worker/__init__.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/__init__.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/app_args.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/reduction.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/sample_data/meteo_fr_daily_sample.csv
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast/weather_forecast.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/__init__.py
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/weather_forecast_project/src/weather_forecast_worker/weather_forecast_worker.py
  src/agilab/apps/builtin/weather_forecast_project/test/test_weather_forecast_project.py
  src/agilab/core/agi-env/src/agi_env/app_provider_registry.py
  src/agilab/core/agi-env/test/test_app_provider_registry.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/lab_stages.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/notebook_import_views.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/app_args_form.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/app_settings.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/connectors/data_connectors.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/meteo_forecast_worker/__init__.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/__init__.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/app_args.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/reduction.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/sample_data/meteo_fr_daily_sample.csv
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast/weather_forecast.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/__init__.py
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/src/agi_app_weather_forecast/project/weather_forecast_project/src/weather_forecast_worker/weather_forecast_worker.py
  test/test_agilab_widget_robot.py
  test/test_orchestrate_page_support.py
  test/test_weather_forecast_form.py
  tools/agilab_widget_robot.py
Due: agilab, agi-env

Increase UI helper branch coverage
  test/test_page_docs.py
  test/test_pinned_expander.py
  test/test_pipeline_runtime.py
  test/test_repository_knowledge_report.py
Due: none

Reduce AGILAB install footprint
  install.ps1
  install.sh
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/install.ps1
  src/agilab/core/install.sh
  src/agilab/env_footprint.py
  src/agilab/install_apps.ps1
  src/agilab/install_apps.sh
  src/agilab/lab_run.py
  test/test_env_footprint.py
  test/test_install_local_models.py
  test/test_lab_run.py
  tools/install_enduser.ps1
  tools/install_enduser.sh
Due: agilab, agi-env

Preserve installer environments by default
  AGENTS.md
  install.sh
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_prepare_support.py
  src/agilab/core/test/test_agi_distributor_deployment_prepare_support.py
  src/agilab/install_apps.sh
  test/test_agilab_dev_shortcuts.py
  test/test_impact_validate.py
  tools/agilab_dev.py
  tools/impact_validate.py
  tools/public_proof_scenarios.py
Due: agilab, agi-cluster

Format uv self update helper
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_prepare_support.py
Due: agilab, agi-cluster

Parallelize AGI GUI coverage chunks
  .github/workflows/coverage.yml
  test/test_coverage_workflow.py
Due: none

Align forecast view tests with weather forecast slug
  test/test_view_forecast_analysis.py
  test/test_view_release_decision.py
Due: none

Speed up repeat installs
  install.sh
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_prepare_support.py
  src/agilab/core/install.ps1
  src/agilab/core/install.sh
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_prepare_support.py
  src/agilab/install_apps.ps1
  src/agilab/install_apps.sh
  src/agilab/pages/4_ANALYSIS.py
  test/test_impact_validate.py
  test/test_install_local_models.py
  test/test_workflow_parity.py
  tools/impact_validate.py
  tools/workflow_parity.py
Due: agilab, agi-cluster

Add AGI GUI coverage timing report
  .github/workflows/coverage.yml
  test/test_coverage_timing_report.py
  test/test_coverage_workflow.py
  test/test_workflow_parity.py
  tools/coverage_timing_report.py
  tools/workflow_parity.py
Due: none

Speed up repeat sidecar installs
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
Due: agilab, agi-cluster

Split agi-gui page coverage chunk
  .github/workflows/coverage.yml
  test/test_coverage_timing_report.py
  test/test_coverage_workflow.py
  test/test_workflow_parity.py
  tools/coverage_timing_report.py
  tools/workflow_parity.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
