Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor(orchestrate): narrow execute helper fallbacks
  src/agilab/orchestrate_execute.py
Due: agilab

refactor(pipeline): narrow ai helper fallbacks
  src/agilab/pipeline_ai.py
Due: agilab

refactor(orchestrate): narrow flight args fallback
  src/agilab/pages/2_▶️ ORCHESTRATE.py
Due: agilab

refactor(orchestrate): narrow execute preview helpers
  src/agilab/orchestrate_execute.py
Due: agilab

refactor(orchestrate): narrow preview load boundary
  src/agilab/orchestrate_execute.py
Due: agilab

refactor(analysis): tighten template guard and restore errors
  src/agilab/pages/4_▶️ ANALYSIS.py
  src/agilab/pipeline_editor.py
  test/test_analysis_page_helpers.py
  test/test_pipeline_editor.py
Due: agilab

refactor(agi-env): extract mlflow store helpers
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
Due: agilab, agi-env

fix(mlflow): unify runtime tracking helpers
  src/agilab/About_agilab.py
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pipeline_runtime.py
  test/test_pagelib.py
  test/test_pipeline_runtime.py
Due: agilab, agi-env

refactor(agi-env): extract ui support helpers
  src/agilab/About_agilab.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/src/agi_env/ui_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/page_docs.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  src/agilab/pipeline_sidebar.py
  test/test_pagelib.py
Due: agilab, agi-env

refactor(agi-env): extract process support helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_process_support.py
Due: agilab, agi-env

refactor(agi-env): extract installation discovery helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/installation_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_installation_support.py
Due: agilab, agi-env

docs(badges): label component coverage badges
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  tools/generate_component_coverage_badges.py
Due: none

refactor(agi-env): extract hook support helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/hook_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_hook_support.py
Due: agilab, agi-env

refactor(agi-env): extract env config helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/env_config_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_env_config_support.py
Due: agilab, agi-env

refactor(agi-env): extract app settings helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/app_settings_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_app_settings_support.py
Due: agilab, agi-env

refactor(agi-env): extract share runtime helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/share_runtime_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_share_runtime_support.py
Due: agilab, agi-env

refactor(agi-env): extract source analysis helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/source_analysis_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_source_analysis_support.py
Due: agilab, agi-env

refactor(agi-env): extract worker and rename helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/rename_gitignore_support.py
  src/agilab/core/agi-env/src/agi_env/worker_source_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_rename_gitignore_support.py
  src/agilab/core/agi-env/test/test_worker_source_support.py
Due: agilab, agi-env

refactor(agi-env): extract content renamer
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/content_renamer_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_content_renamer_support.py
Due: agilab, agi-env

refactor(agi-env): extract pagelib source analysis helpers
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/src/agi_env/source_analysis_support.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/agi-env/test/test_source_analysis_support.py
Due: agilab, agi-env

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
