Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  src/agilab/install_apps.sh
Due: agilab

update
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

chore(release): bump version to 2025.11.19
  README.md
  pyproject.toml
Due: none

update
  .idea/modules/agi-node.iml
Due: none

update
  src/agilab/install_apps.ps1
Due: agilab

update
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  coverage.xml
  src/agilab/pages/▶️ EXPERIMENT.py
Due: agilab

update
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  src/agilab/core/agi-env/src/agi_env/agi_env.py
Due: agilab, agi-env

chore(release): bump version to 2025.11.19.post2
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  AGENTS.md
  install.sh
Due: none

update
  docs/html/_modules/index.html
  docs/html/_sources/license.rst.txt
  docs/html/agi-core-architecture.html
  docs/html/agi-distributor.html
  docs/html/agi-env.html
  docs/html/agi-node.html
  docs/html/agilab-github.html
  docs/html/agilab-mlops-positioning.html
  docs/html/agilab.html
  docs/html/apps-pages-help.html
  docs/html/apps-pages.html
  docs/html/architecture.html
  docs/html/cluster-help.html
  docs/html/cluster.html
  docs/html/directory-structure.html
  docs/html/edit-help.html
  docs/html/environment.html
  docs/html/execute-help.html
  docs/html/experiment-help.html
  docs/html/explore-help.html
  docs/html/faq.html
  docs/html/features.html
  docs/html/flight-project.html
  docs/html/framework-api.html
  docs/html/genindex.html
  docs/html/index.html
  docs/html/install-usecase.html
  docs/html/introduction.html
  docs/html/key-generation.html
  docs/html/license.html
  docs/html/mycode-project.html
  docs/html/objects.inv
  docs/html/py-modindex.html
  docs/html/quick-start.html
  docs/html/search.html
  docs/html/searchindex.js
  docs/html/troubleshooting.html
Due: none

update
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
Due: agilab

chore(release): bump version to 2025.11.19.post2
  README.md
  docs/html/.doctrees/environment.pickle
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  .coverage-agi-core
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  src/agilab/install_apps.sh
Due: agilab

update
  .gitignore
  src/agilab/apps/__init__.py
  src/agilab/install_apps.sh
Due: agilab

update
  AGENTS.md
  codex/codex_shell_command_main_stats.tsv
  codex/codex_shell_command_stats.tsv
  codex/codex_shell_history.tsv
  coverage.xml
  pycharm/fix_pycharm_project.py
  run_matrix_dump.txt
  run_matrix_parsed.tsv
  sitecustomize.py
  src/agilab/apps-pages/README.md
  src/agilab/apps/builtin/flight_project/test/test_df.ipynb
  src/agilab/apps/install.py
  src/agilab/install_apps.sh
  test/__init__.py
  tools/apps_pages_launcher.py
Due: agilab

update
  AGENTS.md
  pycharm/fix_pycharm_project.py
  sitecustomize.py
  src/agilab/apps-pages/README.md
  src/agilab/apps/install.py
  src/agilab/install_apps.sh
  test/__init__.py
  tools/apps_pages_launcher.py
Due: agilab

update
  src/agilab/apps/flight_clone_project
  src/agilab/apps/network_sim_project
Due: agilab
