Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

test: separate scheduler and worker share paths
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab

Remove view_inference_analysis page
  docs/source/_static/apps-pages-gallery/view_inference_analysis.svg
  docs/source/agi-page-inference-report-licenses.md
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/__init__.py
  src/agilab/apps-pages/view_inference_analysis/README.md
  src/agilab/apps-pages/view_inference_analysis/pyproject.toml
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/__init__.py
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-pages/src/agi_pages/__init__.py
  src/agilab/pages/4_ANALYSIS.py
  src/agilab/resources/reuse_catalog.toml
  test/test_agilab_widget_robot.py
  test/test_view_inference_analysis.py
Due: agilab

chore(release): prepare 2026.07.17
  CHANGELOG.md
  pyproject.toml
  src/agilab/apps-pages/app_ui/pyproject.toml
  src/agilab/apps-pages/view_barycentric/pyproject.toml
  src/agilab/apps-pages/view_data_io_decision/pyproject.toml
  src/agilab/apps-pages/view_forecast_analysis/pyproject.toml
  src/agilab/apps-pages/view_live_artifacts/pyproject.toml
  src/agilab/apps-pages/view_maps/pyproject.toml
  src/agilab/apps-pages/view_maps_3d/pyproject.toml
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/pyproject.toml
  src/agilab/apps-pages/view_relay_resilience/pyproject.toml
  src/agilab/apps-pages/view_release_decision/pyproject.toml
  src/agilab/apps-pages/view_routing_model_comparison/pyproject.toml
  src/agilab/apps-pages/view_scenario_cockpit/pyproject.toml
  src/agilab/apps-pages/view_shap_explanation/pyproject.toml
  src/agilab/apps-pages/view_training_analysis/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-app-data-quality-gate/pyproject.toml
  src/agilab/lib/agi-app-flight-telemetry/pyproject.toml
  src/agilab/lib/agi-app-mission-decision/pyproject.toml
  src/agilab/lib/agi-app-multi-dag/pyproject.toml
  src/agilab/lib/agi-app-pandas-execution/pyproject.toml
  src/agilab/lib/agi-app-polars-execution/pyproject.toml
  src/agilab/lib/agi-app-pytorch-playground/pyproject.toml
  src/agilab/lib/agi-app-sklearn-pipeline/pyproject.toml
  src/agilab/lib/agi-app-uav-relay-queue/pyproject.toml
  src/agilab/lib/agi-app-weather-forecast/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-web/pyproject.toml
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

fix(docs): prefer current checkout for autodoc
  docs/.docs_source_mirror_stamp.json
  docs/source/conf.py
  test/test_docs_version_label.py
Due: none

fix(tests): stabilize spawned evidence workers
  test/_workflow_run_manifest_process_support.py
  test/test_workflow_run_manifest.py
Due: none

fix installer app venv targeting
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  test/test_source_clone_regression.py
Due: agilab, agi-cluster

fix installer app venv targeting (#819)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
  test/test_source_clone_regression.py
Due: agilab, agi-cluster

test: pin fresh-clone proof Python runtime
  test/test_source_clone_regression.py
Due: none

test: pin fresh-clone proof Python runtime (#820)
  test/test_source_clone_regression.py
Due: none

fix(ui): keep page layout session-scoped
  AGENT_LEARNINGS.md
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  src/agilab/ui/page_bootstrap.py
  test/test_about_agilab_helpers.py
  test/test_agi_pages_runtime.py
  test/test_analysis_page_helpers.py
Due: agilab

fix: require patched setuptools in agi-node
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-node

fix: require patched setuptools in agi-node (#821)
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-node

fix: harden post-publish release recovery
  .github/workflows/pypi-publish.yaml
  test/test_hf_space_release_sync.py
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/hf_space_release_sync.py
  tools/pypi_release_retention.py
Due: none

Fix view_maps_3d beam directory reset
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

Fix view_maps_3d beam directory reset (#823)
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  test/test_view_maps_3d.py
Due: agilab

docs: remove stale module index link
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
Due: none

Fix root test main module isolation
  test/conftest.py
Due: none

Refresh release coverage badges
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
Due: none

Sync current release proof workflow evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

Add app_settings.toml schema validation
  src/agilab/apps/templates/dag_app_template/src/app_settings.toml
  src/agilab/apps/templates/fireducks_app_template/src/app_settings.toml
  src/agilab/apps/templates/pandas_app_template/src/app_settings.toml
  src/agilab/apps/templates/polars_app_template/src/app_settings.toml
  src/agilab/apps/templates/simple_app_template/src/app_settings.toml
  src/agilab/core/agi-env/src/agi_env/project/app_settings_schema.py
  src/agilab/core/agi-env/src/agi_env/runtime/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_app_settings_schema.py
Due: agilab, agi-env

Classify the inner broad exception guard in app_settings_schema
  src/agilab/core/agi-env/src/agi_env/project/app_settings_schema.py
Due: agilab, agi-env

Sync docs mirror: page interface contract + skill-visibility docs
  docs/.docs_source_mirror_stamp.json
  docs/source/agent-workflows.rst
  docs/source/apps-pages.rst
Due: none

feat: verify repo skill drift and Tokki visibility
  .claude/skills/README.md
  .claude/skills/repo-skill-maintenance/SKILL.md
  .claude/skills/repo-skill-maintenance/agents/openai.yaml
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/repo-skill-maintenance/SKILL.md
  .codex/skills/repo-skill-maintenance/agents/openai.yaml
  .tokki/model-free-commands
  .tokki/rules
  AGENT_SKILLS.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  llms.txt
  test/test_agent_workflows.py
  test/test_sync_agent_skills.py
  tools/agent_workflows.md
  tools/sync_agent_skills.py
  tools/workflow_parity.py
Due: none

feat: verify repo skill drift and Tokki visibility (#830)
  .claude/skills/README.md
  .claude/skills/repo-skill-maintenance/SKILL.md
  .claude/skills/repo-skill-maintenance/agents/openai.yaml
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/repo-skill-maintenance/SKILL.md
  .codex/skills/repo-skill-maintenance/agents/openai.yaml
  .tokki/model-free-commands
  .tokki/rules
  AGENT_SKILLS.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
  llms.txt
  test/test_agent_workflows.py
  test/test_sync_agent_skills.py
  tools/agent_workflows.md
  tools/sync_agent_skills.py
  tools/workflow_parity.py
Due: none

Improve routing model comparison time view
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_view_routing_model_comparison.py
Due: agilab

Improve routing model comparison time view (#831)
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  test/test_view_routing_model_comparison.py
Due: agilab

Fix optional-trajectory discovery to search the app's src tree
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_post_install_support.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

fix: harden queue resilience page runtime isolation
  agenticweb.md
  agilab-capabilities.json
  pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/pyproject.toml
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/pyproject.toml
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/lib/agi-pages/pyproject.toml
  src/agilab/lib/agi-pages/src/agi_pages/queue_resilience.py
  src/agilab/lib/agi-pages/src/agi_pages/runtime.py
  test/test_agi_pages_runtime.py
  test/test_package_split_contract.py
  test/test_view_queue_resilience.py
  test/test_view_relay_resilience.py
Due: agilab

test: close example-maturity coverage gaps found in beta audit
  test/test_app_installer_packaging.py
Due: none

test: close example-maturity coverage gaps found in beta audit (#837)
  test/test_app_installer_packaging.py
Due: none

Add crash-recovery robustness evidence gate
  .github/workflows/ci.yml
  README.md
  test/test_agilab_dev_shortcuts.py
  test/test_ci_workflow.py
  test/test_production_readiness_report.py
  test/test_robustness_matrix.py
  tools/agilab_dev.py
  tools/architecture_scorecard.py
  tools/production_readiness_report.py
  tools/robustness_matrix.py
Due: none

Add crash-recovery robustness evidence gate (#838)
  .github/workflows/ci.yml
  README.md
  test/test_agilab_dev_shortcuts.py
  test/test_ci_workflow.py
  test/test_production_readiness_report.py
  test/test_robustness_matrix.py
  tools/agilab_dev.py
  tools/architecture_scorecard.py
  tools/production_readiness_report.py
  tools/robustness_matrix.py
Due: none

Stabilize release proof freshness fixture
  test/test_release_proof_report.py
Due: none

Stabilize release-proof freshness fixture (#839)
  test/test_release_proof_report.py
Due: none

Harden clean installer Python bootstrap
  .python-version
  install.sh
  test/test_install_python_selection.py
  tools/install_enduser.sh
Due: none

Align dev Python pin with CI baseline
  .python-version
  test/test_install_python_selection.py
Due: none

Harden clean installer Python bootstrap (#840)
  .python-version
  install.sh
  test/test_install_python_selection.py
  tools/install_enduser.sh
Due: none

Align setup-python v7 workflow contracts
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-source-guard.yaml
  .github/workflows/pypi-pending-trusted-publisher.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/pypi-release-retention.yaml
  .github/workflows/test-pypi-publish.yaml
  .github/workflows/ui-robot-matrix.yml
  .github/workflows/windows-core-tests.yml
  test/test_ci_workflow.py
  test/test_github_actions_node_runtime.py
Due: none
