Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

Update teaser YouTube link
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Update teaser YouTube link (#346)
  artifacts/demo_media/flight/agilab_flight_youtube_pack.md
Due: none

Centralize node source path resolution
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/bootstrap_source_paths.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node, agi-cluster

Fix audit-readiness security edges
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/pipeline_ai.py
  src/agilab_mcp/server.py
  test/test_audience_bridges.py
  test/test_pipeline_ai.py
Due: agilab

Fix audit-readiness security edges (#348)
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/pipeline_ai.py
  src/agilab_mcp/server.py
  test/test_audience_bridges.py
  test/test_pipeline_ai.py
Due: agilab

Clarify read-only MCP docs
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/audience-bridges.md
Due: none

Clarify read-only MCP docs (#349)
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/audience-bridges.md
Due: none

Harden AgiEnv app switching
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_autoencoder_latentspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/view_data_io_decision.py
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/apps-pages/view_live_artifacts/src/view_live_artifacts/view_live_artifacts.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  src/agilab/apps-pages/view_scenario_cockpit/src/view_scenario_cockpit/view_scenario_cockpit.py
  src/agilab/apps-pages/view_shap_explanation/src/view_shap_explanation/view_shap_explanation.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_surface.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/page_bootstrap.py
  tools/audit_quality_evaluator.py
Due: agilab, agi-env

Fix stale orchestrate env realignment
  src/agilab/page_bootstrap.py
  src/agilab/pages/2_ORCHESTRATE.py
Due: agilab

Harden AgiEnv app switching (#350)
  src/agilab/apps-pages/templates/analysis_page_template/src/view_demo/view_demo.py
  src/agilab/apps-pages/view_autoencoder_latentspace/src/view_autoencoder_latentspace/autoencoder_latentspace.py
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  src/agilab/apps-pages/view_data_io_decision/src/view_data_io_decision/view_data_io_decision.py
  src/agilab/apps-pages/view_forecast_analysis/src/view_forecast_analysis/view_forecast_analysis.py
  src/agilab/apps-pages/view_inference_analysis/src/view_inference_analysis/view_inference_analysis.py
  src/agilab/apps-pages/view_live_artifacts/src/view_live_artifacts/view_live_artifacts.py
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
  src/agilab/apps-pages/view_maps_3d/src/view_maps_3d/view_maps_3d.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps-pages/view_queue_resilience/src/view_queue_resilience/view_queue_resilience.py
  src/agilab/apps-pages/view_relay_resilience/src/view_relay_resilience/view_relay_resilience.py
  src/agilab/apps-pages/view_release_decision/src/view_release_decision/view_release_decision.py
  src/agilab/apps-pages/view_routing_model_comparison/src/view_routing_model_comparison/view_routing_model_comparison.py
  src/agilab/apps-pages/view_scenario_cockpit/src/view_scenario_cockpit/view_scenario_cockpit.py
  src/agilab/apps-pages/view_shap_explanation/src/view_shap_explanation/view_shap_explanation.py
  src/agilab/apps-pages/view_training_analysis/src/view_training_analysis/view_training_analysis.py
  src/agilab/apps/builtin/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_surface.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/lib/agi-app-pytorch-playground/src/agi_app_pytorch_playground/project/pytorch_playground_project/src/pytorch_playground/app_surface.py
  src/agilab/page_bootstrap.py
  tools/audit_quality_evaluator.py
Due: agilab, agi-env

Fix installer connectivity probe
  install.ps1
  install.sh
  test/test_install_local_models.py
Due: none

Add Windows core validation workflow
  .github/workflows/windows-core-tests.yml
  WINDOWS_TEST_FAILURES.md
  test/test_ci_workflow.py
Due: none

Fix Windows overlay quoting test
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
Due: agilab

Harden Windows venv validation
  .github/workflows/windows-core-tests.yml
  src/agilab/core/test/test_agi_distributor_deployment_venv_support.py
Due: agilab

Make venv layout test explicit across platforms
  src/agilab/core/test/test_agi_distributor_deployment_venv_support.py
Due: agilab

Fix remaining Windows core regressions
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_misc_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_agi_distributor_deployment_venv_support.py
Due: agilab, agi-env, agi-cluster

Isolate regex failure tests
  src/agilab/core/agi-env/test/test_process_support.py
Due: agilab, agi-env

Make share runtime absolute path test platform-aware
  src/agilab/core/agi-env/test/test_share_runtime_support.py
Due: agilab, agi-env

Update Windows validation evidence
  WINDOWS_TEST_FAILURES.md
Due: none

Support generic page env realignment
  src/agilab/page_bootstrap.py
Due: agilab

Retry PyPI provenance checks after upload 404
  test/test_pypi_provenance_check.py
  tools/pypi_provenance_check.py
Due: none

docs(release): restore 2026.05.30 proof accuracy
  CHANGELOG.md
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

ci: extend PyPI retention confirmation window
  .github/workflows/pypi-release-retention.yaml
Due: none

fix: make installer help exit cleanly
  install.sh
  test/test_install_local_models.py
  tools/install_enduser.sh
Due: none

refactor core review cleanup
  WINDOWS_TEST_FAILURES.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/app_provider_registry.py
  src/agilab/core/agi-env/src/agi_env/windows_link_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_service_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/worker_tracking_support.py
  src/agilab/core/agi-node/src/agi_node/dag_worker/dag_worker.py
Due: agilab, agi-env, agi-node, agi-cluster

refactor core review cleanup (#359)
  WINDOWS_TEST_FAILURES.md
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/entrypoint_support.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/app_provider_registry.py
  src/agilab/core/agi-env/src/agi_env/windows_link_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_service_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/worker_tracking_support.py
  src/agilab/core/agi-node/src/agi_node/dag_worker/dag_worker.py
Due: agilab, agi-env, agi-node, agi-cluster

refactor agi env host helpers
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/host_runtime_support.py
  src/agilab/core/agi-env/test/test_host_runtime_support.py
  test/test_tools_surface_contract.py
Due: agilab, agi-env

refactor agi env host helpers (#360)
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/host_runtime_support.py
  src/agilab/core/agi-env/test/test_host_runtime_support.py
  test/test_tools_surface_contract.py
Due: agilab, agi-env

guard repository knowledge disappearing files
  src/agilab/repository_knowledge.py
  test/test_repository_knowledge_report.py
Due: agilab

guard repository knowledge disappearing files (#362)
  src/agilab/repository_knowledge.py
  test/test_repository_knowledge_report.py
Due: agilab

normalize builtin app order assertions
  test/test_revision_traceability_report.py
  test/test_supply_chain_attestation_report.py
Due: none

normalize builtin app order assertions (#369)
  test/test_revision_traceability_report.py
  test/test_supply_chain_attestation_report.py
Due: none
