Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

update
  .idea/modules.xml
Due: none

update
  .idea/modules.xml
  src/agilab/apps/flight_legacy_project/src/app_args_form.py
  src/agilab/apps/flight_legacy_project/src/app_settings.toml
Due: agilab

update
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/flight_clone_worker.py
Due: agilab

update
  src/agilab/apps/flight_clone_project/src/flight_clone_worker/sat_trajectory_worker.py
Due: agilab

update
  src/agilab/install_apps.sh
Due: agilab

update
  AGENTS.md
Due: none

update
  test/__init__.py
Due: none

update
  install.sh
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/test/__init__.py
  src/agilab/install_apps.sh
  src/agilab/test/__init__.py
Due: agilab, agi-env

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
