Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

feat(pipeline): carry executable DAG contracts
  src/agilab/apps/builtin/flight_project/dag_templates/flight_to_meteo.json
  src/agilab/dag_execution_adapters.py
  src/agilab/dag_execution_registry.py
  src/agilab/global_pipeline_execution_plan.py
  src/agilab/global_pipeline_runner_state.py
  src/agilab/multi_app_dag_draft.py
  test/test_dag_execution_adapters.py
  test/test_dag_execution_registry.py
  test/test_dag_run_engine.py
  test/test_global_pipeline_execution_plan_report.py
  test/test_multi_app_dag_draft.py
  test/test_multi_app_dag_templates.py
Due: agilab

feat(ui): expose docs in page menu
  src/agilab/main_page.py
  src/agilab/page_docs.py
  src/agilab/pages/1_PROJECT.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/pages/3_PIPELINE.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_about_agilab_helpers.py
  test/test_first_launch_robot.py
  test/test_page_docs.py
  test/test_ui_pages.py
  tools/first_launch_robot.py
Due: agilab

test: improve connector and action coverage
  .github/workflows/coverage.yml
  badges/coverage-agi-env.svg
  src/agilab/core/agi-env/test/test_connector_registry_component.py
  src/agilab/test/test_action_execution.py
  tools/workflow_parity.py
Due: agilab, agi-env

feat(pipeline): show DAG stage executors
  docs/.docs_source_mirror_stamp.json
  docs/source/experiment-help.rst
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

test: cover pipeline step template helpers
  test/test_pipeline_step_templates.py
Due: none

fix(ui): remove redundant project edit shortcut
  src/agilab/pages/1_PROJECT.py
  test/test_ui_pages.py
Due: agilab

feat(pipeline): preview project steps as DAG
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

add notebook project creation
  src/agilab/pages/1_PROJECT.py
  test/test_project_clone_policy.py
  test/test_ui_pages.py
Due: agilab

feat(pipeline): sync project step DAG status
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

fix(installer): preserve matching venvs
  install.sh
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/install.ps1
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  test/test_install_local_models.py
  tools/install_enduser.ps1
Due: agilab, agi-cluster

Add notebook project creation
  src/agilab/pages/1_PROJECT.py
  test/test_project_clone_policy.py
  test/test_ui_pages.py
Due: agilab

refine analysis view launcher docs
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/apps-pages.rst
  docs/source/edit-help.rst
  docs/source/explore-help.rst
  src/agilab/pages/4_ANALYSIS.py
  test/test_ui_pages.py
Due: agilab

tighten beta readiness gates
  test/test_beta_readiness.py
  tools/beta_readiness.py
Due: none

add tescia diagnostic project
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/lab_steps.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_args_form.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_settings.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/pre_prompt.json
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/sample_data/tescia_diagnostic_cases.json
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/tescia_diagnostic_worker.py
Due: agilab

feat(installer): add shared worker venv cache
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

add tescia project validation coverage
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/generator.py
  test/test_kpi_evidence_bundle.py
  test/test_reduce_contract_adoption.py
  test/test_revision_traceability_report.py
  test/test_supply_chain_attestation_report.py
  test/test_tescia_diagnostic_project.py
  tools/kpi_evidence_bundle.py
Due: agilab

Refine analysis view launcher docs (#58)
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/page-shots/project-create-page.png
  docs/source/_static/page-shots/screenshot_manifest.json
  docs/source/apps-pages.rst
  docs/source/edit-help.rst
  docs/source/explore-help.rst
  src/agilab/pages/4_ANALYSIS.py
  test/test_ui_pages.py
Due: agilab

Tighten beta readiness gates (#59)
  test/test_beta_readiness.py
  tools/beta_readiness.py
Due: none

Add TeSciA diagnostic project (#60)
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/lab_steps.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_args_form.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_settings.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/pre_prompt.json
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/generator.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/sample_data/tescia_diagnostic_cases.json
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/pyproject.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic_worker/tescia_diagnostic_worker.py
  test/test_kpi_evidence_bundle.py
  test/test_reduce_contract_adoption.py
  test/test_revision_traceability_report.py
  test/test_supply_chain_attestation_report.py
  test/test_tescia_diagnostic_project.py
  tools/kpi_evidence_bundle.py
Due: agilab

simplify analysis sidebar view links
  docs/.docs_source_mirror_stamp.json
  docs/source/explore-help.rst
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_ui_pages.py
Due: agilab

feat(apps): extend tescia diagnostic example
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_args_form.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_settings.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  test/test_tescia_diagnostic_project.py
Due: agilab

docs(skills): update agent guidance
  .claude/skills/agilab-example-maturity/SKILL.md
  .claude/skills/agilab-local-llm/SKILL.md
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-example-maturity/SKILL.md
  .codex/skills/agilab-local-llm/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
Due: none

wire tescia standalone ai case generation
  src/agilab/apps/builtin/tescia_diagnostic_project/README.md
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_args_form.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/app_settings.toml
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/__init__.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/app_args.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/diagnostic.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/reduction.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/tescia_diagnostic.py
  test/test_tescia_diagnostic_project.py
Due: agilab

docs(skills): refine Streamlit page navigation guidance
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
Due: none

Refine analysis and pipeline sidebar UX
  .claude/skills/agilab-streamlit-pages/SKILL.md
  .codex/skills/agilab-streamlit-pages/SKILL.md
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/explore-help.rst
  src/agilab/pages/3_PIPELINE.py
  src/agilab/pages/4_ANALYSIS.py
  test/test_analysis_page_helpers.py
  test/test_pipeline_page_helpers.py
  test/test_ui_pages.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
