Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

update
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  coverage.xml
  install.sh
  src/agilab/apps/flight_project/test/__init__.py
  src/agilab/apps/mycode_project/src/mycode/mycode.py
  src/agilab/apps/network_sim_project/test/__init__.py
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/test/__init__.py
  src/agilab/install_apps.sh
  src/agilab/test/__init__.py
Due: agilab, agi-env

update
  .coverage-agi-env
  .coverage-agilab
  coverage-agi-cluster.xml
  coverage-agi-core.xml
  coverage-agi-env.xml
  coverage-agi-node.xml
  coverage-agilab.xml
  coverage.xml
  install.sh
  src/agilab/apps/flight_clone_project/test/__init__.py
  src/agilab/apps/flight_project/test/__init__.py
  src/agilab/apps/mycode_project/src/mycode/mycode.py
  src/agilab/apps/network_sim_project/test/__init__.py
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/test/__init__.py
  src/agilab/install_apps.sh
  src/agilab/test/__init__.py
Due: agilab, agi-env

update
  install.sh
  src/agilab/core/agi-env/test/__init__.py
  src/agilab/core/test/__init__.py
  src/agilab/install_apps.sh
  src/agilab/test/__init__.py
Due: agilab, agi-env

update
  sitecustomize.py
Due: none

update
  install.sh
  src/agilab/install_apps.sh
Due: agilab

update
  src/agilab/examples/flight_clone/AGI_run_flight_clone.py
Due: agilab
