Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

view_maps_network: persist sidebar selections in app_settings
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: auto-fallback to known data paths when no files found
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: rerun when relative subdir changes
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: replace experimental_rerun with state flag rerun
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: clear df selection and rerun when subdir changes
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: preload sidebar defaults from saved app_settings
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

view_maps_network: drop rerun flags, keep state persisted
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

update
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env, agi-cluster

update
  network_sim/flows/nodes_ip.json
  network_sim/flows/topology.json
  network_sim/flows/traffic_df/RouteID=0/part.synthetic.parquet
  network_sim/ilp_demands.json
  network_sim/ilp_topology.gml
  network_sim/topology_summary.json
  src/agilab/apps-pages/view_maps_network/pyproject.toml
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/▶️ EXECUTE.py
  src/agilab/pages/▶️ EXPLORE.py
Due: agilab, agi-env, agi-cluster

update
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

update
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-node.iml
  AGENTS.md
  install.ps1
  install.sh
  src/agilab/AGILAB.py
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/agi_distributor.py
  src/agilab/core/agi-env/src/agi_env/agi_env.py
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker.py
  src/agilab/core/install.sh
  src/agilab/pages/▶️ EDIT.py
  src/agilab/pages/▶️ EXECUTE.py
Due: agilab, agi-env, agi-node, agi-cluster

update
  docs/html/_modules/agi_node/agi_dispatcher/build.html
  docs/html/_modules/agi_node/polars_worker/polars_worker.html
  docs/html/_modules/flight/flight.html
  docs/html/_modules/flight/flight_args.html
  docs/html/_modules/mycode/mycode.html
  docs/html/_modules/mycode/mycode_args.html
  docs/html/_modules/mycode_worker/mycode_worker.html
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
