Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

feat(examples): add train-then-serve preview
  docs/.docs_source_mirror_stamp.json
  docs/source/advanced-proof-pack.rst
  docs/source/demos.rst
  docs/source/industrial-optimization-examples.rst
  pyproject.toml
  src/agilab/examples/README.md
  src/agilab/examples/train_then_serve/README.md
  src/agilab/examples/train_then_serve/preview_train_then_serve.py
  src/agilab/examples/train_then_serve/sample_policy_run.json
  test/test_app_installer_packaging.py
Due: agilab

fix(cluster): preserve best-node rapids benchmark flag
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
  src/agilab/core/test/test_agi_distributor_capacity_support.py
Due: agilab, agi-cluster

fix(benchmark): hide shadowed best-node rapids rows
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
  src/agilab/core/test/test_agi_distributor_capacity_support.py
  src/agilab/orchestrate_page_support.py
  test/test_orchestrate_page_support.py
Due: agilab, agi-cluster

feat(pipeline): add global DAG runner preview
  badges/coverage-agi-gui.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

fix(cluster): probe remote rapids through worker cli
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/cli.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_cli.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

fix(pipeline): align project selection sidebar
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_lab.py
  test/test_ui_pages.py
Due: agilab

fix(pipeline): reuse project selector state
  src/agilab/pages/3_▶️ PIPELINE.py
  test/test_ui_pages.py
Due: agilab

fix(ui): share runtime diagnostics control
  src/agilab/orchestrate_page_state.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pipeline_runtime_execution_support.py
  src/agilab/runtime_diagnostics.py
  test/test_orchestrate_page_state.py
  test/test_pipeline_runtime.py
  test/test_runtime_diagnostics.py
  test/test_ui_pages.py
Due: agilab

feat(pipeline): add selector-driven DAG drafts
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab

feat(ui): refine project and orchestrate workspace
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix(dev): isolate agi-gui coverage chunks
  test/test_workflow_parity.py
  tools/workflow_parity.py
Due: none

fix(ui): clarify project and orchestrate flow labels
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_ui_pages.py
Due: agilab

fix(ui): clarify project analysis workflow
  src/agilab/about_page/bootstrap.py
  src/agilab/about_page/layout.py
  src/agilab/about_page/onboarding.py
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pages/4_▶️ ANALYSIS.py
  src/agilab/resources/theme.css
  src/agilab/workflow_ui.py
  test/test_about_agilab_helpers.py
  test/test_analysis_page_helpers.py
  test/test_streamlit_156_adoption.py
  test/test_ui_pages.py
  test/test_workflow_parity.py
  test/test_workflow_ui.py
  tools/workflow_parity.py
Due: agilab

fix: satisfy strict typing for capacity benchmarks
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/capacity_support.py
Due: agilab, agi-cluster

chore(release): bump version to 2026.05.06
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/src/data_io_2026_worker/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/src/execution_pandas_worker/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/src/execution_polars_worker/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/src/meteo_forecast_worker/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/src/mycode_worker/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/src/uav_queue_worker/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/src/uav_relay_queue_worker/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(release): record HF and CI proof for 2026.05.06
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

docs(release): refresh release proof mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

docs: sync public features mirror
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
Due: none

feat(pipeline): improve multi-app DAG orchestration UX
  docs/.docs_source_mirror_stamp.json
  docs/source/features.rst
  docs/source/roadmap/agilab-future-work.md
  src/agilab/pipeline_lab.py
  test/test_pipeline_lab.py
Due: agilab
