Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(launch): add execution checklist and weekly tracker
  LAUNCH_EXECUTION_CHECKLIST.md
  LAUNCH_POST_DRAFTS.md
  STAR_GROWTH_PLAN.md
  WEEKLY_GROWTH_TRACKER.md
Due: none

docs(launch): record github discussion launch
  LAUNCH_EXECUTION_CHECKLIST.md
  WEEKLY_GROWTH_TRACKER.md
Due: none

test(agi-node): cover dispatcher edge branches
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab

test(agi-node): raise dispatcher coverage to 93 percent
  badges/coverage-agi-node.svg
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab

test(agi-node): tighten build script coverage
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab

docs(slides): tighten prompt deck layout
  docs/source/TP Prompt Ingénierie Executive.pptx
  docs/source/TP Prompt Ingénierie.pptx
  tools/build_state_of_art_prompt_deck.py
Due: none

docs(slides): simplify prompt deck layout
  docs/source/TP Prompt Ingénierie.pptx
  tools/build_state_of_art_prompt_deck.py
Due: none

test(gui): raise global coverage to 90 percent
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_orchestrate_execute.py
  test/test_orchestrate_services.py
  test/test_orchestrate_support.py
  test/test_page_docs.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
  test/test_pipeline_openai.py
  test/test_pipeline_runtime.py
  test/test_pipeline_sidebar.py
  test/test_pipeline_steps.py
  test/test_pipeline_views.py
  test/test_ui_pages.py
Due: none

docs(slides): tighten prompt deck layout
  docs/source/TP Prompt Ingénierie.pptx
  tools/build_state_of_art_prompt_deck.py
Due: none

docs(slides): normalize prompt deck arrows
  docs/source/TP Prompt Ingénierie.pptx
  tools/build_state_of_art_prompt_deck.py
Due: none

test: expand coverage and refine prompt decks
  .github/workflows/coverage.yml
  docs/source/TP Prompt Ingénierie.pptx
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_base_worker.py
  test/test_pipeline_ai.py
  test/test_pipeline_lab.py
  tools/build_executive_prompt_deck.py
  tools/build_state_of_art_prompt_deck.py
Due: agilab, agi-env

test: expand env cluster and gui coverage
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/svg-diagrams/SKILL.md
  .coveragerc.agi-env
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_cli.py
  test/test_orchestrate_distribution.py
  test/test_orchestrate_support.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
Due: agilab, agi-env

docs(badges): refresh coverage to 93 percent
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
Due: none

feat(security): security fixes according review of 13/04
  src/agilab/About_agilab.py
  src/agilab/orchestrate_cluster.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_runtime.py
  test/test_pipeline_runtime.py
Due: agilab

refactor(app): share env file parsing helper
  src/agilab/About_agilab.py
  src/agilab/env_file_utils.py
  src/agilab/pipeline_ai.py
  test/test_env_file_utils.py
Due: agilab

test(coverage): raise global coverage to 95 percent
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/agi-env/test/test_pagelib.py
  src/agilab/core/test/test_agi_distributor.py
  src/agilab/core/test/test_agi_distributor_cli.py
  src/agilab/orchestrate_support.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_lab.py
  test/test_orchestrate_distribution.py
  test/test_orchestrate_execute.py
  test/test_orchestrate_support.py
  test/test_pipeline_ai.py
  test/test_pipeline_editor.py
  test/test_pipeline_lab.py
Due: agilab, agi-env

docs(readme): mention codex and claude badge
  README.md
Due: none

docs(readme): align badge separators
  README.md
Due: none

refactor(app): narrow defensive exception handling
  src/agilab/About_agilab.py
  src/agilab/pipeline_ai.py
  src/agilab/pipeline_editor.py
  src/agilab/pipeline_lab.py
  test/test_about_agilab_helpers.py
Due: agilab

refactor(app): tighten app-layer typing hints
  src/agilab/About_agilab.py
  src/agilab/orchestrate_distribution.py
  src/agilab/orchestrate_support.py
  src/agilab/pipeline_ai.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
