Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor: type orchestrate setup state
  src/agilab/orchestrate_page_state.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_orchestrate_page_state.py
Due: agilab

Harden built-in flight project public path
  docs/.docs_source_mirror_stamp.json
  docs/source/conf.py
  docs/source/flight-project-licenses.md
  docs/source/flight-project.rst
  src/agilab/apps/builtin/flight_project/README.md
  src/agilab/apps/builtin/flight_project/pipeline_view.dot
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
  src/agilab/apps/builtin/flight_project/src/flight/__init__.py
  src/agilab/apps/builtin/flight_project/src/flight/flight.py
  src/agilab/apps/builtin/flight_project/src/flight/flight_args.py
  src/agilab/apps/builtin/flight_project/src/flight_worker/flight_worker.py
  test/test_flight_project_runtime_args.py
  test/test_ui_pages.py
Due: agilab

Add packaged orchestration examples
  .github/workflows/coverage.yml
  .github/workflows/pypi-publish.yaml
  pyproject.toml
  src/agilab/examples/README.md
  src/agilab/examples/inter_project_dag/README.md
  src/agilab/examples/inter_project_dag/flight_to_meteo_dag.json
  src/agilab/examples/inter_project_dag/preview_inter_project_dag.py
  src/agilab/examples/service_mode/README.md
  src/agilab/examples/service_mode/preview_service_mode.py
  src/agilab/examples/service_mode/sample_health_running.json
  test/test_app_installer_packaging.py
  test/test_coverage_workflow.py
  test/test_pypi_publish_workflow.py
Due: agilab

Fix flight args form flat import path
  src/agilab/apps/builtin/flight_project/src/app_args_form.py
Due: agilab

Stabilize Flight UI test module isolation
  test/test_flight_project_runtime_args.py
  test/test_ui_pages.py
Due: none

chore(release): bump version to 2026.04.30.post1
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

test: harden release readiness checks
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/test/test_fireducks_worker.py
  src/agilab/core/test/test_pandas_worker.py
  test/test_dependencies.py
  test/test_pipeline_editor.py
Due: agilab, agi-env

fix: seed first-proof example marker
  src/agilab/first_proof_cli.py
  test/test_first_proof_cli.py
Due: agilab

chore(release): bump version to 2026.04.30.post2
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix cluster discovery refresh
  src/agilab/about_page/layout.py
  src/agilab/orchestrate_cluster.py
  test/test_about_agilab_helpers.py
  test/test_orchestrate_cluster.py
Due: agilab

fix: harden packaged flight first run
  pyproject.toml
  src/agilab/apps/builtin/flight_project/src/flight_worker/flight_worker.py
  src/agilab/examples/README.md
  src/agilab/examples/data_io_2026/AGI_install_data_io_2026.py
  src/agilab/examples/flight/AGI_install_flight.py
  src/agilab/examples/flight/AGI_run_flight.py
  src/agilab/examples/flight/README.md
  src/agilab/examples/meteo_forecast/AGI_install_meteo_forecast.py
  test/test_app_installer_packaging.py
  test/test_first_proof_cli.py
  test/test_flight_project_runtime_args.py
Due: agilab

fix(release): clean coverage state before preflight
  test/test_pypi_publish.py
  tools/pypi_publish.py
Due: none

chore(release): bump version to 2026.04.30.post3
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/index.rst
  pyproject.toml
  src/agilab/apps/builtin/data_io_2026_project/pyproject.toml
  src/agilab/apps/builtin/execution_pandas_project/pyproject.toml
  src/agilab/apps/builtin/execution_polars_project/pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/meteo_forecast_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/apps/builtin/uav_queue_project/pyproject.toml
  src/agilab/apps/builtin/uav_relay_queue_project/pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  test/test_public_demo_links.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Fix LAN autofill for known SSH workers
  badges/coverage-agi-gui.svg
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

Fix cluster share and worker status warnings
  src/agilab/about_page/layout.py
  src/agilab/orchestrate_page_helpers.py
  src/agilab/orchestrate_page_support.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  test/test_about_agilab_helpers.py
  test/test_orchestrate_page_helpers.py
  test/test_orchestrate_page_support.py
Due: agilab

Improve LAN cluster worker defaults
  src/agilab/orchestrate_cluster.py
  test/test_orchestrate_cluster.py
Due: agilab

Document repo update command plans
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
Due: none

fix: run lan discovery refresh from orchestrate
  src/agilab/cluster_lan_discovery.py
  src/agilab/orchestrate_cluster.py
  test/test_cluster_lan_discovery.py
  test/test_orchestrate_cluster.py
Due: agilab

fix: support windows lan discovery manager
  badges/coverage-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/cluster.rst
  docs/source/distributed-workers.rst
  src/agilab/cluster_lan_discovery.py
  test/test_cluster_lan_discovery.py
Due: agilab

docs: optimize repository update runbook
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
Due: none

tools: add frequent developer command shortcuts
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  test/test_agilab_dev_shortcuts.py
  tools/agilab_dev.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
