Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor(env): tighten logger filename fallback
  src/agilab/core/agi-env/src/agi_env/agi_logger.py
  src/agilab/core/agi-env/test/test_agi_logger.py
Due: agilab, agi-env

refactor(node): tighten fireducks conversion fallbacks
  src/agilab/core/agi-node/src/agi_node/fireducks_worker/fireducks_worker.py
  src/agilab/core/test/test_fireducks_worker.py
Due: agilab, agi-node

test(agi-env): cover mlflow store helpers
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_defaults.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

refactor(node): tighten post-install link fallback
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(cluster): cover service runtime facade
  src/agilab/core/test/test_agi_distributor_service_runtime_support.py
Due: agilab

refactor(node): tighten build symlink fallbacks
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): tighten dataset archive resolve fallback
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): tighten optional seeding cleanup fallbacks
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): tighten build cleanup fallbacks
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(agi-env): raise helper coverage
  src/agilab/core/agi-env/src/agi_env/process_support.py
  src/agilab/core/agi-env/test/test_content_renamer_support.py
  src/agilab/core/agi-env/test/test_process_support.py
  src/agilab/core/agi-env/test/test_repository_support.py
Due: agilab, agi-env

refactor(node): tighten build worker resolve fallback
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

feat(skills): add scientific svg figure workflow
  .claude/skills/README.md
  .claude/skills/scientific-svg-figures/SKILL.md
  .claude/skills/scientific-svg-figures/agents/openai.yaml
  .claude/skills/scientific-svg-figures/references/figure-classes.md
  .claude/skills/scientific-svg-figures/references/surface-profiles.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/README.md
  .codex/skills/scientific-svg-figures/SKILL.md
  .codex/skills/scientific-svg-figures/agents/openai.yaml
  .codex/skills/scientific-svg-figures/references/figure-classes.md
  .codex/skills/scientific-svg-figures/references/surface-profiles.md
  tools/sync_agent_skills.py
Due: none

refactor(node): tighten build outdir fallback
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(agi-env): cover bootstrap support branches
  src/agilab/core/agi-env/test/test_bootstrap_support.py
Due: agilab, agi-env

refactor(node): tighten hacl dir setup fallback
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): tighten dispatcher path fallbacks
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/agi_dispatcher.py
  src/agilab/core/test/test_work_dispatcher.py
Due: agilab, agi-node

refactor(env): clarify mlflow experiment error checks
  src/agilab/core/agi-env/src/agi_env/mlflow_store.py
  src/agilab/core/agi-env/test/test_mlflow_store.py
Due: agilab, agi-env

test(agi-env): cover hook support branches
  src/agilab/core/agi-env/test/test_hook_support.py
Due: agilab, agi-env

refactor(env): share subprocess spawn fallback
  src/agilab/core/agi-env/src/agi_env/execution_support.py
  src/agilab/core/agi-env/test/test_execution_support.py
Due: agilab, agi-env

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
