Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

refactor(node): isolate worker info path helpers
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/test/test_base_worker_execution_support.py
Due: agilab, agi-node

refactor(node): isolate worker plan logging helpers
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/test/test_base_worker_execution_support.py
Due: agilab, agi-node

fix(view-maps): migrate deprecated plotly map APIs
  src/agilab/apps-pages/view_maps/src/view_maps/view_maps.py
Due: agilab

test(gui): deepen network map coverage
  badges/coverage-agi-gui.svg
  test/test_view_maps_network.py
Due: none

refactor(node): isolate worker log capture helpers
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/test/test_base_worker_execution_support.py
Due: agilab, agi-node

refactor(node): isolate worker initialization helpers
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/base_worker_execution_support.py
  src/agilab/core/test/test_base_worker_execution_support.py
Due: agilab, agi-node

test(gui): expand barycentric page coverage
  badges/coverage-agi-gui.svg
  test/test_view_barycentric.py
Due: none

refactor(node): share build ext link sanitization
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(gui): expand 3d map coverage
  test/test_view_maps_3d.py
Due: none

refactor(node): isolate build ext compile config
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(gui): expand training analysis coverage
  badges/coverage-agi-gui.svg
  test/test_view_training_analysis.py
Due: none

test(cartography): suppress noisy page import warnings
  test/test_view_maps.py
  test/test_view_maps_network.py
Due: none

refactor(node): isolate build ext extension assembly
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(cartography): filter third-party import deprecations
  test/conftest.py
Due: none

refactor(node): isolate worker egg post-processing
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(gui): expand autoencoder latentspace coverage
  badges/coverage-agi-gui.svg
  test/test_view_autoencoder_latentspace.py
Due: none

fix(view-uav-queue-analysis): avoid page meta import warning
  src/agilab/apps-pages/view_uav_queue_analysis/src/view_uav_queue_analysis/view_uav_queue_analysis.py
Due: agilab

test(gui): harden view maps branches
  test/test_view_maps.py
Due: none

refactor(node): isolate worker cython source setup
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): isolate build output resolution
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
