Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

feat(test): fix agi_env tests
  test/test_ui_pages.py
Due: none

Fix dataframe selector key handling and remove Explore labels
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/3_▶️ PIPELINE.py
  src/agilab/pages/4_▶️ ANALYSIS.py
Due: agilab, agi-env

Stop tracking docs/html and enforce guardrails
  .github/workflows/ci.yml
  .github/workflows/docs-publish.yaml
  .gitignore
  AGENTS.md
Due: none

feat(view_maps_network): add cloud NPZ heatmap overlay in Analysis map
  src/agilab/apps-pages/view_maps_network/src/view_maps_network/view_maps_network.py
Due: agilab

Guard delete actions with explicit confirmations
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
Due: agilab

chore(release): bump version to 2026.02.25
  README.md
  pyproject.toml
  src/agilab/apps/builtin/flight_project/pyproject.toml
  src/agilab/apps/builtin/mycode_project/pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

chore: update naming, docs metadata and undo safeguards
  .idea/modules/agi-cluster.iml
  .idea/modules/agi-env.iml
  .idea/modules/agi-node.iml
  README.md
  pyproject.toml
  src/agilab/core/agi-cluster/README.md
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/README.md
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/README.md
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/README.md
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/pages/1_▶️ PROJECT.py
  src/agilab/pages/2_▶️ ORCHESTRATE.py
  src/agilab/pages/3_▶️ PIPELINE.py
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Normalize page bundle labels and drop emoji prefixes
  src/agilab/core/agi-env/src/agi_env/pagelib.py
  src/agilab/pages/4_▶️ ANALYSIS.py
Due: agilab, agi-env

Drop unused view variable after removing emoji mapping
  src/agilab/core/agi-env/src/agi_env/pagelib.py
Due: agilab, agi-env

chore: standardize codex workflow for review/exec/apply
  .gitignore
  AGENTS.md
  README.md
  tools/codex_workflow.md
  tools/codex_workflow.sh
Due: none

docs: clarify tooling requirements and CLI-only option
  README.md
Due: none

ui: remove non-functional Open HISTORY pipeline shortcut
  src/agilab/pages/1_▶️ PROJECT.py
Due: agilab

ui: remove redundant sidebar heading before project mode toggle
  src/agilab/pages/1_▶️ PROJECT.py
Due: agilab

ui: rename home-page exposure selector for clarity
  src/agilab/pages/4_▶️ ANALYSIS.py
Due: agilab

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
