Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Centralize dispatcher bootstrap paths
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/bootstrap_source_paths.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node

Centralize dispatcher bootstrap paths (#311)
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/bootstrap_source_paths.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node

Strengthen teaser feature callouts
  tools/build_product_demo_reel.py
Due: none

Use import guard in lab run
  src/agilab/lab_run.py
  test/test_lab_run.py
Due: agilab

Use import guard in lab run (#313)
  src/agilab/lab_run.py
  test/test_lab_run.py
Due: agilab

Narrow remote pip probe exceptions
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Narrow remote pip probe exceptions (#314)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Refresh Windows failure tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows failure tracker (#315)
  WINDOWS_TEST_FAILURES.md
Due: none

Guard root wheel artifact exclusions
  test/test_package_split_contract.py
Due: none

Guard root wheel artifact exclusions (#316)
  test/test_package_split_contract.py
Due: none

Guard capacity CSV UTF-8 writes
  WINDOWS_TEST_FAILURES.md
  src/agilab/core/test/test_agi_distributor_capacity_support.py
Due: agilab

Guard capacity CSV UTF-8 writes (#317)
  WINDOWS_TEST_FAILURES.md
  src/agilab/core/test/test_agi_distributor_capacity_support.py
Due: agilab

Refresh prepare-local Windows tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh prepare-local Windows tracker (#318)
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh sshpass Windows tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh sshpass Windows tracker (#319)
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows venv layout tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows venv layout tracker (#320)
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows uv source tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows subprocess exit tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows Linux guard tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Refresh Windows mlflow lock tracker
  WINDOWS_TEST_FAILURES.md
Due: none

Resolve Windows unknown tracker bucket
  WINDOWS_TEST_FAILURES.md
Due: none

Clarify Windows tracker current state
  WINDOWS_TEST_FAILURES.md
Due: none

Extract deploy stage cache support
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_stage_cache_support.py
Due: agilab, agi-cluster

Polish teaser into proof capsule story
  tools/build_product_demo_reel.py
Due: none

Revert "Polish teaser into proof capsule story"
  tools/build_product_demo_reel.py
Due: none

Narrow remote pip probe exceptions
  tools/build_product_demo_reel.py
Due: none

Restore teaser reel tool after PR 328
  tools/build_product_demo_reel.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
