Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

Add root app installer wrapper
  README.md
  install_apps.sh
Due: none

Fix app installer wrapper empty args
  install_apps.sh
Due: none

Add base Python 3.14 support
  .github/workflows/ci.yml
  README.md
  README.pypi.md
  pyproject.toml
  test/test_pyproject_dependency_hygiene.py
Due: none

Preserve valid PyCharm uv SDKs
  pycharm/setup_pycharm.py
  test/test_setup_pycharm.py
Due: none

Fix PyCharm core test run configs
  .idea/runConfigurations/test_base_worker.xml
  .idea/runConfigurations/test_dag_worker.xml
  .idea/runConfigurations/test_work_dispatcher.xml
  test/test_setup_pycharm.py
  tools/run_configs/agilab/test-work-dispatcher.sh
  tools/run_configs/components/test-base-worker.sh
  tools/run_configs/components/test-dag-worker.sh
Due: none

Ignore generated app virtual environments
  .gitignore
Due: none

Ignore generated venv symlinks
  .gitignore
Due: none

Default installs to Python 3.14
  .idea/runConfigurations/agilab_run__enduser_.xml
  docker/Dockerfile
  docker/Dockerfile-Worker
  docker/worker-entrypoint.sh
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  install.ps1
  install.sh
  src/agilab/apps/builtin/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/agi-env/src/agi_env/runtime/worker_runtime_support.py
  src/agilab/core/agi-env/test/test_agi_env.py
  src/agilab/core/get_supported_python_versions.py
  src/agilab/environment/env_default_comments.py
  src/agilab/lib/agi-app-flight-telemetry/src/agi_app_flight_telemetry/project/flight_telemetry_project/src/flight_telemetry_worker/pyproject.toml
  test/test_python_versions.py
  tools/hf_space_release_sync.py
  tools/run_configs/agilab/agilab-run-enduser.sh
  tools/run_enduser.sh
Due: agilab, agi-env

Fix app installer selection and worker dependency sync
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  test/test_install_apps_discovery.py
Due: agilab, agi-cluster

Fix app installer selection and worker dependency sync (#771)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  test/test_install_apps_discovery.py
Due: agilab, agi-cluster

Fix workflow reload run reattachment
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  test/test_pipeline_lab.py
Due: agilab

Fix workflow reload run reattachment (#772)
  src/agilab/pipeline/pipeline_lab.py
  src/agilab/pipeline/pipeline_run_controls.py
  test/test_pipeline_lab.py
Due: agilab

Guard Python 3.14 install profiling path
  README.md
  install.sh
  install_private_apps_and_run.sh
  pyproject.toml
  src/agilab/core/install.sh
  src/agilab/install_apps.sh
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/uv_config.toml
  test/test_install_apps_discovery.py
  test/test_install_python_selection.py
  test/test_orchestrate_page_helpers.py
Due: agilab

Fix Python 3.14 GIL app installs
  .gitignore
  install.sh
  install_private_apps_and_run.sh
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-env/src/agi_env/runtime/worker_runtime_support.py
  src/agilab/core/install.sh
  src/agilab/install_apps.sh
Due: agilab, agi-env, agi-cluster

Pass Python selector to worker core add
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_install_spec_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

Stabilize worker core add assertions
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab

[codex] Guard Python 3.14 install profiling path (#773)
  .gitignore
  README.md
  install.sh
  install_private_apps_and_run.sh
  pyproject.toml
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_install_spec_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_prepare_support.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_distribution_support.py
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-env/src/agi_env/runtime/worker_runtime_support.py
  src/agilab/core/install.sh
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  src/agilab/orchestrate/orchestrate_execute.py
  src/agilab/pages/2_ORCHESTRATE.py
  src/agilab/uv_config.toml
  test/test_install_apps_discovery.py
  test/test_install_python_selection.py
  test/test_orchestrate_page_helpers.py
Due: agilab, agi-env, agi-cluster

Use Python selector for page installs
  src/agilab/install_apps.sh
Due: agilab

Respect Python requirements during installs
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  docs/source/quick-start.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  test/test_install_apps_discovery.py
Due: agilab, agi-cluster

Stabilize manager overlay sync assertion
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab

Respect Python requirements during installs (#774)
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/environment.rst
  docs/source/quick-start.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/install_apps.sh
  test/test_install_apps_discovery.py
Due: agilab, agi-cluster

Fix audit runtime installer hardening
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/security/secret_uri.py
  test/test_app_installer_packaging.py
  test/test_secret_uri.py
Due: agilab, agi-cluster

Fix audit runtime installer hardening (#775)
  src/agilab/apps/install.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
  src/agilab/security/secret_uri.py
  test/test_app_installer_packaging.py
  test/test_secret_uri.py
Due: agilab, agi-cluster

Increase coverage contracts to 100 percent
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/apps-pages-gallery/tri_gtia_view.svg
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/tri_gtia_view
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/sample_data/tescia_diagnostic_cases.json
  src/agilab/resources/reuse_catalog.toml
  test/test_tescia_diagnostic_project.py
  test/test_view_tri_gtia.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Align TRI GTIA page bundle naming
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/apps-pages-gallery/view_tri_gtia.svg
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_tri_gtia
  src/agilab/resources/reuse_catalog.toml
  test/test_view_tri_gtia.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Refresh coverage badges
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Replace TRI GTIA page symlink with files
  src/agilab/apps-pages/view_tri_gtia
  src/agilab/apps-pages/view_tri_gtia/README.md
  src/agilab/apps-pages/view_tri_gtia/pyproject.toml
  src/agilab/apps-pages/view_tri_gtia/src/view_tri_gtia/__init__.py
  src/agilab/apps-pages/view_tri_gtia/src/view_tri_gtia/view_tri_gtia.py
Due: agilab

Refresh coverage badges (#777)
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
Due: none

Increase coverage contracts to 100%
  docs/.docs_source_mirror_stamp.json
  docs/source/_static/apps-pages-gallery/view_tri_gtia.svg
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
  src/agilab/apps-pages/README.md
  src/agilab/apps-pages/view_tri_gtia/README.md
  src/agilab/apps-pages/view_tri_gtia/pyproject.toml
  src/agilab/apps-pages/view_tri_gtia/src/view_tri_gtia/__init__.py
  src/agilab/apps-pages/view_tri_gtia/src/view_tri_gtia/view_tri_gtia.py
  src/agilab/apps/builtin/tescia_diagnostic_project/src/tescia_diagnostic/sample_data/tescia_diagnostic_cases.json
  src/agilab/resources/reuse_catalog.toml
  test/test_tescia_diagnostic_project.py
  test/test_view_tri_gtia.py
  tools/ui_robot_coverage_contract.py
Due: agilab

Sync docs mirror after page move
  docs/.docs_source_mirror_stamp.json
  docs/source/apps-pages-gallery.rst
  docs/source/apps-pages.rst
Due: none

Fix worker Python floor normalization
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

Fix worker Python floor normalization (#779)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

Force GIL Python for end-user installs
  test/test_install_python_selection.py
  tools/install_enduser.sh
Due: none

Force GIL Python for end-user installs (#780)
  test/test_install_python_selection.py
  tools/install_enduser.sh
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
