Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

docs(roadmap): add orchestration and connector items
  docs/.docs_source_mirror_stamp.json
  docs/source/roadmap/agilab-future-work.md
Due: none

fix(notebook): rebuild broken colab worker envs
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  src/agilab/notebook_colab_support.py
  test/test_notebook_colab_support.py
Due: agilab

fix(cluster): reuse manager env for local worker boot
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime_distribution_support.py
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  src/agilab/core/test/test_agi_distributor_runtime_distribution_support.py
Due: agilab, agi-node, agi-cluster

fix(cluster): pass manager app to local post-install
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_local_support.py
  src/agilab/core/test/test_agi_distributor_deployment_local_support.py
Due: agilab, agi-cluster

fix(cluster): use manager app for local build-ext
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment_build_support.py
  src/agilab/core/test/test_agi_distributor_deployment_build_support.py
Due: agilab, agi-cluster

notebook: benchmark default mode sweep
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
Due: none

notebook: split colab pypi and source variants
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

docs(notebook): prioritize source colab entry
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
Due: none

notebook: reinstall agi-core in pypi colab flows
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

notebook: force reinstall in source colab flows
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
Due: none

notebook: fail fast on colab install steps
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

notebook: add source paths in colab source flows
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
Due: none

notebook: clear scientific stack before colab imports
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

notebook: require runtime restart after colab installs
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

badges: derive missing component coverage from aggregate xml
  badges/coverage-agi-gui.svg
  badges/coverage-agilab.svg
  test/test_generate_component_coverage_badges.py
  tools/generate_component_coverage_badges.py
Due: none

notebook: restart only after dirty colab installs
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

docs(notebook): add colab badge
  README.md
  docs/.docs_source_mirror_stamp.json
  docs/source/notebook-quickstart.rst
Due: none

docs(agi-core): add colab quick start link
  src/agilab/core/agi-core/README.md
Due: agilab, agi-core

docs(agi-core): point colab link to pypi notebook
  src/agilab/core/agi-core/README.md
Due: agilab, agi-core

notebook: only restart colab after agi modules load
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

notebook: restart colab after scientific stack changes
  examples/notebook_quickstart/agi_core_colab_benchmark.ipynb
  examples/notebook_quickstart/agi_core_colab_benchmark_source.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag.ipynb
  examples/notebook_quickstart/agi_core_colab_data_dag_pypi.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run.ipynb
  examples/notebook_quickstart/agi_core_colab_first_run_source.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths.ipynb
  examples/notebook_quickstart/agi_core_colab_worker_paths_pypi.ipynb
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
