Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

codecov.yml:

flags:
  agilab:
    paths:
      - src/agilab
  agi-env:
    paths:
      - src/agilab/core/agi-env
  agi-node:
    paths:
      - src/agilab/core/agi-node
  agi-cluster:
    paths:
      - src/agilab/core/agi-cluster
  agi-core:
    paths:
      - src/agilab/core/agi-core

docs: refresh release proof run evidence
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

docs: refresh release proof run evidence (#653)
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/release-proof.rst
Due: none

Add agent instruction pre-push hook
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .githooks/pre-push
  AGENTS.md
  agenticweb.md
  agilab-capabilities.json
  test/test_pre_push_changed_files.py
  tools/pre_push_changed_files.py
Due: none

Add agent instruction pre-push hook (#654)
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  .githooks/pre-push
  AGENTS.md
  agenticweb.md
  agilab-capabilities.json
  test/test_pre_push_changed_files.py
  tools/pre_push_changed_files.py
Due: none

Prompt PRs to auto-close linked issues
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  test/test_governance_supply_chain_contract.py
Due: none

Align localshare default with per-user share policy
  src/agilab/core/agi-env/src/agi_env/resources/.agilab/.env
  src/agilab/core/agi-env/src/agi_env/runtime/runtime_bootstrap_support.py
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
  src/agilab/core/agi-env/test/test_runtime_bootstrap_support.py
Due: agilab, agi-env

Fix localshare dataset tests for default user
  src/agilab/core/agi-env/test/test_agi_env_remaining_coverage.py
Due: agilab, agi-env

Speed PyPI publish retention cleanup
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
  tools/release_plan.py
Due: none

Speed PyPI publish retention cleanup (#658)
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  test/test_pypi_release_retention.py
  tools/pypi_release_retention.py
  tools/release_plan.py
Due: none

Refresh agi-cluster coverage badge
  badges/coverage-agi-cluster.svg
Due: none

Refresh agi-cluster coverage badge (#659)
  badges/coverage-agi-cluster.svg
Due: none

Parameterize PyPI retention threshold
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  tools/release_plan.py
Due: none

Parameterize PyPI retention threshold (#660)
  .claude/skills/agilab-pypi-release-maintenance/SKILL.md
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/agilab-pypi-release-maintenance/SKILL.md
  .codex/skills/agilab-release-verification/SKILL.md
  .github/workflows/pypi-publish.yaml
  test/test_pypi_publish_workflow.py
  tools/release_plan.py
Due: none

Fix workflow session share mounts (#661)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Fix workflow session share mounts
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Harden workflow session share mounting
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Prevent AGILAB repo sync scope misses
  .claude/skills/agilab-intent-router/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-intent-router/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Prevent AGILAB repo sync scope misses (#663)
  .claude/skills/agilab-intent-router/SKILL.md
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-intent-router/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Support pre-mounted cluster share backends
  src/agilab/cluster/cluster_flight_validation.py
  src/agilab/cluster/cluster_lan_discovery.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  test/test_cluster_flight_validation.py
  test/test_cluster_lan_discovery.py
Due: agilab, agi-cluster

Support pre-mounted cluster share backends (#664)
  src/agilab/cluster/cluster_flight_validation.py
  src/agilab/cluster/cluster_lan_discovery.py
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
  test/test_cluster_flight_validation.py
  test/test_cluster_lan_discovery.py
Due: agilab, agi-cluster

Harden workflow session share mounting (#662)
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/deployment/deployment_remote_support.py
  src/agilab/core/test/test_agi_distributor_deployment_remote_support.py
Due: agilab, agi-cluster

Document agent review and PR metadata rules
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
Due: none

Document PR evidence requirements
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
Due: none

[codex] Document agent review and PR metadata rules (#665)
  .claude/skills/agilab-runbook/SKILL.md
  .codex/skills/agilab-runbook/SKILL.md
  AGENTS.md
  AGENT_LEARNINGS.md
Due: none

Fix workflow session share root resolution
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
  src/agilab/core/test/test_base_worker.py
  src/agilab/core/test/test_base_worker_path_support.py
Due: agilab, agi-cluster

Document command speed policy
  AGENTS.md
Due: none

Preserve scheduler share for remote worker paths
  docs/source/distributed-workers.rst
  docs/source/troubleshooting.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
Due: agilab, agi-cluster

Sync AGILAB docs mirror stamp
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/release-proof.rst
Due: none

Revert "Sync AGILAB docs mirror stamp"
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/release-proof.rst
Due: none

Update docs mirror stamp
  docs/.docs_source_mirror_stamp.json
Due: none

Preserve scheduler share for remote worker paths
  docs/.docs_source_mirror_stamp.json
  docs/source/distributed-workers.rst
  docs/source/troubleshooting.rst
  src/agilab/core/agi-cluster/src/agi_cluster/agi_distributor/runtime/runtime_misc_support.py
  src/agilab/core/test/test_agi_distributor_runtime_misc_support.py
Due: agilab, agi-cluster

chore(release): prepare 2026.06.19
  CHANGELOG.md
  badges/pypi-version-agilab.svg
  docs/.docs_source_mirror_stamp.json
  docs/source/data/release_proof.toml
  docs/source/index.rst
  docs/source/release-proof.rst
  pyproject.toml
  src/agilab/core/agi-cluster/pyproject.toml
  src/agilab/core/agi-core/pyproject.toml
  src/agilab/core/agi-env/pyproject.toml
  src/agilab/core/agi-node/pyproject.toml
  src/agilab/lib/agi-apps/pyproject.toml
  src/agilab/lib/agi-gui/pyproject.toml
  src/agilab/lib/agi-pages/pyproject.toml
Due: agilab, agi-env, agi-node, agi-cluster, agi-core

Document private app release impact checks
  .claude/skills/agilab-release-verification/SKILL.md
  .codex/skills/.generated/skills_index.json
  .codex/skills/.generated/skills_index.md
  .codex/skills/agilab-release-verification/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  llms-full.txt
Due: none

Guard pool executor options by platform
  .claude/skills/agilab-testing/SKILL.md
  .codex/skills/agilab-testing/SKILL.md
  agenticweb.md
  agilab-capabilities.json
  src/agilab/apps/builtin/execution_pandas_project/src/app_args_form.py
  src/agilab/orchestrate/orchestrate_cluster.py
  test/test_execution_playground_forms.py
  test/test_orchestrate_cluster.py
Due: agilab

Raise component coverage signals
  .coveragerc.agi-core
  .coveragerc.agi-env
  .coveragerc.agi-gui
  .github/workflows/coverage.yml
  badges/coverage-agi-cluster.svg
  badges/coverage-agi-core.svg
  badges/coverage-agi-env.svg
  badges/coverage-agi-gui.svg
  badges/coverage-agi-node.svg
  badges/coverage-agilab.svg
  src/agilab/core/agi-cluster/test/test_import_contract.py
  src/agilab/core/agi-env/test/test_compat_shim_imports.py
  src/agilab/core/agi-env/test/test_cython_build_config.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
  test/test_coverage_workflow.py
  test/test_release_proof_report.py
  test/test_workflow_parity.py
  tools/coverage_shard_plan.py
  tools/workflow_parity.py
Due: agilab, agi-env, agi-cluster

Stabilize release proof URL regression
  test/test_release_proof_report.py
Due: none
