Repository ThalesGroup/agilab: changes, and which Codecov flags are due for each by the changed paths.
All: agilab, agi-env, agi-node, agi-cluster, agi-core

test(view-maps-3d): add headless streamlit coverage
  test/test_view_maps_3d.py
Due: none

refactor(node): isolate build setup payload
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): isolate build ext orchestration
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

test(gui): expand 3d map page coverage
  badges/coverage-agi-gui.svg
  test/test_view_maps_3d.py
Due: none

refactor(node): isolate bdist egg source staging
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

docs: sync tracked directory tree snapshot
  docs/source/directory-structure.txt
Due: none

test(gui): expand network helper coverage
  badges/coverage-agi-gui.svg
  test/test_view_maps_network.py
Due: none

refactor(node): isolate build ext preflight
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): isolate setup artifact preparation
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): isolate setup artifact finalization
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

fix(dispatcher): tolerate optional seeding share-root failures
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_scripts.py
Due: agilab, agi-node

refactor(node): isolate build main input resolution
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node

refactor(node): isolate build main execution prep
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node

test(gui): harden training and barycentric coverage
  .coveragerc.agi-gui
  src/agilab/apps-pages/view_barycentric/src/view_barycentric/view_barycentric.py
  test/test_view_barycentric.py
  test/test_view_training_analysis.py
Due: agilab

refactor(node): isolate build main setup tail
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/build.py
  src/agilab/core/test/test_agi_dispatcher_build_main_support.py
Due: agilab, agi-node

refactor(node): isolate post install context prep
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_post_install_support.py
Due: agilab, agi-node

refactor(node): isolate post install execution
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_post_install_support.py
Due: agilab, agi-node

docs: sync sphinx warning cleanup
  docs/source/conf.py
  docs/source/demos.rst
Due: none

refactor(node): isolate preferred sat dataset lookup
  src/agilab/core/agi-node/src/agi_node/agi_dispatcher/post_install.py
  src/agilab/core/test/test_agi_dispatcher_post_install_support.py
Due: agilab, agi-node

test(view-maps-network): expand fallback and pair coverage
  test/test_view_maps_network.py
  test/test_view_maps_network_page_state.py
Due: none

Path conditions:
  agilab: any of: src/agilab
  agi-env: any of: src/agilab/core/agi-env
  agi-node: any of: src/agilab/core/agi-node
  agi-cluster: any of: src/agilab/core/agi-cluster
  agi-core: any of: src/agilab/core/agi-core
